Repository flow-php/flow, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, docs, examples, core, lib-array-dot, lib-doctrine-dbal-bulk, adapter-amphp, adapter-ampavrohp, adapter-csv, adapter-doctrine, adapter-elasticsearch, adapter-http, adapter-json, adapter-logger, adapter-parquet, adapter-reactphp, adapter-text, adapter-xml

.github/labeler.yml:

ci/cd:
  - any: [".github/**/*"]
docs:
  - any: ["**/*.md"]

examples:
  - any: ["examples/**/*"]

core:
  - any: ["src/core/etl/**/*"]

lib-array-dot:
  - any: ["src/lib/array-dot/**/*"]
lib-doctrine-dbal-bulk:
  - any: ["src/lib/doctrine-dbal-bulk/**/*"]

adapter-amphp:
  - any: ["src/adapter/etl-adapter-amphp/**/*"]
adapter-ampavrohp:
  - any: ["src/adapter/etl-adapter-avro/**/*"]
adapter-csv:
  - any: ["src/adapter/etl-adapter-csv/**/*"]
adapter-doctrine:
  - any: ["src/adapter/etl-adapter-doctrine/**/*"]
adapter-elasticsearch:
  - any: ["src/adapter/etl-adapter-elasticsearch/**/*"]
adapter-http:
  - any: ["src/adapter/etl-adapter-http/**/*"]
adapter-json:
  - any: ["src/adapter/etl-adapter-json/**/*"]
adapter-logger:
  - any: ["src/adapter/etl-adapter-logger/**/*"]
adapter-parquet:
  - any: ["src/adapter/etl-adapter-parquet/**/*"]
adapter-reactphp:
  - any: ["src/adapter/etl-adapter-reactphp/**/*"]
adapter-text:
  - any: ["src/adapter/etl-adapter-text/**/*"]
adapter-xml:
  - any: ["src/adapter/etl-adapter-xml/**/*"]

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Updated dependencies
  composer.lock
Labels: none

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Updated dependencies
  composer.lock
  src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/Adapter/Elasticsearch/ElasticsearchPHP/ElasticsearchExtractor.php
  src/core/etl/src/Flow/ETL/Row/Factory/NativeEntryFactory.php
  tools/cs-fixer/composer.lock
  tools/infection/composer.lock
  tools/phpstan/composer.lock
Labels: core, adapter-elasticsearch

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Allow to read complex nested jsons from a specific pointer
  src/adapter/etl-adapter-json/src/Flow/ETL/Adapter/JSON/JSONMachine/JsonExtractor.php
  src/adapter/etl-adapter-json/src/Flow/ETL/DSL/Json.php
  src/adapter/etl-adapter-json/tests/Flow/ETL/Tests/Integration/Adapter/JSON/Fixtures/nested_timezones.json
  src/adapter/etl-adapter-json/tests/Flow/ETL/Tests/Integration/Adapter/JSON/JSONMachine/JsonExtractorTest.php
Labels: adapter-json

Fixed return type in json reader options
  src/adapter/etl-adapter-json/src/Flow/ETL/Adapter/JSON/JSONMachine/JsonExtractor.php
Labels: adapter-json

Ignore json fixture files in calculating PR size
  .github/workflows/pr-check.yml
Labels: ci/cd

Remove comment when PR is bigger than XL
  .github/workflows/pr-check.yml
Labels: ci/cd

Allow to read complex nested jsons from a specific pointer (#225)
  .github/workflows/pr-check.yml
  src/adapter/etl-adapter-json/src/Flow/ETL/Adapter/JSON/JSONMachine/JsonExtractor.php
  src/adapter/etl-adapter-json/src/Flow/ETL/DSL/Json.php
  src/adapter/etl-adapter-json/tests/Flow/ETL/Tests/Integration/Adapter/JSON/Fixtures/nested_timezones.json
  src/adapter/etl-adapter-json/tests/Flow/ETL/Tests/Integration/Adapter/JSON/JSONMachine/JsonExtractorTest.php
Labels: ci/cd, adapter-json

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Updated tools dependencies
  composer.lock
  tools/infection/composer.lock
  tools/phpunit/composer.lock
  tools/psalm/composer.lock
Labels: none

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Fixed static analysis
  src/core/etl/src/Flow/ETL/Row/Entry/ObjectEntry.php
Labels: core

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Skip corrupted records in CSV
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/CSVExtractor.php
Labels: adapter-csv

Remove no longer valid tests
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Integration/MySqlBulkInsertTest.php
Labels: lib-doctrine-dbal-bulk

Make update only replace and insert upsert, ignore conflicts and insert with fails allowed
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/Dialect/MySQLDialect.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Context/DatabaseContext.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Integration/MySqlBulkInsertTest.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Integration/MySqlBulkUpdateTest.php
Labels: lib-doctrine-dbal-bulk

Fix CI config
  .github/workflows/test-suite.yml
Labels: ci/cd

Fix docs
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/Dialect/MySQLDialect.php
Labels: lib-doctrine-dbal-bulk

Fix SA fail
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/Dialect/MySQLDialect.php
Labels: lib-doctrine-dbal-bulk

CS fixes
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/DbalPlatform.php
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/Dialect/MySQLDialect.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Context/DatabaseContext.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Integration/MySqlBulkUpdateTest.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Unit/DbalPlatformTest.php
Labels: lib-doctrine-dbal-bulk

Remove conflict columns feature entirely and simplify class
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/DbalPlatform.php
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/Dialect/MySQLDialect.php
Labels: lib-doctrine-dbal-bulk

Fix outdated phpdoc
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/Dialect/MySQLDialect.php
Labels: lib-doctrine-dbal-bulk

Add support for mysql bulk update
  docker-compose.yml.dist
  phpunit.xml
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/DbalPlatform.php
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/Dialect/MySQLDialect.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Context/DatabaseContext.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Integration/MySqlBulkInsertTest.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Integration/MySqlBulkUpdateTest.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/MysqlIntegrationTestCase.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Unit/DbalPlatformTest.php
Labels: lib-doctrine-dbal-bulk
