Repository flow-php/flow, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, docs, examples, core, lib-array-dot, lib-doctrine-dbal-bulk, adapter-amphp, adapter-ampavrohp, adapter-csv, adapter-doctrine, adapter-elasticsearch, adapter-http, adapter-json, adapter-logger, adapter-parquet, adapter-reactphp, adapter-text, adapter-xml

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

fix: typo
  src/core/etl/README.md
Labels: docs, core

fix: typo (#166)
  src/core/etl/README.md
Labels: docs, core

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Added left_anti join
  src/core/etl/README.md
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/Join/Join.php
  src/core/etl/src/Flow/ETL/Rows.php
  src/core/etl/src/Flow/ETL/Transformer/JoinEachRowsTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/JoinRowsTransformer.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Pipeline/Execution/Processor/FilesystemProcessorTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/RowsJoinTest.php
Labels: docs, core

Added left_anti join (#167)
  src/core/etl/README.md
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/Join/Join.php
  src/core/etl/src/Flow/ETL/Rows.php
  src/core/etl/src/Flow/ETL/Transformer/JoinEachRowsTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/JoinRowsTransformer.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Pipeline/Execution/Processor/FilesystemProcessorTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/RowsJoinTest.php
Labels: docs, core

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Added more advanced join expressions
  examples/README.md
  examples/join/left_anti/README.md
  examples/join/left_anti/left_anti_join.php
  examples/join/left_anti/left_anti_join_each.php
  src/core/etl/README.md
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/Join/Comparison.php
  src/core/etl/src/Flow/ETL/Join/Comparison/All.php
  src/core/etl/src/Flow/ETL/Join/Comparison/Any.php
  src/core/etl/src/Flow/ETL/Join/Comparison/Equal.php
  src/core/etl/src/Flow/ETL/Join/Comparison/GreaterThan.php
  src/core/etl/src/Flow/ETL/Join/Comparison/GreaterThanEqual.php
  src/core/etl/src/Flow/ETL/Join/Comparison/Identical.php
  src/core/etl/src/Flow/ETL/Join/Comparison/LessThan.php
  src/core/etl/src/Flow/ETL/Join/Comparison/LessThanEqual.php
  src/core/etl/src/Flow/ETL/Join/Comparison/Not.php
  src/core/etl/src/Flow/ETL/Join/Condition.php
  src/core/etl/src/Flow/ETL/Join/Expression.php
  src/core/etl/src/Flow/ETL/Rows.php
  src/core/etl/src/Flow/ETL/Transformer/JoinEachRowsTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/JoinRowsTransformer.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/DataFrameTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Join/Comparison/AllTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Join/Comparison/AnyTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Join/Comparison/EqualTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Join/Comparison/GreaterTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Join/Comparison/GreaterThanEqualTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Join/Comparison/IdenticalTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Join/Comparison/LessTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Join/Comparison/LessThanEqualTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Join/Comparison/NotTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Join/ExpressionTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/RowsJoinTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/JoinEachRowsTransformerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/JoinRowsTransformerTest.php
Labels: docs, examples, core

Updated dependencies
  composer.lock
Labels: none

Added more advanced join expressions (#170)
  composer.lock
  examples/README.md
  examples/join/left_anti/README.md
  examples/join/left_anti/left_anti_join.php
  examples/join/left_anti/left_anti_join_each.php
  src/core/etl/README.md
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/Join/Comparison.php
  src/core/etl/src/Flow/ETL/Join/Comparison/All.php
  src/core/etl/src/Flow/ETL/Join/Comparison/Any.php
  src/core/etl/src/Flow/ETL/Join/Comparison/Equal.php
  src/core/etl/src/Flow/ETL/Join/Comparison/GreaterThan.php
  src/core/etl/src/Flow/ETL/Join/Comparison/GreaterThanEqual.php
  src/core/etl/src/Flow/ETL/Join/Comparison/Identical.php
  src/core/etl/src/Flow/ETL/Join/Comparison/LessThan.php
  src/core/etl/src/Flow/ETL/Join/Comparison/LessThanEqual.php
  src/core/etl/src/Flow/ETL/Join/Comparison/Not.php
  src/core/etl/src/Flow/ETL/Join/Condition.php
  src/core/etl/src/Flow/ETL/Join/Expression.php
  src/core/etl/src/Flow/ETL/Rows.php
  src/core/etl/src/Flow/ETL/Transformer/JoinEachRowsTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/JoinRowsTransformer.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/DataFrameTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Join/Comparison/AllTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Join/Comparison/AnyTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Join/Comparison/EqualTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Join/Comparison/GreaterTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Join/Comparison/GreaterThanEqualTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Join/Comparison/IdenticalTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Join/Comparison/LessTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Join/Comparison/LessThanEqualTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Join/Comparison/NotTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Join/ExpressionTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/RowsJoinTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/JoinEachRowsTransformerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/JoinRowsTransformerTest.php
Labels: docs, examples, core

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Examples cleanup
  examples/README.md
  examples/bootstrap.php
  examples/data/extractor.php
  examples/find_record_100k.php
  examples/read_benchmark_100k.php
  examples/read_benchmark_10k.php
  examples/topics/aggregations/power_plant.php
  examples/topics/async/README.md
  examples/topics/async/csv_to_db_async_amp.php
  examples/topics/async/csv_to_db_async_react.php
  examples/topics/async/csv_to_db_sync.php
  examples/topics/async/csv_to_json_async_react.php
  examples/topics/async/csv_to_text_async_react.php
  examples/topics/db/db_clean.php
  examples/topics/db/db_source.php
  examples/topics/db/db_to_db_sync.php
  examples/topics/fs/remote/README.md
  examples/topics/fs/remote/json_remote_stream.php
  examples/topics/fs/remote/json_remote_stream_glob.php
  examples/topics/join/left_anti/README.md
  examples/topics/join/left_anti/left_anti_join.php
  examples/topics/join/left_anti/left_anti_join_each.php
  examples/topics/types/csv/README.md
  examples/topics/types/csv/csv_read_partitioned.php
  examples/topics/types/csv/csv_to_avro.php
  examples/topics/types/csv/csv_to_json.php
  examples/topics/types/csv/csv_to_parquet_100k.php
  examples/topics/types/csv/csv_to_parquet_10k.php
  examples/topics/types/csv/php_to_csv.php
  examples/topics/types/csv/php_to_csv_and_json.php
  examples/topics/types/csv/php_to_csv_partition.php
  src/core/etl/README.md
Labels: docs, examples, core

Examples cleanup (#171)
  examples/README.md
  examples/bootstrap.php
  examples/data/extractor.php
  examples/find_record_100k.php
  examples/read_benchmark_100k.php
  examples/read_benchmark_10k.php
  examples/topics/aggregations/power_plant.php
  examples/topics/async/README.md
  examples/topics/async/csv_to_db_async_amp.php
  examples/topics/async/csv_to_db_async_react.php
  examples/topics/async/csv_to_db_sync.php
  examples/topics/async/csv_to_json_async_react.php
  examples/topics/async/csv_to_text_async_react.php
  examples/topics/db/db_clean.php
  examples/topics/db/db_source.php
  examples/topics/db/db_to_db_sync.php
  examples/topics/fs/remote/README.md
  examples/topics/fs/remote/json_remote_stream.php
  examples/topics/fs/remote/json_remote_stream_glob.php
  examples/topics/join/left_anti/README.md
  examples/topics/join/left_anti/left_anti_join.php
  examples/topics/join/left_anti/left_anti_join_each.php
  examples/topics/types/csv/README.md
  examples/topics/types/csv/csv_read_partitioned.php
  examples/topics/types/csv/csv_to_avro.php
  examples/topics/types/csv/csv_to_json.php
  examples/topics/types/csv/csv_to_parquet_100k.php
  examples/topics/types/csv/csv_to_parquet_10k.php
  examples/topics/types/csv/php_to_csv.php
  examples/topics/types/csv/php_to_csv_and_json.php
  examples/topics/types/csv/php_to_csv_partition.php
  src/core/etl/README.md
Labels: docs, examples, core

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Fix Readme for left anti join
  examples/topics/join/left_anti/README.md
Labels: docs, examples

Fix Readme for left anti join (#172)
  examples/topics/join/left_anti/README.md
Labels: docs, examples

Updated phpstan
  src/core/etl/src/Flow/ETL/Filesystem/Path.php
  tools/phpstan/composer.lock
Labels: core

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Added dbal limit offset extractor
  examples/topics/db/db_clean.php
  examples/topics/db/db_source.php
  examples/topics/db/db_to_db_sync.php
  phpunit.xml
  src/adapter/etl-adapter-doctrine/composer.json
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/DbalLimitOffsetExtractor.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/DbalQueryExtractor.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/Order.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/OrderBy.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/Pages.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/Table.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/DSL/Dbal.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Context/DatabaseContext.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Integration/DbalLimitOffsetExtractorTest.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Integration/DbalLoaderTest.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Integration/DbalQueryExtractorTest.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Unit/PagesTest.php
  src/core/etl/src/Flow/ETL/Row/Factory/ArrayRowsFactory.php
Labels: examples, core, adapter-doctrine

Added dbal limit offset extractor (#175)
  examples/topics/db/db_clean.php
  examples/topics/db/db_source.php
  examples/topics/db/db_to_db_sync.php
  phpunit.xml
  src/adapter/etl-adapter-doctrine/composer.json
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/DbalLimitOffsetExtractor.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/DbalQueryExtractor.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/Order.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/OrderBy.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/Pages.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/Table.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/DSL/Dbal.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Context/DatabaseContext.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Integration/DbalLimitOffsetExtractorTest.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Integration/DbalLoaderTest.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Integration/DbalQueryExtractorTest.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Unit/PagesTest.php
  src/core/etl/src/Flow/ETL/Row/Factory/ArrayRowsFactory.php
Labels: examples, core, adapter-doctrine

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Added elasticsearch extractor and hits to rows transformer
  phpstan.neon
  psalm.xml
  src/adapter/etl-adapter-elasticsearch/README.md
  src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/Adapter/Elasticsearch/ElasticsearchPHP/ElasticsearchExtractor.php
  src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/Adapter/Elasticsearch/ElasticsearchPHP/ElasticsearchLoader.php
  src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/Adapter/Elasticsearch/ElasticsearchPHP/HitsIntoRowsTransformer.php
  src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/Adapter/Elasticsearch/ElasticsearchPHP/SearchParams.php
  src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/Adapter/Elasticsearch/ElasticsearchPHP/SearchResults.php
  src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/DSL/Elasticsearch.php
  src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Context/Elasticsearch7Context.php
  src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Context/Elasticsearch8Context.php
  src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Integration/ElasticsearchPHP/ElasticsearchExtractorTest.php
  src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Integration/ElasticsearchPHP/ElasticsearchLoaderTest.php
  src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Integration/ElasticsearchPHP/IntegrationTest.php
  src/core/etl/src/Flow/ETL/Row.php
Labels: docs, core, adapter-elasticsearch

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Added elasticsearch extractor and hits to rows transformer
  src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/Adapter/Elasticsearch/ElasticsearchPHP/ElasticsearchExtractor.php
  src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/Adapter/Elasticsearch/ElasticsearchPHP/HitsIntoRowsTransformer.php
Labels: adapter-elasticsearch

CS Fixes
  src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Integration/ElasticsearchPHP/IntegrationTest.php
Labels: adapter-elasticsearch

Resolve legacy ES issues
  composer.lock
  phpstan.neon
  psalm.xml
  src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/Adapter/Elasticsearch/ElasticsearchPHP/ElasticsearchExtractor.php
  src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/Adapter/Elasticsearch/ElasticsearchPHP/PointInTime.php
  src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/Adapter/Elasticsearch/ElasticsearchPHP/SearchResults.php
  src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Context/Elasticsearch7Context.php
Labels: adapter-elasticsearch

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Skip PIT tests in ES 7
  src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Integration/ElasticsearchPHP/ElasticsearchExtractorTest.php
Labels: adapter-elasticsearch

Fixed pit for ES7 clients
  src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/Adapter/Elasticsearch/ElasticsearchPHP/ElasticsearchExtractor.php
  src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/Adapter/Elasticsearch/ElasticsearchPHP/SearchParams.php
  src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Integration/ElasticsearchPHP/ElasticsearchExtractorTest.php
Labels: adapter-elasticsearch

Exclude composer.lock from calculating PR size
  .github/workflows/pr-check.yml
Labels: ci/cd

Added elasticsearch extractor (#178)
  .github/workflows/pr-check.yml
  composer.lock
  phpstan.neon
  psalm.xml
  src/adapter/etl-adapter-elasticsearch/README.md
  src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/Adapter/Elasticsearch/ElasticsearchPHP/ElasticsearchExtractor.php
  src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/Adapter/Elasticsearch/ElasticsearchPHP/ElasticsearchLoader.php
  src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/Adapter/Elasticsearch/ElasticsearchPHP/HitsIntoRowsTransformer.php
  src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/Adapter/Elasticsearch/ElasticsearchPHP/PointInTime.php
  src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/Adapter/Elasticsearch/ElasticsearchPHP/SearchParams.php
  src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/Adapter/Elasticsearch/ElasticsearchPHP/SearchResults.php
  src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/DSL/Elasticsearch.php
  src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Context/Elasticsearch7Context.php
  src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Context/Elasticsearch8Context.php
  src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Integration/ElasticsearchPHP/ElasticsearchExtractorTest.php
  src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Integration/ElasticsearchPHP/ElasticsearchLoaderTest.php
  src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Integration/ElasticsearchPHP/IntegrationTest.php
  src/core/etl/src/Flow/ETL/Row.php
Labels: ci/cd, docs, core, adapter-elasticsearch

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

.github/labeler.yml:

ci/cd:
  - any: [".github/**/*"]
docs:
  - any: ["**/*.md"]

examples:
  - any: ["examples/**/*"]

core:
  - any: ["src/core/etl/**/*"]

lib-array-dot:
  - any: ["src/lib/array-dot/**/*"]
lib-doctrine-dbal-bulk:
  - any: ["src/lib/doctrine-dbal-bulk/**/*"]

adapter-amphp:
  - any: ["src/adapter/etl-adapter-amphp/**/*"]
adapter-ampavrohp:
  - any: ["src/adapter/etl-adapter-avro/**/*"]
adapter-csv:
  - any: ["src/adapter/etl-adapter-csv/**/*"]
adapter-doctrine:
  - any: ["src/adapter/etl-adapter-doctrine/**/*"]
adapter-elasticsearch:
  - any: ["src/adapter/etl-adapter-elasticsearch/**/*"]
adapter-http:
  - any: ["src/adapter/etl-adapter-http/**/*"]
adapter-json:
  - any: ["src/adapter/etl-adapter-json/**/*"]
adapter-logger:
  - any: ["src/adapter/etl-adapter-logger/**/*"]
adapter-parquet:
  - any: ["src/adapter/etl-adapter-parquet/**/*"]
adapter-reactphp:
  - any: ["src/adapter/etl-adapter-reactphp/**/*"]
adapter-text:
  - any: ["src/adapter/etl-adapter-text/**/*"]
adapter-xml:
  - any: ["src/adapter/etl-adapter-xml/**/*"]
