Repository flow-php/flow, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, docs, examples, core, lib-array-dot, lib-doctrine-dbal-bulk, adapter-amphp, adapter-ampavrohp, adapter-csv, adapter-doctrine, adapter-elasticsearch, adapter-http, adapter-json, adapter-logger, adapter-parquet, adapter-reactphp, adapter-text, adapter-xml

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Updated dependencies
  composer.lock
Labels: none

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Rewritten ASCII table formatter (#263)
  src/core/etl/src/Flow/ETL/Formatter/ASCII/ASCIIBody.php
  src/core/etl/src/Flow/ETL/Formatter/ASCII/ASCIIHeaders.php
  src/core/etl/src/Flow/ETL/Formatter/ASCII/ASCIITable.php
  src/core/etl/src/Flow/ETL/Formatter/ASCII/ASCIIValue.php
  src/core/etl/src/Flow/ETL/Formatter/ASCII/Body.php
  src/core/etl/src/Flow/ETL/Formatter/ASCII/Headers.php
  src/core/etl/src/Flow/ETL/Formatter/AsciiTableFormatter.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/DataFrameTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Formatter/ASCII/ASCIIBodyTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Formatter/ASCII/ASCIIHeadersTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Formatter/ASCII/ASCIIValueTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Formatter/ASCIITableTest.php
Labels: core

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Updated dependencies
  composer.lock
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/Codename/ParquetLoader.php
  src/core/etl/src/Flow/ETL/Join/Expression.php
  src/core/etl/src/Flow/ETL/Transformer/GroupToArrayTransformer.php
  tools/cs-fixer/composer.lock
  tools/phpunit/composer.lock
  tools/psalm/composer.lock
Labels: core, adapter-parquet

Updated dependencies (#271)
  composer.lock
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/Codename/ParquetLoader.php
  src/core/etl/src/Flow/ETL/Join/Expression.php
  src/core/etl/src/Flow/ETL/Transformer/GroupToArrayTransformer.php
  tools/cs-fixer/composer.lock
  tools/phpunit/composer.lock
  tools/psalm/composer.lock
Labels: core, adapter-parquet

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Test code against php 8.2
  .github/workflows/test-suite.yml
  composer.json
  composer.lock
  tools/infection/composer.lock
  tools/phpstan/composer.lock
  tools/phpunit/composer.lock
Labels: ci/cd

Run testsuite at 8.2
  .github/workflows/test-suite.yml
Labels: ci/cd

Updated parquet
  composer.json
  composer.lock
Labels: none

Fixed lowest dependencies test
  composer.json
  composer.lock
  src/adapter/etl-adapter-amphp/composer.json
  src/adapter/etl-adapter-avro/composer.json
  src/adapter/etl-adapter-csv/composer.json
  src/adapter/etl-adapter-doctrine/composer.json
  src/adapter/etl-adapter-elasticsearch/composer.json
  src/adapter/etl-adapter-http/composer.json
  src/adapter/etl-adapter-json/composer.json
  src/adapter/etl-adapter-logger/composer.json
  src/adapter/etl-adapter-parquet/composer.json
  src/adapter/etl-adapter-reactphp/composer.json
  src/adapter/etl-adapter-text/composer.json
  src/adapter/etl-adapter-xml/composer.json
  src/core/etl/composer.json
  src/lib/array-dot/composer.json
  src/lib/doctrine-dbal-bulk/composer.json
  tools/monorepo/composer.json
  tools/monorepo/composer.lock
Labels: core, lib-array-dot, lib-doctrine-dbal-bulk, adapter-amphp, adapter-ampavrohp, adapter-csv, adapter-doctrine, adapter-elasticsearch, adapter-http, adapter-json, adapter-logger, adapter-parquet, adapter-reactphp, adapter-text, adapter-xml

Test code against php 8.2 (#292)
  .github/workflows/test-suite.yml
  composer.json
  composer.lock
  src/adapter/etl-adapter-amphp/composer.json
  src/adapter/etl-adapter-avro/composer.json
  src/adapter/etl-adapter-csv/composer.json
  src/adapter/etl-adapter-doctrine/composer.json
  src/adapter/etl-adapter-elasticsearch/composer.json
  src/adapter/etl-adapter-http/composer.json
  src/adapter/etl-adapter-json/composer.json
  src/adapter/etl-adapter-logger/composer.json
  src/adapter/etl-adapter-parquet/composer.json
  src/adapter/etl-adapter-reactphp/composer.json
  src/adapter/etl-adapter-text/composer.json
  src/adapter/etl-adapter-xml/composer.json
  src/core/etl/composer.json
  src/lib/array-dot/composer.json
  src/lib/doctrine-dbal-bulk/composer.json
  tools/infection/composer.lock
  tools/monorepo/composer.json
  tools/monorepo/composer.lock
  tools/phpstan/composer.lock
  tools/phpunit/composer.lock
Labels: ci/cd, core, lib-array-dot, lib-doctrine-dbal-bulk, adapter-amphp, adapter-ampavrohp, adapter-csv, adapter-doctrine, adapter-elasticsearch, adapter-http, adapter-json, adapter-logger, adapter-parquet, adapter-reactphp, adapter-text, adapter-xml

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Updated dependencies
  composer.lock
  src/adapter/etl-adapter-amphp/src/Flow/ETL/Async/Amp/Server/SocketClient.php
  src/adapter/etl-adapter-amphp/src/Flow/ETL/Async/Amp/Worker/SocketServer.php
Labels: adapter-amphp

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Updated tools
  psalm.xml
  src/core/etl/src/Flow/ETL/Partition/CallableFilter.php
  src/core/etl/src/Flow/ETL/Transformer/CallbackEntryTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/CallbackRowTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/DynamicEntryTransformer.php
  tools/psalm/composer.lock
Labels: core

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Added Google Sheet ETL adapter
  composer.json
  composer.lock
  phpunit.xml
  src/adapter/etl-adapter-google-sheet/.gitattributes
  src/adapter/etl-adapter-google-sheet/.github/workflows/readonly.yaml
  src/adapter/etl-adapter-google-sheet/.gitignore
  src/adapter/etl-adapter-google-sheet/LICENSE
  src/adapter/etl-adapter-google-sheet/README.md
  src/adapter/etl-adapter-google-sheet/composer.json
  src/adapter/etl-adapter-google-sheet/src/Flow/ETL/Adapter/GoogleSheet/GoogleSheetExtractor.php
  src/adapter/etl-adapter-google-sheet/src/Flow/ETL/Adapter/GoogleSheet/GoogleSheetRange.php
  src/adapter/etl-adapter-google-sheet/src/Flow/ETL/DSL/GoogleSheet.php
  src/adapter/etl-adapter-google-sheet/tests/Flow/ETL/Adapter/GoogleSheet/Tests/Unit/GoogleSheetExtractorTest.php
  src/adapter/etl-adapter-google-sheet/tests/Flow/ETL/Adapter/GoogleSheet/Tests/Unit/GoogleSheetRangeTest.php
Labels: docs

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Removed `clean up` script
  composer.json
Labels: none

fix nextRows
  src/adapter/etl-adapter-google-sheet/src/Flow/ETL/Adapter/GoogleSheet/GoogleSheetRange.php
Labels: none

DSL fixes
  src/adapter/etl-adapter-google-sheet/src/Flow/ETL/Adapter/GoogleSheet/GoogleSheetExtractor.php
  src/adapter/etl-adapter-google-sheet/src/Flow/ETL/DSL/GoogleSheet.php
Labels: none

Removed `clean up` script
  src/adapter/etl-adapter-google-sheet/composer.json
Labels: none

code review fixes
  src/adapter/etl-adapter-google-sheet/README.md
  src/adapter/etl-adapter-google-sheet/src/Flow/ETL/Adapter/GoogleSheet/GoogleSheetCellsRange.php
  src/adapter/etl-adapter-google-sheet/src/Flow/ETL/Adapter/GoogleSheet/GoogleSheetColumnRange.php
  src/adapter/etl-adapter-google-sheet/src/Flow/ETL/Adapter/GoogleSheet/GoogleSheetExtractor.php
  src/adapter/etl-adapter-google-sheet/src/Flow/ETL/Adapter/GoogleSheet/GoogleSheetRange.php
  src/adapter/etl-adapter-google-sheet/src/Flow/ETL/DSL/GoogleSheet.php
  src/adapter/etl-adapter-google-sheet/tests/Flow/ETL/Adapter/GoogleSheet/Tests/Unit/GoogleSheetCellsRangeTest.php
  src/adapter/etl-adapter-google-sheet/tests/Flow/ETL/Adapter/GoogleSheet/Tests/Unit/GoogleSheetExtractorTest.php
Labels: docs

code review fixes
  src/adapter/etl-adapter-google-sheet/src/Flow/ETL/Adapter/GoogleSheet/Columns.php
  src/adapter/etl-adapter-google-sheet/src/Flow/ETL/Adapter/GoogleSheet/GoogleSheetExtractor.php
  src/adapter/etl-adapter-google-sheet/src/Flow/ETL/Adapter/GoogleSheet/SheetRange.php
  src/adapter/etl-adapter-google-sheet/src/Flow/ETL/DSL/GoogleSheet.php
  src/adapter/etl-adapter-google-sheet/tests/Flow/ETL/Adapter/GoogleSheet/Tests/Unit/GoogleSheetExtractorTest.php
  src/adapter/etl-adapter-google-sheet/tests/Flow/ETL/Adapter/GoogleSheet/Tests/Unit/SheetRangeTest.php
Labels: none

code review fixes
  src/adapter/etl-adapter-google-sheet/src/Flow/ETL/Adapter/GoogleSheet/Columns.php
  src/adapter/etl-adapter-google-sheet/src/Flow/ETL/Adapter/GoogleSheet/GoogleSheetExtractor.php
  src/adapter/etl-adapter-google-sheet/src/Flow/ETL/Adapter/GoogleSheet/SheetRange.php
  src/adapter/etl-adapter-google-sheet/tests/Flow/ETL/Adapter/GoogleSheet/Tests/Unit/ColumnsTest.php
  src/adapter/etl-adapter-google-sheet/tests/Flow/ETL/Adapter/GoogleSheet/Tests/Unit/GoogleSheetExtractorTest.php
  src/adapter/etl-adapter-google-sheet/tests/Flow/ETL/Adapter/GoogleSheet/Tests/Unit/SheetRangeTest.php
Labels: none

Added Google Sheet ETL adapter (#304)
  composer.json
  composer.lock
  phpunit.xml
  src/adapter/etl-adapter-google-sheet/.gitattributes
  src/adapter/etl-adapter-google-sheet/.github/workflows/readonly.yaml
  src/adapter/etl-adapter-google-sheet/.gitignore
  src/adapter/etl-adapter-google-sheet/LICENSE
  src/adapter/etl-adapter-google-sheet/README.md
  src/adapter/etl-adapter-google-sheet/composer.json
  src/adapter/etl-adapter-google-sheet/src/Flow/ETL/Adapter/GoogleSheet/Columns.php
  src/adapter/etl-adapter-google-sheet/src/Flow/ETL/Adapter/GoogleSheet/GoogleSheetExtractor.php
  src/adapter/etl-adapter-google-sheet/src/Flow/ETL/Adapter/GoogleSheet/SheetRange.php
  src/adapter/etl-adapter-google-sheet/src/Flow/ETL/DSL/GoogleSheet.php
  src/adapter/etl-adapter-google-sheet/tests/Flow/ETL/Adapter/GoogleSheet/Tests/Unit/ColumnsTest.php
  src/adapter/etl-adapter-google-sheet/tests/Flow/ETL/Adapter/GoogleSheet/Tests/Unit/GoogleSheetExtractorTest.php
  src/adapter/etl-adapter-google-sheet/tests/Flow/ETL/Adapter/GoogleSheet/Tests/Unit/SheetRangeTest.php
Labels: docs

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Allow extractors to put input options into extracted results
  composer.lock
  src/adapter/etl-adapter-avro/src/Flow/ETL/Adapter/Avro/FlixTech/AvroExtractor.php
  src/adapter/etl-adapter-avro/tests/Flow/ETL/Adapter/Avro/FlixTech/Tests/Integration/AvroTest.php
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/CSVExtractor.php
  src/adapter/etl-adapter-csv/src/Flow/ETL/DSL/CSV.php
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Integration/CSVExtractorTest.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/DbalQueryExtractor.php
  src/adapter/etl-adapter-google-sheet/src/Flow/ETL/Adapter/GoogleSheet/GoogleSheetExtractor.php
  src/adapter/etl-adapter-google-sheet/tests/Flow/ETL/Adapter/GoogleSheet/Tests/Unit/GoogleSheetExtractorTest.php
  src/adapter/etl-adapter-http/src/Flow/ETL/Adapter/Http/PsrHttpClientDynamicExtractor.php
  src/adapter/etl-adapter-http/src/Flow/ETL/Adapter/Http/PsrHttpClientStaticExtractor.php
  src/adapter/etl-adapter-json/src/Flow/ETL/Adapter/JSON/JSONMachine/JsonExtractor.php
  src/adapter/etl-adapter-json/src/Flow/ETL/DSL/Json.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/Codename/ParquetExtractor.php
  src/adapter/etl-adapter-text/src/Flow/ETL/Adapter/Text/TextExtractor.php
  src/adapter/etl-adapter-xml/src/Flow/ETL/Adapter/XML/XMLReaderExtractor.php
  src/core/etl/src/Flow/ETL/Config.php
  src/core/etl/src/Flow/ETL/ConfigBuilder.php
Labels: core, adapter-ampavrohp, adapter-csv, adapter-doctrine, adapter-http, adapter-json, adapter-parquet, adapter-text, adapter-xml

.github/labeler.yml:

ci/cd:
  - any: [".github/**/*"]
docs:
  - any: ["**/*.md"]

examples:
  - any: ["examples/**/*"]

core:
  - any: ["src/core/etl/**/*"]

lib-array-dot:
  - any: ["src/lib/array-dot/**/*"]
lib-doctrine-dbal-bulk:
  - any: ["src/lib/doctrine-dbal-bulk/**/*"]

adapter-amphp:
  - any: ["src/adapter/etl-adapter-amphp/**/*"]
adapter-ampavrohp:
  - any: ["src/adapter/etl-adapter-avro/**/*"]
adapter-csv:
  - any: ["src/adapter/etl-adapter-csv/**/*"]
adapter-doctrine:
  - any: ["src/adapter/etl-adapter-doctrine/**/*"]
adapter-elasticsearch:
  - any: ["src/adapter/etl-adapter-elasticsearch/**/*"]
adapter-http:
  - any: ["src/adapter/etl-adapter-http/**/*"]
adapter-json:
  - any: ["src/adapter/etl-adapter-json/**/*"]
adapter-logger:
  - any: ["src/adapter/etl-adapter-logger/**/*"]
adapter-parquet:
  - any: ["src/adapter/etl-adapter-parquet/**/*"]
adapter-reactphp:
  - any: ["src/adapter/etl-adapter-reactphp/**/*"]
adapter-text:
  - any: ["src/adapter/etl-adapter-text/**/*"]
adapter-xml:
  - any: ["src/adapter/etl-adapter-xml/**/*"]
