Repository flow-php/flow, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, docs, examples, core, lib-array-dot, lib-doctrine-dbal-bulk, adapter-amphp, adapter-ampavrohp, adapter-csv, adapter-doctrine, adapter-elasticsearch, adapter-http, adapter-json, adapter-logger, adapter-parquet, adapter-reactphp, adapter-text, adapter-xml

Added reading partitioned CSV example (#96)
  examples/csv_read_partitioned.php
  examples/data/partitioned/country=pl/color=blue/000001.csv
  examples/data/partitioned/country=pl/color=green/000002.csv
  examples/data/partitioned/country=pl/color=red/000003.csv
  examples/data/partitioned/country=us/color=blue/000001.csv
  examples/data/partitioned/country=us/color=green/000002.csv
  examples/data/partitioned/country=us/color=red/000003.csv
  src/core/etl/src/Flow/ETL/Extractor.php
  src/core/etl/src/Flow/ETL/Extractor/PipelineExtractor.php
  src/core/etl/src/Flow/ETL/Pipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/CollectingPipeline.php
Labels: examples, core

Improved partitioning performance
  examples/csv_to_db_async_amp.php
  examples/csv_to_db_async_react.php
  examples/data/extractor.php
  examples/db_clean.php
  examples/db_source.php
  examples/php_to_csv_partition.php
  src/core/etl/src/Flow/ETL/Rows.php
Labels: examples, core

Static analyse fixes
  src/core/etl/src/Flow/ETL/Rows.php
Labels: core

Improved partitioning performance (#97)
  examples/csv_to_db_async_amp.php
  examples/csv_to_db_async_react.php
  examples/data/extractor.php
  examples/db_clean.php
  examples/db_source.php
  examples/php_to_csv_partition.php
  src/core/etl/src/Flow/ETL/Rows.php
Labels: examples, core

Added SaveMode allowing to control how to deal with existing files
  README.md
  examples/data/extractor.php
  examples/db_clean.php
  examples/db_source.php
  examples/php_to_csv_partition.php
  infection.json
  src/adapter/etl-adapter-avro/src/Flow/ETL/Adapter/Avro/FlixTech/AvroLoader.php
  src/adapter/etl-adapter-avro/tests/Flow/ETL/Adapter/Avro/FlixTech/Tests/Integration/AvroTest.php
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/CSVLoader.php
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Integration/CSVLoaderTest.php
  src/adapter/etl-adapter-json/src/Flow/ETL/Adapter/JSON/JsonLoader.php
  src/adapter/etl-adapter-json/tests/Flow/ETL/Tests/Integration/Adapter/JSON/JsonLoaderTest.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/Codename/ParquetLoader.php
  src/adapter/etl-adapter-text/src/Flow/ETL/Adapter/Text/TextLoader.php
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/Filesystem.php
  src/core/etl/src/Flow/ETL/Filesystem/FilesystemStreams.php
  src/core/etl/src/Flow/ETL/Filesystem/FlysystemFS.php
  src/core/etl/src/Flow/ETL/Filesystem/SaveMode.php
  src/core/etl/src/Flow/ETL/Filesystem/Stream/Mode.php
  src/core/etl/src/Flow/ETL/FlowContext.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Filesystem/FilesystemStreamsTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Filesystem/FlysystemFSTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/Condition/EntryNotNullTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/Condition/EntryValueEqualsToTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/Condition/EntryValueGreaterOrEqualThanTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/Condition/EntryValueGreaterThanTest.php
Labels: docs, examples, core, adapter-ampavrohp, adapter-csv, adapter-json, adapter-parquet, adapter-text

Added SaveMode allowing to control how to deal with existing files (#101)
  README.md
  examples/data/extractor.php
  examples/db_clean.php
  examples/db_source.php
  examples/php_to_csv_partition.php
  infection.json
  src/adapter/etl-adapter-avro/src/Flow/ETL/Adapter/Avro/FlixTech/AvroLoader.php
  src/adapter/etl-adapter-avro/tests/Flow/ETL/Adapter/Avro/FlixTech/Tests/Integration/AvroTest.php
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/CSVLoader.php
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Integration/CSVLoaderTest.php
  src/adapter/etl-adapter-json/src/Flow/ETL/Adapter/JSON/JsonLoader.php
  src/adapter/etl-adapter-json/tests/Flow/ETL/Tests/Integration/Adapter/JSON/JsonLoaderTest.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/Codename/ParquetLoader.php
  src/adapter/etl-adapter-text/src/Flow/ETL/Adapter/Text/TextLoader.php
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/Filesystem.php
  src/core/etl/src/Flow/ETL/Filesystem/FilesystemStreams.php
  src/core/etl/src/Flow/ETL/Filesystem/FlysystemFS.php
  src/core/etl/src/Flow/ETL/Filesystem/SaveMode.php
  src/core/etl/src/Flow/ETL/Filesystem/Stream/Mode.php
  src/core/etl/src/Flow/ETL/FlowContext.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Filesystem/FilesystemStreamsTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Filesystem/FlysystemFSTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/Condition/EntryNotNullTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/Condition/EntryValueEqualsToTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/Condition/EntryValueGreaterOrEqualThanTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/Condition/EntryValueGreaterThanTest.php
Labels: docs, examples, core, adapter-ampavrohp, adapter-csv, adapter-json, adapter-parquet, adapter-text

Change safe_mode into thread safe that is defined through FlowContext instead of each Loader separatelly
  composer.lock
  examples/csv_read_partitioned.php
  examples/csv_to_db_async_amp.php
  examples/data/partitioned/country=pl/t_shirt_color=blue/000001.csv
  examples/data/partitioned/country=pl/t_shirt_color=green/000002.csv
  examples/data/partitioned/country=pl/t_shirt_color=red/000003.csv
  examples/data/partitioned/country=us/t_shirt_color=blue/000001.csv
  examples/data/partitioned/country=us/t_shirt_color=green/000002.csv
  examples/data/partitioned/country=us/t_shirt_color=red/000003.csv
  examples/issue/issue289.php
  examples/json_remote_stream.php
  examples/json_remote_stream_glob.php
  examples/php_to_csv.php
  src/adapter/etl-adapter-avro/src/Flow/ETL/Adapter/Avro/FlixTech/AvroLoader.php
  src/adapter/etl-adapter-avro/src/Flow/ETL/DSL/Avro.php
  src/adapter/etl-adapter-avro/tests/Flow/ETL/Adapter/Avro/FlixTech/Tests/Integration/AvroTest.php
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/CSVLoader.php
  src/adapter/etl-adapter-csv/src/Flow/ETL/DSL/CSV.php
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Integration/CSVLoaderTest.php
  src/adapter/etl-adapter-json/src/Flow/ETL/Adapter/JSON/JsonLoader.php
  src/adapter/etl-adapter-json/src/Flow/ETL/DSL/Json.php
  src/adapter/etl-adapter-json/tests/Flow/ETL/Tests/Integration/Adapter/JSON/JsonLoaderTest.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/Codename/ParquetLoader.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/DSL/Parquet.php
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Integration/Codename/ParquetTest.php
  src/adapter/etl-adapter-text/src/Flow/ETL/Adapter/Text/TextLoader.php
  src/adapter/etl-adapter-text/src/Flow/ETL/DSL/Text.php
  src/adapter/etl-adapter-text/tests/Flow/ETL/Adapter/Text/Tests/Integration/TextLoaderTest.php
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/FlowContext.php
  src/core/etl/src/Flow/ETL/Pipeline/LocalSocketPipeline.php
Labels: examples, core, adapter-ampavrohp, adapter-csv, adapter-json, adapter-parquet, adapter-text

Change safe_mode into thread safe that is defined through FlowContext instead of each Loader separatelly (#103)
  composer.lock
  examples/csv_read_partitioned.php
  examples/csv_to_db_async_amp.php
  examples/data/partitioned/country=pl/t_shirt_color=blue/000001.csv
  examples/data/partitioned/country=pl/t_shirt_color=green/000002.csv
  examples/data/partitioned/country=pl/t_shirt_color=red/000003.csv
  examples/data/partitioned/country=us/t_shirt_color=blue/000001.csv
  examples/data/partitioned/country=us/t_shirt_color=green/000002.csv
  examples/data/partitioned/country=us/t_shirt_color=red/000003.csv
  examples/issue/issue289.php
  examples/json_remote_stream.php
  examples/json_remote_stream_glob.php
  examples/php_to_csv.php
  src/adapter/etl-adapter-avro/src/Flow/ETL/Adapter/Avro/FlixTech/AvroLoader.php
  src/adapter/etl-adapter-avro/src/Flow/ETL/DSL/Avro.php
  src/adapter/etl-adapter-avro/tests/Flow/ETL/Adapter/Avro/FlixTech/Tests/Integration/AvroTest.php
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/CSVLoader.php
  src/adapter/etl-adapter-csv/src/Flow/ETL/DSL/CSV.php
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Integration/CSVLoaderTest.php
  src/adapter/etl-adapter-json/src/Flow/ETL/Adapter/JSON/JsonLoader.php
  src/adapter/etl-adapter-json/src/Flow/ETL/DSL/Json.php
  src/adapter/etl-adapter-json/tests/Flow/ETL/Tests/Integration/Adapter/JSON/JsonLoaderTest.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/Codename/ParquetLoader.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/DSL/Parquet.php
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Integration/Codename/ParquetTest.php
  src/adapter/etl-adapter-text/src/Flow/ETL/Adapter/Text/TextLoader.php
  src/adapter/etl-adapter-text/src/Flow/ETL/DSL/Text.php
  src/adapter/etl-adapter-text/tests/Flow/ETL/Adapter/Text/Tests/Integration/TextLoaderTest.php
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/FlowContext.php
  src/core/etl/src/Flow/ETL/Pipeline/LocalSocketPipeline.php
Labels: examples, core, adapter-ampavrohp, adapter-csv, adapter-json, adapter-parquet, adapter-text

Fixed bugs in Avro/Parquet loaders regarding filesystem streams usage
  examples/csv_to_avro.php
  examples/csv_to_parquet_100k.php
  src/adapter/etl-adapter-avro/src/Flow/ETL/Adapter/Avro/FlixTech/AvroLoader.php
  src/adapter/etl-adapter-avro/src/Flow/ETL/Adapter/Avro/FlixTech/SchemaConverter.php
  src/adapter/etl-adapter-avro/tests/Flow/ETL/Adapter/Avro/FlixTech/Tests/Integration/AvroTest.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/Codename/ParquetLoader.php
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Integration/Codename/ParquetTest.php
Labels: examples, adapter-ampavrohp, adapter-parquet

Fixed bugs in Avro/Parquet loaders regarding filesystem streams usage (#104)
  examples/csv_to_avro.php
  examples/csv_to_parquet_100k.php
  src/adapter/etl-adapter-avro/src/Flow/ETL/Adapter/Avro/FlixTech/AvroLoader.php
  src/adapter/etl-adapter-avro/src/Flow/ETL/Adapter/Avro/FlixTech/SchemaConverter.php
  src/adapter/etl-adapter-avro/tests/Flow/ETL/Adapter/Avro/FlixTech/Tests/Integration/AvroTest.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/Codename/ParquetLoader.php
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Integration/Codename/ParquetTest.php
Labels: examples, adapter-ampavrohp, adapter-parquet

Maintenance and fixes
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/CSVLoader.php
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/Row/Factory/NativeEntryFactory.php
  src/core/etl/src/Flow/ETL/Transformer/KeepEntriesTransformer.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/KeepEntriesTransformerTest.php
Labels: core, adapter-csv

Maintenance and fixes (#108)
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/CSVLoader.php
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/Row/Factory/NativeEntryFactory.php
  src/core/etl/src/Flow/ETL/Transformer/KeepEntriesTransformer.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/KeepEntriesTransformerTest.php
Labels: core, adapter-csv

Print Rows/Schema alias to improve DX
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/Flow.php
  src/core/etl/src/Flow/ETL/Row/Schema.php
  src/core/etl/src/Flow/ETL/Row/Schema/Formatter/ASCIISchemaFormatter.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/DataFrameTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/SchemaTest.php
Labels: core

Print Rows/Schema alias to improve DX (#109)
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/Flow.php
  src/core/etl/src/Flow/ETL/Row/Schema.php
  src/core/etl/src/Flow/ETL/Row/Schema/Formatter/ASCIISchemaFormatter.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/DataFrameTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/SchemaTest.php
Labels: core

Fixed limit behavior when expanding rows during transformations
  src/core/etl/README.md
  src/core/etl/src/Flow/ETL/Pipeline/Limiter.php
  src/core/etl/src/Flow/ETL/Pipeline/SynchronousPipeline.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/DataFrameTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Pipeline/LimiterTest.php
Labels: docs, core

CS Fixes
  src/core/etl/tests/Flow/ETL/Tests/Unit/DataFrameTest.php
Labels: core

Fixed limit behavior when expanding rows during transformations (#110)
  src/core/etl/README.md
  src/core/etl/src/Flow/ETL/Pipeline/Limiter.php
  src/core/etl/src/Flow/ETL/Pipeline/SynchronousPipeline.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/DataFrameTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Pipeline/LimiterTest.php
Labels: docs, core

Moved ErrorHandler to FlowContext
  src/core/etl/src/Flow/ETL/Config.php
  src/core/etl/src/Flow/ETL/ConfigBuilder.php
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/FlowContext.php
  src/core/etl/src/Flow/ETL/Pipeline/SynchronousPipeline.php
Labels: core

Moved ErrorHandler to FlowContext (#111)
  src/core/etl/src/Flow/ETL/Config.php
  src/core/etl/src/Flow/ETL/ConfigBuilder.php
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/FlowContext.php
  src/core/etl/src/Flow/ETL/Pipeline/SynchronousPipeline.php
Labels: core

Added PSRSimpleCache implementation of Flow Cache
  composer.json
  composer.lock
  src/core/etl/README.md
  src/core/etl/composer.json
  src/core/etl/src/Flow/ETL/Cache.php
  src/core/etl/src/Flow/ETL/Cache/LocalFilesystemCache.php
  src/core/etl/src/Flow/ETL/Cache/PSRSimpleCache.php
  src/core/etl/src/Flow/ETL/ExternalSort/BufferCache.php
  src/core/etl/src/Flow/ETL/ExternalSort/CacheExternalSort.php
  src/core/etl/src/Flow/ETL/ExternalSort/CachedParts.php
  src/core/etl/src/Flow/ETL/Filesystem/Path.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/FlowTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/IntegrationTestCase.php
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/BulkData.php
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/TableDefinition.php
Labels: docs, core, lib-doctrine-dbal-bulk

Reverted getenv -> change
  src/core/etl/src/Flow/ETL/Filesystem/Path.php
Labels: core

Removed deprecated option from github actions
  .github/workflows/test-suite.yml
Labels: ci/cd

Added PSRSimpleCache implementation of Flow Cache (#112)
  .github/workflows/test-suite.yml
  composer.json
  composer.lock
  src/core/etl/README.md
  src/core/etl/composer.json
  src/core/etl/src/Flow/ETL/Cache.php
  src/core/etl/src/Flow/ETL/Cache/LocalFilesystemCache.php
  src/core/etl/src/Flow/ETL/Cache/PSRSimpleCache.php
  src/core/etl/src/Flow/ETL/ExternalSort/BufferCache.php
  src/core/etl/src/Flow/ETL/ExternalSort/CacheExternalSort.php
  src/core/etl/src/Flow/ETL/ExternalSort/CachedParts.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/FlowTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/IntegrationTestCase.php
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/BulkData.php
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/TableDefinition.php
Labels: ci/cd, docs, core, lib-doctrine-dbal-bulk

Lock avro in order to avoid BC breaks
  composer.json
  composer.lock
  src/adapter/etl-adapter-avro/composer.json
  tools/monorepo/composer.json
  tools/monorepo/composer.lock
Labels: adapter-ampavrohp

Added support for Elasticsearch 8 client
  composer.json
  composer.lock
  src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/Adapter/Elasticsearch/ElasticsearchPHP/ElasticsearchLoader.php
  src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Context/Elasticsearch7Context.php
  src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Context/Elasticsearch8Context.php
  src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Context/ElasticsearchContext.php
  src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Integration/TestCase.php
Labels: adapter-elasticsearch

Fixed missing dependency propagation
  src/adapter/etl-adapter-elasticsearch/composer.json
Labels: adapter-elasticsearch

Added support for Elasticsearch 8 client (#149)
  composer.json
  composer.lock
  src/adapter/etl-adapter-elasticsearch/composer.json
  src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/Adapter/Elasticsearch/ElasticsearchPHP/ElasticsearchLoader.php
  src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Context/Elasticsearch7Context.php
  src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Context/Elasticsearch8Context.php
  src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Context/ElasticsearchContext.php
  src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Integration/TestCase.php
Labels: adapter-elasticsearch

Updated dependencies
  composer.lock
Labels: none

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Moved streams to FlowContext
  examples/php_to_csv_and_json.php
  src/adapter/etl-adapter-avro/src/Flow/ETL/Adapter/Avro/FlixTech/AvroExtractor.php
  src/adapter/etl-adapter-avro/src/Flow/ETL/Adapter/Avro/FlixTech/AvroLoader.php
  src/adapter/etl-adapter-avro/tests/Flow/ETL/Adapter/Avro/FlixTech/Tests/Integration/AvroTest.php
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/CSVExtractor.php
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/CSVLoader.php
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Integration/CSVLoaderTest.php
  src/adapter/etl-adapter-json/src/Flow/ETL/Adapter/JSON/JSONMachine/JsonExtractor.php
  src/adapter/etl-adapter-json/src/Flow/ETL/Adapter/JSON/JsonLoader.php
  src/adapter/etl-adapter-json/tests/Flow/ETL/Tests/Integration/Adapter/JSON/JSONMachine/JsonExtractorTest.php
  src/adapter/etl-adapter-json/tests/Flow/ETL/Tests/Integration/Adapter/JSON/JsonLoaderTest.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/Codename/ParquetExtractor.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/Codename/ParquetLoader.php
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Integration/Codename/ParquetTest.php
  src/adapter/etl-adapter-text/src/Flow/ETL/Adapter/Text/TextExtractor.php
  src/adapter/etl-adapter-text/src/Flow/ETL/Adapter/Text/TextLoader.php
  src/adapter/etl-adapter-text/tests/Flow/ETL/Adapter/Text/Tests/Integration/TextLoaderTest.php
  src/adapter/etl-adapter-xml/src/Flow/ETL/Adapter/XML/XMLReaderExtractor.php
  src/core/etl/src/Flow/ETL/Filesystem/FilesystemStreams.php
  src/core/etl/src/Flow/ETL/Filesystem/Path.php
  src/core/etl/src/Flow/ETL/FlowContext.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Filesystem/FilesystemStreamsTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Stream/PathTest.php
Labels: examples, core, adapter-ampavrohp, adapter-csv, adapter-json, adapter-parquet, adapter-text, adapter-xml

Removed development leftovers
  src/core/etl/src/Flow/ETL/Filesystem/Path.php
Labels: core

Moved streams to FlowContext (#153)
  examples/php_to_csv_and_json.php
  src/adapter/etl-adapter-avro/src/Flow/ETL/Adapter/Avro/FlixTech/AvroExtractor.php
  src/adapter/etl-adapter-avro/src/Flow/ETL/Adapter/Avro/FlixTech/AvroLoader.php
  src/adapter/etl-adapter-avro/tests/Flow/ETL/Adapter/Avro/FlixTech/Tests/Integration/AvroTest.php
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/CSVExtractor.php
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/CSVLoader.php
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Integration/CSVLoaderTest.php
  src/adapter/etl-adapter-json/src/Flow/ETL/Adapter/JSON/JSONMachine/JsonExtractor.php
  src/adapter/etl-adapter-json/src/Flow/ETL/Adapter/JSON/JsonLoader.php
  src/adapter/etl-adapter-json/tests/Flow/ETL/Tests/Integration/Adapter/JSON/JSONMachine/JsonExtractorTest.php
  src/adapter/etl-adapter-json/tests/Flow/ETL/Tests/Integration/Adapter/JSON/JsonLoaderTest.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/Codename/ParquetExtractor.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/Codename/ParquetLoader.php
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Integration/Codename/ParquetTest.php
  src/adapter/etl-adapter-text/src/Flow/ETL/Adapter/Text/TextExtractor.php
  src/adapter/etl-adapter-text/src/Flow/ETL/Adapter/Text/TextLoader.php
  src/adapter/etl-adapter-text/tests/Flow/ETL/Adapter/Text/Tests/Integration/TextLoaderTest.php
  src/adapter/etl-adapter-xml/src/Flow/ETL/Adapter/XML/XMLReaderExtractor.php
  src/core/etl/src/Flow/ETL/Filesystem/FilesystemStreams.php
  src/core/etl/src/Flow/ETL/Filesystem/Path.php
  src/core/etl/src/Flow/ETL/FlowContext.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Filesystem/FilesystemStreamsTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Stream/PathTest.php
Labels: examples, core, adapter-ampavrohp, adapter-csv, adapter-json, adapter-parquet, adapter-text, adapter-xml

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Double the number of possible characters in one line
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/CSVExtractor.php
Labels: adapter-csv

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Allow configuring amount of characters per line in CSV extractor
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/CSVExtractor.php
  src/adapter/etl-adapter-csv/src/Flow/ETL/DSL/CSV.php
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Fixtures/more_than_1000_characters_per_line.csv
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Integration/CSVExtractorTest.php
Labels: adapter-csv

Allow configuring amount of characters per line in CSV extractor
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/CSVExtractor.php
  src/adapter/etl-adapter-csv/src/Flow/ETL/DSL/CSV.php
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Integration/CSVExtractorTest.php
Labels: adapter-csv

CSV | Allow configuring amount of characters per line in CSV extractor (#164)
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/CSVExtractor.php
  src/adapter/etl-adapter-csv/src/Flow/ETL/DSL/CSV.php
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Fixtures/more_than_1000_characters_per_line.csv
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Integration/CSVExtractorTest.php
Labels: adapter-csv

.github/labeler.yml:

ci/cd:
  - any: [".github/**/*"]
docs:
  - any: ["**/*.md"]

examples:
  - any: ["examples/**/*"]

core:
  - any: ["src/core/etl/**/*"]

lib-array-dot:
  - any: ["src/lib/array-dot/**/*"]
lib-doctrine-dbal-bulk:
  - any: ["src/lib/doctrine-dbal-bulk/**/*"]

adapter-amphp:
  - any: ["src/adapter/etl-adapter-amphp/**/*"]
adapter-ampavrohp:
  - any: ["src/adapter/etl-adapter-avro/**/*"]
adapter-csv:
  - any: ["src/adapter/etl-adapter-csv/**/*"]
adapter-doctrine:
  - any: ["src/adapter/etl-adapter-doctrine/**/*"]
adapter-elasticsearch:
  - any: ["src/adapter/etl-adapter-elasticsearch/**/*"]
adapter-http:
  - any: ["src/adapter/etl-adapter-http/**/*"]
adapter-json:
  - any: ["src/adapter/etl-adapter-json/**/*"]
adapter-logger:
  - any: ["src/adapter/etl-adapter-logger/**/*"]
adapter-parquet:
  - any: ["src/adapter/etl-adapter-parquet/**/*"]
adapter-reactphp:
  - any: ["src/adapter/etl-adapter-reactphp/**/*"]
adapter-text:
  - any: ["src/adapter/etl-adapter-text/**/*"]
adapter-xml:
  - any: ["src/adapter/etl-adapter-xml/**/*"]
