Repository flow-php/flow, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, docs, examples, core, lib-array-dot, lib-doctrine-dbal-bulk, adapter-amphp, adapter-ampavrohp, adapter-csv, adapter-doctrine, adapter-elasticsearch, adapter-http, adapter-json, adapter-logger, adapter-parquet, adapter-reactphp, adapter-text, adapter-xml

.github/labeler.yml:

ci/cd:
  - any: [".github/**/*"]
docs:
  - any: ["**/*.md"]

examples:
  - any: ["examples/**/*"]

core:
  - any: ["src/core/etl/**/*"]

lib-array-dot:
  - any: ["src/lib/array-dot/**/*"]
lib-doctrine-dbal-bulk:
  - any: ["src/lib/doctrine-dbal-bulk/**/*"]

adapter-amphp:
  - any: ["src/adapter/etl-adapter-amphp/**/*"]
adapter-ampavrohp:
  - any: ["src/adapter/etl-adapter-avro/**/*"]
adapter-csv:
  - any: ["src/adapter/etl-adapter-csv/**/*"]
adapter-doctrine:
  - any: ["src/adapter/etl-adapter-doctrine/**/*"]
adapter-elasticsearch:
  - any: ["src/adapter/etl-adapter-elasticsearch/**/*"]
adapter-http:
  - any: ["src/adapter/etl-adapter-http/**/*"]
adapter-json:
  - any: ["src/adapter/etl-adapter-json/**/*"]
adapter-logger:
  - any: ["src/adapter/etl-adapter-logger/**/*"]
adapter-parquet:
  - any: ["src/adapter/etl-adapter-parquet/**/*"]
adapter-reactphp:
  - any: ["src/adapter/etl-adapter-reactphp/**/*"]
adapter-text:
  - any: ["src/adapter/etl-adapter-text/**/*"]
adapter-xml:
  - any: ["src/adapter/etl-adapter-xml/**/*"]

Add mysql to CI test suite
  .github/workflows/test-suite.yml
Labels: ci/cd

Remove not used functions and outdated annotations
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/Dialect/MySQLDialect.php
Labels: lib-doctrine-dbal-bulk

Add ability to use querybuilder inside DbalLimitOffsetExtractor
  examples/topics/db/db_to_db_sync.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/DbalLimitOffsetExtractor.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/DSL/Dbal.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Integration/DbalLimitOffsetExtractorTest.php
Labels: examples, adapter-doctrine

Mysql bulk update/insert dialect support (#197)
  .github/workflows/test-suite.yml
  docker-compose.yml.dist
  phpunit.xml
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/DbalPlatform.php
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/Dialect/MySQLDialect.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Context/DatabaseContext.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Integration/MySqlBulkInsertTest.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Integration/MySqlBulkUpdateTest.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/MysqlIntegrationTestCase.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Unit/DbalPlatformTest.php
Labels: ci/cd, lib-doctrine-dbal-bulk

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Skip corrupted rows in CSV extractor
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/CSVExtractor.php
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Fixtures/corrupted_row.csv
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Integration/CSVExtractorTest.php
Labels: adapter-csv

CSV - corrupted rows (#233)
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/CSVExtractor.php
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Fixtures/corrupted_row.csv
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Integration/CSVExtractorTest.php
Labels: adapter-csv

Updated project to psalm 5.0
  docker-compose.yml.dist
  psalm.xml
  src/core/etl/src/Flow/ETL/Cache/NullCache.php
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/Filesystem/AzureBlobStream.php
  src/core/etl/src/Flow/ETL/Filesystem/FilesystemStreams.php
  src/core/etl/src/Flow/ETL/Filesystem/FlysystemWrapper.php
  src/core/etl/src/Flow/ETL/Row/Schema/Definition.php
  src/lib/array-dot/src/Flow/ArrayDot/array_dot.php
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/Dialect/Dialect.php
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/Dialect/MySQLDialect.php
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/Dialect/PostgreSQLDialect.php
  tools/psalm/composer.json
  tools/psalm/composer.lock
Labels: core, lib-array-dot, lib-doctrine-dbal-bulk

Allow to use QueryBuilder while creating DbalLimitOffsetExtractor
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/DbalLimitOffsetExtractor.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/DSL/Dbal.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Integration/DbalLimitOffsetExtractorTest.php
Labels: adapter-doctrine

Allow to use QueryBuilder while creating DBAL limit offset extractor for more advanced use cases (#234)
  docker-compose.yml.dist
  psalm.xml
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/DbalLimitOffsetExtractor.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/DSL/Dbal.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Integration/DbalLimitOffsetExtractorTest.php
  src/core/etl/src/Flow/ETL/Cache/NullCache.php
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/Filesystem/AzureBlobStream.php
  src/core/etl/src/Flow/ETL/Filesystem/FilesystemStreams.php
  src/core/etl/src/Flow/ETL/Filesystem/FlysystemWrapper.php
  src/core/etl/src/Flow/ETL/Row/Schema/Definition.php
  src/lib/array-dot/src/Flow/ArrayDot/array_dot.php
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/Dialect/Dialect.php
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/Dialect/MySQLDialect.php
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/Dialect/PostgreSQLDialect.php
  tools/psalm/composer.json
  tools/psalm/composer.lock
Labels: core, lib-array-dot, lib-doctrine-dbal-bulk, adapter-doctrine

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Updated minimum required avro php version
  composer.json
  composer.lock
  src/adapter/etl-adapter-amphp/composer.json
  src/adapter/etl-adapter-avro/composer.json
  src/adapter/etl-adapter-avro/src/Flow/ETL/Adapter/Avro/FlixTech/ValueConverter.php
Labels: adapter-amphp, adapter-ampavrohp

Updated minimum required avro php version (#235)
  composer.json
  composer.lock
  src/adapter/etl-adapter-amphp/composer.json
  src/adapter/etl-adapter-avro/composer.json
  src/adapter/etl-adapter-avro/src/Flow/ETL/Adapter/Avro/FlixTech/ValueConverter.php
Labels: adapter-amphp, adapter-ampavrohp

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Added new aggregations to collect entries into list while groupping
  src/core/etl/src/Flow/ETL/GroupBy/Aggregation.php
  src/core/etl/src/Flow/ETL/GroupBy/Aggregator/Collect.php
  src/core/etl/src/Flow/ETL/GroupBy/Aggregator/CollectUnique.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/GroupBy/Aggregator/CollectTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/GroupBy/Aggregator/CollectUniqueTest.php
Labels: core

Added new aggregations to collect entries into list while groupping (#240)
  src/core/etl/src/Flow/ETL/GroupBy/Aggregation.php
  src/core/etl/src/Flow/ETL/GroupBy/Aggregator/Collect.php
  src/core/etl/src/Flow/ETL/GroupBy/Aggregator/CollectUnique.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/GroupBy/Aggregator/CollectTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/GroupBy/Aggregator/CollectUniqueTest.php
Labels: core

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Reference introduction with EntryReference and StrucureReference implementations
  composer.json
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/CSVLoader.php
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Integration/CSVLoaderTest.php
  src/core/etl/README.md
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/GroupBy/Aggregation.php
  src/core/etl/src/Flow/ETL/GroupBy/Aggregator/Average.php
  src/core/etl/src/Flow/ETL/GroupBy/Aggregator/Collect.php
  src/core/etl/src/Flow/ETL/GroupBy/Aggregator/CollectUnique.php
  src/core/etl/src/Flow/ETL/GroupBy/Aggregator/Count.php
  src/core/etl/src/Flow/ETL/GroupBy/Aggregator/First.php
  src/core/etl/src/Flow/ETL/GroupBy/Aggregator/Last.php
  src/core/etl/src/Flow/ETL/GroupBy/Aggregator/Max.php
  src/core/etl/src/Flow/ETL/GroupBy/Aggregator/Min.php
  src/core/etl/src/Flow/ETL/GroupBy/Aggregator/Sum.php
  src/core/etl/src/Flow/ETL/Row/EntryReference.php
  src/core/etl/src/Flow/ETL/Row/Reference.php
  src/core/etl/src/Flow/ETL/Row/StructureReference.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/GroupBy/Aggregator/AverageTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/GroupBy/Aggregator/CollectTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/GroupBy/Aggregator/CollectUniqueTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/GroupBy/Aggregator/CountTest.php
Labels: docs, core, adapter-csv

Reference introduction with EntryReference and StrucureReference implementations (#241)
  composer.json
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/CSVLoader.php
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Integration/CSVLoaderTest.php
  src/core/etl/README.md
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/GroupBy/Aggregation.php
  src/core/etl/src/Flow/ETL/GroupBy/Aggregator/Average.php
  src/core/etl/src/Flow/ETL/GroupBy/Aggregator/Collect.php
  src/core/etl/src/Flow/ETL/GroupBy/Aggregator/CollectUnique.php
  src/core/etl/src/Flow/ETL/GroupBy/Aggregator/Count.php
  src/core/etl/src/Flow/ETL/GroupBy/Aggregator/First.php
  src/core/etl/src/Flow/ETL/GroupBy/Aggregator/Last.php
  src/core/etl/src/Flow/ETL/GroupBy/Aggregator/Max.php
  src/core/etl/src/Flow/ETL/GroupBy/Aggregator/Min.php
  src/core/etl/src/Flow/ETL/GroupBy/Aggregator/Sum.php
  src/core/etl/src/Flow/ETL/Row/EntryReference.php
  src/core/etl/src/Flow/ETL/Row/Reference.php
  src/core/etl/src/Flow/ETL/Row/StructureReference.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/GroupBy/Aggregator/AverageTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/GroupBy/Aggregator/CollectTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/GroupBy/Aggregator/CollectUniqueTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/GroupBy/Aggregator/CountTest.php
Labels: docs, core, adapter-csv

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Added array push transformer
  src/core/etl/src/Flow/ETL/DSL/Transform.php
  src/core/etl/src/Flow/ETL/Transformer/ArrayMergeTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/ArrayPushTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/StringEntryValueCaseConverterTransformer.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/ArrayMergeTransformerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/ArrayPushTransformerTest.php
Labels: core

Added array push transformer (#243)
  src/core/etl/src/Flow/ETL/DSL/Transform.php
  src/core/etl/src/Flow/ETL/Transformer/ArrayMergeTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/ArrayPushTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/StringEntryValueCaseConverterTransformer.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/ArrayMergeTransformerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/ArrayPushTransformerTest.php
Labels: core

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Added array push transformer
  src/core/etl/src/Flow/ETL/DSL/Condition.php
  src/core/etl/src/Flow/ETL/DSL/Transform.php
  src/core/etl/src/Flow/ETL/Formatter/ASCII/ASCIITable.php
  src/core/etl/src/Flow/ETL/Transformer/ArrayMergeTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/ArrayPushTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/StringEntryValueCaseConverterTransformer.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/ArrayMergeTransformerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/ArrayPushTransformerTest.php
Labels: core

Added array push transformer (#259)
  src/core/etl/src/Flow/ETL/DSL/Condition.php
  src/core/etl/src/Flow/ETL/DSL/Transform.php
  src/core/etl/src/Flow/ETL/Formatter/ASCII/ASCIITable.php
Labels: core

Updated CHANGELOG.md
  CHANGELOG.md
Labels: docs

Rewritten ASCII table formatter
  src/core/etl/src/Flow/ETL/Formatter/ASCII/ASCIIBody.php
  src/core/etl/src/Flow/ETL/Formatter/ASCII/ASCIIHeaders.php
  src/core/etl/src/Flow/ETL/Formatter/ASCII/ASCIITable.php
  src/core/etl/src/Flow/ETL/Formatter/ASCII/ASCIIValue.php
  src/core/etl/src/Flow/ETL/Formatter/ASCII/Body.php
  src/core/etl/src/Flow/ETL/Formatter/ASCII/Headers.php
  src/core/etl/src/Flow/ETL/Formatter/AsciiTableFormatter.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/DataFrameTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Formatter/ASCII/ASCIIBodyTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Formatter/ASCII/ASCIIHeadersTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Formatter/ASCII/ASCIIValueTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Formatter/ASCIITableTest.php
Labels: core

Add more verbose error for failing tests
  src/adapter/etl-adapter-http/tests/Flow/ETL/Tests/Functional/PsrHttpClientDynamicExtractorTest.php
Labels: adapter-http

Fixed type in code
  src/adapter/etl-adapter-http/tests/Flow/ETL/Tests/Functional/PsrHttpClientDynamicExtractorTest.php
Labels: adapter-http

Fixed json_encode in test suite
  src/adapter/etl-adapter-http/tests/Flow/ETL/Tests/Functional/PsrHttpClientDynamicExtractorTest.php
Labels: adapter-http
