Repository flow-php/flow, pull requests merged in 2022-10, with the labels that each got.

#166 fix: typo
  src/core/etl/README.md
Labels: size: XS, docs, core

#165 Added execution plan in order to improve async file processing
  examples/csv_to_json_async_react.php
  examples/csv_to_text_async_react.php
  src/adapter/etl-adapter-avro/src/Flow/ETL/Adapter/Avro/FlixTech/AvroLoader.php
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/CSVLoader.php
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Integration/CSVLoaderTest.php
  src/adapter/etl-adapter-json/src/Flow/ETL/Adapter/JSON/JsonLoader.php
  src/adapter/etl-adapter-json/tests/Flow/ETL/Tests/Integration/Adapter/JSON/JsonLoaderTest.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/Codename/ParquetLoader.php
  src/adapter/etl-adapter-text/src/Flow/ETL/Adapter/Text/TextLoader.php
  src/core/etl/src/Flow/ETL/Async/Socket/Communication/Message.php
  src/core/etl/src/Flow/ETL/Async/Socket/Server/ServerProtocol.php
  src/core/etl/src/Flow/ETL/Async/Socket/Worker/ClientProtocol.php
  src/core/etl/src/Flow/ETL/Async/Socket/Worker/Processor.php
  src/core/etl/src/Flow/ETL/Config.php
  src/core/etl/src/Flow/ETL/ConfigBuilder.php
  src/core/etl/src/Flow/ETL/Extractor/BufferExtractor.php
  src/core/etl/src/Flow/ETL/Extractor/ChainExtractor.php
  src/core/etl/src/Flow/ETL/Extractor/ChunkExtractor.php
  src/core/etl/src/Flow/ETL/Extractor/FileExtractor.php
  src/core/etl/src/Flow/ETL/Extractor/OverridingExtractor.php
  src/core/etl/src/Flow/ETL/Filesystem.php
  src/core/etl/src/Flow/ETL/Filesystem/FilesystemStreams.php
  src/core/etl/src/Flow/ETL/Filesystem/FlysystemFS.php
  src/core/etl/src/Flow/ETL/Filesystem/SaveMode.php
  src/core/etl/src/Flow/ETL/Filesystem/Stream/Mode.php
  src/core/etl/src/Flow/ETL/Flow.php
  src/core/etl/src/Flow/ETL/FlowContext.php
  src/core/etl/src/Flow/ETL/Loader/BufferLoader.php
  src/core/etl/src/Flow/ETL/Loader/CallbackLoader.php
  src/core/etl/src/Flow/ETL/Loader/FileLoader.php
  src/core/etl/src/Flow/ETL/Loader/OverridingLoader.php
  src/core/etl/src/Flow/ETL/Loader/TransformerLoader.php
  src/core/etl/src/Flow/ETL/Partition.php
  src/core/etl/src/Flow/ETL/Partition/CallableFilter.php
  src/core/etl/src/Flow/ETL/Partition/NoopFilter.php
  src/core/etl/src/Flow/ETL/Partition/PartitionFilter.php
  src/core/etl/src/Flow/ETL/Pipeline/Execution/LogicalPlan.php
  src/core/etl/src/Flow/ETL/Pipeline/Execution/Plan/FilesystemOperations.php
  src/core/etl/src/Flow/ETL/Pipeline/Execution/Processor/FilesystemProcessor.php
  src/core/etl/src/Flow/ETL/Pipeline/Execution/Processor/Processor.php
  src/core/etl/src/Flow/ETL/Pipeline/Execution/Processors.php
  src/core/etl/src/Flow/ETL/Pipeline/LocalSocketPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/Pipes.php
  src/core/etl/src/Flow/ETL/Pipeline/SynchronousPipeline.php
  src/core/etl/tests/Flow/ETL/Tests/Double/EmptyExtractor.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/FlowTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Async/Socket/Server/ServerProtocolTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Async/Socket/Worker/ClientProtocolTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Pipeline/Execution/Plan/FilesystemPlanTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Pipeline/Execution/Processor/FilesystemProcessorTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Pipeline/PipesTest.php
Labels: size: XL, core, adapter-ampavrohp, adapter-csv, adapter-json, adapter-parquet, adapter-text, examples

#167 Added left_anti join
  src/core/etl/README.md
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/Join/Join.php
  src/core/etl/src/Flow/ETL/Rows.php
  src/core/etl/src/Flow/ETL/Transformer/JoinEachRowsTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/JoinRowsTransformer.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Pipeline/Execution/Processor/FilesystemProcessorTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/RowsJoinTest.php
Labels: size: M, docs, core

#170 Added more advanced join expressions
  composer.lock
  examples/README.md
  examples/join/left_anti/README.md
  examples/join/left_anti/left_anti_join.php
  examples/join/left_anti/left_anti_join_each.php
  src/core/etl/README.md
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/Join/Comparison.php
  src/core/etl/src/Flow/ETL/Join/Comparison/All.php
  src/core/etl/src/Flow/ETL/Join/Comparison/Any.php
  src/core/etl/src/Flow/ETL/Join/Comparison/Equal.php
  src/core/etl/src/Flow/ETL/Join/Comparison/GreaterThan.php
  src/core/etl/src/Flow/ETL/Join/Comparison/GreaterThanEqual.php
  src/core/etl/src/Flow/ETL/Join/Comparison/Identical.php
  src/core/etl/src/Flow/ETL/Join/Comparison/LessThan.php
  src/core/etl/src/Flow/ETL/Join/Comparison/LessThanEqual.php
  src/core/etl/src/Flow/ETL/Join/Comparison/Not.php
  src/core/etl/src/Flow/ETL/Join/Condition.php
  src/core/etl/src/Flow/ETL/Join/Expression.php
  src/core/etl/src/Flow/ETL/Rows.php
  src/core/etl/src/Flow/ETL/Transformer/JoinEachRowsTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/JoinRowsTransformer.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/DataFrameTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Join/Comparison/AllTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Join/Comparison/AnyTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Join/Comparison/EqualTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Join/Comparison/GreaterTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Join/Comparison/GreaterThanEqualTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Join/Comparison/IdenticalTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Join/Comparison/LessTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Join/Comparison/LessThanEqualTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Join/Comparison/NotTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Join/ExpressionTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/RowsJoinTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/JoinEachRowsTransformerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/JoinRowsTransformerTest.php
Labels: size: XL, docs, core, examples

#171 Examples cleanup
  examples/README.md
  examples/bootstrap.php
  examples/data/extractor.php
  examples/find_record_100k.php
  examples/read_benchmark_100k.php
  examples/read_benchmark_10k.php
  examples/topics/aggregations/power_plant.php
  examples/topics/async/README.md
  examples/topics/async/csv_to_db_async_amp.php
  examples/topics/async/csv_to_db_async_react.php
  examples/topics/async/csv_to_db_sync.php
  examples/topics/async/csv_to_json_async_react.php
  examples/topics/async/csv_to_text_async_react.php
  examples/topics/db/db_clean.php
  examples/topics/db/db_source.php
  examples/topics/db/db_to_db_sync.php
  examples/topics/fs/remote/README.md
  examples/topics/fs/remote/json_remote_stream.php
  examples/topics/fs/remote/json_remote_stream_glob.php
  examples/topics/join/left_anti/README.md
  examples/topics/join/left_anti/left_anti_join.php
  examples/topics/join/left_anti/left_anti_join_each.php
  examples/topics/types/csv/README.md
  examples/topics/types/csv/csv_read_partitioned.php
  examples/topics/types/csv/csv_to_avro.php
  examples/topics/types/csv/csv_to_json.php
  examples/topics/types/csv/csv_to_parquet_100k.php
  examples/topics/types/csv/csv_to_parquet_10k.php
  examples/topics/types/csv/php_to_csv.php
  examples/topics/types/csv/php_to_csv_and_json.php
  examples/topics/types/csv/php_to_csv_partition.php
  src/core/etl/README.md
Labels: size: M, docs, core, examples

#172 Fix Readme for left anti join
  examples/topics/join/left_anti/README.md
Labels: size: XS, docs, examples

#175 Added dbal limit offset extractor
  examples/topics/db/db_clean.php
  examples/topics/db/db_source.php
  examples/topics/db/db_to_db_sync.php
  phpunit.xml
  src/adapter/etl-adapter-doctrine/composer.json
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/DbalLimitOffsetExtractor.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/DbalQueryExtractor.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/Order.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/OrderBy.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/Pages.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/Table.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/DSL/Dbal.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Context/DatabaseContext.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Integration/DbalLimitOffsetExtractorTest.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Integration/DbalLoaderTest.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Integration/DbalQueryExtractorTest.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Unit/PagesTest.php
  src/core/etl/src/Flow/ETL/Row/Factory/ArrayRowsFactory.php
Labels: size: L, core, adapter-doctrine, examples

#177 Removed psalm-immutable annotation from transformers and extractors
  src/adapter/etl-adapter-avro/src/Flow/ETL/Adapter/Avro/FlixTech/AvroExtractor.php
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/CSVExtractor.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/DbalLimitOffsetExtractor.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/DbalQueryExtractor.php
  src/adapter/etl-adapter-http/src/Flow/ETL/Adapter/Http/PsrHttpClientDynamicExtractor.php
  src/adapter/etl-adapter-http/src/Flow/ETL/Adapter/Http/PsrHttpClientStaticExtractor.php
  src/adapter/etl-adapter-json/src/Flow/ETL/Adapter/JSON/JSONMachine/JsonExtractor.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/Codename/ParquetExtractor.php
  src/adapter/etl-adapter-text/src/Flow/ETL/Adapter/Text/TextExtractor.php
  src/adapter/etl-adapter-xml/src/Flow/ETL/Adapter/XML/XMLReaderExtractor.php
  src/core/etl/src/Flow/ETL/Extractor.php
  src/core/etl/src/Flow/ETL/Extractor/BufferExtractor.php
  src/core/etl/src/Flow/ETL/Extractor/CacheExtractor.php
  src/core/etl/src/Flow/ETL/Extractor/ChainExtractor.php
  src/core/etl/src/Flow/ETL/Extractor/ChunkExtractor.php
  src/core/etl/src/Flow/ETL/Extractor/MemoryExtractor.php
  src/core/etl/src/Flow/ETL/Extractor/PipelineExtractor.php
  src/core/etl/src/Flow/ETL/Extractor/ProcessExtractor.php
  src/core/etl/src/Flow/ETL/Transformer.php
  src/core/etl/src/Flow/ETL/Transformer/ArrayCollectionGetTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/ArrayCollectionMergeTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/ArrayDotGetTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/ArrayDotRenameTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/ArrayExpandTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/ArrayKeysStyleConverterTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/ArrayMergeTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/ArrayReverseTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/ArraySortTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/ArrayUnpackTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/CallUserFunctionTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/CallbackEntryTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/CallbackRowTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/CastTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/ChainTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/CloneEntryTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/ConditionalTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/DynamicEntryTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/EntryNameStyleConverterTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/FilterRowsTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/GroupToArrayTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/HashTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/JoinEachRowsTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/JoinRowsTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/KeepEntriesTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/MathOperationTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/MathValueOperationTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/NullStringIntoNullEntryTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/ObjectMethodTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/ObjectToArrayTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/RemoveEntriesTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/RenameEntriesTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/StaticEntryTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/StringConcatTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/StringEntryValueCaseConverterTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/StringFormatTransformer.php
  src/core/etl/tests/Flow/ETL/Tests/Double/AddStampToStringEntryTransformer.php
Labels: size: S, core, adapter-ampavrohp, adapter-csv, adapter-doctrine, adapter-http, adapter-json, adapter-parquet, adapter-text, adapter-xml

#178 Added elasticsearch extractor
  .github/workflows/pr-check.yml
  composer.lock
  phpstan.neon
  psalm.xml
  src/adapter/etl-adapter-elasticsearch/README.md
  src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/Adapter/Elasticsearch/ElasticsearchPHP/ElasticsearchExtractor.php
  src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/Adapter/Elasticsearch/ElasticsearchPHP/ElasticsearchLoader.php
  src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/Adapter/Elasticsearch/ElasticsearchPHP/HitsIntoRowsTransformer.php
  src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/Adapter/Elasticsearch/ElasticsearchPHP/PointInTime.php
  src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/Adapter/Elasticsearch/ElasticsearchPHP/SearchParams.php
  src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/Adapter/Elasticsearch/ElasticsearchPHP/SearchResults.php
  src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/DSL/Elasticsearch.php
  src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Context/Elasticsearch7Context.php
  src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Context/Elasticsearch8Context.php
  src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Integration/ElasticsearchPHP/ElasticsearchExtractorTest.php
  src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Integration/ElasticsearchPHP/ElasticsearchLoaderTest.php
  src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Integration/ElasticsearchPHP/IntegrationTest.php
  src/core/etl/src/Flow/ETL/Row.php
Labels: size: XL, ci/cd, docs, core, adapter-elasticsearch
