Repository flow-php/flow, pull requests merged in 2022-12, with the labels that each got.

#197 Mysql bulk update/insert dialect support
  .github/workflows/test-suite.yml
  docker-compose.yml.dist
  phpunit.xml
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/DbalPlatform.php
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/Dialect/MySQLDialect.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Context/DatabaseContext.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Integration/MySqlBulkInsertTest.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Integration/MySqlBulkUpdateTest.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/MysqlIntegrationTestCase.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Unit/DbalPlatformTest.php
Labels: size: M, ci/cd, lib-doctrine-dbal-bulk

#233 CSV - corrupted rows
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/CSVExtractor.php
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Fixtures/corrupted_row.csv
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Integration/CSVExtractorTest.php
Labels: size: XS, adapter-csv

#234 Allow to use QueryBuilder while creating DBAL limit offset extractor for more advanced use cases
  docker-compose.yml.dist
  psalm.xml
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/DbalLimitOffsetExtractor.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/DSL/Dbal.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Integration/DbalLimitOffsetExtractorTest.php
  src/core/etl/src/Flow/ETL/Cache/NullCache.php
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/Filesystem/AzureBlobStream.php
  src/core/etl/src/Flow/ETL/Filesystem/FilesystemStreams.php
  src/core/etl/src/Flow/ETL/Filesystem/FlysystemWrapper.php
  src/core/etl/src/Flow/ETL/Row/Schema/Definition.php
  src/lib/array-dot/src/Flow/ArrayDot/array_dot.php
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/Dialect/Dialect.php
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/Dialect/MySQLDialect.php
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/Dialect/PostgreSQLDialect.php
  tools/psalm/composer.json
  tools/psalm/composer.lock
Labels: size: S, core, lib-array-dot, lib-doctrine-dbal-bulk, adapter-doctrine

#235 Updated minimum required avro php version
  composer.json
  composer.lock
  src/adapter/etl-adapter-amphp/composer.json
  src/adapter/etl-adapter-avro/composer.json
  src/adapter/etl-adapter-avro/src/Flow/ETL/Adapter/Avro/FlixTech/ValueConverter.php
Labels: size: XS, adapter-amphp, adapter-ampavrohp

#240 Added new aggregations to collect entries into list while groupping
  src/core/etl/src/Flow/ETL/GroupBy/Aggregation.php
  src/core/etl/src/Flow/ETL/GroupBy/Aggregator/Collect.php
  src/core/etl/src/Flow/ETL/GroupBy/Aggregator/CollectUnique.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/GroupBy/Aggregator/CollectTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/GroupBy/Aggregator/CollectUniqueTest.php
Labels: size: S, core

#241 Reference introduction with EntryReference and StrucureReference implementations
  composer.json
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/CSVLoader.php
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Integration/CSVLoaderTest.php
  src/core/etl/README.md
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/GroupBy/Aggregation.php
  src/core/etl/src/Flow/ETL/GroupBy/Aggregator/Average.php
  src/core/etl/src/Flow/ETL/GroupBy/Aggregator/Collect.php
  src/core/etl/src/Flow/ETL/GroupBy/Aggregator/CollectUnique.php
  src/core/etl/src/Flow/ETL/GroupBy/Aggregator/Count.php
  src/core/etl/src/Flow/ETL/GroupBy/Aggregator/First.php
  src/core/etl/src/Flow/ETL/GroupBy/Aggregator/Last.php
  src/core/etl/src/Flow/ETL/GroupBy/Aggregator/Max.php
  src/core/etl/src/Flow/ETL/GroupBy/Aggregator/Min.php
  src/core/etl/src/Flow/ETL/GroupBy/Aggregator/Sum.php
  src/core/etl/src/Flow/ETL/Row/EntryReference.php
  src/core/etl/src/Flow/ETL/Row/Reference.php
  src/core/etl/src/Flow/ETL/Row/StructureReference.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/GroupBy/Aggregator/AverageTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/GroupBy/Aggregator/CollectTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/GroupBy/Aggregator/CollectUniqueTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/GroupBy/Aggregator/CountTest.php
Labels: size: M, docs, core, adapter-csv

#243 Added array push transformer
  src/core/etl/src/Flow/ETL/DSL/Transform.php
  src/core/etl/src/Flow/ETL/Transformer/ArrayMergeTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/ArrayPushTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/StringEntryValueCaseConverterTransformer.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/ArrayMergeTransformerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/ArrayPushTransformerTest.php
Labels: size: S, core

#259 Added array push transformer
  src/core/etl/src/Flow/ETL/DSL/Condition.php
  src/core/etl/src/Flow/ETL/DSL/Transform.php
  src/core/etl/src/Flow/ETL/Formatter/ASCII/ASCIITable.php
Labels: size: XS, core
