Repository flow-php/flow, pull requests merged in 2023-01, with the labels that each got.

#263 Rewritten ASCII table formatter
  src/core/etl/src/Flow/ETL/Formatter/ASCII/ASCIIBody.php
  src/core/etl/src/Flow/ETL/Formatter/ASCII/ASCIIHeaders.php
  src/core/etl/src/Flow/ETL/Formatter/ASCII/ASCIITable.php
  src/core/etl/src/Flow/ETL/Formatter/ASCII/ASCIIValue.php
  src/core/etl/src/Flow/ETL/Formatter/ASCII/Body.php
  src/core/etl/src/Flow/ETL/Formatter/ASCII/Headers.php
  src/core/etl/src/Flow/ETL/Formatter/AsciiTableFormatter.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/DataFrameTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Formatter/ASCII/ASCIIBodyTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Formatter/ASCII/ASCIIHeadersTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Formatter/ASCII/ASCIIValueTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Formatter/ASCIITableTest.php
Labels: size: L, core

#271 Updated dependencies
  composer.lock
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/Codename/ParquetLoader.php
  src/core/etl/src/Flow/ETL/Join/Expression.php
  src/core/etl/src/Flow/ETL/Transformer/GroupToArrayTransformer.php
  tools/cs-fixer/composer.lock
  tools/phpunit/composer.lock
  tools/psalm/composer.lock
Labels: size: XS, core, adapter-parquet

#292 Test code against php 8.2
  .github/workflows/test-suite.yml
  composer.json
  composer.lock
  src/adapter/etl-adapter-amphp/composer.json
  src/adapter/etl-adapter-avro/composer.json
  src/adapter/etl-adapter-csv/composer.json
  src/adapter/etl-adapter-doctrine/composer.json
  src/adapter/etl-adapter-elasticsearch/composer.json
  src/adapter/etl-adapter-http/composer.json
  src/adapter/etl-adapter-json/composer.json
  src/adapter/etl-adapter-logger/composer.json
  src/adapter/etl-adapter-parquet/composer.json
  src/adapter/etl-adapter-reactphp/composer.json
  src/adapter/etl-adapter-text/composer.json
  src/adapter/etl-adapter-xml/composer.json
  src/core/etl/composer.json
  src/lib/array-dot/composer.json
  src/lib/doctrine-dbal-bulk/composer.json
  tools/infection/composer.lock
  tools/monorepo/composer.json
  tools/monorepo/composer.lock
  tools/phpstan/composer.lock
  tools/phpunit/composer.lock
Labels: size: S, ci/cd, core, lib-array-dot, lib-doctrine-dbal-bulk, adapter-amphp, adapter-ampavrohp, adapter-csv, adapter-doctrine, adapter-elasticsearch, adapter-http, adapter-json, adapter-logger, adapter-parquet, adapter-reactphp, adapter-text, adapter-xml

#304 Added Google Sheet ETL adapter
  composer.json
  composer.lock
  phpunit.xml
  src/adapter/etl-adapter-google-sheet/.gitattributes
  src/adapter/etl-adapter-google-sheet/.github/workflows/readonly.yaml
  src/adapter/etl-adapter-google-sheet/.gitignore
  src/adapter/etl-adapter-google-sheet/LICENSE
  src/adapter/etl-adapter-google-sheet/README.md
  src/adapter/etl-adapter-google-sheet/composer.json
  src/adapter/etl-adapter-google-sheet/src/Flow/ETL/Adapter/GoogleSheet/Columns.php
  src/adapter/etl-adapter-google-sheet/src/Flow/ETL/Adapter/GoogleSheet/GoogleSheetExtractor.php
  src/adapter/etl-adapter-google-sheet/src/Flow/ETL/Adapter/GoogleSheet/SheetRange.php
  src/adapter/etl-adapter-google-sheet/src/Flow/ETL/DSL/GoogleSheet.php
  src/adapter/etl-adapter-google-sheet/tests/Flow/ETL/Adapter/GoogleSheet/Tests/Unit/ColumnsTest.php
  src/adapter/etl-adapter-google-sheet/tests/Flow/ETL/Adapter/GoogleSheet/Tests/Unit/GoogleSheetExtractorTest.php
  src/adapter/etl-adapter-google-sheet/tests/Flow/ETL/Adapter/GoogleSheet/Tests/Unit/SheetRangeTest.php
Labels: size: L, docs

#305 Allow extractors to put input options into extracted results
  .github/labeler.yml
  composer.lock
  src/adapter/etl-adapter-avro/src/Flow/ETL/Adapter/Avro/FlixTech/AvroExtractor.php
  src/adapter/etl-adapter-avro/tests/Flow/ETL/Adapter/Avro/FlixTech/Tests/Integration/AvroTest.php
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/CSVExtractor.php
  src/adapter/etl-adapter-csv/src/Flow/ETL/DSL/CSV.php
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Integration/CSVExtractorTest.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/DbalQueryExtractor.php
  src/adapter/etl-adapter-google-sheet/src/Flow/ETL/Adapter/GoogleSheet/GoogleSheetExtractor.php
  src/adapter/etl-adapter-google-sheet/tests/Flow/ETL/Adapter/GoogleSheet/Tests/Unit/GoogleSheetExtractorTest.php
  src/adapter/etl-adapter-http/src/Flow/ETL/Adapter/Http/PsrHttpClientDynamicExtractor.php
  src/adapter/etl-adapter-http/src/Flow/ETL/Adapter/Http/PsrHttpClientStaticExtractor.php
  src/adapter/etl-adapter-json/src/Flow/ETL/Adapter/JSON/JSONMachine/JsonExtractor.php
  src/adapter/etl-adapter-json/src/Flow/ETL/DSL/Json.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/Codename/ParquetExtractor.php
  src/adapter/etl-adapter-text/src/Flow/ETL/Adapter/Text/TextExtractor.php
  src/adapter/etl-adapter-xml/src/Flow/ETL/Adapter/XML/XMLReaderExtractor.php
  src/core/etl/src/Flow/ETL/Config.php
  src/core/etl/src/Flow/ETL/ConfigBuilder.php
Labels: size: S, ci/cd, core, adapter-ampavrohp, adapter-csv, adapter-doctrine, adapter-http, adapter-json, adapter-parquet, adapter-text, adapter-xml
