Repository flow-php/flow, pull requests merged in 2023-09, with the labels that each got.

#474 Added better support for XML types into Flow
  .php-cs-fixer.php
  composer.lock
  examples/data/salaries.xml
  examples/data/simple_items.xml
  examples/topics/types/xml/reading.php
  examples/topics/types/xml/salaries.php
  src/adapter/etl-adapter-xml/README.md
  src/adapter/etl-adapter-xml/src/Flow/ETL/Adapter/XML/XMLReaderExtractor.php
  src/adapter/etl-adapter-xml/tests/Flow/ETL/Tests/Integration/Adapter/XML/XMLReaderExtractorTest.php
  src/adapter/etl-adapter-xml/tests/Flow/ETL/Tests/Integration/Adapter/XML/xml/simple_items_flat.xml
  src/core/etl/src/Flow/ETL/DSL/Entry.php
  src/core/etl/src/Flow/ETL/Formatter/ASCII/ASCIIValue.php
  src/core/etl/src/Flow/ETL/Row/Entry/XMLEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/XMLNodeEntry.php
  src/core/etl/src/Flow/ETL/Row/Factory/NativeEntryFactory.php
  src/core/etl/src/Flow/ETL/Row/Reference/EntryExpression.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Cast.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Cast/XMLConverter.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/DOMNodeAttribute.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/DOMNodeValue.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/XPath.php
  src/core/etl/src/Flow/ETL/Row/Schema/Definition.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/DataFrameTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Entry/XMLEntryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Factory/NativeEntryFactoryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/CastTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/DOMNodeAttributeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/DOMNodeValueTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/XPathTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Schema/Formatter/ASCIISchemaFormatterTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/EntryExpressionEvalTransformerTest.php
Labels: size: XL, docs, core, adapter-xml, examples

#479 Updated cs-fixer to latest and bump min version
  src/adapter/etl-adapter-avro/src/Flow/ETL/Adapter/Avro/FlixTech/AvroResource.php
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Integration/CSVExtractorTest.php
  src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/Adapter/Elasticsearch/ElasticsearchPHP/ElasticsearchExtractor.php
  src/adapter/etl-adapter-json/tests/Flow/ETL/Tests/Integration/Adapter/JSON/JSONMachine/JsonExtractorTest.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/Codename/ParquetExtractor.php
  src/adapter/etl-adapter-text/tests/Flow/ETL/Adapter/Text/Tests/Integration/TextExtractorTest.php
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Cast/XMLConverter.php
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/TableDefinition.php
  tools/cs-fixer/composer.json
  tools/cs-fixer/composer.lock
Labels: size: XS, core, lib-doctrine-dbal-bulk, adapter-ampavrohp, adapter-csv, adapter-elasticsearch, adapter-json, adapter-parquet, adapter-text

#478 Remove unnecessary template overwrite in ChartJS adapter
  src/adapter/etl-adapter-chartjs/src/Flow/ETL/DSL/ChartJS.php
Labels: size: XS, adapter-chartjs

#481 Update GH actions to the latest
  .github/workflows/docs.yml
  .github/workflows/test-suite.yml
Labels: size: XS, ci/cd

#482 Move rector to the tools
  composer.json
  composer.lock
  tools/rector/.gitignore
  tools/rector/composer.json
  tools/rector/composer.lock
Labels: size: XS
