Repository flow-php/flow, pull requests merged in 2023-05, with the labels that each got.

#418 Adjust string value extraction in ASCIIValue
  src/core/etl/src/Flow/ETL/Formatter/ASCII/ASCIIValue.php
Labels: size: XS, core

#419 Modify `StrReplace` expression to work with arrays
  src/core/etl/src/Flow/ETL/Row/Reference/EntryExpression.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/StrReplace.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/StrReplaceTest.php
Labels: size: XS, core

#417 Add new sanitize expression
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Row/Reference/EntryExpression.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Sanitize.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/SanitizeTest.php
Labels: size: S, core

#420 Skip phpstan analyse in `Sanitize` extension
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Sanitize.php
Labels: size: XS, core

#423 Removed deprecated transformers that are replaced by Entry Expressions
  examples/bootstrap.php
  examples/issue/issue248.php
  examples/issue/issue289.php
  examples/topics/aggregations/power_plant.php
  examples/topics/async/csv_to_db_async_amp.php
  examples/topics/async/csv_to_db_async_react.php
  examples/topics/async/csv_to_db_sync.php
  examples/topics/async/csv_to_json_async_react.php
  examples/topics/db/db_source.php
  examples/topics/db/db_to_db_sync.php
  examples/topics/fs/remote/json_remote_stream_glob.php
  examples/topics/transformations/array_unpack.php
  examples/topics/types/csv/csv_read_partitioned.php
  examples/topics/types/csv/csv_to_avro.php
  examples/topics/types/csv/csv_to_json.php
  examples/topics/types/csv/csv_to_parquet_100k.php
  examples/topics/types/csv/csv_to_parquet_10k.php
  examples/topics/types/csv/php_to_csv.php
  examples/topics/types/csv/php_to_csv_and_json.php
  examples/topics/types/csv/php_to_csv_partition.php
  src/adapter/etl-adapter-avro/tests/Flow/ETL/Adapter/Avro/FlixTech/Tests/Integration/AvroTest.php
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Integration/CSVExtractorTest.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/DbalDataFrameFactory.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Integration/DbalLimitOffsetExtractorTest.php
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Integration/Codename/ParquetTest.php
  src/core/etl/README.md
  src/core/etl/src/Flow/ETL/DSL/Transform.php
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Row/Entry/JsonEntry.php
  src/core/etl/src/Flow/ETL/Row/Reference/EntryExpression.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/ArrayMerge.php
  src/core/etl/src/Flow/ETL/Transformer/ArrayDotGetTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/ArrayExpandTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/ArrayMergeTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/ArrayUnpackTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/MathOperationTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/MathValueOperationTransformer.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Transformer/ConditionalTransformerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/DataFrameTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/ArrayMergeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/ArrayDotGetTransformerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/ArrayExpandTransformerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/ArrayMergeTransformerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/ArrayUnpackTransformerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/ConditionalTransformerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/MathOperationTransformerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/MathValueOperationTransformerTest.php
Labels: size: XL, docs, core, adapter-ampavrohp, adapter-csv, adapter-doctrine, adapter-parquet, examples

#424 Remove support for not maintained Symfony & Doctrine dependencies
  composer.json
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/LiteralParameter.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/Parameter.php
  src/core/etl/composer.json
  src/lib/doctrine-dbal-bulk/composer.json
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/DbalPlatform.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Unit/DbalPlatformTest.php
Labels: size: S, core, lib-doctrine-dbal-bulk, adapter-doctrine

#425 Simplify setting limit in monitoring configuration
  src/core/etl/src/Flow/ETL/Monitoring/Memory/Configuration.php
Labels: size: XS, core

#427 Add more cache for static analyse on GH actions
  .github/workflows/test-suite.yml
  infection.json
  src/core/etl/src/Flow/ETL/Monitoring/Memory/Consumption.php
Labels: size: S, ci/cd, core

#429 Cover GoogleSheet & ChartJS adapters in CI
  composer.json
  docker-compose.yml.dist
  infection.json
  phpstan.neon
  phpunit.xml
  psalm.xml
  src/adapter/etl-adapter-chartjs/src/Flow/ETL/Adapter/ChartJS/Chart/BarChart.php
  src/adapter/etl-adapter-chartjs/src/Flow/ETL/Adapter/ChartJS/Chart/LineChart.php
  src/adapter/etl-adapter-chartjs/src/Flow/ETL/Adapter/ChartJS/ChartJSLoader.php
  src/adapter/etl-adapter-google-sheet/src/Flow/ETL/Adapter/GoogleSheet/GoogleSheetExtractor.php
  src/adapter/etl-adapter-google-sheet/src/Flow/ETL/DSL/GoogleSheet.php
Labels: size: XS, adapter-google-sheet, adapter-chartjs

#428 Moved ArrayCollectionGet, ArrayCollectionMerge, ArrayDotRename transformers to expressions
  src/core/etl/README.md
  src/core/etl/src/Flow/ETL/DSL/Transform.php
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Row/Reference/EntryExpression.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/ArrayGetCollection.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/ArrayKeyRename.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/ArrayMergeCollection.php
  src/core/etl/src/Flow/ETL/Transformer/ArrayCollectionGetTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/ArrayCollectionMergeTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/ArrayDotRenameTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/Rename/ArrayKeyRename.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/ArrayGetCollectionTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/ArrayKeyRenameTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/ArrayMergeCollectionTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/ArrayCollectionGetTransformerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/ArrayCollectionMergeTransformerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/ArrayDotRenameTransformerTest.php
Labels: size: XL, docs, core

#430 Window Functions
  README.md
  src/core/etl/README.md
  src/core/etl/src/Flow/ETL/DSL/From.php
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/ExternalSort/CacheExternalSort.php
  src/core/etl/src/Flow/ETL/Extractor/CollectingExtractor.php
  src/core/etl/src/Flow/ETL/Partition.php
  src/core/etl/src/Flow/ETL/PartitionedRows.php
  src/core/etl/src/Flow/ETL/Pipeline/CachingPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/WindowPartitioningPipeline.php
  src/core/etl/src/Flow/ETL/Transformer/WindowFunctionTransformer.php
  src/core/etl/src/Flow/ETL/Window.php
  src/core/etl/src/Flow/ETL/Window/Average.php
  src/core/etl/src/Flow/ETL/Window/Rank.php
  src/core/etl/src/Flow/ETL/Window/RowNumber.php
  src/core/etl/src/Flow/ETL/Window/Sum.php
  src/core/etl/src/Flow/ETL/Window/WindowFunction.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/FlowTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/DataFrameTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Window/AverageTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Window/RankTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Window/RowNumbeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Window/SumTest.php
Labels: size: L, docs, core

#431 Added withEntries method to DataFrame API
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/DataFrameTest.php
Labels: size: XS, core
