Repository flow-php/flow, pull requests merged in 2023-12, with the labels that each got.

#856 Fix wrong namespace of `HashIdFactoryTest` test
  src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Unit/EntryIdFactory/HashIdFactoryTest.php
Labels: size: XS, adapter-elasticsearch

#855 Fix typo in Snappy polyfill filename
  composer.json
  src/lib/snappy/composer.json
  src/lib/snappy/polyfill.php
Labels: size: XS, lib-snappy

#858 Fix spelling mistake in documentation
  docs/components/core/display.md
Labels: size: XS, docs

#859 Add documentation about installation using PHIVE
  docs/installation.md
  docs/installation/phive.md
  docs/introduction.md
Labels: size: S, docs

#860 Added ArrayExtractor
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Extractor/ArrayExtractor.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Extractor/ArrayExtractorTest.php
Labels: size: S, core

#862 Dremel & Parquet performance improvements
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/ParquetLoader.php
  src/lib/dremel/src/Flow/Dremel/Dremel.php
Labels: size: XS, adapter-parquet, lib-dremel

#861 Add documentation about installation using Homebrew
  .github/labeler.yml
  .github/workflows/build-release.yml
  .github/workflows/monorepo-split.yml
  docs/installation.md
  docs/installation/homebrew.md
  src/tools/homebrew/.github/workflows/readonly.yaml
  src/tools/homebrew/CONTRIBUTING.md
  src/tools/homebrew/Formula/flow-php.rb
  src/tools/homebrew/LICENSE
  src/tools/homebrew/README.md
Labels: size: S, ci/cd, docs

#867 Update Homebrew TAP formula: flow-php to version: 0.5.2
  src/tools/homebrew/Formula/flow-php.rb
Labels: size: XS, tools-homebrew

#868 Adjust Homebrew commit message to match Flow CS
  .github/workflows/build-release.yml
Labels: size: XS, ci/cd

#869 RDSL lib init commit
  .github/workflows/monorepo-split.yml
  .github/workflows/test-benchmark.yml
  .github/workflows/test-mutations.yml
  .github/workflows/test-suite.yml
  composer.json
  composer.lock
  docs/components/libs/rdsl.md
  docs/quick-start.md
  phpstan.neon
  psalm.xml
  src/core/etl/src/Flow/ETL/Function/XPath.php
  src/lib/rdsl/.gitattributes
  src/lib/rdsl/CONTRIBUTING.md
  src/lib/rdsl/LICENSE
  src/lib/rdsl/README.md
  src/lib/rdsl/composer.json
  src/lib/rdsl/src/Flow/RDSL/AccessControl.php
  src/lib/rdsl/src/Flow/RDSL/AccessControl/AllowAll.php
  src/lib/rdsl/src/Flow/RDSL/AccessControl/AllowList.php
  src/lib/rdsl/src/Flow/RDSL/AccessControl/DenyAll.php
  src/lib/rdsl/src/Flow/RDSL/AccessControl/DenyList.php
  src/lib/rdsl/src/Flow/RDSL/Arguments.php
  src/lib/rdsl/src/Flow/RDSL/Builder.php
  src/lib/rdsl/src/Flow/RDSL/DSLFunction.php
  src/lib/rdsl/src/Flow/RDSL/DSLNamespace.php
  src/lib/rdsl/src/Flow/RDSL/Exception/InvalidArgumentException.php
  src/lib/rdsl/src/Flow/RDSL/Executable.php
  src/lib/rdsl/src/Flow/RDSL/Executables.php
  src/lib/rdsl/src/Flow/RDSL/Executor.php
  src/lib/rdsl/src/Flow/RDSL/Finder.php
  src/lib/rdsl/src/Flow/RDSL/Method.php
  src/lib/rdsl/tests/Flow/RDSL/Tests/Fixtures/IntObject.php
  src/lib/rdsl/tests/Flow/RDSL/Tests/Fixtures/Literal.php
  src/lib/rdsl/tests/Flow/RDSL/Tests/Fixtures/functions.php
  src/lib/rdsl/tests/Flow/RDSL/Tests/Fixtures/pipeline.json
  src/lib/rdsl/tests/Flow/RDSL/Tests/Integration/ExecutorTest.php
  src/lib/rdsl/tests/Flow/RDSL/Tests/Unit/BuilderTest.php
  src/lib/rdsl/tests/Flow/RDSL/Tests/Unit/DSLFinderTest.php
  src/lib/rdsl/tests/Flow/RDSL/Tests/Unit/NamespaceTest.php
  tools/box/composer.lock
  tools/cs-fixer/composer.lock
  tools/infection/composer.lock
  tools/phpbench/composer.lock
  tools/phpunit/composer.lock
  tools/psalm/composer.lock
Labels: size: L, ci/cd, docs, core

#870 Reduced number of files in phar
  box.json
Labels: size: XS

#871 Building pipelines from JSON
  bin/flow.php
  box.json
  examples/topics/dataframe/from_json.php
  examples/topics/dataframe/json/pipeline.json
  src/adapter/etl-adapter-json/tests/Flow/ETL/Adapter/JSON/Tests/Integration/JsonLoaderTest.php
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/Exception/InvalidFileFormatException.php
  src/core/etl/src/Flow/ETL/PipelineFactory.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/DataFrameJsonTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Extractor/ArrayExtractorTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PipelineFactoryTest.php
  src/lib/rdsl/src/Flow/RDSL/Builder.php
Labels: size: M, core, adapter-json, examples

#873 Allow to exclude DSL methods/functions through attributes
  .github/labeler.yml
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/DataFrameJsonTest.php
  src/lib/rdsl/src/Flow/RDSL/Attribute/DSL.php
  src/lib/rdsl/src/Flow/RDSL/Attribute/DSLMethod.php
  src/lib/rdsl/src/Flow/RDSL/Finder.php
  src/lib/rdsl/tests/Flow/RDSL/Tests/Fixtures/IntObject.php
  src/lib/rdsl/tests/Flow/RDSL/Tests/Fixtures/functions.php
  src/lib/rdsl/tests/Flow/RDSL/Tests/Unit/DSLFinderTest.php
Labels: size: S, ci/cd, core

#877 Display partitions
  UPGRADE.md
  src/adapter/etl-adapter-avro/tests/Flow/ETL/Adapter/Avro/Tests/Integration/AvroTest.php
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/CSVLoader.php
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Integration/CSVExtractorTest.php
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Integration/CSVLoaderTest.php
  src/adapter/etl-adapter-json/src/Flow/ETL/Adapter/JSON/JsonLoader.php
  src/adapter/etl-adapter-json/tests/Flow/ETL/Adapter/JSON/Tests/Integration/JsonLoaderTest.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/ParquetLoader.php
  src/adapter/etl-adapter-text/src/Flow/ETL/Adapter/Text/TextLoader.php
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/Formatter/ASCII/ASCIIBody.php
  src/core/etl/src/Flow/ETL/Formatter/ASCII/Body.php
  src/core/etl/src/Flow/ETL/Partitions.php
  src/core/etl/src/Flow/ETL/Pipeline/CollectingPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/PartitioningPipeline.php
  src/core/etl/src/Flow/ETL/Rows.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/DisplayTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/LimitTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/PartitioningTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Filesystem/FilesystemStreamsTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Formatter/ASCII/ASCIIBodyTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Loader/StreamLoaderTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/RowTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/RowsTest.php
Labels: size: XL, docs, core, adapter-ampavrohp, adapter-csv, adapter-json, adapter-parquet, adapter-text

#880 Added possibility to convert rows into array without keys
  .github/workflows/test-suite.yml
  composer.json
  composer.lock
  src/adapter/etl-adapter-avro/composer.json
  src/adapter/etl-adapter-chartjs/composer.json
  src/adapter/etl-adapter-csv/composer.json
  src/adapter/etl-adapter-doctrine/composer.json
  src/adapter/etl-adapter-elasticsearch/composer.json
  src/adapter/etl-adapter-filesystem/composer.json
  src/adapter/etl-adapter-google-sheet/composer.json
  src/adapter/etl-adapter-http/composer.json
  src/adapter/etl-adapter-json/composer.json
  src/adapter/etl-adapter-logger/composer.json
  src/adapter/etl-adapter-meilisearch/composer.json
  src/adapter/etl-adapter-parquet/composer.json
  src/adapter/etl-adapter-text/composer.json
  src/adapter/etl-adapter-xml/composer.json
  src/core/etl/composer.json
  src/core/etl/src/Flow/ETL/Row.php
  src/core/etl/src/Flow/ETL/Row/Entries.php
  src/core/etl/src/Flow/ETL/Rows.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/EntriesTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/RowsTest.php
  src/lib/array-dot/composer.json
  src/lib/doctrine-dbal-bulk/composer.json
  src/lib/dremel/composer.json
  src/lib/parquet-viewer/composer.json
  src/lib/parquet/composer.json
  src/lib/rdsl/composer.json
  src/lib/snappy/composer.json
  tools/blackfire/composer.lock
  tools/box/composer.lock
  tools/cs-fixer/composer.lock
  tools/infection/composer.lock
  tools/phpbench/composer.lock
  tools/phpunit/composer.lock
Labels: size: S, ci/cd, core, lib-array-dot, lib-doctrine-dbal-bulk, adapter-ampavrohp, adapter-csv, adapter-doctrine, adapter-elasticsearch, adapter-http, adapter-json, adapter-logger, adapter-parquet, adapter-text, adapter-xml, adapter-google-sheet, adapter-chartjs, lib-parquet, lib-dremel, adapter-meilisearch, lib-snappy, adapter-filesystem, lib-rdsl

#882 Added LocalFileListExtractor
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Extractor/LocalFileListExtractor.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Extractor/Fixtures/FileListExtractor/file_01.txt
  src/core/etl/tests/Flow/ETL/Tests/Unit/Extractor/Fixtures/FileListExtractor/file_02.json
  src/core/etl/tests/Flow/ETL/Tests/Unit/Extractor/Fixtures/FileListExtractor/file_03.md
  src/core/etl/tests/Flow/ETL/Tests/Unit/Extractor/Fixtures/FileListExtractor/nested/file_04.txt
  src/core/etl/tests/Flow/ETL/Tests/Unit/Extractor/Fixtures/FileListExtractor/nested/file_05.json
  src/core/etl/tests/Flow/ETL/Tests/Unit/Extractor/Fixtures/FileListExtractor/nested/file_06.md
  src/core/etl/tests/Flow/ETL/Tests/Unit/Extractor/LocalFileListExtractorTest.php
Labels: size: S, docs, core

#883 Added RemoteFileListExtractor
  composer.json
  examples/topics/fs/local/list_local_directory.php
  examples/topics/fs/remote/json_remote_stream.php
  examples/topics/fs/remote/json_remote_stream_glob.php
  examples/topics/fs/remote/list_remote_directory.php
  src/adapter/etl-adapter-filesystem/composer.json
  src/adapter/etl-adapter-filesystem/src/Flow/ETL/Adapter/Filesystem/FlysystemFS.php
  src/adapter/etl-adapter-filesystem/src/Flow/ETL/Adapter/Filesystem/FlysystemFactory.php
  src/adapter/etl-adapter-filesystem/src/Flow/ETL/Adapter/Filesystem/RemoteFileListExtractor.php
  src/adapter/etl-adapter-filesystem/src/Flow/ETL/Adapter/Filesystem/functions.php
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Extractor/LocalFileListExtractor.php
  src/core/etl/src/Flow/ETL/Filesystem/Path.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Extractor/LocalFileListExtractorTest.php
Labels: size: M, core, examples, adapter-filesystem

#884 Fixed printing null type entries in schema formatter
  src/core/etl/src/Flow/ETL/Row/Schema/Formatter/ASCIISchemaFormatter.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Schema/Formatter/ASCIISchemaFormatterTest.php
Labels: size: XS, core

#888 Updated dependencies
  composer.lock
  src/core/etl/src/Flow/ETL/Function/ArrayKeysStyleConvert.php
  src/core/etl/src/Flow/ETL/Function/ToMoney.php
  src/lib/parquet/src/Flow/Parquet/Thrift/BloomFilterAlgorithm.php
  src/lib/parquet/src/Flow/Parquet/Thrift/BloomFilterCompression.php
  src/lib/parquet/src/Flow/Parquet/Thrift/BloomFilterHash.php
  src/lib/parquet/src/Flow/Parquet/Thrift/BloomFilterHeader.php
  src/lib/parquet/src/Flow/Parquet/Thrift/ColumnChunk.php
  src/lib/parquet/src/Flow/Parquet/Thrift/ColumnCryptoMetaData.php
  src/lib/parquet/src/Flow/Parquet/Thrift/ColumnMetaData.php
  src/lib/parquet/src/Flow/Parquet/Thrift/ColumnOrder.php
  src/lib/parquet/src/Flow/Parquet/Thrift/DataPageHeader.php
  src/lib/parquet/src/Flow/Parquet/Thrift/DataPageHeaderV2.php
  src/lib/parquet/src/Flow/Parquet/Thrift/EncryptionAlgorithm.php
  src/lib/parquet/src/Flow/Parquet/Thrift/FileCryptoMetaData.php
  src/lib/parquet/src/Flow/Parquet/Thrift/FileMetaData.php
  src/lib/parquet/src/Flow/Parquet/Thrift/LogicalType.php
  src/lib/parquet/src/Flow/Parquet/Thrift/OffsetIndex.php
  src/lib/parquet/src/Flow/Parquet/Thrift/PageHeader.php
  src/lib/parquet/src/Flow/Parquet/Thrift/RowGroup.php
  src/lib/parquet/src/Flow/Parquet/Thrift/SchemaElement.php
  src/lib/parquet/src/Flow/Parquet/Thrift/TimeType.php
  src/lib/parquet/src/Flow/Parquet/Thrift/TimeUnit.php
  src/lib/parquet/src/Flow/Parquet/Thrift/TimestampType.php
  tools/box/composer.lock
  tools/cs-fixer/composer.lock
  tools/infection/composer.lock
  tools/phpbench/composer.lock
  tools/phpunit/composer.lock
Labels: size: S, core, lib-parquet

#889 Added between scalar function
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Function/Between.php
  src/core/etl/src/Flow/ETL/Function/Between/Boundary.php
  src/core/etl/src/Flow/ETL/Function/ScalarFunctionChain.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/BetweenTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/BetweenTest.php
Labels: size: S, core

#890 Structure Select function
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Function/StructureFunctions.php
  src/core/etl/src/Flow/ETL/Function/StructureSelect.php
  src/core/etl/src/Flow/ETL/Row/EntryReference.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/Structure/StructureSelectTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/StructureKeepTest.php
Labels: size: M, core

#892 Fix Typos
  docs/components/core/select-drop.md
Labels: size: XS, docs

#893 List select function
  src/core/etl/src/Flow/ETL/CLI/CLI.php
  src/core/etl/src/Flow/ETL/CLI/Input.php
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Function/ListFunctions.php
  src/core/etl/src/Flow/ETL/Function/ListSelect.php
  src/core/etl/src/Flow/ETL/Row/EntryReference.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/ListSelectTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/Structure/StructureSelectTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/CLI/InputTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/ListSelectTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/StructureSelectTest.php
Labels: size: M, core

#891 Adjust serializer interface
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Integration/CSVLoaderTest.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Integration/DbalLoaderTest.php
  src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Integration/ElasticsearchPHP/ElasticsearchLoaderTest.php
  src/adapter/etl-adapter-logger/tests/Flow/ETL/Adapter/Logger/Tests/Unit/PsrLoggerLoaderTest.php
  src/adapter/etl-adapter-meilisearch/tests/Flow/ETL/Adapter/Meilisearch/Tests/Integration/MeilisearchPHP/MeilisearchLoaderTest.php
  src/adapter/etl-adapter-text/tests/Flow/ETL/Adapter/Text/Tests/Integration/TextLoaderTest.php
  src/core/etl/src/Flow/ETL/Cache/LocalFilesystemCache.php
  src/core/etl/src/Flow/ETL/Cache/PSRSimpleCache.php
  src/core/etl/src/Flow/ETL/Config.php
  src/core/etl/src/Flow/ETL/ConfigBuilder.php
  src/core/etl/src/Flow/ETL/FlowContext.php
  src/core/etl/src/Flow/Serializer/CompressingSerializer.php
  src/core/etl/src/Flow/Serializer/NativePHPSerializer.php
  src/core/etl/src/Flow/Serializer/Serializer.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Cache/LocalFilesystemCacheTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Loader/CallbackLoaderTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Loader/TransformerLoaderTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Entry/JsonEntryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/CallbackRowTransformerTest.php
  src/core/etl/tests/Flow/Serializer/Tests/Unit/CompressingSerializerTest.php
  src/core/etl/tests/Flow/Serializer/Tests/Unit/NativePHPSerializerTest.php
Labels: size: M, core, adapter-csv, adapter-doctrine, adapter-elasticsearch, adapter-logger, adapter-text, adapter-meilisearch

#895 Simplified partitioning datasets by DateTimeEntry
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Partition.php
  src/core/etl/src/Flow/ETL/Partition/CartesianProduct.php
  src/core/etl/src/Flow/ETL/Rows.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Partition/CartesianProductTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PartitionTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/RowsTest.php
Labels: size: S, core

#896 Fixed serialization issues related to various problems
  src/core/etl/src/Flow/ETL/Row/Entry/JsonEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/StringEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/XMLEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/XMLNodeEntry.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Entry/JsonEntryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Entry/StringEntryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Entry/XMLEntryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Entry/XMLNodeEntryTest.php
  src/lib/parquet-viewer/tests/Flow/ParquetViewer/Tests/Integration/ReadMetadataTest.php
Labels: size: S, core
