Repository flow-php/flow, pull requests merged in 2023-02, with the labels that each got.

#319 Fixed typos in Github PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: size: XS, ci/cd

#318 Fixed dependency for `amphp/socket` & `amphp/process`
  composer.json
  composer.lock
  src/adapter/etl-adapter-amphp/composer.json
  src/adapter/etl-adapter-amphp/src/Flow/ETL/Async/Amp/Server/SocketServer.php
  src/adapter/etl-adapter-http/tests/Flow/ETL/Tests/Functional/PsrHttpClientStaticExtractorTest.php
  src/adapter/etl-adapter-http/tests/Flow/ETL/Tests/json/norberttech.json
  src/adapter/etl-adapter-http/tests/Flow/ETL/Tests/json/tomaszhanc.json
Labels: size: XS, adapter-amphp, adapter-http

#317 Update PHPUnit to `^9.6` & fix deprecated code usage
  src/core/etl/tests/Flow/ETL/Tests/Unit/Loader/SchemaValidationLoaderTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/EntriesTest.php
  tools/phpunit/composer.json
  tools/phpunit/composer.lock
Labels: size: XS, core

#320 Sort entries when using select
  src/adapter/etl-adapter-http/tests/Flow/ETL/Tests/Functional/PsrHttpClientDynamicExtractorTest.php
  src/adapter/etl-adapter-http/tests/Flow/ETL/Tests/json/flow-php.json
  src/core/etl/src/Flow/ETL/Row/Entries.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/DataFrameTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/EntriesTest.php
Labels: size: S, core, adapter-http

#331 Update PHPStan to `^1.10` & cleanup reported code issues
  src/core/etl/src/Flow/ETL/Row/Factory/NativeEntryFactory.php
  src/core/etl/src/Flow/ETL/Transformer/MathOperationTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/MathValueOperationTransformer.php
  tools/phpstan/composer.json
  tools/phpstan/composer.lock
Labels: size: XS, core

#333 Make internal serializer more error reliable
  src/core/etl/src/Flow/Serializer/CompressingSerializer.php
  src/core/etl/src/Flow/Serializer/NativePHPSerializer.php
  src/core/etl/src/Flow/Serializer/Serializer.php
Labels: size: XS, core
