Repository flow-php/flow, pull requests merged in 2023-03, with the labels that each got.

#342 Remove support for not maintained Doctrine DBAL versions
  composer.json
  composer.lock
  src/lib/doctrine-dbal-bulk/composer.json
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/DbalPlatform.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Integration/MySqlBulkInsertTest.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Integration/PostgreSqlBulkInsertTest.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Unit/DbalPlatformTest.php
Labels: size: S, lib-doctrine-dbal-bulk

#353 Added cross join
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Integration/CSVLoaderTest.php
  src/adapter/etl-adapter-json/tests/Flow/ETL/Tests/Integration/Adapter/JSON/JsonLoaderTest.php
  src/core/etl/README.md
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/Rows.php
  src/core/etl/src/Flow/ETL/Transformer/CrossJoinRowsTransformer.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Filesystem/FilesystemStreamsTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/DataFrameTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/RowsJoinTest.php
Labels: size: M, docs, core, adapter-csv, adapter-json

#354 Added sequence extractor with date period and number sequence generators
  src/core/etl/README.md
  src/core/etl/src/Flow/ETL/DSL/From.php
  src/core/etl/src/Flow/ETL/Extractor/SequenceExtractor.php
  src/core/etl/src/Flow/ETL/Extractor/SequenceGenerator/DatePeriodSequenceGenerator.php
  src/core/etl/src/Flow/ETL/Extractor/SequenceGenerator/NumberSequenceGenerator.php
  src/core/etl/src/Flow/ETL/Extractor/SequenceGenerator/SequenceGenerator.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Extractor/SequenceExtractorTest.php
Labels: size: S, docs, core

#359 Moved sortBy into entry ref
  examples/topics/types/csv/csv_read_partitioned.php
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Integration/CSVExtractorTest.php
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Integration/Codename/ParquetTest.php
  src/core/etl/README.md
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/ExternalSort.php
  src/core/etl/src/Flow/ETL/ExternalSort/CacheExternalSort.php
  src/core/etl/src/Flow/ETL/ExternalSort/CachedParts.php
  src/core/etl/src/Flow/ETL/ExternalSort/MemorySort.php
  src/core/etl/src/Flow/ETL/ExternalSort/RowsMinHeap.php
  src/core/etl/src/Flow/ETL/Row/EntryReference.php
  src/core/etl/src/Flow/ETL/Row/References.php
  src/core/etl/src/Flow/ETL/Row/Sort.php
  src/core/etl/src/Flow/ETL/Row/SortOrder.php
  src/core/etl/src/Flow/ETL/Rows.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/FlowTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/RowsTest.php
Labels: size: S, docs, core, adapter-csv, adapter-parquet, examples

#362 EntryReference expressions
  examples/topics/transformations/filter.php
  examples/topics/transformations/literals.php
  examples/topics/transformations/math.php
  src/adapter/etl-adapter-avro/src/Flow/ETL/Adapter/Avro/FlixTech/AvroLoader.php
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/CSVLoader.php
  src/adapter/etl-adapter-json/src/Flow/ETL/Adapter/JSON/JsonLoader.php
  src/adapter/etl-adapter-text/src/Flow/ETL/Adapter/Text/TextLoader.php
  src/core/etl/README.md
  src/core/etl/src/Flow/ETL/Async/Socket/Communication/Message.php
  src/core/etl/src/Flow/ETL/Async/Socket/Worker/ClientProtocol.php
  src/core/etl/src/Flow/ETL/DSL/Entry.php
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/FlowContext.php
  src/core/etl/src/Flow/ETL/GroupBy.php
  src/core/etl/src/Flow/ETL/Row.php
  src/core/etl/src/Flow/ETL/Row/Entries.php
  src/core/etl/src/Flow/ETL/Row/EntryReference.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Contains.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Divide.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/EndsWith.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Equals.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Expressions.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/GreaterThan.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/GreaterThanEqual.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/IsIn.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/IsNotNull.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/IsNull.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/IsType.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/LessThan.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/LessThanEqual.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Literal.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Minus.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Mod.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Multiply.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/NotEquals.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/NotSame.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Plus.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Power.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Same.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/StartsWith.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Value.php
  src/core/etl/src/Flow/ETL/Row/Reference/ValueExtractor.php
  src/core/etl/src/Flow/ETL/Row/References.php
  src/core/etl/src/Flow/ETL/Rows.php
  src/core/etl/src/Flow/ETL/Transformer/EntryExpressionEvalTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/EntryExpressionFilterTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/KeepEntriesTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/RemoveEntriesTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/StringConcatTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/StringEntryValueCaseConverterTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/StringFormatTransformer.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/EntryReferenceTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/BinaryComparisionsTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/MathTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/ValueExtractorTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/EntryExpressionEvalTransformerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/EntryExpressionFilterTransformerTest.php
Labels: size: XL, docs, core, adapter-ampavrohp, adapter-csv, adapter-json, adapter-text, examples

#363 Added Dbal DataFrameFactory to simplify using left_anti join for finding not updated records in database
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/DbalDataFrameFactory.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/Parameter.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/DSL/Dbal.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Integration/DbalDataFrameFactoryTest.php
Labels: size: M, adapter-doctrine

#364 when expression
  examples/topics/transformations/when.php
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/Row/EntryReference.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Contains.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Divide.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/EndsWith.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Equals.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/GreaterThan.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/GreaterThanEqual.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/IsIn.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/IsNotNull.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/IsNull.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/IsType.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/LessThan.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/LessThanEqual.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Minus.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Mod.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Multiply.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/NotEquals.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/NotSame.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Plus.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Power.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Same.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/StartsWith.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Value.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/When.php
  src/core/etl/src/Flow/ETL/Row/Reference/ValueExtractor.php
  src/core/etl/src/Flow/ETL/Transformer/EntryExpressionEvalTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/EntryExpressionFilterTransformer.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/WhenTest.php
Labels: size: M, core, examples

#368 Fixed issue with accessing empty arrays using array_get with nullsafe operator
  src/lib/array-dot/src/Flow/ArrayDot/array_dot.php
  src/lib/array-dot/tests/Flow/ArrayDot/Tests/Unit/ArrayDotGetTest.php
Labels: size: XS, lib-array-dot

#369 Reduce number of References initializations that affects processing performance
  src/core/etl/src/Flow/ETL/Join/Comparison/Equal.php
  src/core/etl/src/Flow/ETL/Join/Comparison/GreaterThan.php
  src/core/etl/src/Flow/ETL/Join/Comparison/GreaterThanEqual.php
  src/core/etl/src/Flow/ETL/Join/Comparison/Identical.php
  src/core/etl/src/Flow/ETL/Join/Comparison/LessThan.php
  src/core/etl/src/Flow/ETL/Join/Comparison/LessThanEqual.php
  src/core/etl/src/Flow/ETL/Row/Entries.php
  src/core/etl/src/Flow/ETL/Row/Schema.php
  src/core/etl/src/Flow/ETL/Rows.php
  src/core/etl/src/Flow/ETL/Transformer/ArrayUnpackTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/ObjectMethodTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/ObjectToArrayTransformer.php
Labels: size: M, core

#370 Memorize entry reference to speedup Rows comparision
  src/core/etl/src/Flow/ETL/Row/Entry/ArrayEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/BooleanEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/CollectionEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/DateTimeEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/EntryRef.php
  src/core/etl/src/Flow/ETL/Row/Entry/EnumEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/FloatEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/IntegerEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/JsonEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/ListEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/NullEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/ObjectEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/StringEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/StructureEntry.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/RowsTest.php
Labels: size: S, core

#371 Added possibility to pass literal parameter to DbalDataFrameFactory
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/DbalDataFrameFactory.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/LiteralParameter.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/Parameter.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/QueryParameter.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Integration/DbalDataFrameFactoryTest.php
Labels: size: S, adapter-doctrine
