Repository flow-php/flow, pull requests merged in 2023-06, with the labels that each got.

#434 Add new adapter for Meilisearch
  .github/workflows/test-suite.yml
  README.md
  composer.json
  composer.lock
  docker-compose.yml.dist
  phpstan.neon
  phpunit.xml
  src/adapter/etl-adapter-meilisearch/.gitattributes
  src/adapter/etl-adapter-meilisearch/.github/workflows/readonly.yaml
  src/adapter/etl-adapter-meilisearch/.gitignore
  src/adapter/etl-adapter-meilisearch/LICENSE
  src/adapter/etl-adapter-meilisearch/README.md
  src/adapter/etl-adapter-meilisearch/composer.json
  src/adapter/etl-adapter-meilisearch/src/Flow/ETL/Adapter/Meilisearch/MeilisearchPHP/HitsIntoRowsTransformer.php
  src/adapter/etl-adapter-meilisearch/src/Flow/ETL/Adapter/Meilisearch/MeilisearchPHP/MeilisearchExtractor.php
  src/adapter/etl-adapter-meilisearch/src/Flow/ETL/Adapter/Meilisearch/MeilisearchPHP/MeilisearchLoader.php
  src/adapter/etl-adapter-meilisearch/src/Flow/ETL/Adapter/Meilisearch/MeilisearchPHP/SearchParams.php
  src/adapter/etl-adapter-meilisearch/src/Flow/ETL/Adapter/Meilisearch/MeilisearchPHP/SearchResults.php
  src/adapter/etl-adapter-meilisearch/src/Flow/ETL/DSL/Meilisearch.php
  src/adapter/etl-adapter-meilisearch/tests/Flow/ETL/Adapter/Meilisearch/Tests/Context/MeilisearchContext.php
  src/adapter/etl-adapter-meilisearch/tests/Flow/ETL/Adapter/Meilisearch/Tests/Integration/MeilisearchPHP/IntegrationTest.php
  src/adapter/etl-adapter-meilisearch/tests/Flow/ETL/Adapter/Meilisearch/Tests/Integration/MeilisearchPHP/MeilisearchExtractorTest.php
  src/adapter/etl-adapter-meilisearch/tests/Flow/ETL/Adapter/Meilisearch/Tests/Integration/MeilisearchPHP/MeilisearchLoaderTest.php
Labels: size: XL, ci/cd, docs

#437 Removed assertion library references from google sheet adapter
  src/adapter/etl-adapter-google-sheet/src/Flow/ETL/Adapter/GoogleSheet/GoogleSheetExtractor.php
  src/adapter/etl-adapter-google-sheet/src/Flow/ETL/Adapter/GoogleSheet/SheetRange.php
Labels: size: XS, adapter-google-sheet

#438 Mark methods on DataFrame api as @lazy or @trigger
  src/core/etl/README.md
  src/core/etl/src/Flow/ETL/DataFrame.php
Labels: size: S, docs, core

#440 Add MariaDB to supported platforms for Doctrine adapter
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/DbalPlatform.php
Labels: size: XS, lib-doctrine-dbal-bulk

#445 Remove Monolog v2 from allowed dependencies
  composer.json
  composer.lock
  src/adapter/etl-adapter-logger/README.md
  src/adapter/etl-adapter-logger/composer.json
Labels: size: XS, docs, adapter-logger

#448 Fix coding standards for PHP-CS-fixer ^3.18
  src/adapter/etl-adapter-avro/src/Flow/ETL/Adapter/Avro/FlixTech/AvroResource.php
  src/adapter/etl-adapter-csv/src/Flow/ETL/DSL/CSV.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/DSL/Parquet.php
  src/core/etl/src/Flow/ETL/Row/Schema/SelectiveValidator.php
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/QueryFactory/DbalQueryFactory.php
Labels: size: XS, core, lib-doctrine-dbal-bulk, adapter-ampavrohp, adapter-csv, adapter-parquet

#447 Fixed wrong namespace in expression unit tests
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/HashTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/UuidTest.php
Labels: size: XS, core

#446 Drop non-stable version of `halaxa/json-machine`
  composer.json
  composer.lock
Labels: size: XS
