Repository flow-php/flow, pull requests merged in 2023-10, with the labels that each got.

#472 Allow to use Symfony UID for UUID generation
  src/core/etl/src/Flow/ETL/DSL/Entry.php
  src/core/etl/src/Flow/ETL/Row/Entry/Type/Uuid.php
  src/core/etl/src/Flow/ETL/Row/Entry/UuidEntry.php
  src/core/etl/src/Flow/ETL/Row/Factory/NativeEntryFactory.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Uuid.php
  src/core/etl/src/Flow/ETL/Row/Schema/Definition.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Entry/UuidEntryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Factory/NativeEntryFactoryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/UuidTest.php
Labels: size: M, core

#489 Remove deprecated `Sort` class
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/Row/Sort.php
Labels: size: S, core

#492 Add Google services cleanup tasks to composer
  composer.json
  composer.lock
  src/adapter/etl-adapter-google-sheet/composer.json
Labels: size: XS, adapter-google-sheet

#488 Allow to pass options when using `GoogleSheetExtractor`
  src/adapter/etl-adapter-google-sheet/src/Flow/ETL/Adapter/GoogleSheet/GoogleSheetExtractor.php
Labels: size: XS, adapter-google-sheet

#477 New PHAR build
  .github/workflows/build-phar.yml
  .gitignore
  README.md
  box.json
  build/runtime.php
  build/version.php
  composer.json
  composer.lock
  src/core/etl/src/Flow/ETL/PipelineFactory.php
  src/core/etl/tests/Flow/ETL/Tests/Fixtures/empty.php
  src/core/etl/tests/Flow/ETL/Tests/Fixtures/empty.txt
  src/core/etl/tests/Flow/ETL/Tests/Fixtures/with-dataframe.php
  src/core/etl/tests/Flow/ETL/Tests/Fixtures/without-dataframe.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PipelineFactoryTest.php
  tools/box/.gitignore
  tools/box/composer.json
  tools/box/composer.lock
Labels: size: M, ci/cd, docs, core

#494 Use more accurate version for PHAR
  box.json
  build/version.php
Labels: size: XS

#496 Allow to run `runtime.php` outside of phar
  build/runtime.php
Labels: size: XS

#495 Use git tag for version name in PHAR
  .github/workflows/build-phar.yml
  .github/workflows/build-release.yml
  .php-cs-fixer.php
  build/runtime.php
  build/version.php
Labels: size: XS, ci/cd

#497 Rework most of the examples to be runnable via PHAR
  examples/bootstrap.php
  examples/output/.gitkeep
  examples/output/.gitkep
  examples/topics/aggregations/power_plant.php
  examples/topics/aggregations/power_plant_bar_chart.php
  examples/topics/async/bootstrap.php
  examples/topics/async/csv_to_db_async_amp.php
  examples/topics/async/csv_to_db_async_react.php
  examples/topics/async/csv_to_db_sync.php
  examples/topics/async/csv_to_json_async_react.php
  examples/topics/async/csv_to_text_async_react.php
  examples/topics/fs/remote/json_remote_stream.php
  examples/topics/fs/remote/json_remote_stream_glob.php
  examples/topics/join/left_anti/left_anti_join.php
  examples/topics/join/left_anti/left_anti_join_each.php
  examples/topics/transformations/aggregate.php
  examples/topics/transformations/array_expand.php
  examples/topics/transformations/array_unpack.php
  examples/topics/transformations/filter_divide.php
  examples/topics/transformations/filter_mod.php
  examples/topics/transformations/literals.php
  examples/topics/transformations/math.php
  examples/topics/transformations/size.php
  examples/topics/transformations/sort.php
  examples/topics/transformations/when_null.php
  examples/topics/transformations/when_odd.php
  examples/topics/types/csv/csv_read_partitioned.php
  examples/topics/types/csv/csv_to_json.php
  examples/topics/types/xml/reading.php
  examples/topics/types/xml/salaries.php
Labels: size: S, examples

#500 Prevent fatal error when passing empty string to `\DOMDocument`
  src/core/etl/src/Flow/ETL/Row/Factory/NativeEntryFactory.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Factory/NativeEntryFactoryTest.php
Labels: size: XS, core

#499 Prevent calling runtime outside of CLI
  build/runtime.php
Labels: size: XS

#498 Add simple HTTP example
  examples/topics/http/psr_http_dynamic.php
  examples/topics/transformations/array_unpack.php
Labels: size: XS, examples

#502 Add dev files to PHAR to allow usage of adapters
  .github/workflows/build-phar.yml
  .github/workflows/build-release.yml
  box.json
Labels: size: XS, ci/cd

#509 Remove `HashTransformer`, `StringConcatTransformer` & `StringFormatTransformer`
  examples/topics/async/csv_to_db_async_amp.php
  examples/topics/async/csv_to_db_async_react.php
  examples/topics/async/csv_to_db_sync.php
  examples/topics/async/csv_to_json_async_react.php
  examples/topics/db/db_to_db_sync.php
  examples/topics/fs/remote/json_remote_stream_glob.php
  src/adapter/etl-adapter-amphp/README.md
  src/adapter/etl-adapter-reactphp/README.md
  src/core/etl/README.md
  src/core/etl/src/Flow/ETL/DSL/Transform.php
  src/core/etl/src/Flow/ETL/Transformer/HashTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/Math/Operation.php
  src/core/etl/src/Flow/ETL/Transformer/StringConcatTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/StringFormatTransformer.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Async/Socket/Worker/ProcessorTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/HashTransformerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/StringConcatTransformerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/StringFormatTransformerTest.php
Labels: size: L, docs, core, adapter-amphp, adapter-reactphp, examples

#514 Remove ObjectMethodTransformer & `StringEntryValueCaseConverterTransformer`
  examples/issue/issue248.php
  src/adapter/etl-adapter-amphp/tests/Flow/ETL/Async/Tests/Integration/Server/SocketServerClientTest.php
  src/adapter/etl-adapter-reactphp/tests/Flow/ETL/Async/Tests/Integration/ReactPHP/Server/SocketServerClientTest.php
  src/core/etl/README.md
  src/core/etl/src/Flow/ETL/DSL/Transform.php
  src/core/etl/src/Flow/ETL/Row/Reference/EntryExpression.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/StrPad.php
  src/core/etl/src/Flow/ETL/Transformer/ObjectMethodTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/StringEntryValueCaseConverterTransformer.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/DataFrameTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Pipeline/NestedPipelineTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Pipeline/PipesTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/StrPadTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/CallUserFunctionTransformerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/ObjectMethodTransformerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/StaticEntryTransformerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/StringEntryValueCaseConverterTransformerTest.php
Labels: size: L, docs, core, adapter-amphp, adapter-reactphp, examples

#515 Fixed `Cast` expression to handle `null` as first
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Cast.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/CastTest.php
Labels: size: XS, core

#517 Remove SF Validator based filters & conditions
  composer.json
  composer.lock
  src/core/etl/docs/complex_transformers.md
  src/core/etl/src/Flow/ETL/DSL/Condition.php
  src/core/etl/src/Flow/ETL/DSL/Transform.php
  src/core/etl/src/Flow/ETL/Transformer/Condition/ValidValue.php
  src/core/etl/src/Flow/ETL/Transformer/Condition/ValidValue/SymfonyValidator.php
  src/core/etl/src/Flow/ETL/Transformer/Condition/ValidValue/Validator.php
  src/core/etl/src/Flow/ETL/Transformer/Filter/Filter/ValidValue.php
  src/core/etl/src/Flow/ETL/Transformer/Filter/Filter/ValidValue/SymfonyValidator.php
  src/core/etl/src/Flow/ETL/Transformer/Filter/Filter/ValidValue/Validator.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Transformer/FilterRowsTransformerTest.php
Labels: size: M, docs, core

#516 Remove covered filters from `FilterRowsTransformer`
  src/core/etl/README.md
  src/core/etl/docs/complex_transformers.md
  src/core/etl/src/Flow/ETL/DSL/Transform.php
  src/core/etl/src/Flow/ETL/Row/Reference/EntryExpression.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/IsNotNumeric.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/IsNumeric.php
  src/core/etl/src/Flow/ETL/Transformer/Filter/Filter/EntryEqualsTo.php
  src/core/etl/src/Flow/ETL/Transformer/Filter/Filter/EntryExists.php
  src/core/etl/src/Flow/ETL/Transformer/Filter/Filter/EntryNotEqualsTo.php
  src/core/etl/src/Flow/ETL/Transformer/Filter/Filter/EntryNotNull.php
  src/core/etl/src/Flow/ETL/Transformer/Filter/Filter/EntryNotNumber.php
  src/core/etl/src/Flow/ETL/Transformer/Filter/Filter/EntryNumber.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Filter/AllTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Filter/AnyTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Filter/EntryEqualsToTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Filter/EntryExistsTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Filter/EntryNotEqualsToTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Filter/EntryNotNullTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Filter/EntryNotNumberTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Filter/EntryNumberTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Filter/OppositeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/BinaryComparisionsTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/FilterRowsTransformerTest.php
Labels: size: L, docs, core

#518 Remove most casting transformers
  examples/topics/async/csv_to_db_async_amp.php
  examples/topics/async/csv_to_db_async_react.php
  examples/topics/async/csv_to_db_sync.php
  examples/topics/async/csv_to_json_async_react.php
  examples/topics/db/db_to_db_sync.php
  examples/topics/fs/remote/json_remote_stream_glob.php
  src/adapter/etl-adapter-amphp/README.md
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Integration/CSVExtractorTest.php
  src/adapter/etl-adapter-reactphp/README.md
  src/core/etl/README.md
  src/core/etl/docs/complex_transformers.md
  src/core/etl/src/Flow/ETL/DSL/Transform.php
  src/core/etl/src/Flow/ETL/Transformer/Cast/CastJsonToArray.php
  src/core/etl/src/Flow/ETL/Transformer/Cast/CastToArray.php
  src/core/etl/src/Flow/ETL/Transformer/Cast/CastToDateTime.php
  src/core/etl/src/Flow/ETL/Transformer/Cast/CastToFloat.php
  src/core/etl/src/Flow/ETL/Transformer/Cast/CastToInteger.php
  src/core/etl/src/Flow/ETL/Transformer/Cast/CastToJson.php
  src/core/etl/src/Flow/ETL/Transformer/Cast/CastToString.php
  src/core/etl/src/Flow/ETL/Transformer/NullStringIntoNullEntryTransformer.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Cast/CastToDateTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Factory/CasedRowsFactoryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/CallUserFunctionTransformerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/CastTransformerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/NullStringIntoNullEntryTransformerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/ObjectToArrayTransformerTest.php
Labels: size: XL, docs, core, adapter-amphp, adapter-csv, adapter-reactphp, examples

#521 Add new `Any` & `All` expressions
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/All.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Any.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/AllTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/AnyTest.php
Labels: size: S, core

#520 Remove `ConditionalTransformer` & related code
  src/core/etl/README.md
  src/core/etl/docs/complex_transformers.md
  src/core/etl/src/Flow/ETL/DSL/Condition.php
  src/core/etl/src/Flow/ETL/Transformer/Condition/All.php
  src/core/etl/src/Flow/ETL/Transformer/Condition/Any.php
  src/core/etl/src/Flow/ETL/Transformer/Condition/ArrayDotExists.php
  src/core/etl/src/Flow/ETL/Transformer/Condition/ArrayDotValueEqualsTo.php
  src/core/etl/src/Flow/ETL/Transformer/Condition/ArrayDotValueGreaterOrEqualThan.php
  src/core/etl/src/Flow/ETL/Transformer/Condition/ArrayDotValueGreaterThan.php
  src/core/etl/src/Flow/ETL/Transformer/Condition/ArrayDotValueLessOrEqualThan.php
  src/core/etl/src/Flow/ETL/Transformer/Condition/ArrayDotValueLessThan.php
  src/core/etl/src/Flow/ETL/Transformer/Condition/EntryExists.php
  src/core/etl/src/Flow/ETL/Transformer/Condition/EntryInstanceOf.php
  src/core/etl/src/Flow/ETL/Transformer/Condition/EntryNotNull.php
  src/core/etl/src/Flow/ETL/Transformer/Condition/EntryValueEqualsTo.php
  src/core/etl/src/Flow/ETL/Transformer/Condition/EntryValueGreaterOrEqualThan.php
  src/core/etl/src/Flow/ETL/Transformer/Condition/EntryValueGreaterThan.php
  src/core/etl/src/Flow/ETL/Transformer/Condition/EntryValueLessOrEqualThan.php
  src/core/etl/src/Flow/ETL/Transformer/Condition/EntryValueLessThan.php
  src/core/etl/src/Flow/ETL/Transformer/Condition/None.php
  src/core/etl/src/Flow/ETL/Transformer/Condition/Opposite.php
  src/core/etl/src/Flow/ETL/Transformer/Condition/RowCondition.php
  src/core/etl/src/Flow/ETL/Transformer/ConditionalTransformer.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/Condition/EntryNotNullTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/Condition/EntryValueEqualsToTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/Condition/EntryValueGreaterOrEqualThanTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/Condition/EntryValueGreaterThanTest.php
Labels: size: L, docs, core

#522 Remove `CastTransformer` & related code
  src/core/etl/src/Flow/ETL/Factory/CastedRowsFactory.php
  src/core/etl/src/Flow/ETL/Row/RowConverter.php
  src/core/etl/src/Flow/ETL/Transformer/Cast/ArrayEntryEach/CastArrayEntryEachToBoolean.php
  src/core/etl/src/Flow/ETL/Transformer/Cast/ArrayEntryEach/CastArrayEntryEachToDateTime.php
  src/core/etl/src/Flow/ETL/Transformer/Cast/ArrayEntryEach/CastArrayEntryEachToFloat.php
  src/core/etl/src/Flow/ETL/Transformer/Cast/ArrayEntryEach/CastArrayEntryEachToInteger.php
  src/core/etl/src/Flow/ETL/Transformer/Cast/ArrayEntryEach/CastArrayEntryEachToJson.php
  src/core/etl/src/Flow/ETL/Transformer/Cast/ArrayEntryEach/CastArrayEntryEachToString.php
  src/core/etl/src/Flow/ETL/Transformer/Cast/CastArrayEntryEach.php
  src/core/etl/src/Flow/ETL/Transformer/Cast/CastEntries.php
  src/core/etl/src/Flow/ETL/Transformer/Cast/EntryCaster/AnyToArrayEntryCaster.php
  src/core/etl/src/Flow/ETL/Transformer/Cast/EntryCaster/AnyToBooleanEntryCaster.php
  src/core/etl/src/Flow/ETL/Transformer/Cast/EntryCaster/AnyToFloatEntryCaster.php
  src/core/etl/src/Flow/ETL/Transformer/Cast/EntryCaster/AnyToIntegerEntryCaster.php
  src/core/etl/src/Flow/ETL/Transformer/Cast/EntryCaster/AnyToJsonEntryCaster.php
  src/core/etl/src/Flow/ETL/Transformer/Cast/EntryCaster/AnyToListCaster.php
  src/core/etl/src/Flow/ETL/Transformer/Cast/EntryCaster/AnyToStringEntryCaster.php
  src/core/etl/src/Flow/ETL/Transformer/Cast/EntryCaster/DateTimeToStringEntryCaster.php
  src/core/etl/src/Flow/ETL/Transformer/Cast/EntryCaster/JsonToArrayEntryCaster.php
  src/core/etl/src/Flow/ETL/Transformer/Cast/EntryCaster/StringToDateTimeEntryCaster.php
  src/core/etl/src/Flow/ETL/Transformer/Cast/ValueCaster/AnyToArrayCaster.php
  src/core/etl/src/Flow/ETL/Transformer/Cast/ValueCaster/AnyToBooleanCaster.php
  src/core/etl/src/Flow/ETL/Transformer/Cast/ValueCaster/AnyToFloatCaster.php
  src/core/etl/src/Flow/ETL/Transformer/Cast/ValueCaster/AnyToIntegerCaster.php
  src/core/etl/src/Flow/ETL/Transformer/Cast/ValueCaster/AnyToJsonCaster.php
  src/core/etl/src/Flow/ETL/Transformer/Cast/ValueCaster/AnyToStringCaster.php
  src/core/etl/src/Flow/ETL/Transformer/Cast/ValueCaster/DateTimeToStringCaster.php
  src/core/etl/src/Flow/ETL/Transformer/Cast/ValueCaster/JsonToArrayCaster.php
  src/core/etl/src/Flow/ETL/Transformer/Cast/ValueCaster/StringToDateTimeCaster.php
  src/core/etl/src/Flow/ETL/Transformer/CastTransformer.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Cast/ArrayEntryEach/CastArrayEntryEachToDateTest.php
Labels: size: XL, core

#523 Remove `CallUserFunctionTransformer` & `CloneEntryTransformer`
  src/core/etl/README.md
  src/core/etl/src/Flow/ETL/DSL/Transform.php
  src/core/etl/src/Flow/ETL/Transformer/CallUserFunctionTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/CloneEntryTransformer.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/CloneEntryTransformerTest.php
Labels: size: S, docs, core

#524 Remove `FilterRowsTransformer` & related code
  src/core/etl/README.md
  src/core/etl/docs/complex_transformers.md
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/Row.php
  src/core/etl/src/Flow/ETL/Row/Entries.php
  src/core/etl/src/Flow/ETL/Transformer/Filter/Filter.php
  src/core/etl/src/Flow/ETL/Transformer/Filter/Filter/All.php
  src/core/etl/src/Flow/ETL/Transformer/Filter/Filter/Any.php
  src/core/etl/src/Flow/ETL/Transformer/Filter/Filter/Callback.php
  src/core/etl/src/Flow/ETL/Transformer/Filter/Filter/Opposite.php
  src/core/etl/src/Flow/ETL/Transformer/FilterRowsTransformer.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/DataFrameTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Filter/AllTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Filter/AnyTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Filter/CallbackTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Filter/OppositeTest.php
Labels: size: M, docs, core

#526 Simplify `RenameEntriesTransformer` to work only on one entry
  src/core/etl/README.md
  src/core/etl/src/Flow/ETL/DSL/Transform.php
  src/core/etl/src/Flow/ETL/Transformer/Rename/EntryRename.php
  src/core/etl/src/Flow/ETL/Transformer/RenameEntriesTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/RenameEntryTransformer.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/RenameEntryTransformerTest.php
Labels: size: S, docs, core

#527 Add new `ref()->arrayReverse()` entry expression
  src/core/etl/src/Flow/ETL/DSL/Transform.php
  src/core/etl/src/Flow/ETL/Row/Reference/EntryExpression.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/ArrayReverse.php
  src/core/etl/src/Flow/ETL/Transformer/ArrayReverseTransformer.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/ArrayReverseTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/ArrayReverseTransformerTest.php
Labels: size: S, core

#525 Remove `ArrayPushTransformer` & `CallbackEntryTransformer`
  src/core/etl/README.md
  src/core/etl/src/Flow/ETL/DSL/Transform.php
  src/core/etl/src/Flow/ETL/Transformer/ArrayPushTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/CallbackEntryTransformer.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/ArrayPushTransformerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/CallbackEntryTransformerTest.php
Labels: size: M, docs, core

#528 Use default value for `json_decode()` in `NativeEntryFactory`
  src/core/etl/src/Flow/ETL/Row/Factory/NativeEntryFactory.php
Labels: size: XS, core

#529 Rework `ArraySort` expression to work predefined sort methods
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Row/Reference/EntryExpression.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/ArraySort.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/ArraySort/Sort.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/ArraySortTest.php
Labels: size: S, core

#530 Rework `Trim` expression to use enum instead of constants
  src/core/etl/src/Flow/ETL/Row/Reference/EntryExpression.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Trim.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Trim/Type.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/TrimTest.php
Labels: size: S, core

#531 Remove `ArraySortTransformer`
  src/core/etl/README.md
  src/core/etl/src/Flow/ETL/DSL/Transform.php
  src/core/etl/src/Flow/ETL/Transformer/ArraySortTransformer.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/ArraySortTransformerTest.php
Labels: size: S, docs, core

#532 Prevent double run of main integration tests
  phpunit.xml
Labels: size: XS

#533 Remove `StaticEntryTransformer`
  src/core/etl/README.md
  src/core/etl/src/Flow/ETL/DSL/Transform.php
  src/core/etl/src/Flow/ETL/Transformer/StaticEntryTransformer.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Row/Reference/Expression/AddJsonTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/StaticEntryTransformerTest.php
Labels: size: M, docs, core

#536 Remove `DynamicEntryTransformer`
  src/core/etl/README.md
  src/core/etl/src/Flow/ETL/DSL/Transform.php
  src/core/etl/src/Flow/ETL/Transformer/DynamicEntryTransformer.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Row/Reference/Expression/AddDynamicEntriesTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/DynamicEntryTransformerTest.php
Labels: size: S, docs, core

#537 Remove `ChainTransformer`
  src/core/etl/README.md
  src/core/etl/src/Flow/ETL/DSL/Transform.php
  src/core/etl/src/Flow/ETL/Transformer/ChainTransformer.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/ChainTransformerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/RenameEntryTransformerTest.php
Labels: size: S, docs, core

#535 Improved description for all repositories
  CONTRIBUTING.md
  README.md
  src/adapter/etl-adapter-amphp/CONTRIBUTING.md
  src/adapter/etl-adapter-amphp/README.md
  src/adapter/etl-adapter-avro/CONTRIBUTING.md
  src/adapter/etl-adapter-avro/README.md
  src/adapter/etl-adapter-chartjs/CONTRIBUTING.md
  src/adapter/etl-adapter-chartjs/README.md
  src/adapter/etl-adapter-csv/CONTRIBUTING.md
  src/adapter/etl-adapter-csv/README.md
  src/adapter/etl-adapter-doctrine/CONTRIBUTING.md
  src/adapter/etl-adapter-doctrine/README.md
  src/adapter/etl-adapter-elasticsearch/CONTRIBUTING.md
  src/adapter/etl-adapter-elasticsearch/README.md
  src/adapter/etl-adapter-google-sheet/CONTRIBUTING.md
  src/adapter/etl-adapter-google-sheet/README.md
  src/adapter/etl-adapter-http/CONTRIBUTING.md
  src/adapter/etl-adapter-http/README.md
  src/adapter/etl-adapter-json/CONTRIBUTING.md
  src/adapter/etl-adapter-json/README.md
  src/adapter/etl-adapter-logger/CONTRIBUTING.md
  src/adapter/etl-adapter-logger/README.md
  src/adapter/etl-adapter-meilisearch/CONTRIBUTING.md
  src/adapter/etl-adapter-meilisearch/README.md
  src/adapter/etl-adapter-parquet/CONTRIBUTING.md
  src/adapter/etl-adapter-parquet/README.md
  src/adapter/etl-adapter-reactphp/CONTRIBUTING.md
  src/adapter/etl-adapter-reactphp/README.md
  src/adapter/etl-adapter-text/CONTRIBUTING.md
  src/adapter/etl-adapter-text/README.md
  src/adapter/etl-adapter-xml/CONTRIBUTING.md
  src/adapter/etl-adapter-xml/README.md
  src/core/etl/CONTRIBUTING.md
  src/core/etl/README.md
  src/lib/array-dot/CONTRIBUTING.md
  src/lib/array-dot/README.md
  src/lib/doctrine-dbal-bulk/CONTRIBUTING.md
  src/lib/doctrine-dbal-bulk/README.md
Labels: size: L, docs, core, lib-array-dot, lib-doctrine-dbal-bulk, adapter-amphp, adapter-ampavrohp, adapter-csv, adapter-doctrine, adapter-elasticsearch, adapter-http, adapter-json, adapter-logger, adapter-parquet, adapter-reactphp, adapter-text, adapter-xml, adapter-google-sheet, adapter-chartjs

#540 Fix typos in README.md
  src/lib/array-dot/README.md
Labels: size: XS, docs, lib-array-dot

#542 Allow enum as style param in `ArrayKeysStyleConvert` expression
  src/core/etl/src/Flow/ETL/DSL/functions.php
Labels: size: XS, core

#539 Fix typos
  .php-cs-fixer.php
  examples/data/music-scales.csv
  src/adapter/etl-adapter-amphp/tests/Flow/ETL/Async/Tests/Unit/Server/SocketServerTest.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Integration/DbalLimitOffsetExtractorTest.php
  src/adapter/etl-adapter-google-sheet/README.md
  src/adapter/etl-adapter-reactphp/tests/Flow/ETL/Async/Tests/Unit/ReactPHP/Server/SocketServerTest.php
  src/core/etl/README.md
  src/core/etl/src/Flow/ETL/Filesystem/AwsS3Stream.php
  src/core/etl/src/Flow/ETL/Filesystem/AzureBlobStream.php
  src/core/etl/src/Flow/ETL/Filesystem/SaveMode.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/GroupByTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/BinaryComparisonsTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/SchemaTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Window/RowNumberTest.php
  src/lib/array-dot/README.md
  src/lib/array-dot/composer.json
Labels: size: S, docs, core, lib-array-dot, adapter-amphp, adapter-doctrine, adapter-reactphp, examples, adapter-google-sheet

#543 Add options to `array_expand` expression
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Row/Reference/EntryExpression.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/ArrayExpand.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/ArrayExpand/ArrayExpand.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Row/Reference/Expression/ArrayExpandTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/ArrayExpandTest.php
Labels: size: S, core

#544 Optimize `DropDuplicatesTransformer` hashing
  src/core/etl/src/Flow/ETL/Transformer/DropDuplicates/Hashes.php
  src/core/etl/src/Flow/ETL/Transformer/DropDuplicatesTransformer.php
Labels: size: XS, core

#545 Prevent using `strlen` & `count` on empty input
  src/adapter/etl-adapter-amphp/src/Flow/ETL/Async/Amp/Worker/ChildProcessLauncher.php
  src/adapter/etl-adapter-avro/src/Flow/ETL/Adapter/Avro/FlixTech/AvroExtractor.php
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/CSVExtractor.php
  src/adapter/etl-adapter-google-sheet/src/Flow/ETL/Adapter/GoogleSheet/Columns.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/Codename/ParquetExtractor.php
  src/adapter/etl-adapter-reactphp/src/Flow/ETL/Async/ReactPHP/Worker/ChildProcessLauncher.php
  src/adapter/etl-adapter-text/src/Flow/ETL/Adapter/Text/TextExtractor.php
  src/adapter/etl-adapter-xml/src/Flow/ETL/Adapter/XML/XMLReaderExtractor.php
  src/core/etl/src/Flow/ETL/Async/Socket/Worker/Processor.php
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Filesystem/Path.php
  src/core/etl/src/Flow/ETL/GroupBy.php
  src/core/etl/src/Flow/ETL/Partition.php
  src/core/etl/src/Flow/ETL/Row/Entries.php
  src/core/etl/src/Flow/ETL/Row/Entry/ArrayEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/BooleanEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/FloatEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/IntegerEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/JsonEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/ListEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/NullEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/ObjectEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/StringEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/StructureEntry.php
  src/core/etl/src/Flow/ETL/Rows.php
  src/lib/array-dot/src/Flow/ArrayDot/array_dot.php
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/Columns.php
Labels: size: S, core, lib-array-dot, lib-doctrine-dbal-bulk, adapter-amphp, adapter-ampavrohp, adapter-csv, adapter-parquet, adapter-reactphp, adapter-text, adapter-xml, adapter-google-sheet

#547 Add integration tests for `when`, `any` & `all` expressions
  src/core/etl/tests/Flow/ETL/Tests/Integration/Row/Reference/Expression/AllTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Row/Reference/Expression/AnyTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Row/Reference/Expression/WhenTest.php
Labels: size: S, core

#546 Add integration tests for array related expression
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Row/Reference/Expression/ArrayExistsTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Row/Reference/Expression/ArrayGetCollectionTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Row/Reference/Expression/ArrayGetTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Row/Reference/Expression/ArrayKeyRenameTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Row/Reference/Expression/ArrayKeysStyleConvertTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Row/Reference/Expression/ArrayMergeCollectionTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Row/Reference/Expression/ArrayMergeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Row/Reference/Expression/ArrayReverseTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Row/Reference/Expression/ArraySortTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Row/Reference/Expression/ArrayUnpackTest.php
Labels: size: M, core

#550 Add integration tests for `jsonDecode` & `jsonEncode` expressions
  src/core/etl/tests/Flow/ETL/Tests/Integration/Row/Reference/Expression/JsonDecodeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Row/Reference/Expression/JsonEncodeTest.php
Labels: size: S, core

#551 Add integration tests for string related expressions
  src/core/etl/tests/Flow/ETL/Tests/Integration/Row/Reference/Expression/ConcatTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Row/Reference/Expression/ContainsTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Row/Reference/Expression/EndsWithTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Row/Reference/Expression/PregMatchAllTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Row/Reference/Expression/PregMatchTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Row/Reference/Expression/PregReplaceTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Row/Reference/Expression/SanitizeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Row/Reference/Expression/SplitTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Row/Reference/Expression/StartsWithTest.php
Labels: size: L, core

#552 Add integration tests for string related expressions
  src/core/etl/tests/Flow/ETL/Tests/Integration/Row/Reference/Expression/SizeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Row/Reference/Expression/SprintfTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Row/Reference/Expression/StrPadTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Row/Reference/Expression/StrReplaceTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Row/Reference/Expression/ToLowerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Row/Reference/Expression/ToUpperTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Row/Reference/Expression/TrimTest.php
Labels: size: L, core

#553 Add integration tests for `count`, `hash` & `not` expressions
  src/core/etl/tests/Flow/ETL/Tests/Integration/Row/Reference/Expression/CountTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Row/Reference/Expression/HashTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Row/Reference/Expression/NotTest.php
Labels: size: S, core

#554 Adjust `size` expression to behave similarly to the `count` one
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Size.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Row/Reference/Expression/SizeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/SizeTest.php
Labels: size: XS, core, Developer Experience

#556 Rework expressions to return `null` instead of throwing exception on failure
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/ArrayExpand.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/ArrayGetCollection.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/ArrayKeysStyleConvert.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/ArrayMergeCollection.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/ArrayUnpack.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Cast.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/DateTimeFormat.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/ToDate.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/ToDateTime.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Trim.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/ArrayExpandTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/ArrayGetCollectionTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/ArrayKeysStyleConverterTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/ArrayMergeCollectionTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/CastTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/CombineTest.php
Labels: size: S, core, Developer Experience

#557 Add integration tests for `combine` & missing unit test for math expressions
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Combine.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Row/Reference/Expression/CombineTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/MathTest.php
Labels: size: S, core

#558 Optimized Native entry factory
  examples/topics/types/csv/csv_read.php
  src/core/etl/src/Flow/ETL/Row/Factory/NativeEntryFactory.php
Labels: core, examples

#561 Rework string checks to skip json, xml or uuid as much as possible
  src/core/etl/src/Flow/ETL/Row/Factory/NativeEntryFactory.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Factory/NativeEntryFactoryTest.php
Labels: size: S, core

#563 Remove "issue" examples as outdated & covered by tests
  examples/issue/issue248.php
  examples/issue/issue289.csv
  examples/issue/issue289.php
  examples/issue/issue289_new.csv
Labels: size: S, examples

#564 Block running incompatible examples via PHAR
  examples/topics/async/bootstrap.php
  examples/topics/db/db_clean.php
  examples/topics/db/db_source.php
  examples/topics/db/db_to_db_sync.php
  examples/topics/fs/remote/json_remote_stream.php
  examples/topics/fs/remote/json_remote_stream_glob.php
Labels: size: XS, examples

#565 Change detection of PHAR in examples
  build/runtime.php
  examples/bootstrap.php
  examples/topics/aggregations/power_plant.php
  examples/topics/aggregations/power_plant_bar_chart.php
  examples/topics/async/bootstrap.php
  examples/topics/db/db_clean.php
  examples/topics/db/db_source.php
  examples/topics/db/db_to_db_sync.php
  examples/topics/fs/remote/json_remote_stream.php
  examples/topics/fs/remote/json_remote_stream_glob.php
  examples/topics/http/psr_http_dynamic.php
  examples/topics/join/left_anti/left_anti_join.php
  examples/topics/join/left_anti/left_anti_join_each.php
  examples/topics/transformations/aggregate.php
  examples/topics/transformations/array_expand.php
  examples/topics/transformations/array_unpack.php
  examples/topics/transformations/filter_divide.php
  examples/topics/transformations/filter_mod.php
  examples/topics/transformations/group_by.php
  examples/topics/transformations/literals.php
  examples/topics/transformations/math.php
  examples/topics/transformations/size.php
  examples/topics/transformations/sort.php
  examples/topics/transformations/when_null.php
  examples/topics/transformations/when_odd.php
  examples/topics/types/csv/csv_read.php
  examples/topics/types/csv/csv_read_partitioned.php
  examples/topics/types/csv/csv_read_partitioned_filter.php
  examples/topics/types/csv/csv_to_avro.php
  examples/topics/types/csv/csv_to_json.php
  examples/topics/types/csv/csv_to_parquet_100k.php
  examples/topics/types/csv/csv_to_parquet_10k.php
  examples/topics/types/csv/php_to_csv.php
  examples/topics/types/csv/php_to_csv_and_json.php
  examples/topics/types/csv/php_to_csv_partition.php
  examples/topics/types/xml/reading.php
  examples/topics/types/xml/salaries.php
Labels: size: S, examples

#569 Add binary comparisons integration test
  src/core/etl/src/Flow/ETL/Row/Reference/EntryExpression.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Row/Reference/Expression/BinaryComparisonsTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/DateTimeFormatTest.php
Labels: size: S, core

#568 Add way to run all examples
  composer.json
  composer.lock
  examples/bootstrap.php
  examples/data/extractor.php
  examples/run_examples.php
  examples/setup/php_to_csv.php
  examples/topics/types/csv/README.md
  examples/topics/types/csv/csv_read.php
  examples/topics/types/csv/csv_to_avro.php
  examples/topics/types/csv/csv_to_parquet_100k.php
  examples/topics/types/csv/csv_to_parquet_10k.php
  examples/topics/types/csv/php_to_csv.php
Labels: size: S, docs, examples

#570 Prevent fatal error with aggregate avg on empty group
  src/core/etl/src/Flow/ETL/GroupBy/Aggregator/Average.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/GroupBy/Aggregator/AverageTest.php
Labels: size: XS, core

#572 Fixed php extractor output in examples
  examples/data/extractor.php
Labels: size: XS, examples

#574 Chore: Update Box package to the latest
  tools/box/composer.json
  tools/box/composer.lock
Labels: size: XS

#577 Remove "scripts" from `composer.json` in subpackages
  src/adapter/etl-adapter-amphp/composer.json
  src/adapter/etl-adapter-avro/composer.json
  src/adapter/etl-adapter-chartjs/composer.json
  src/adapter/etl-adapter-csv/composer.json
  src/adapter/etl-adapter-doctrine/composer.json
  src/adapter/etl-adapter-elasticsearch/composer.json
  src/adapter/etl-adapter-google-sheet/composer.json
  src/adapter/etl-adapter-http/composer.json
  src/adapter/etl-adapter-json/composer.json
  src/adapter/etl-adapter-logger/composer.json
  src/adapter/etl-adapter-meilisearch/composer.json
  src/adapter/etl-adapter-parquet/composer.json
  src/adapter/etl-adapter-reactphp/composer.json
  src/adapter/etl-adapter-text/composer.json
  src/adapter/etl-adapter-xml/composer.json
  src/core/etl/composer.json
  src/lib/array-dot/composer.json
  src/lib/doctrine-dbal-bulk/composer.json
Labels: size: M, core, lib-array-dot, lib-doctrine-dbal-bulk, adapter-amphp, adapter-ampavrohp, adapter-csv, adapter-doctrine, adapter-elasticsearch, adapter-http, adapter-json, adapter-logger, adapter-parquet, adapter-reactphp, adapter-text, adapter-xml, adapter-google-sheet, adapter-chartjs

#578 Added missing dremel dependency to parquet library
  src/lib/parquet/composer.json
Labels: size: XS, lib-parquet

#579 Add note about rework of transformers into `UPGRADE.md` file
  UPGRADE.md
Labels: size: XS, docs

#582 Simplify casting entries to strings
  src/core/etl/src/Flow/ETL/Row/Entry/Type/Uuid.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Cast.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/CastTest.php
Labels: size: S, core

#584 Adjust `phpunit.xml` to be more efficient
  phpunit.xml
Labels: size: XS

#583 Fix warning when bytes are missing in Parquet `BinaryBufferReader`
  src/lib/parquet/src/Flow/Parquet/BinaryReader/BinaryBufferReader.php
  src/lib/parquet/src/Flow/Parquet/BinaryReader/BinaryStreamReader.php
Labels: size: XS, lib-parquet

#587 Improved support for structures
  composer.json
  composer.lock
  src/adapter/etl-adapter-avro/src/Flow/ETL/Adapter/Avro/FlixTech/AvroLoader.php
  src/adapter/etl-adapter-avro/src/Flow/ETL/Adapter/Avro/FlixTech/SchemaConverter.php
  src/adapter/etl-adapter-avro/tests/Flow/ETL/Adapter/Avro/FlixTech/Tests/Integration/AvroTest.php
  src/adapter/etl-adapter-json/src/Flow/ETL/Adapter/JSON/JSONMachine/JsonExtractor.php
  src/adapter/etl-adapter-json/src/Flow/ETL/Adapter/JSON/JsonLoader.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/Codename/ParquetLoader.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/Codename/SchemaConverter.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/DSL/Parquet.php
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Integration/Codename/ParquetTest.php
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Row/Entry/StructureEntry.php
  src/core/etl/src/Flow/ETL/Row/Factory/NativeEntryFactory.php
  src/core/etl/src/Flow/ETL/Row/Schema/Definition.php
  src/core/etl/src/Flow/ETL/Row/Schema/FlowMetadata.php
  src/core/etl/src/Flow/ETL/Row/Schema/Formatter/ASCIISchemaFormatter.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/DataFrameTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/EntriesTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Entry/StructureEntryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Factory/NativeEntryFactoryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Schema/Constraint/NotEmptyTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Schema/DefinitionTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Schema/Formatter/ASCIISchemaFormatterTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/RowTest.php
  src/lib/parquet/src/Flow/Parquet/Options.php
Labels: size: L, core, adapter-ampavrohp, adapter-json, adapter-parquet, lib-parquet

#581 Add PHPBench tool and first benchmark example
  .github/workflows/benchmark-tag.yml
  .github/workflows/test-benchmark.yml
  .github/workflows/test-suite.yml
  composer.json
  phpbench.json
  src/adapter/etl-adapter-avro/tests/Flow/ETL/Adapter/Avro/FlixTech/Tests/Benchmark/AvroExtractorBench.php
  src/adapter/etl-adapter-avro/tests/Flow/ETL/Adapter/Avro/FlixTech/Tests/Fixtures/data.avro
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Benchmark/CSVExtractorBench.php
  src/adapter/etl-adapter-json/tests/Flow/ETL/Tests/Benchmark/Adapter/JSON/JSONMachine/JsonExtractorBench.php
  src/adapter/etl-adapter-json/tests/Flow/ETL/Tests/Fixtures/nested_timezones.json
  src/adapter/etl-adapter-json/tests/Flow/ETL/Tests/Fixtures/timezones.json
  src/adapter/etl-adapter-json/tests/Flow/ETL/Tests/Integration/Adapter/JSON/JSONMachine/JsonExtractorTest.php
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Benchmark/ParquetExtractorBench.php
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Fixtures/data.parquet
  src/adapter/etl-adapter-text/tests/Flow/ETL/Adapter/Text/Tests/Benchmark/TextExtractorBench.php
  src/adapter/etl-adapter-xml/tests/Flow/ETL/Tests/Benchmark/XmlExtractorBench.php
  src/adapter/etl-adapter-xml/tests/Flow/ETL/Tests/Fixtures/simple_items.xml
  src/adapter/etl-adapter-xml/tests/Flow/ETL/Tests/Fixtures/simple_items_flat.xml
  src/adapter/etl-adapter-xml/tests/Flow/ETL/Tests/Integration/Adapter/XML/XMLReaderExtractorTest.php
  src/core/etl/tests/Flow/ETL/Tests/Benchmark/Transformer/EntryExpressionEvalTransformerBench.php
  src/core/etl/tests/Flow/ETL/Tests/Benchmark/Transformer/RenameEntryTransformerBench.php
  tools/phpbench/.gitignore
  tools/phpbench/composer.json
  tools/phpbench/composer.lock
Labels: size: M, ci/cd, core, adapter-ampavrohp, adapter-csv, adapter-json, adapter-parquet, adapter-text, adapter-xml

#588 Update minimum required version of Flow in all packages
  src/adapter/etl-adapter-amphp/composer.json
  src/adapter/etl-adapter-avro/composer.json
  src/adapter/etl-adapter-chartjs/composer.json
  src/adapter/etl-adapter-csv/composer.json
  src/adapter/etl-adapter-doctrine/composer.json
  src/adapter/etl-adapter-elasticsearch/composer.json
  src/adapter/etl-adapter-google-sheet/composer.json
  src/adapter/etl-adapter-http/composer.json
  src/adapter/etl-adapter-json/composer.json
  src/adapter/etl-adapter-logger/composer.json
  src/adapter/etl-adapter-meilisearch/composer.json
  src/adapter/etl-adapter-parquet/composer.json
  src/adapter/etl-adapter-reactphp/composer.json
  src/adapter/etl-adapter-text/composer.json
  src/adapter/etl-adapter-xml/composer.json
  src/core/etl/composer.json
Labels: size: XS, core, adapter-amphp, adapter-ampavrohp, adapter-csv, adapter-doctrine, adapter-elasticsearch, adapter-http, adapter-json, adapter-logger, adapter-parquet, adapter-reactphp, adapter-text, adapter-xml, adapter-google-sheet, adapter-chartjs, adapter-meilisearch

#593 Funky oz bugfix/xml adapter deep handler
  src/adapter/etl-adapter-xml/src/Flow/ETL/Adapter/XML/XMLReaderExtractor.php
  src/adapter/etl-adapter-xml/tests/Flow/ETL/Adapter/XML/Tests/Fixtures/deepest_items_flat.xml
  src/adapter/etl-adapter-xml/tests/Flow/ETL/Adapter/XML/Tests/Integration/XMLReaderExtractorTest.php
Labels: size: XS, adapter-xml

#594 Replace hashing algorithm from `sha256` to `xxh128`
  src/core/etl/src/Flow/ETL/Cache/LocalFilesystemCache.php
  src/core/etl/src/Flow/ETL/GroupBy.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/FlowTest.php
Labels: size: XS, core

#595 Isolate cache directory for each test suite execution
  .github/workflows/test-suite.yml
  src/core/etl/tests/Flow/ETL/Tests/Integration/IntegrationTestCase.php
Labels: size: XS, ci/cd, core

#596 Simplify `CacheSpy` test double class
  src/core/etl/tests/Flow/ETL/Tests/Double/CacheSpy.php
Labels: size: S, core

#599 Reduced total available memory to make sure that MemorySort is doing a fallback to cache
  src/core/etl/tests/Flow/ETL/Tests/Integration/FlowTest.php
Labels: size: XS, core

#597 Reduce the amount of test data in ElasticSearch tests
  src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Integration/ElasticsearchPHP/ElasticsearchExtractorTest.php
  src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Integration/ElasticsearchPHP/IntegrationTest.php
Labels: adapter-elasticsearch

#602 Updated benchmark tag workflow
  .github/workflows/benchmark-tag.yml
Labels: size: XS, ci/cd

#603 Fix Avro adapter handling nullable values
  src/adapter/etl-adapter-avro/src/Flow/ETL/Adapter/Avro/FlixTech/SchemaConverter.php
  src/adapter/etl-adapter-avro/src/Flow/ETL/Adapter/Avro/FlixTech/ValueConverter.php
  src/adapter/etl-adapter-avro/tests/Flow/ETL/Adapter/Avro/Tests/Integration/AvroTest.php
Labels: size: XS, adapter-ampavrohp

#601 Added output of benchmark tests into github step summary
  .github/workflows/benchmark-tag.yml
  .github/workflows/test-benchmark.yml
  src/adapter/etl-adapter-avro/tests/Flow/ETL/Adapter/Avro/Tests/Benchmark/AvroExtractorBench.php
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Benchmark/CSVExtractorBench.php
  src/adapter/etl-adapter-json/tests/Flow/ETL/Adapter/JSON/Tests/Benchmark/JsonExtractorBench.php
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Benchmark/ParquetExtractorBench.php
  src/adapter/etl-adapter-text/tests/Flow/ETL/Adapter/Text/Tests/Benchmark/TextExtractorBench.php
  src/adapter/etl-adapter-xml/tests/Flow/ETL/Adapter/XML/Tests/Benchmark/XmlExtractorBench.php
  src/core/etl/src/Flow/ETL/Rows.php
  src/core/etl/tests/Flow/ETL/Tests/Benchmark/EntryFactory/NativeEntryFactoryBench.php
  src/core/etl/tests/Flow/ETL/Tests/Benchmark/Transformer/EntryExpressionEvalTransformerBench.php
  src/core/etl/tests/Flow/ETL/Tests/Benchmark/Transformer/RenameEntryTransformerBench.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/RowsTest.php
Labels: size: M, ci/cd, core, adapter-ampavrohp, adapter-csv, adapter-json, adapter-parquet, adapter-text, adapter-xml

#606 Fix wrong truncate in `ASCIIValue` class
  src/core/etl/src/Flow/ETL/Formatter/ASCII/ASCIIValue.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Formatter/ASCIITableTest.php
Labels: size: XS, core

#607 Rework `Entries::toArray()` to improve performance
  src/core/etl/src/Flow/ETL/Row/Entries.php
Labels: size: XS, core

#605 Improve performance of `Path` class
  src/core/etl/src/Flow/ETL/Filesystem/Path.php
Labels: size: S, core

#609 Move `Context::shouldPutInputIntoRows()` out of loop
  examples/topics/types/csv/csv_to_text.php
  src/adapter/etl-adapter-avro/src/Flow/ETL/Adapter/Avro/FlixTech/AvroExtractor.php
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/CSVExtractor.php
  src/adapter/etl-adapter-google-sheet/src/Flow/ETL/Adapter/GoogleSheet/GoogleSheetExtractor.php
  src/adapter/etl-adapter-http/src/Flow/ETL/Adapter/Http/PsrHttpClientDynamicExtractor.php
  src/adapter/etl-adapter-http/src/Flow/ETL/Adapter/Http/PsrHttpClientStaticExtractor.php
  src/adapter/etl-adapter-json/src/Flow/ETL/Adapter/JSON/JSONMachine/JsonExtractor.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/Codename/ParquetExtractor.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/ParquetExtractor.php
  src/adapter/etl-adapter-text/src/Flow/ETL/Adapter/Text/TextExtractor.php
  src/adapter/etl-adapter-xml/src/Flow/ETL/Adapter/XML/XMLReaderExtractor.php
Labels: size: XS, adapter-ampavrohp, adapter-csv, adapter-http, adapter-json, adapter-parquet, adapter-text, adapter-xml, examples, adapter-google-sheet

#612 Improve performance of array comparison & sorting
  src/core/etl/src/Flow/ArrayComparison/ArrayComparison.php
  src/core/etl/src/Flow/ArrayComparison/ArraySortByKey.php
  src/core/etl/src/Flow/ETL/Row/Entry/ArrayEntry.php
Labels: size: XS, core

#615 Improve quality of snappy implementation
  src/lib/snappy/src/Flow/Snappy/Snappy.php
  src/lib/snappy/src/Flow/Snappy/SnappyCompressor.php
  src/lib/snappy/src/Flow/Snappy/SnappyDecompressor.php
Labels: size: S, lib-snappy

#616 Entry factory moved from extractors to `FlowContext`
  UPGRADE.md
  src/adapter/etl-adapter-avro/src/Flow/ETL/Adapter/Avro/FlixTech/AvroExtractor.php
  src/adapter/etl-adapter-avro/src/Flow/ETL/DSL/Avro.php
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/CSVExtractor.php
  src/adapter/etl-adapter-csv/src/Flow/ETL/DSL/CSV.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/DbalLimitOffsetExtractor.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/DbalQueryExtractor.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/DSL/Dbal.php
  src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/Adapter/Elasticsearch/ElasticsearchPHP/ElasticsearchExtractor.php
  src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/Adapter/Elasticsearch/ElasticsearchPHP/HitsIntoRowsTransformer.php
  src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/DSL/Elasticsearch.php
  src/adapter/etl-adapter-google-sheet/src/Flow/ETL/Adapter/GoogleSheet/GoogleSheetExtractor.php
  src/adapter/etl-adapter-google-sheet/src/Flow/ETL/DSL/GoogleSheet.php
  src/adapter/etl-adapter-json/src/Flow/ETL/Adapter/JSON/JSONMachine/JsonExtractor.php
  src/adapter/etl-adapter-json/src/Flow/ETL/DSL/Json.php
  src/adapter/etl-adapter-meilisearch/src/Flow/ETL/Adapter/Meilisearch/MeilisearchPHP/HitsIntoRowsTransformer.php
  src/adapter/etl-adapter-meilisearch/src/Flow/ETL/Adapter/Meilisearch/MeilisearchPHP/MeilisearchExtractor.php
  src/adapter/etl-adapter-meilisearch/src/Flow/ETL/DSL/Meilisearch.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/Codename/ParquetExtractor.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/ParquetExtractor.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/DSL/Parquet.php
  src/adapter/etl-adapter-text/src/Flow/ETL/Adapter/Text/TextExtractor.php
  src/adapter/etl-adapter-text/src/Flow/ETL/DSL/Text.php
  src/core/etl/src/Flow/ETL/Config.php
  src/core/etl/src/Flow/ETL/ConfigBuilder.php
  src/core/etl/src/Flow/ETL/DSL/From.php
  src/core/etl/src/Flow/ETL/Extractor/MemoryExtractor.php
  src/core/etl/src/Flow/ETL/Extractor/SequenceExtractor.php
  src/core/etl/src/Flow/ETL/FlowContext.php
  src/core/etl/src/Flow/ETL/Transformer/EntryExpressionEvalTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/WindowFunctionTransformer.php
Labels: size: M, docs, core, adapter-ampavrohp, adapter-csv, adapter-doctrine, adapter-elasticsearch, adapter-json, adapter-parquet, adapter-text, adapter-google-sheet, adapter-meilisearch

#617 Invalid schema has no fallback in `NativeEntryFactory`
  UPGRADE.md
  src/core/etl/src/Flow/ETL/Row/Factory/NativeEntryFactory.php
  src/core/etl/src/Flow/ETL/Row/Schema.php
  src/core/etl/src/Flow/ETL/Row/Schema/SelectiveValidator.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Factory/NativeEntryFactoryTest.php
Labels: size: XS, docs, core

#618 Remove dead `ArrayRowsFactory` class
  src/core/etl/src/Flow/ETL/Row/Factory/ArrayRowsFactory.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Factory/ArrayRowsFactoryTest.php
Labels: size: S, core

#620 Reduce CI load by cancelling previous runs with every new commit in PR
  .github/workflows/docs.yml
  .github/workflows/test-benchmark.yml
  .github/workflows/test-mutations.yml
  .github/workflows/test-suite.yml
Labels: size: XS, ci/cd

#619 Move implementation of entry structure creation into the `NativeEntryFactory`
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Row/Factory/NativeEntryFactory.php
Labels: size: S, core

#621 Simplified creating schema for parquet files
  src/lib/parquet/resources/python/generators/lists.py
  src/lib/parquet/resources/python/generators/maps.py
  src/lib/parquet/resources/python/generators/orders.py
  src/lib/parquet/resources/python/generators/primitives.py
  src/lib/parquet/resources/python/generators/structs.py
  src/lib/parquet/src/Flow/Parquet/BinaryReader.php
  src/lib/parquet/src/Flow/Parquet/BinaryReader/BinaryBufferReader.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Data/DataBuilder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/DataCoder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/PageReader.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Schema.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Schema/Column.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Schema/FlatColumn.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Schema/LogicalType.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Schema/LogicalType/Decimal.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Schema/NestedColumn.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Fixtures/lists.parquet
  src/lib/parquet/tests/Flow/Parquet/Tests/Fixtures/maps.parquet
  src/lib/parquet/tests/Flow/Parquet/Tests/Fixtures/primitives.json
  src/lib/parquet/tests/Flow/Parquet/Tests/Fixtures/primitives.parquet
  src/lib/parquet/tests/Flow/Parquet/Tests/Fixtures/structs.parquet
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/SimpleTypesReadingTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Unit/ParquetFile/SchemaTest.php
Labels: size: L, lib-parquet

#623 Adjust CI setup to ignore changes in a changelog file
  .github/workflows/benchmark-tag.yml
  .github/workflows/build-phar.yml
  .github/workflows/docs.yml
  .github/workflows/test-mutations.yml
  .github/workflows/test-suite.yml
Labels: size: XS, ci/cd

#622 Simplified schema creation for Parquet files
  src/lib/parquet/src/Flow/Parquet/ParquetFile.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/ColumnChunkReader.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/ColumnChunkReader/WholeChunk.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Page/ColumnData.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/PageReader.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Schema.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Schema/Column.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Schema/FlatColumn.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Schema/ListElement.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Schema/MapKey.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Schema/MapValue.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Schema/NestedColumn.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Fixtures/lists.json
  src/lib/parquet/tests/Flow/Parquet/Tests/Fixtures/maps.json
  src/lib/parquet/tests/Flow/Parquet/Tests/Fixtures/primitives.json
  src/lib/parquet/tests/Flow/Parquet/Tests/Fixtures/structs.json
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/ListsReadingTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/MapsReadingTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/SchemaReadingTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/StructsReadingTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Unit/ParquetFile/SchemaTest.php
Labels: size: L, lib-parquet

#626 Columns in GoggleSheet Adapter cannot contain unicode characters
  src/adapter/etl-adapter-google-sheet/src/Flow/ETL/Adapter/GoogleSheet/Columns.php
  src/adapter/etl-adapter-google-sheet/tests/Flow/ETL/Adapter/GoogleSheet/Tests/Unit/ColumnsTest.php
Labels: size: XS, adapter-google-sheet

#627 Added possibility to easily identify schema root in Parquet Schema
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Schema.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Schema/Column.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Schema/FlatColumn.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Schema/NestedColumn.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Unit/ParquetFile/Schema/NestedColumnTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Unit/ParquetFile/SchemaTest.php
Labels: size: S, lib-parquet

#624 Remove `array_merge()` when adding input into rows
  src/adapter/etl-adapter-avro/src/Flow/ETL/Adapter/Avro/FlixTech/AvroExtractor.php
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/CSVExtractor.php
  src/adapter/etl-adapter-google-sheet/src/Flow/ETL/Adapter/GoogleSheet/GoogleSheetExtractor.php
  src/adapter/etl-adapter-google-sheet/tests/Flow/ETL/Adapter/GoogleSheet/Tests/Unit/GoogleSheetExtractorTest.php
  src/adapter/etl-adapter-json/src/Flow/ETL/Adapter/JSON/JSONMachine/JsonExtractor.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/Codename/ParquetExtractor.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/ParquetExtractor.php
Labels: size: S, adapter-ampavrohp, adapter-csv, adapter-json, adapter-parquet, adapter-google-sheet

#629 Adjust `SheetRange` & `GoogleSheetExtractor` with to low values
  src/adapter/etl-adapter-google-sheet/src/Flow/ETL/Adapter/GoogleSheet/GoogleSheetExtractor.php
  src/adapter/etl-adapter-google-sheet/src/Flow/ETL/Adapter/GoogleSheet/SheetRange.php
  src/adapter/etl-adapter-google-sheet/tests/Flow/ETL/Adapter/GoogleSheet/Tests/Unit/GoogleSheetExtractorTest.php
  src/adapter/etl-adapter-google-sheet/tests/Flow/ETL/Adapter/GoogleSheet/Tests/Unit/SheetRangeTest.php
Labels: size: S, adapter-google-sheet

#632 Add missing tools to the dependabot config
  .github/dependabot.yml
Labels: size: XS, ci/cd

#635 Rework `NativeEntryFactory` to be stateless
  src/core/etl/src/Flow/ETL/Row/EntryFactory.php
  src/core/etl/src/Flow/ETL/Row/Factory/NativeEntryFactory.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Factory/NativeEntryFactoryTest.php
Labels: size: S, core

#634 Remove Rector tool
  .github/dependabot.yml
  composer.json
  tools/rector/.gitignore
  tools/rector/composer.json
  tools/rector/composer.lock
Labels: size: XS, ci/cd

#637 First draft of parquet writer
  composer.lock
  src/lib/dremel/src/Flow/Dremel/DataShredded.php
  src/lib/dremel/src/Flow/Dremel/Dremel.php
  src/lib/dremel/tests/Flow/Dremel/Tests/Unit/DremelAssembleTest.php
  src/lib/dremel/tests/Flow/Dremel/Tests/Unit/DremelShredTest.php
  src/lib/parquet/src/Flow/Parquet/BinaryReader.php
  src/lib/parquet/src/Flow/Parquet/BinaryReader/BinaryBufferReader.php
  src/lib/parquet/src/Flow/Parquet/BinaryReader/BinaryStreamReader.php
  src/lib/parquet/src/Flow/Parquet/BinaryWriter.php
  src/lib/parquet/src/Flow/Parquet/BinaryWriter/BinaryBufferWriter.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Data/DataBuilder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Data/RLEBitPackedHybrid.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/DataCoder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Metadata.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Page/Header/DataPageHeader.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Page/PageHeader.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroup.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroup/ColumnChunk.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/ColumnChunkBuilder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/ColumnChunkContainer.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/DataPageContainer.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/DataPagesBuilder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/Flattener.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/RowGroupContainer.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroups.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Schema.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Schema/Column.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Schema/FlatColumn.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Schema/ListElement.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Schema/LogicalType.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Schema/MapKey.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Schema/MapValue.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Schema/NestedColumn.php
  src/lib/parquet/src/Flow/Parquet/Writer.php
  src/lib/parquet/src/Flow/Parquet/functions.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/Binary/BinaryReaderWriterTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/ListsReadingTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/MapsReadingTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/ParquetIntegrationTestCase.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/SchemaReadingTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/SimpleTypesReadingTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/StructsReadingTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/WriterTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/ParquetFile/Data/RLEBitPackedHybridTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Unit/BinaryReader/BinaryBufferReaderTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Unit/ParquetFile/RowGroupBuilder/FlattenerTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Unit/ParquetFile/Schema/FlatColumnTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Unit/ParquetFile/Schema/NestedColumnTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Unit/ParquetFile/SchemaTest.php
Labels: size: XL, lib-parquet, lib-dremel

#638 Added support for date and datetime types in parquet writer
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/DataPagesBuilder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Schema/FlatColumn.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Schema/ListElement.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Schema/MapKey.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Schema/MapValue.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Schema/TimeUnit.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/WriterTest.php
Labels: size: S, lib-parquet

#640 Fixed bug in RLE/bitpacking hybrid algorithm
  phpunit.xml
  src/lib/dremel/tests/Flow/Dremel/Tests/Integration/DremelTest.php
  src/lib/parquet/src/Flow/Parquet/BinaryReader/BinaryBufferReader.php
  src/lib/parquet/src/Flow/Parquet/BinaryWriter/BinaryBufferWriter.php
  src/lib/parquet/src/Flow/Parquet/Consts.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Data/BytesConverter.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Data/DataBuilder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Data/RLEBitPackedHybrid.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/ColumnChunkBuilder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/DataPagesBuilder.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/Binary/BinaryReaderWriterTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/WriterTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/ParquetFile/Data/RLEBitPackedHybridTest.php
Labels: size: M, lib-parquet, lib-dremel

#641 fix(etl-adapter-google-sheet): Fix scenario for empty google sheet.
  src/adapter/etl-adapter-google-sheet/src/Flow/ETL/Adapter/GoogleSheet/GoogleSheetExtractor.php
  src/adapter/etl-adapter-google-sheet/tests/Flow/ETL/Adapter/GoogleSheet/Tests/Unit/GoogleSheetExtractorTest.php
Labels: size: XS, adapter-google-sheet

#643 Feature/disable infection GitHub logger
  .github/workflows/test-mutations.yml
  .github/workflows/test-suite.yml
  composer.json
Labels: size: XS, ci/cd

#642 Extracted data conversion between parquet/php types to a standalone class
  src/lib/parquet/src/Flow/Parquet/BinaryReader.php
  src/lib/parquet/src/Flow/Parquet/BinaryReader/BinaryBufferReader.php
  src/lib/parquet/src/Flow/Parquet/Data/Converter.php
  src/lib/parquet/src/Flow/Parquet/Data/Converter/BytesStringConverter.php
  src/lib/parquet/src/Flow/Parquet/Data/Converter/Int32DateConverter.php
  src/lib/parquet/src/Flow/Parquet/Data/Converter/Int32DateTimeConverter.php
  src/lib/parquet/src/Flow/Parquet/Data/Converter/Int64DateTimeConverter.php
  src/lib/parquet/src/Flow/Parquet/Data/Converter/Int96DateTimeConverter.php
  src/lib/parquet/src/Flow/Parquet/Data/Converter/TimeConverter.php
  src/lib/parquet/src/Flow/Parquet/Data/DataConverter.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Data/DataBuilder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/DataCoder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/PageReader.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/ColumnChunkBuilder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/DataPagesBuilder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Schema/FlatColumn.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Schema/NestedColumn.php
  src/lib/parquet/src/Flow/Parquet/Reader.php
  src/lib/parquet/src/Flow/Parquet/Writer.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/Binary/BinaryReaderWriterTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/SimpleTypesReadingTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Unit/Data/Converter/Int32DateConverterTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Unit/Data/Converter/Int32DateTimeConverterTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Unit/Data/Converter/Int64DateTimeConverterTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Unit/Data/Converter/TimeConverterTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Unit/ParquetFile/Data/RLEBitPackedHybridTest.php
Labels: size: L, lib-parquet

#645 Rework `SnappyCompressor::compressFragment()` method
  phpstan.neon
  psalm.xml
  src/lib/snappy/src/Flow/Snappy/SnappyCompressor.php
Labels: size: XS, lib-snappy

#646 Added possibility to encode pages as dictionary
  src/lib/parquet/resources/python/generators/primitives.py
  src/lib/parquet/src/Flow/Parquet/Data/Converter/TimeConverter.php
  src/lib/parquet/src/Flow/Parquet/Data/DataConverter.php
  src/lib/parquet/src/Flow/Parquet/Exception/DataConversionException.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/ColumnPageHeader.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Page/Header/DictionaryPageHeader.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Page/PageHeader.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroup/ColumnChunk.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/ColumnChunkBuilder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/PageBuilder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/PageBuilder/DataPageBuilder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/PageBuilder/DictionaryPageBuilder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/PageContainer.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/PagesBuilder.php
  src/lib/parquet/src/Flow/Parquet/Writer.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Fixtures/primitives.parquet
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/ListsWritingTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/SimpleTypesReadingTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/SimpleTypesWritingTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/WriterTest.php
Labels: size: L, lib-parquet

#647 Fixed bug in calculating number of values when pages are encoded with dictionary
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroup/ColumnChunk.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/ColumnChunkBuilder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/PageContainers.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/PagesBuilder.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/MapsWritingTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/StructsWritingTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/ParquetFile/RowGroupBuilder/PagesBuilderTest.php
Labels: size: M, lib-parquet

#648 Move more logical types to dictionary encoding
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/PagesBuilder.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/ParquetFile/RowGroupBuilder/PagesBuilderTest.php
Labels: size: S, lib-parquet

#649 Cleanup of parquet PageBuilders
  src/lib/dremel/src/Flow/Dremel/DataShredded.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/PageBuilder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/PageBuilder/DataPageBuilder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/PageBuilder/DictionaryPageBuilder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/PageBuilder/PlainValuesPacker.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/PageBuilder/RLEBitPackedPacker.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/PagesBuilder.php
Labels: size: M, lib-parquet, lib-dremel

#650 Run cs-fixer against codebase
  .php-cs-fixer.php
  src/adapter/etl-adapter-avro/src/Flow/ETL/Adapter/Avro/FlixTech/AvroLoader.php
  src/core/etl/src/Flow/ETL/Async/Socket/Communication/MessageBuffer.php
  src/core/etl/src/Flow/ETL/Cache/LocalFilesystemCache.php
  src/core/etl/src/Flow/ETL/Exception/SchemaValidationException.php
  src/core/etl/src/Flow/ETL/PipelineFactory.php
  src/core/etl/src/Flow/ETL/Row/Factory/NativeEntryFactory.php
  src/core/etl/src/Flow/ETL/Row/Schema/Constraint/NotEmpty.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Loader/SchemaValidationLoaderTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/CountTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/HashTest.php
  src/core/etl/tests/Flow/Serializer/Tests/Unit/CompressingSerializerTest.php
  src/lib/array-dot/src/Flow/ArrayDot/array_dot.php
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/Dialect/MySQLDialect.php
Labels: size: XS, core, lib-array-dot, lib-doctrine-dbal-bulk, adapter-ampavrohp

#652 Calculate row group/page size on the fly in order to decide when to flush data to disk
  src/lib/parquet/src/Flow/Parquet/Option.php
  src/lib/parquet/src/Flow/Parquet/Options.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroup.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/ColumnChunkBuilder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/ColumnChunkStatistics.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/PageBuilder/DictionaryPageBuilder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/PageSizeCalculator.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/PagesBuilder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/RowGroupStatistics.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Schema/ColumnPrimitiveType.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Schema/FlatColumn.php
  src/lib/parquet/src/Flow/Parquet/Writer.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/ParquetFile/RowGroupBuilder/PagesBuilderTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Unit/ParquetFile/RowGroupBuilder/ColumnChunkSizeStatisticsTest.php
Labels: size: L, lib-parquet

#655 Rework `GroupBy::result()` method to not recreate entries & rows in loop
  src/core/etl/src/Flow/ETL/GroupBy.php
  src/core/etl/src/Flow/ETL/Pipeline/GroupByPipeline.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/GroupByTest.php
Labels: size: XS, core

#654 Decide when to apply dictionary encoding
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Integration/Codename/ParquetTest.php
  src/lib/dremel/src/Flow/Dremel/DataShredded.php
  src/lib/parquet/src/Flow/Parquet/Consts.php
  src/lib/parquet/src/Flow/Parquet/Option.php
  src/lib/parquet/src/Flow/Parquet/Options.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/ColumnChunkBuilder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/ColumnChunkStatistics.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/PageBuilder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/PageBuilder/DataPageBuilder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/PageBuilder/Dictionary.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/PageBuilder/DictionaryBuilder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/PageBuilder/DictionaryBuilder/FloatDictionaryBuilder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/PageBuilder/DictionaryBuilder/ObjectDictionaryBuilder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/PageBuilder/DictionaryBuilder/ScalarDictionaryBuilder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/PageBuilder/DictionaryPageBuilder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/PageContainer.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/PageContainers.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/PagesBuilder.php
  src/lib/parquet/src/Flow/Parquet/Writer.php
  src/lib/parquet/src/Flow/Parquet/functions.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/ParquetFile/RowGroupBuilder/PagesBuilderTest.php
Labels: size: M, adapter-parquet, lib-parquet, lib-dremel

#657 Fixed parquet writer performance degradation
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/PageBuilder/DictionaryBuilder.php
  src/lib/parquet/src/Flow/Parquet/ThriftStream/TPhpFileStream.php
  src/lib/parquet/src/Flow/Parquet/Writer.php
Labels: size: XS, lib-parquet

#658 Prevent fatal error when no values are set in `ColumnChunkStatistics`
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/ColumnChunkStatistics.php
Labels: size: XS, lib-parquet

#660 Create a comment on each PR with phpbench results
  .github/workflows/test-benchmark.yml
Labels: size: S, ci/cd

#663 Changed benchmark workflow trigger and permissions
  .github/workflows/test-benchmark.yml
Labels: size: XS, ci/cd

#664 Reverted pull-requests to issues write permissions
  .github/workflows/pr-comment.yml
  .github/workflows/test-benchmark.yml
Labels: size: S, ci/cd

#656 Adjust `Rows::chunk()` to work on generators instead of arrays
  .github/workflows/test-benchmark.yml
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/DbalLoader.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/DSL/Dbal.php
  src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/Adapter/Elasticsearch/ElasticsearchPHP/ElasticsearchLoader.php
  src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/DSL/Elasticsearch.php
  src/core/etl/src/Flow/ETL/DSL/From.php
  src/core/etl/src/Flow/ETL/DSL/To.php
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/ExternalSort/BufferCache.php
  src/core/etl/src/Flow/ETL/ExternalSort/CacheExternalSort.php
  src/core/etl/src/Flow/ETL/ExternalSort/MemorySort.php
  src/core/etl/src/Flow/ETL/Extractor/BufferExtractor.php
  src/core/etl/src/Flow/ETL/Extractor/ChunkExtractor.php
  src/core/etl/src/Flow/ETL/Extractor/GeneratorExtractor.php
  src/core/etl/src/Flow/ETL/Loader/BufferLoader.php
  src/core/etl/src/Flow/ETL/Pipeline/ParallelizingPipeline.php
  src/core/etl/src/Flow/ETL/Rows.php
  src/core/etl/tests/Flow/ETL/Tests/Benchmark/EntryFactory/NativeEntryFactoryBench.php
  src/core/etl/tests/Flow/ETL/Tests/Benchmark/RowsBench.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/RowsTest.php
Labels: size: S, ci/cd, core, adapter-doctrine, adapter-elasticsearch

#662 Rework benchmarks to set up test data in constructors
  src/adapter/etl-adapter-avro/tests/Flow/ETL/Adapter/Avro/Tests/Benchmark/AvroExtractorBench.php
  src/adapter/etl-adapter-avro/tests/Flow/ETL/Adapter/Avro/Tests/Benchmark/AvroLoaderBench.php
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Benchmark/CSVExtractorBench.php
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Benchmark/CSVLoaderBench.php
  src/adapter/etl-adapter-json/tests/Flow/ETL/Adapter/JSON/Tests/Benchmark/JsonExtractorBench.php
  src/adapter/etl-adapter-json/tests/Flow/ETL/Adapter/JSON/Tests/Benchmark/JsonLoaderBench.php
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Benchmark/ParquetExtractorBench.php
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Benchmark/ParquetLoaderBench.php
  src/adapter/etl-adapter-text/tests/Flow/ETL/Adapter/Text/Tests/Benchmark/TextExtractorBench.php
  src/adapter/etl-adapter-text/tests/Flow/ETL/Adapter/Text/Tests/Benchmark/TextLoaderBench.php
  src/adapter/etl-adapter-xml/tests/Flow/ETL/Adapter/XML/Tests/Benchmark/XmlExtractorBench.php
  src/core/etl/tests/Flow/ETL/Tests/Benchmark/Transformer/RenameEntryTransformerBench.php
Labels: size: S, core, adapter-ampavrohp, adapter-csv, adapter-json, adapter-parquet, adapter-text, adapter-xml

#667 Cleanup old summaries before creating new artifacts
  .github/workflows/test-benchmark.yml
Labels: size: XS, ci/cd

#666 Simplify `Rows::drop()` method
  .github/workflows/test-benchmark.yml
  composer.json
  src/core/etl/src/Flow/ETL/Rows.php
  src/core/etl/tests/Flow/ETL/Tests/Benchmark/RowsBench.php
Labels: size: XS, ci/cd, core

#668 Added support for writing simple types nullable columns into parquet
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/PageBuilder/DataPageBuilder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/PageBuilder/DictionaryBuilder/FloatDictionaryBuilder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/PageBuilder/DictionaryBuilder/ObjectDictionaryBuilder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/PageBuilder/DictionaryBuilder/ScalarDictionaryBuilder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/PageBuilder/PlainValuesPacker.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/PageContainers.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/SimpleTypesWritingTest.php
Labels: size: M, lib-parquet

#670 Cover most methods of `Rows` class by benchmark
  src/core/etl/tests/Flow/ETL/Tests/Benchmark/RowsBench.php
Labels: size: S, core

#672 Fix for wrong cache data & key in benchmark baseline action
  .github/workflows/benchmark-baseline.yml
  composer.json
Labels: size: XS, ci/cd

#673 Generate baseline benchmark in one run not per group
  .github/workflows/benchmark-baseline.yml
Labels: size: XS, ci/cd

#671 Improve performance for a few `Rows` methods
  .github/workflows/test-benchmark.yml
  src/core/etl/src/Flow/ETL/Rows.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/RowsTest.php
Labels: size: S, ci/cd, core

#674 Reduce amount of runs for infection testing
  .github/workflows/test-mutations.yml
Labels: size: XS, ci/cd

#675 Reduce amount of runs for benchmark testing
  .github/workflows/test-benchmark.yml
Labels: size: XS, ci/cd

#677 Parquet - writing & reading nullable structures with nullable fields
  src/lib/dremel/src/Flow/Dremel/Dremel.php
  src/lib/dremel/tests/Flow/Dremel/Tests/Integration/DremelTest.php
  src/lib/dremel/tests/Flow/Dremel/Tests/Unit/DremelAssembleTest.php
  src/lib/parquet/resources/python/generators/structs.py
  src/lib/parquet/src/Flow/Parquet/ParquetFile.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/Flattener.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/PageBuilder/PlainValuesPacker.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/PageContainers.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Fixtures/structs.parquet
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/ListsWritingTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/MapsWritingTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/SchemaReadingTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/StructsReadingTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/StructsWritingTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Unit/ParquetFile/RowGroupBuilder/FlattenerTest.php
Labels: size: M, lib-parquet, lib-dremel

#678 Parquet - added support for GZIP and SNAPPY compressions
  composer.json
  src/lib/parquet/composer.json
  src/lib/parquet/src/Flow/Parquet/Option.php
  src/lib/parquet/src/Flow/Parquet/Options.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Codec.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/PageReader.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroup/ColumnChunk.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/ColumnChunkBuilder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/PageBuilder/DataPageBuilder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/PageBuilder/DictionaryPageBuilder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/PageContainer.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/PageContainers.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/PagesBuilder.php
  src/lib/parquet/src/Flow/Parquet/Reader.php
  src/lib/parquet/src/Flow/Parquet/Writer.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/CompressionTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/ParquetFile/RowGroupBuilder/PagesBuilderTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Unit/ParquetFile/CodecTest.php
Labels: size: M, lib-parquet

#676 Improve performance for `Rows`: `dropRight`, `partitionBy` & `sortBy`
  phpbench.json
  src/core/etl/src/Flow/ETL/Rows.php
  src/core/etl/tests/Flow/ETL/Tests/Benchmark/EntryFactory/NativeEntryFactoryBench.php
  src/core/etl/tests/Flow/ETL/Tests/Benchmark/RowsBench.php
  src/core/etl/tests/Flow/ETL/Tests/Benchmark/Transformer/RenameEntryTransformerBench.php
Labels: size: S, core

#683 Improve adapters benchmark stability
  phpbench.json
  src/adapter/etl-adapter-avro/tests/Flow/ETL/Adapter/Avro/Tests/Benchmark/AvroExtractorBench.php
  src/adapter/etl-adapter-avro/tests/Flow/ETL/Adapter/Avro/Tests/Benchmark/AvroLoaderBench.php
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Benchmark/CSVExtractorBench.php
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Benchmark/CSVLoaderBench.php
  src/adapter/etl-adapter-json/tests/Flow/ETL/Adapter/JSON/Tests/Benchmark/JsonExtractorBench.php
  src/adapter/etl-adapter-json/tests/Flow/ETL/Adapter/JSON/Tests/Benchmark/JsonLoaderBench.php
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Benchmark/ParquetExtractorBench.php
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Benchmark/ParquetLoaderBench.php
  src/adapter/etl-adapter-text/tests/Flow/ETL/Adapter/Text/Tests/Benchmark/TextExtractorBench.php
  src/adapter/etl-adapter-text/tests/Flow/ETL/Adapter/Text/Tests/Benchmark/TextLoaderBench.php
  src/adapter/etl-adapter-xml/tests/Flow/ETL/Adapter/XML/Tests/Benchmark/XmlExtractorBench.php
Labels: size: S, adapter-ampavrohp, adapter-csv, adapter-json, adapter-parquet, adapter-text, adapter-xml

#680 Add GPG Signature to "flow-php.phar" artifact
  .github/workflows/build-release.yml
Labels: size: XS, ci/cd

#690 Reduce a bit randomness in `NativeEntryFactoryBench`
  src/core/etl/tests/Flow/ETL/Tests/Benchmark/EntryFactory/NativeEntryFactoryBench.php
Labels: size: XS, core

#692 Allow to write rows in batches into file and streams
  src/lib/parquet/src/Flow/Parquet/ThriftStream/TPhpFileStream.php
  src/lib/parquet/src/Flow/Parquet/Writer.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/WriterTest.php
Labels: size: M, lib-parquet

#694 Replaced codename parquet with flow parquet library in parquet adapter
  composer.json
  composer.lock
  examples/data/orders_flow.php
  examples/topics/types/csv/csv_to_parquet_100k.php
  examples/topics/types/csv/csv_to_parquet_10k.php
  src/adapter/etl-adapter-parquet/composer.json
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/Codename/ParquetExtractor.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/Codename/SchemaConverter.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/ParquetLoader.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/SchemaConverter.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/DSL/Parquet.php
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Benchmark/ParquetLoaderBench.php
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Integration/ParquetTest.php
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Unit/SchemaConverterTest.php
  src/lib/parquet/src/Flow/Parquet/Writer.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/WriterTest.php
  tools/blackfire/composer.lock
  tools/cs-fixer/composer.lock
  tools/phpbench/composer.lock
  tools/phpstan/composer.lock
Labels: size: M, adapter-parquet, examples, lib-parquet

#693 Added library version to parquet created_by metadata
  composer.json
  composer.lock
  src/lib/parquet/composer.json
  src/lib/parquet/src/Flow/Parquet/Writer.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/WriterTest.php
Labels: size: XS, lib-parquet

#698 Updated README
  README.md
  examples/topics/aggregations/daily_revenue.php
Labels: size: S, docs, examples

#700 Update README.md
  README.md
Labels: size: XS, docs

#702 Added number_format expression
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Row/Reference/EntryExpression.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/NumberFormat.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/NumberFormatTest.php
Labels: size: S, core

#701 Added count() method to dataframe
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/DataFrameTest.php
Labels: size: XS, core
