Repository flow-php/flow, pull requests merged in 2023-11, with the labels that each got.

#703 Fix for signing PHAR in CI
  .github/workflows/build-release.yml
Labels: size: XS, ci/cd

#704 Boolean encoding and RLEBitPackedHybrid
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Data/RLEBitPackedHybrid.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Page/Header/DataPageHeader.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/PageBuilder/DataPageBuilder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/PageBuilder/DictionaryPageBuilder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/PageContainers.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/PagesBuilder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Schema/ConvertedType.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Schema/FlatColumn.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Schema/NestedColumn.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/ParquetFile/Data/RLEBitPackedHybridTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/ParquetFile/RowGroupBuilder/PagesBuilderTest.php
Labels: size: S, lib-parquet

#705 Add missing flag for GPG 2.2+
  .github/workflows/build-release.yml
Labels: size: XS, ci/cd

#707 Update build-release.yml
  .github/workflows/build-release.yml
Labels: size: XS, ci/cd

#709 Removed logger from parquet
  src/lib/dremel/src/Flow/Dremel/Dremel.php
  src/lib/parquet/composer.json
  src/lib/parquet/src/Flow/Parquet/ParquetFile.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/ColumnChunkReader/WholeChunkReader.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/ColumnChunkViewer/WholeChunkViewer.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Data/DataBuilder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Data/RLEBitPackedHybrid.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/DataCoder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/PageReader.php
  src/lib/parquet/src/Flow/Parquet/Reader.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/CompressionTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/ListsReadingTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/MapsReadingTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/ParquetIntegrationTestCase.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/SchemaReadingTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/SimpleTypesReadingTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/SimpleTypesWritingTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/StructsReadingTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/WriterTest.php
Labels: size: M, lib-parquet, lib-dremel

#710 Parquet performance
  src/lib/parquet/src/Flow/Parquet/BinaryReader/BinaryBufferReader.php
  src/lib/parquet/src/Flow/Parquet/BinaryReader/Bytes.php
  src/lib/parquet/src/Flow/Parquet/BinaryWriter/BinaryBufferWriter.php
  src/lib/parquet/src/Flow/Parquet/Data/ObjectToString.php
  src/lib/parquet/src/Flow/Parquet/Option.php
  src/lib/parquet/src/Flow/Parquet/Options.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Data/RLEBitPackedHybrid.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Page/ColumnData.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Page/PageHeader.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroup/ColumnChunk.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/ColumnChunkStatistics.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Schema/Column.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Schema/FlatColumn.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Schema/NestedColumn.php
  src/lib/parquet/src/Flow/Parquet/Writer.php
Labels: size: S, lib-parquet

#708 Rename `docker-compose.yml` to `compose.yml` to match specification
  .gitignore
  CONTRIBUTING.md
  compose.yml.dist
  examples/.gitignore
  src/adapter/etl-adapter-doctrine/.gitattributes
  src/adapter/etl-adapter-doctrine/.gitignore
  src/adapter/etl-adapter-elasticsearch/.gitignore
  src/adapter/etl-adapter-meilisearch/.gitignore
  src/lib/doctrine-dbal-bulk/.gitattributes
  src/lib/doctrine-dbal-bulk/.gitignore
Labels: size: XS, docs

#711 Allow to append into parquet files
  src/lib/parquet/src/Flow/Parquet/Writer.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/WriterTest.php
Labels: size: S, lib-parquet

#712 Added support for partitioning in parquet loader
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/ParquetLoader.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/DSL/Parquet.php
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Integration/ParquetTest.php
  src/core/etl/src/Flow/ETL/Filesystem/Stream/Mode.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Metadata.php
Labels: size: M, core, adapter-parquet, lib-parquet

#714 Covered LogicalPlan FilesystemProcessor with tests
  src/adapter/etl-adapter-avro/src/Flow/ETL/Adapter/Avro/FlixTech/AvroExtractor.php
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/CSVExtractor.php
  src/adapter/etl-adapter-json/src/Flow/ETL/Adapter/JSON/JSONMachine/JsonExtractor.php
  src/adapter/etl-adapter-json/tests/Flow/ETL/Adapter/JSON/Tests/Integration/JsonLoaderTest.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/ParquetExtractor.php
  src/adapter/etl-adapter-text/src/Flow/ETL/Adapter/Text/TextExtractor.php
  src/adapter/etl-adapter-xml/src/Flow/ETL/Adapter/XML/XMLReaderExtractor.php
  src/core/etl/src/Flow/ETL/Pipeline/Execution/Processor/FilesystemProcessor.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Pipeline/Execution/Processor/FilesystemProcessorTest.php
Labels: size: S, core, adapter-ampavrohp, adapter-csv, adapter-json, adapter-parquet, adapter-text, adapter-xml

#716 Changed Loader Closure definition
  UPGRADE.md
  src/adapter/etl-adapter-avro/src/Flow/ETL/Adapter/Avro/FlixTech/AvroLoader.php
  src/adapter/etl-adapter-chartjs/src/Flow/ETL/Adapter/ChartJS/ChartJSLoader.php
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/CSVLoader.php
  src/adapter/etl-adapter-json/src/Flow/ETL/Adapter/JSON/JsonLoader.php
  src/adapter/etl-adapter-json/tests/Flow/ETL/Adapter/JSON/Tests/Integration/JsonLoaderTest.php
  src/adapter/etl-adapter-logger/tests/Flow/ETL/Adapter/Logger/Tests/Unit/Logger/DumpLoggerTest.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/ParquetLoader.php
  src/adapter/etl-adapter-text/src/Flow/ETL/Adapter/Text/TextLoader.php
  src/core/etl/README.md
  src/core/etl/src/Flow/ETL/DSL/To.php
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/Extractor/ChunkExtractor.php
  src/core/etl/src/Flow/ETL/Loader/BufferLoader.php
  src/core/etl/src/Flow/ETL/Loader/Closure.php
  src/core/etl/src/Flow/ETL/Pipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/CachingPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/CollectingPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/GroupByPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/LimitingPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/LocalSocketPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/NestedPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/ParallelizingPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/SynchronousPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/VoidPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/WindowPartitioningPipeline.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Pipeline/CollectingPipelineTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Pipeline/ParallelizingPipelineTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/DataFrameTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Extractor/ChunkExtractorTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Loader/BufferLoaderTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Pipeline/ClosureTest.php
Labels: size: L, docs, core, adapter-ampavrohp, adapter-csv, adapter-json, adapter-logger, adapter-parquet, adapter-text, adapter-chartjs

#726 Removed batching logic from extractors
  UPGRADE.md
  examples/topics/aggregations/power_plant.php
  examples/topics/aggregations/power_plant_bar_chart.php
  examples/topics/async/csv_to_db_async_amp.php
  examples/topics/async/csv_to_db_async_react.php
  examples/topics/async/csv_to_db_sync.php
  examples/topics/async/csv_to_json_async_react.php
  examples/topics/async/csv_to_text_async_react.php
  examples/topics/fs/remote/json_remote_stream.php
  examples/topics/fs/remote/json_remote_stream_glob.php
  examples/topics/types/csv/csv_read.php
  examples/topics/types/csv/csv_to_avro.php
  examples/topics/types/csv/csv_to_parquet_100k.php
  examples/topics/types/csv/csv_to_parquet_10k.php
  src/adapter/etl-adapter-avro/src/Flow/ETL/Adapter/Avro/FlixTech/AvroExtractor.php
  src/adapter/etl-adapter-avro/src/Flow/ETL/DSL/Avro.php
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/CSVExtractor.php
  src/adapter/etl-adapter-csv/src/Flow/ETL/DSL/CSV.php
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Integration/CSVExtractorTest.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/DbalLimitOffsetExtractor.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/DbalQueryExtractor.php
  src/adapter/etl-adapter-google-sheet/src/Flow/ETL/Adapter/GoogleSheet/GoogleSheetExtractor.php
  src/adapter/etl-adapter-google-sheet/src/Flow/ETL/DSL/GoogleSheet.php
  src/adapter/etl-adapter-google-sheet/tests/Flow/ETL/Adapter/GoogleSheet/Tests/Unit/GoogleSheetExtractorTest.php
  src/adapter/etl-adapter-json/src/Flow/ETL/Adapter/JSON/JSONMachine/JsonExtractor.php
  src/adapter/etl-adapter-json/src/Flow/ETL/Adapter/JSON/JsonLoader.php
  src/adapter/etl-adapter-json/src/Flow/ETL/DSL/Json.php
  src/adapter/etl-adapter-json/tests/Flow/ETL/Adapter/JSON/Tests/Integration/JSONMachine/JsonExtractorTest.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/ParquetExtractor.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/DSL/Parquet.php
  src/adapter/etl-adapter-text/src/Flow/ETL/Adapter/Text/TextExtractor.php
  src/adapter/etl-adapter-text/src/Flow/ETL/DSL/Text.php
  src/adapter/etl-adapter-text/tests/Flow/ETL/Adapter/Text/Tests/Benchmark/TextLoaderBench.php
  src/adapter/etl-adapter-xml/src/Flow/ETL/Adapter/XML/XMLReaderExtractor.php
  src/adapter/etl-adapter-xml/src/Flow/ETL/DSL/XML.php
Labels: size: M, docs, adapter-ampavrohp, adapter-csv, adapter-doctrine, adapter-json, adapter-parquet, adapter-text, adapter-xml, examples, adapter-google-sheet

#729 Replace LimitingPipeline with LimitTransformer
  src/adapter/etl-adapter-avro/src/Flow/ETL/Adapter/Avro/FlixTech/AvroExtractor.php
  src/adapter/etl-adapter-avro/tests/Flow/ETL/Adapter/Avro/Tests/Integration/AvroTest.php
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/CSVExtractor.php
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Integration/CSVExtractorTest.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/DbalLimitOffsetExtractor.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/DbalQueryExtractor.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Double/Stub/ArrayExtractor.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Double/Stub/TransformTestData.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Integration/DbalLoaderTest.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Integration/DbalQueryExtractorTest.php
  src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/Adapter/Elasticsearch/ElasticsearchPHP/ElasticsearchExtractor.php
  src/adapter/etl-adapter-google-sheet/src/Flow/ETL/Adapter/GoogleSheet/GoogleSheetExtractor.php
  src/adapter/etl-adapter-http/src/Flow/ETL/Adapter/Http/PsrHttpClientDynamicExtractor.php
  src/adapter/etl-adapter-http/src/Flow/ETL/Adapter/Http/PsrHttpClientStaticExtractor.php
  src/adapter/etl-adapter-json/src/Flow/ETL/Adapter/JSON/JSONMachine/JsonExtractor.php
  src/adapter/etl-adapter-json/tests/Flow/ETL/Adapter/JSON/Tests/Integration/JSONMachine/JsonExtractorTest.php
  src/adapter/etl-adapter-meilisearch/src/Flow/ETL/Adapter/Meilisearch/MeilisearchPHP/MeilisearchExtractor.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/ParquetExtractor.php
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Integration/ParquetExtractorTest.php
  src/adapter/etl-adapter-text/src/Flow/ETL/Adapter/Text/TextExtractor.php
  src/adapter/etl-adapter-text/tests/Flow/ETL/Adapter/Text/Tests/Integration/TextExtractorTest.php
  src/adapter/etl-adapter-xml/src/Flow/ETL/Adapter/XML/XMLReaderExtractor.php
  src/adapter/etl-adapter-xml/tests/Flow/ETL/Adapter/XML/Tests/Integration/XMLReaderExtractorTest.php
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/Exception/LimitReachedException.php
  src/core/etl/src/Flow/ETL/Extractor/BufferExtractor.php
  src/core/etl/src/Flow/ETL/Extractor/CacheExtractor.php
  src/core/etl/src/Flow/ETL/Extractor/ChainExtractor.php
  src/core/etl/src/Flow/ETL/Extractor/ChunkExtractor.php
  src/core/etl/src/Flow/ETL/Extractor/DataFrameExtractor.php
  src/core/etl/src/Flow/ETL/Extractor/GeneratorExtractor.php
  src/core/etl/src/Flow/ETL/Extractor/Limitable.php
  src/core/etl/src/Flow/ETL/Extractor/LimitableExtractor.php
  src/core/etl/src/Flow/ETL/Extractor/MemoryExtractor.php
  src/core/etl/src/Flow/ETL/Extractor/ProcessExtractor.php
  src/core/etl/src/Flow/ETL/Extractor/SequenceExtractor.php
  src/core/etl/src/Flow/ETL/Extractor/Signal.php
  src/core/etl/src/Flow/ETL/Pipeline/LimitingPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/SynchronousPipeline.php
  src/core/etl/src/Flow/ETL/Rows.php
  src/core/etl/src/Flow/ETL/Transformer.php
  src/core/etl/src/Flow/ETL/Transformer/LimitTransformer.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Pipeline/SynchronousPipelineTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/DataFrameTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/RowsTest.php
Labels: size: XL, core, adapter-ampavrohp, adapter-csv, adapter-doctrine, adapter-elasticsearch, adapter-http, adapter-json, adapter-parquet, adapter-text, adapter-xml, adapter-google-sheet, adapter-meilisearch

#730 Pipeline Optimization - LimitOptimizer
  src/core/etl/src/Flow/ETL/Config.php
  src/core/etl/src/Flow/ETL/ConfigBuilder.php
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/Extractor/Limitable.php
  src/core/etl/src/Flow/ETL/Extractor/LimitableExtractor.php
  src/core/etl/src/Flow/ETL/Flow.php
  src/core/etl/src/Flow/ETL/Pipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/BatchingPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/CachingPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/CollectingPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/Execution/ExecutionPlan.php
  src/core/etl/src/Flow/ETL/Pipeline/Execution/Processor/FilesystemProcessor.php
  src/core/etl/src/Flow/ETL/Pipeline/Execution/Processor/Processor.php
  src/core/etl/src/Flow/ETL/Pipeline/Execution/Processors.php
  src/core/etl/src/Flow/ETL/Pipeline/GroupByPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/Limiter.php
  src/core/etl/src/Flow/ETL/Pipeline/LocalSocketPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/NestedPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/Optimizer.php
  src/core/etl/src/Flow/ETL/Pipeline/Optimizer/LimitOptimization.php
  src/core/etl/src/Flow/ETL/Pipeline/Optimizer/Optimization.php
  src/core/etl/src/Flow/ETL/Pipeline/ParallelizingPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/Pipes.php
  src/core/etl/src/Flow/ETL/Pipeline/SynchronousPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/VoidPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/WindowPartitioningPipeline.php
  src/core/etl/src/Flow/ETL/Transformer/EntryExpressionEvalTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/LimitTransformer.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Pipeline/BatchingPipelineTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Pipeline/CollectingPipelineTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Pipeline/Execution/Processor/FilesystemProcessorTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Pipeline/OptimizerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Pipeline/ParallelizingPipelineTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Pipeline/PipelineTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Extractor/PipelineExtractorTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Pipeline/LimiterTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Pipeline/LocalSocketPipelineTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Pipeline/NestedPipelineTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Pipeline/Optimizer/LimitOptimizationTest.php
Labels: size: L, core

#731 Fixed bitpacking zero values
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Data/RLEBitPackedHybrid.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/ParquetFile/Data/RLEBitPackedHybridTest.php
Labels: size: XS, lib-parquet

#732 Renamed threadSafe into appendSafe
  UPGRADE.md
  src/adapter/etl-adapter-avro/src/Flow/ETL/Adapter/Avro/FlixTech/AvroLoader.php
  src/adapter/etl-adapter-avro/tests/Flow/ETL/Adapter/Avro/Tests/Integration/AvroTest.php
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/CSVLoader.php
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Integration/CSVLoaderTest.php
  src/adapter/etl-adapter-json/src/Flow/ETL/Adapter/JSON/JsonLoader.php
  src/adapter/etl-adapter-json/tests/Flow/ETL/Adapter/JSON/Tests/Integration/JsonLoaderTest.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/ParquetLoader.php
  src/adapter/etl-adapter-text/src/Flow/ETL/Adapter/Text/TextLoader.php
  src/adapter/etl-adapter-text/tests/Flow/ETL/Adapter/Text/Tests/Integration/TextLoaderTest.php
  src/core/etl/src/Flow/ETL/Async/Socket/Worker/Processor.php
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/FlowContext.php
  src/core/etl/src/Flow/ETL/Pipeline/Execution/Processor/FilesystemProcessor.php
  src/core/etl/src/Flow/ETL/Pipeline/LocalSocketPipeline.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Filesystem/FilesystemStreamsTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Pipeline/Execution/Processor/FilesystemProcessorTest.php
Labels: size: S, docs, core, adapter-ampavrohp, adapter-csv, adapter-json, adapter-parquet, adapter-text

#733 Remove batchsize from loaders
  UPGRADE.md
  src/adapter/etl-adapter-amphp/README.md
  src/adapter/etl-adapter-doctrine/README.md
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/DbalLoader.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/DSL/Dbal.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Integration/DbalLoaderTest.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Integration/DbalQueryExtractorTest.php
  src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/Adapter/Elasticsearch/ElasticsearchPHP/ElasticsearchLoader.php
  src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/DSL/Elasticsearch.php
  src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Context/Elasticsearch7Context.php
  src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Context/Elasticsearch8Context.php
  src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Integration/ElasticsearchPHP/ElasticsearchExtractorTest.php
  src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Integration/ElasticsearchPHP/ElasticsearchLoaderTest.php
  src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Integration/ElasticsearchPHP/IntegrationTest.php
  src/adapter/etl-adapter-reactphp/README.md
Labels: size: S, docs, adapter-amphp, adapter-doctrine, adapter-elasticsearch, adapter-reactphp

#736 Parquet - DataPageV2 support
  src/lib/parquet/src/Flow/Parquet/Option.php
  src/lib/parquet/src/Flow/Parquet/Options.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Data/RLEBitPackedHybrid.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/DataCoder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Page/Header/DataPageHeaderV2.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Page/Header/Type.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Page/PageHeader.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/PageReader.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/PageBuilder/DataPageBuilder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/PageBuilder/RLEBitPackedPacker.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/PageContainers.php
  src/lib/parquet/src/Flow/Parquet/Writer.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/WriterTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Unit/ParquetFile/Data/RLEBitPackedHybridTest.php
Labels: size: M, lib-parquet

#728 Extract entry types into new namespace for further re-usage
  src/adapter/etl-adapter-avro/src/Flow/ETL/Adapter/Avro/FlixTech/AvroLoader.php
  src/adapter/etl-adapter-avro/src/Flow/ETL/Adapter/Avro/FlixTech/SchemaConverter.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/SchemaConverter.php
  src/core/etl/src/Flow/ETL/DSL/Entry.php
  src/core/etl/src/Flow/ETL/PHP/Type/ObjectType.php
  src/core/etl/src/Flow/ETL/PHP/Type/ScalarType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Type.php
  src/core/etl/src/Flow/ETL/Row/Entry/ListEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/TypedCollection.php
  src/core/etl/src/Flow/ETL/Row/Entry/TypedCollection/Type.php
  src/core/etl/src/Flow/ETL/Row/Factory/NativeEntryFactory.php
  src/core/etl/src/Flow/ETL/Row/Schema/Constraint/CollectionType.php
  src/core/etl/src/Flow/ETL/Row/Schema/Definition.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Entry/ListEntryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Factory/NativeEntryFactoryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Schema/Constraint/CollectionTypeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Schema/Constraint/NotEmptyTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Schema/DefinitionTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Schema/MetadataTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/RowsTest.php
Labels: size: S, core, adapter-ampavrohp, adapter-parquet

#743 Prevent uninitialized string check in `NativeEntryFactory`
  src/core/etl/src/Flow/ETL/Row/Factory/NativeEntryFactory.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Factory/NativeEntryFactoryTest.php
Labels: size: S, core

#750 Fixed CSV loader working on remote streams
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/CSVLoader.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Integration/DbalLoaderTest.php
  src/core/etl/README.md
  src/core/etl/src/Flow/ETL/DSL/From.php
  src/core/etl/src/Flow/ETL/Extractor/BufferExtractor.php
  src/core/etl/src/Flow/ETL/Extractor/MemoryExtractor.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Extractor/BufferExtractorTest.php
Labels: size: M, docs, core, adapter-csv, adapter-doctrine

#751 Fixed reading varInt
  src/lib/parquet/src/Flow/Parquet/BinaryReader/BinaryBufferReader.php
Labels: size: XS, lib-parquet

#754 Parquet - write column chunk statistics
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Unit/ParquetFile/RowGroupBuilder/ColumnChunkStatisticsTest.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/ColumnChunkBuilder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/ColumnChunkStatistics.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/Statistics/Comparator.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/StatisticsBuilder.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/SimpleTypesWritingTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/WriterTest.php
Labels: size: M, adapter-parquet, lib-parquet

#755 Added DataPageV2 statistics
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Page/Header/DataPageHeaderV2.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/PageBuilder/DataPageBuilder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/PageBuilder/DataPageV2Statistics.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/PageBuilder/StatisticsBuilder.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/WriterTest.php
Labels: size: S, lib-parquet

#749 Implement new `ListType` logical type
  src/adapter/etl-adapter-avro/src/Flow/ETL/Adapter/Avro/FlixTech/AvroLoader.php
  src/adapter/etl-adapter-avro/src/Flow/ETL/Adapter/Avro/FlixTech/SchemaConverter.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/SchemaConverter.php
  src/core/etl/src/Flow/ETL/DSL/Entry.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/List/ListElement.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/ListType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/ObjectType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/ScalarType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Type.php
  src/core/etl/src/Flow/ETL/Row/Entry/ListEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/TypedCollection.php
  src/core/etl/src/Flow/ETL/Row/Factory/NativeEntryFactory.php
  src/core/etl/src/Flow/ETL/Row/Schema/Constraint/CollectionType.php
  src/core/etl/src/Flow/ETL/Row/Schema/Definition.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Entry/ListEntryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Factory/NativeEntryFactoryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Schema/Constraint/CollectionTypeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Schema/Constraint/NotEmptyTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Schema/DefinitionTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Schema/MetadataTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/RowsTest.php
Labels: size: M, core, adapter-ampavrohp, adapter-parquet

#760 Fixed snappy warnings
  src/lib/snappy/src/Flow/Snappy/SnappyCompressor.php
Labels: size: XS, lib-snappy

#762 Implement new `MapType` logical type
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/ListType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/LogicalType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/Map/MapKey.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/Map/MapValue.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/MapType.php
  src/core/etl/src/Flow/ETL/Row/Entry/ListEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/TypedCollection.php
  src/core/etl/src/Flow/ETL/Row/Schema/Constraint/CollectionType.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/Logical/MapTypeTest.php
Labels: size: M, core

#764 Added Flow style guide
  docs/img/daisy_bush.png
  docs/img/light_slate_blue.png
  docs/img/mirage.png
  docs/img/sunset_orange.png
  docs/img/warm_blue.png
  docs/style_guide.md
Labels: docs

#761 Move PHAR runtime into `bin`
  .php-cs-fixer.php
  bin/runtime.php
  box.json
  build/.gitkeep
  composer.json
  src/core/etl/src/Flow/ETL/FlowVersion.php
Labels: size: XS, core

#766 Fix wrong namespace in PHAR runtime file
  bin/runtime.php
Labels: size: XS

#763 Implement recursive type allowance in `MapType` & `ListType`
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/SchemaConverter.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/List/ListElement.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/ListType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/Map/MapValue.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/NativeType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/ObjectType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/ScalarType.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/Logical/ListTypeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/Logical/MapTypeTest.php
Labels: size: S, core, adapter-parquet

#765 Add new logical `StructureType`
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/Structure/StructureElement.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/StructureType.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/Logical/StructureTypeTest.php
Labels: size: S, core

#770 Rework `ScalarType` to hold optional value
  src/adapter/etl-adapter-avro/src/Flow/ETL/Adapter/Avro/FlixTech/SchemaConverter.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/SchemaConverter.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/List/ListElement.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/Map/MapKey.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/Map/MapValue.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/ScalarType.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/Logical/StructureTypeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/Native/ScalarTypeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Schema/Constraint/CollectionTypeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Schema/Constraint/NotEmptyTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Schema/MetadataTest.php
Labels: size: S, core, adapter-ampavrohp, adapter-parquet

#772 Add `TypeFactory`, `ArrayType`, `NullType`, `ResourceType` & `CallableType`
  src/core/etl/src/Flow/ETL/PHP/Type/ArrayContentDetector.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/List/ListElement.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/Map/MapKey.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/Map/MapValue.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/ArrayType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/CallableType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/NullType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/ResourceType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/ScalarType.php
  src/core/etl/src/Flow/ETL/PHP/Type/TypeFactory.php
  src/core/etl/src/Flow/ETL/PHP/Type/Types.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/ArrayContentDetectorTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/Native/ArrayTypeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/Native/CallableTypeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/Native/NullTypeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/Native/ResourceTypeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/TypeFactoryTest.php
Labels: size: XL, core

#777 Make types implementation serializable, mark native types as nullable
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/List/ListElement.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/ListType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/LogicalType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/Map/MapValue.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/MapType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/StructureType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/ArrayType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/CallableType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/NativeType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/NullType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/ObjectType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/ResourceType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/ScalarType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Type.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/Native/CallableTypeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/Native/ResourceTypeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/Native/ScalarTypeTest.php
Labels: size: S, core

#778 Fixed Dremel to properly shred/assemble nested structures with nullable elements
  src/lib/dremel/src/Flow/Dremel/Dremel.php
  src/lib/dremel/src/Flow/Dremel/NullNode.php
  src/lib/dremel/src/Flow/Dremel/Stack.php
  src/lib/dremel/tests/Flow/Dremel/Tests/Integration/DremelTest.php
  src/lib/dremel/tests/Flow/Dremel/Tests/Unit/DremelAssembleTest.php
  src/lib/dremel/tests/Flow/Dremel/Tests/Unit/DremelShredTest.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/ColumnChunkStatistics.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/Flattener.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/PageBuilder/DataPageV2Statistics.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/PageBuilder/RLEBitPackedPacker.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/ListsWritingTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/ParquetFile/Data/RLEBitPackedHybridTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/ParquetFile/RowGroupBuilder/PageBuilder/RLEBitPackedTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Unit/ParquetFile/RowGroupBuilder/FlattenerTest.php
Labels: size: L, lib-parquet, lib-dremel

#779 Covered more parquet edge cases
  src/lib/dremel/src/Flow/Dremel/Dremel.php
  src/lib/parquet/src/Flow/Parquet/Data/DataConverter.php
  src/lib/parquet/src/Flow/Parquet/Exception/DataConversionException.php
  src/lib/parquet/src/Flow/Parquet/Exception/RuntimeException.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/PageReader.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Fixtures/EdgeCases/datapage_v2.snappy.parquet
  src/lib/parquet/tests/Flow/Parquet/Tests/Fixtures/EdgeCases/nonnullable.impala.parquet
  src/lib/parquet/tests/Flow/Parquet/Tests/Fixtures/EdgeCases/null_list.parquet
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/EdgeCasesReadingTest.php
Labels: size: S, lib-parquet, lib-dremel

#571 Added dockerfile
  .github/workflows/build-release.yml
  .github/workflows/build.yml
  CONTRIBUTING.md
  Dockerfile
Labels: size: S, ci/cd, docs

#786 Split docker building process into smaller steps and copy just relevant libs after installing extensions
  Dockerfile
Labels: size: XS

#787 Removed DSL functions: `datetime_string()`, `json_string()`
  UPGRADE.md
  src/core/etl/src/Flow/ETL/DSL/Entry.php
  src/core/etl/src/Flow/ETL/Row/Entry/DateTimeEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/JsonEntry.php
  src/core/etl/src/Flow/ETL/Row/Factory/NativeEntryFactory.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Entry/DateTimeEntryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Entry/JsonEntryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Factory/NativeEntryFactoryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/BinaryComparisonsTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/CallMethodTest.php
Labels: size: S, docs, core

#789 Fix hardcoded entry name for enum entry with schema
  src/core/etl/src/Flow/ETL/Row/Factory/NativeEntryFactory.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Factory/NativeEntryFactoryTest.php
Labels: size: XS, core

#788 Added BatchSizeOptimization
  composer.json
  composer.lock
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Integration/DbalLoaderTest.php
  src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/Adapter/Elasticsearch/Doubles/Spy/HttpClientSpy.php
  src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Context/Elasticsearch7Context.php
  src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Context/Elasticsearch8Context.php
  src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Context/ElasticsearchContext.php
  src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Integration/ElasticsearchTest.php
  src/adapter/etl-adapter-meilisearch/src/Flow/ETL/Adapter/Meilisearch/MeilisearchPHP/MeilisearchLoader.php
  src/adapter/etl-adapter-meilisearch/src/Flow/ETL/DSL/Meilisearch.php
  src/adapter/etl-adapter-meilisearch/tests/Flow/ETL/Adapter/Meilisearch/Tests/Double/Spy/HttpClientSpy.php
  src/adapter/etl-adapter-meilisearch/tests/Flow/ETL/Adapter/Meilisearch/Tests/Integration/MeilisearchPHP/MailiSearchTest.php
  src/core/etl/src/Flow/ETL/ConfigBuilder.php
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/Extractor/OverridingExtractor.php
  src/core/etl/src/Flow/ETL/Pipeline/BatchingPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/CachingPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/CollectingPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/GroupByPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/NestedPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/Optimizer.php
  src/core/etl/src/Flow/ETL/Pipeline/Optimizer/BatchSizeOptimization.php
  src/core/etl/src/Flow/ETL/Pipeline/Optimizer/LimitOptimization.php
  src/core/etl/src/Flow/ETL/Pipeline/OverridingPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/ParallelizingPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/VoidPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/WindowPartitioningPipeline.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Pipeline/Optimizer/BatchSizeOptimizationTest.php
  tools/box/composer.lock
  tools/cs-fixer/composer.lock
  tools/infection/composer.lock
  tools/phpbench/composer.lock
Labels: size: L, core, adapter-doctrine, adapter-elasticsearch, adapter-meilisearch

#776 Remove `CollectionEntry`
  UPGRADE.md
  src/core/etl/README.md
  src/core/etl/src/Flow/ETL/DSL/Entry.php
  src/core/etl/src/Flow/ETL/Row/Entry/CollectionEntry.php
  src/core/etl/src/Flow/ETL/Row/Schema/Constraint/NotEmpty.php
  src/core/etl/src/Flow/ETL/Row/Schema/Definition.php
  src/core/etl/tests/Flow/ETL/Tests/Double/AllRowTypesFakeExtractor.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/DataFrameTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Entry/CollectionEntryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Schema/Constraint/NotEmptyTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/RowTest.php
Labels: size: M, docs, core

#798 Use createSchemaManger instead of deprecated getSchemaManager
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/Bulk.php
Labels: size: XS, lib-doctrine-dbal-bulk

#799 Expanded Parquet schema converter in order to support deeply nested data types
  LICENSE
  src/adapter/etl-adapter-avro/src/Flow/ETL/Adapter/Avro/FlixTech/AvroLoader.php
  src/adapter/etl-adapter-avro/src/Flow/ETL/Adapter/Avro/FlixTech/SchemaConverter.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/SchemaConverter.php
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Unit/SchemaConverterTest.php
  src/core/etl/README.md
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/List/ListElement.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/Map/MapKey.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/Map/MapValue.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/ScalarType.php
  src/core/etl/src/Flow/ETL/Row/Entry/ListEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/TypedCollection.php
  src/core/etl/src/Flow/ETL/Row/Factory/NativeEntryFactory.php
  src/core/etl/src/Flow/ETL/Row/Schema/Constraint/ListType.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Schema/Constraint/CollectionTypeTest.php
Labels: size: M, docs, core, adapter-ampavrohp, adapter-parquet

#801 Add top-level options support for ChartJS
  examples/topics/aggregations/power_plant_bar_chart.php
  src/adapter/etl-adapter-chartjs/src/Flow/ETL/Adapter/ChartJS/Chart/BarChart.php
  src/adapter/etl-adapter-chartjs/src/Flow/ETL/Adapter/ChartJS/Chart/LineChart.php
  src/adapter/etl-adapter-chartjs/src/Flow/ETL/Adapter/ChartJS/Chart/PieChart.php
  src/adapter/etl-adapter-chartjs/src/Flow/ETL/DSL/ChartJS.php
  src/adapter/etl-adapter-chartjs/tests/Flow/ETL/Adapter/ChartJS/Tests/Integration/ChartJSLoaderTest.php
  src/adapter/etl-adapter-chartjs/tests/Flow/ETL/Adapter/ChartJS/Tests/Integration/Output/pie_chart.html
Labels: size: S, examples, adapter-chartjs

#804 Remove `from*` methods from scalar entry classes
  UPGRADE.md
  src/core/etl/src/Flow/ETL/Row/Entry/BooleanEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/FloatEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/IntegerEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/StringEntry.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Entry/BooleanEntryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Entry/FloatEntryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Entry/IntegerEntryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Entry/StringEntryTest.php
Labels: size: S, docs, core

#805 Add `TypeDetectorBench`
  src/core/etl/tests/Flow/ETL/Tests/Benchmark/RowsBench.php
  src/core/etl/tests/Flow/ETL/Tests/Benchmark/TypeDetectorBench.php
Labels: size: S, core

#807 Added validator to Parquet Writer
  src/lib/parquet/src/Flow/Parquet/Exception/ValidationException.php
  src/lib/parquet/src/Flow/Parquet/Option.php
  src/lib/parquet/src/Flow/Parquet/Options.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Data/PlainValuesPacker.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/ColumnChunkBuilder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/Flattener.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/Validator.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/Validator/ColumnDataValidator.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/Validator/DisabledValidator.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Schema/FlatColumn.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Schema/ListElement.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Schema/MapValue.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Schema/NestedColumn.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/WriterValidatorTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Unit/ParquetFile/RowGroupBuilder/FlattenerTest.php
Labels: size: L, lib-parquet

#808 Added DataFrame::until method
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/Transformer/UntilTransformer.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/DataFrameTest.php
Labels: size: S, core

#809 Changed default value for format in toDate scalar function
  examples/topics/aggregations/daily_revenue.php
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Integration/ParquetTest.php
  src/core/etl/src/Flow/ETL/Function/EntryScalarFunction.php
Labels: size: XS, core, adapter-parquet, examples

#812 Improve performance of `Types`
  src/core/etl/src/Flow/ETL/PHP/Type/Types.php
Labels: size: XS, core

#810 Move handling of SaveMode to FilesystemStreams
  src/adapter/etl-adapter-avro/src/Flow/ETL/Adapter/Avro/FlixTech/AvroExtractor.php
  src/adapter/etl-adapter-avro/src/Flow/ETL/Adapter/Avro/FlixTech/AvroLoader.php
  src/adapter/etl-adapter-chartjs/src/Flow/ETL/Adapter/ChartJS/ChartJSLoader.php
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/CSVExtractor.php
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/CSVLoader.php
  src/adapter/etl-adapter-json/src/Flow/ETL/Adapter/JSON/JSONMachine/JsonExtractor.php
  src/adapter/etl-adapter-json/src/Flow/ETL/Adapter/JSON/JsonLoader.php
  src/adapter/etl-adapter-json/tests/Flow/ETL/Adapter/JSON/Tests/Integration/JsonLoaderTest.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/ParquetExtractor.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/ParquetLoader.php
  src/adapter/etl-adapter-text/src/Flow/ETL/Adapter/Text/TextExtractor.php
  src/adapter/etl-adapter-text/src/Flow/ETL/Adapter/Text/TextLoader.php
  src/adapter/etl-adapter-xml/src/Flow/ETL/Adapter/XML/XMLReaderExtractor.php
  src/core/etl/src/Flow/ETL/Config.php
  src/core/etl/src/Flow/ETL/ConfigBuilder.php
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/Filesystem/FilesystemStreams.php
  src/core/etl/src/Flow/ETL/Filesystem/Path.php
  src/core/etl/src/Flow/ETL/Filesystem/Stream/FileStream.php
  src/core/etl/src/Flow/ETL/Filesystem/Stream/VoidStreamWrapper.php
  src/core/etl/src/Flow/ETL/FlowContext.php
  src/core/etl/src/Flow/ETL/PartitionedRows.php
  src/core/etl/src/Flow/ETL/Pipeline/Execution/ExecutionPlan.php
  src/core/etl/src/Flow/ETL/Pipeline/Execution/Plan/FilesystemOperations.php
  src/core/etl/src/Flow/ETL/Pipeline/Execution/Processor/FilesystemProcessor.php
  src/core/etl/src/Flow/ETL/Pipeline/Execution/Processor/Processor.php
  src/core/etl/src/Flow/ETL/Pipeline/Execution/Processors.php
  src/core/etl/src/Flow/ETL/Pipeline/PartitioningPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/SynchronousPipeline.php
  src/core/etl/src/Flow/ETL/Rows.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Filesystem/FilesystemStreamsTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Filesystem/Fixtures/file.txt
  src/core/etl/tests/Flow/ETL/Tests/Integration/IntegrationTestCase.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Pipeline/Execution/Processor/FilesystemProcessorTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Pipeline/Execution/Plan/FilesystemPlanTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/RowsTest.php
Labels: size: XL, core, adapter-ampavrohp, adapter-csv, adapter-json, adapter-parquet, adapter-text, adapter-xml, adapter-chartjs

#814 Fix wrong return type on entry reference DSL functions
  src/core/etl/src/Flow/ETL/DSL/functions.php
Labels: size: XS, core

#815 Add missing `EnumType` detection in `NativeEntryFactory`
  src/core/etl/src/Flow/ETL/Row/Factory/NativeEntryFactory.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Factory/NativeEntryFactoryTest.php
Labels: size: XS, core

#813 Improve performance of `ArrayContentDetector`
  src/core/etl/src/Flow/ETL/PHP/Type/ArrayContentDetector.php
Labels: size: XS, core

#816 Prevent reading multipletimes from the same partitioning cache
  src/core/etl/src/Flow/ETL/Cache/LocalFilesystemCache.php
  src/core/etl/src/Flow/ETL/Pipeline/PartitioningPipeline.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/FlowTest.php
Labels: size: XS, core

#817 Fixed some warnings in parquet library
  src/lib/parquet/src/Flow/Parquet/ThriftStream/TPhpFileStream.php
Labels: size: XS, lib-parquet

#820 Add testing of PHP 8.3 into the pipeline
  .github/workflows/test-suite.yml
  composer.lock
  tools/box/composer.lock
  tools/phpunit/composer.lock
Labels: size: XS, ci/cd

#819 Simplify `ScalarType::isValid()` method
  src/core/etl/src/Flow/ETL/PHP/Type/Native/ScalarType.php
Labels: size: XS, core

#821 Simplify PHPUnit configuration
  phpunit.xml
Labels: size: XS

#823 Improve Dbal Bulk coverage
  src/lib/doctrine-dbal-bulk/README.md
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/DbalPlatform.php
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/QueryFactory/DbalQueryFactory.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Unit/DbalPlatformTest.php
Labels: size: XS, docs, lib-doctrine-dbal-bulk

#825 Added pivoting datasets
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/GroupBy.php
  src/core/etl/src/Flow/ETL/Row/References.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/DataFrameTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/GroupByTest.php
Labels: size: M, core

#826 Fix overwriting pivot columns
  src/core/etl/src/Flow/ETL/GroupBy.php
Labels: size: XS, core

#830 Collect entry references
  src/adapter/etl-adapter-chartjs/src/Flow/ETL/Adapter/ChartJS/Chart/BarChart.php
  src/adapter/etl-adapter-chartjs/src/Flow/ETL/Adapter/ChartJS/Chart/LineChart.php
  src/adapter/etl-adapter-chartjs/src/Flow/ETL/Adapter/ChartJS/Chart/PieChart.php
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/Row/References.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/DataFrameTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/ReferencesTest.php
Labels: size: S, core, adapter-chartjs

#831 Updated dependencies
  README.md
  composer.lock
  src/core/etl/src/Flow/ETL/Function/ToTimeZone.php
  tools/cs-fixer/composer.lock
  tools/phpunit/composer.lock
  tools/psalm/composer.lock
Labels: size: XS, docs, core

#822 Rework Psalm configuration & adjust codebase
  psalm.xml
  src/adapter/etl-adapter-meilisearch/src/Flow/ETL/Adapter/Meilisearch/MeilisearchPHP/HitsIntoRowsTransformer.php
  src/adapter/etl-adapter-meilisearch/src/Flow/ETL/Adapter/Meilisearch/MeilisearchPHP/SearchParams.php
  src/adapter/etl-adapter-meilisearch/src/Flow/ETL/Adapter/Meilisearch/MeilisearchPHP/SearchResults.php
  src/lib/parquet-viewer/src/Flow/ParquetViewer/Command/ReadDataCommand.php
Labels: size: XS, adapter-meilisearch

#833 Use references instead of array of strings in Charts
  src/adapter/etl-adapter-chartjs/src/Flow/ETL/Adapter/ChartJS/Chart/BarChart.php
  src/adapter/etl-adapter-chartjs/src/Flow/ETL/Adapter/ChartJS/Chart/LineChart.php
  src/adapter/etl-adapter-chartjs/src/Flow/ETL/Adapter/ChartJS/Chart/PieChart.php
  src/adapter/etl-adapter-chartjs/src/Flow/ETL/DSL/ChartJS.php
  src/adapter/etl-adapter-chartjs/tests/Flow/ETL/Adapter/ChartJS/Tests/Integration/ChartJSLoaderTest.php
  src/adapter/etl-adapter-chartjs/tests/Flow/ETL/Adapter/ChartJS/Tests/Unit/Chart/BarChartTest.php
Labels: size: XS, adapter-chartjs

#834 Added php ~8.3 constraint to composer.json files
  composer.json
  src/adapter/etl-adapter-avro/composer.json
  src/adapter/etl-adapter-chartjs/composer.json
  src/adapter/etl-adapter-csv/composer.json
  src/adapter/etl-adapter-doctrine/composer.json
  src/adapter/etl-adapter-elasticsearch/composer.json
  src/adapter/etl-adapter-filesystem/composer.json
  src/adapter/etl-adapter-google-sheet/composer.json
  src/adapter/etl-adapter-http/composer.json
  src/adapter/etl-adapter-json/composer.json
  src/adapter/etl-adapter-logger/composer.json
  src/adapter/etl-adapter-meilisearch/composer.json
  src/adapter/etl-adapter-parquet/composer.json
  src/adapter/etl-adapter-text/composer.json
  src/adapter/etl-adapter-xml/composer.json
  src/core/etl/composer.json
  src/lib/array-dot/composer.json
  src/lib/doctrine-dbal-bulk/composer.json
  src/lib/dremel/composer.json
  src/lib/parquet-viewer/composer.json
  src/lib/parquet-viewer/composer.lock
  src/lib/parquet/composer.json
  src/lib/parquet/composer.lock
  src/lib/snappy/composer.json
Labels: size: XS, core, lib-array-dot, lib-doctrine-dbal-bulk, adapter-ampavrohp, adapter-csv, adapter-doctrine, adapter-elasticsearch, adapter-http, adapter-json, adapter-logger, adapter-parquet, adapter-text, adapter-xml, adapter-google-sheet, adapter-chartjs, lib-parquet, lib-dremel, adapter-meilisearch, lib-snappy, adapter-filesystem

#835 Simplified how charts are handling references
  src/adapter/etl-adapter-chartjs/src/Flow/ETL/Adapter/ChartJS/Chart/BarChart.php
  src/adapter/etl-adapter-chartjs/src/Flow/ETL/Adapter/ChartJS/Chart/LineChart.php
  src/adapter/etl-adapter-chartjs/src/Flow/ETL/Adapter/ChartJS/Chart/PieChart.php
  src/adapter/etl-adapter-chartjs/src/Flow/ETL/DSL/ChartJS.php
  src/adapter/etl-adapter-chartjs/tests/Flow/ETL/Adapter/ChartJS/Tests/Unit/Chart/BarChartTest.php
  src/core/etl/src/Flow/ETL/Row/References.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/ReferencesTest.php
Labels: size: S, core, adapter-chartjs

#836 Write chartjs output to variable
  examples/topics/aggregations/power_plant_bar_chart.php
  src/adapter/etl-adapter-chartjs/src/Flow/ETL/Adapter/ChartJS/ChartJSLoader.php
  src/adapter/etl-adapter-chartjs/src/Flow/ETL/DSL/ChartJS.php
  src/adapter/etl-adapter-chartjs/tests/Flow/ETL/Adapter/ChartJS/Tests/Integration/ChartJSLoaderTest.php
Labels: size: S, examples, adapter-chartjs

#832 Allow to change hash algorithm in `HashIdFactory`
  UPGRADE.md
  src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/Adapter/Elasticsearch/EntryIdFactory/HashIdFactory.php
  src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/Adapter/Elasticsearch/EntryIdFactory/Sha1IdFactory.php
  src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Unit/EntryIdFactory/HashIdFactoryTest.php
Labels: size: S, docs, adapter-elasticsearch

#824 Improve performance of `ArrayContentDetector`
  src/core/etl/src/Flow/ETL/PHP/Type/ArrayContentDetector.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/ScalarType.php
Labels: size: S, core

#838 Fix `Definition::isEqual()` with random class order
  src/core/etl/src/Flow/ETL/Row/Schema/Definition.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Schema/DefinitionTest.php
Labels: size: XS, core

#842 default cache path
  src/core/etl/src/Flow/ETL/ConfigBuilder.php
Labels: size: XS, core

#844 Reorganized tests & added isTrue/isFalse functions
  src/core/etl/src/Flow/ETL/Function/EntryScalarFunction.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/CacheTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/LimitTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/PartitioningTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/RenameTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/SortTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/DataFrameTest.php
Labels: size: XL, core

#847 Added capitalize scalar function
  src/adapter/etl-adapter-avro/tests/Flow/ETL/Adapter/Avro/Tests/Integration/AvroTest.php
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Function/Capitalize.php
  src/core/etl/src/Flow/ETL/Function/EntryScalarFunction.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/CapitalizeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/CapitalizeTest.php
Labels: size: S, core, adapter-ampavrohp

#848 Use platform for column escaping in bulk insert
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/BulkData.php
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/Columns.php
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/DbalPlatform.php
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/Dialect/MySQLDialect.php
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/Dialect/PostgreSQLDialect.php
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/Dialect/SqliteDialect.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Unit/ColumnsTest.php
Labels: size: S, lib-doctrine-dbal-bulk

#849 Rework Doctrine Bulk tests to not use deprecated code
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Context/DatabaseContext.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Context/InsertQueryCounter.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Context/ProxyLogger.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Integration/MySqlBulkInsertTest.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Integration/PostgreSqlBulkInsertTest.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Integration/SqliteBulkInsertTest.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/IntegrationTestCase.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/MysqlIntegrationTestCase.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/PostgreSqlIntegrationTestCase.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/SqliteIntegrationTestCase.php
Labels: size: S, lib-doctrine-dbal-bulk

#851 Allow usage of Symfony 7
  composer.json
  src/core/etl/composer.json
  src/lib/parquet-viewer/composer.json
Labels: size: XS, core

#853 Updated dependencies
  composer.lock
  tools/box/composer.lock
  tools/cs-fixer/composer.lock
  tools/infection/composer.lock
  tools/phpbench/composer.lock
Labels: size: XS
