Repository flow-php/flow, pull requests merged in 2023-04, with the labels that each got.

#374 Allow to change source from which ES extractor is extracting rows
  src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/Adapter/Elasticsearch/ElasticsearchPHP/DocumentDataSource.php
  src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/Adapter/Elasticsearch/ElasticsearchPHP/HitsIntoRowsTransformer.php
  src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/DSL/Elasticsearch.php
  src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Integration/ElasticsearchPHP/ElasticsearchExtractorTest.php
Labels: size: S, adapter-elasticsearch

#375 Moved more Transformers into expressions
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Row.php
  src/core/etl/src/Flow/ETL/Row/Entries.php
  src/core/etl/src/Flow/ETL/Row/EntryReference.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/ArrayExists.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/ArrayGet.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Cast.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/DateTimeFormat.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Now.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/ToDateTime.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/ArrayGetTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/CastTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/DateTimeFormatTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/ToDateTimeTest.php
  src/lib/array-dot/src/Flow/ArrayDot/array_dot.php
Labels: size: M, core, lib-array-dot

#378 Added split expression
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Split.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/SplitTest.php
Labels: size: S, core

#379 Added combine expression
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Combine.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/CombineTest.php
Labels: size: S, core

#380 Added hash expression
  src/core/etl/src/Flow/ETL/Row/EntryReference.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Combine.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Hash.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/CombineTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/HashTest.php
Labels: size: S, core

#381 Simplify expressions evaluation
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Row/EntryReference.php
  src/core/etl/src/Flow/ETL/Row/Reference/EntryExpression.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/ArrayExists.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/ArrayGet.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Cast.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Combine.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Concat.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Contains.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/DateTimeFormat.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Divide.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/EndsWith.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Equals.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Expressions.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/GreaterThan.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/GreaterThanEqual.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Hash.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/IsIn.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/IsNotNull.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/IsNull.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/IsType.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/LessThan.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/LessThanEqual.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Minus.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Mod.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Multiply.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/NotEquals.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/NotSame.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Plus.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Power.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Same.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Split.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/StartsWith.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/ToDateTime.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Value.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/When.php
  src/core/etl/src/Flow/ETL/Row/Reference/ValueExtractor.php
  src/core/etl/src/Flow/ETL/Transformer/EntryExpressionEvalTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/EntryExpressionFilterTransformer.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/EntryReferenceTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/ConcatTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/ExpressionsTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/MathTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/WhenTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/ValueExtractorTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/EntryExpressionEvalTransformerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/EntryExpressionFilterTransformerTest.php
Labels: size: L, core

#382 Added hash function to DSL
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/CastTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/HashTest.php
Labels: size: XS, core

#383 Fixed edge case in array_dot_exists
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/ArrayGetTest.php
  src/lib/array-dot/src/Flow/ArrayDot/array_dot.php
  src/lib/array-dot/tests/Flow/ArrayDot/Tests/Unit/ArrayDotGetTest.php
Labels: size: XS, core, lib-array-dot

#385 Added DataFrame::dropDuplicates
  src/core/etl/src/Flow/ETL/DSL/Entry.php
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/Pipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/CollectingPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/GroupByPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/LocalSocketPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/NestedPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/ParallelizingPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/Pipes.php
  src/core/etl/src/Flow/ETL/Pipeline/SynchronousPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/VoidPipeline.php
  src/core/etl/src/Flow/ETL/Transformer/DropDuplicates/Hashes.php
  src/core/etl/src/Flow/ETL/Transformer/DropDuplicatesTransformer.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/DataFrameTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Pipeline/LocalSocketPipelineTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Pipeline/PipesTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/DropDuplicatesTransformerTest.php
Labels: size: M, core

#386 Added count expression
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Row/Reference/EntryExpression.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Count.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/CountTest.php
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/DbalPlatform.php
Labels: size: S, core, lib-doctrine-dbal-bulk

#390 Remove impure psalm suppress leftovers
  src/adapter/etl-adapter-avro/src/Flow/ETL/Adapter/Avro/FlixTech/AvroExtractor.php
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/CSVExtractor.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/DbalQueryExtractor.php
  src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/Adapter/Elasticsearch/ElasticsearchPHP/ElasticsearchExtractor.php
  src/adapter/etl-adapter-http/src/Flow/ETL/Adapter/Http/PsrHttpClientDynamicExtractor.php
  src/adapter/etl-adapter-text/src/Flow/ETL/Adapter/Text/TextExtractor.php
  src/adapter/etl-adapter-xml/src/Flow/ETL/Adapter/XML/XMLReaderExtractor.php
  src/core/etl/src/Flow/ETL/DSL/Entry.php
  src/core/etl/src/Flow/ETL/Extractor/CacheExtractor.php
  src/core/etl/src/Flow/ETL/Extractor/PipelineExtractor.php
  src/core/etl/src/Flow/ETL/Partition.php
  src/core/etl/src/Flow/ETL/Row/Entry/ObjectEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/TypedCollection/ObjectType.php
  src/core/etl/src/Flow/ETL/Row/Schema/Definition.php
  src/core/etl/src/Flow/ETL/Rows.php
  src/core/etl/src/Flow/ETL/Transformer/ArrayKeysStyleConverterTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/CallUserFunctionTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/CallbackRowTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/Cast/EntryCaster/AnyToListCaster.php
  src/core/etl/src/Flow/ETL/Transformer/Cast/ValueCaster/DateTimeToStringCaster.php
  src/core/etl/src/Flow/ETL/Transformer/DynamicEntryTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/EntryNameStyleConverterTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/Filter/Filter/ValidValue.php
  src/core/etl/src/Flow/ETL/Transformer/HashTransformer.php
Labels: size: XS, core, adapter-ampavrohp, adapter-csv, adapter-doctrine, adapter-elasticsearch, adapter-http, adapter-text, adapter-xml

#393 Added methods to get Rows from the DataFrame in a memory safe way
  examples/topics/dataframe/get.php
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/DataFrameTest.php
Labels: size: S, core, examples

#391 Update PHPUnit to ^10
  phpunit.xml
  src/adapter/etl-adapter-google-sheet/tests/Flow/ETL/Adapter/GoogleSheet/Tests/Unit/ColumnsTest.php
  src/adapter/etl-adapter-google-sheet/tests/Flow/ETL/Adapter/GoogleSheet/Tests/Unit/GoogleSheetExtractorTest.php
  src/adapter/etl-adapter-google-sheet/tests/Flow/ETL/Adapter/GoogleSheet/Tests/Unit/SheetRangeTest.php
  src/adapter/etl-adapter-http/tests/Flow/ETL/Tests/Unit/RequestEntriesFactoryTest.php
  src/core/etl/src/Flow/ETL/Loader/StreamLoader.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Filesystem/RealpathTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Filesystem/RegisterWrapperTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/ExternalSort/BufferCacheTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Extractor/MemoryExtractorTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Formatter/ASCII/ASCIIValueTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Loader/StreamLoaderTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PartitionTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Entry/ArrayEntryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Entry/BooleanEntryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Entry/CollectionEntryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Entry/DateTimeEntryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Entry/FloatEntryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Entry/IntegerEntryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Entry/JsonEntryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Entry/JsonObjectEntryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Entry/NullEntryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Entry/ObjectEntryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Entry/StringEntryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Entry/StructureEntryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/CastTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/RowTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/RowsTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Stream/PathTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/MathOperationTransformerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/MathValueOperationTransformerTest.php
  tools/phpunit/composer.json
  tools/phpunit/composer.lock
Labels: size: M, core, adapter-http, adapter-google-sheet

#394 array unpack/expand
  examples/topics/transformations/array_expand.php
  examples/topics/transformations/array_unpack.php
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Row/Reference/EntryExpression.php
  src/core/etl/src/Flow/ETL/Row/Reference/ExpandResults.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/ArrayExpand.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/ArrayUnpack.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Expressions.php
  src/core/etl/src/Flow/ETL/Row/Reference/UnpackResults.php
  src/core/etl/src/Flow/ETL/Transformer/EntryExpressionEvalTransformer.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/ArrayUnpackTest.php
Labels: size: M, core, examples

#395 Added size expression
  examples/topics/transformations/size.php
  phpunit.xml
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Row/Reference/EntryExpression.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Size.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/SizeTest.php
Labels: size: S, core, examples

#396 Added lower/upper expressions
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Row/Reference/EntryExpression.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/ToLower.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/ToUpper.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/ToLowerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/ToUpperTest.php
Labels: size: S, core

#397 Added DataFrame extractor to chain extractions from existing dataframes
  src/core/etl/src/Flow/ETL/DSL/From.php
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Extractor/DataFrameExtractor.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Hash.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Extractor/DataFrameExtractorTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/HashTest.php
Labels: size: S, core

#398 Added exists expression
  src/core/etl/src/Flow/ETL/Row/Reference/EntryExpression.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Exists.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/ExistsTest.php
Labels: size: S, core

#400 Added json endode/decode expressions
  composer.lock
  src/core/etl/src/Flow/ETL/Filesystem/FlysystemFS.php
  src/core/etl/src/Flow/ETL/Row/Reference/EntryExpression.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/ArrayExpand.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/ArrayUnpack.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/JsonDecode.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/JsonEncode.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/JsonDecodeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/JsonEncodeTest.php
Labels: size: S, core

#401 Added str replace expression
  src/core/etl/src/Flow/ETL/Row/Reference/EntryExpression.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/StrReplace.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/StrReplaceTest.php
Labels: size: S, core

#402 Added trim expression
  src/core/etl/src/Flow/ETL/Row/Reference/EntryExpression.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Trim.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/TrimTest.php
Labels: size: S, core

#404 Simplify cache usage
  src/core/etl/src/Flow/ETL/DSL/From.php
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/ExternalSort/CacheExternalSort.php
  src/core/etl/src/Flow/ETL/Extractor/CacheExtractor.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/FlowTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Extractor/CacheExtractorTest.php
Labels: size: S, core

#406 Added array sort expression
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Row/Reference/EntryExpression.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/ArraySort.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/ArraySortTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/HashTest.php
Labels: size: S, core

#407 Added more examples
  examples/topics/fs/remote/json_remote_stream.php
  examples/topics/transformations/aggregate.php
  examples/topics/transformations/filter.php
  examples/topics/transformations/group_by.php
  examples/topics/transformations/sort.php
  examples/topics/transformations/when.php
  examples/topics/types/csv/csv_to_json.php
  src/core/etl/src/Flow/ETL/Row/Reference/EntryExpression.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Literal.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/EntryReferenceTest.php
Labels: size: S, core, examples

#408 Added extra padding to ascii table headers/body
  src/core/etl/src/Flow/ETL/Formatter/ASCII/ASCIIBody.php
  src/core/etl/src/Flow/ETL/Formatter/ASCII/ASCIIHeaders.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/DataFrameTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Formatter/ASCII/ASCIIBodyTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Formatter/ASCII/ASCIIHeadersTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Formatter/ASCIITableTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Loader/StreamLoaderTest.php
Labels: size: S, core

#409 New expressions
  src/core/etl/src/Flow/ETL/DSL/Transform.php
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Not.php
  src/core/etl/src/Flow/ETL/Transformer/RenameAllCaseTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/RenameStrReplaceAllEntriesTransformer.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/DataFrameTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/NotTest.php
Labels: size: M, core

#410 Added to timezone expression
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/ToTimeZone.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/ToTimeZoneTest.php
Labels: size: S, core

#411 Add MoneyPHP expression
  composer.json
  composer.lock
  src/core/etl/composer.json
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/ToMoney.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/ToMoneyTest.php
Labels: size: S, core

#412 Added Uuid expression
  composer.json
  composer.lock
  src/core/etl/composer.json
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Uuid.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/UuidTest.php
Labels: size: S, core

#415 Added string expressions
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Row/Reference/EntryExpression.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/PregMatch.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/PregMatchAll.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/PregReplace.php
  src/core/etl/src/Flow/ETL/Row/Reference/Expression/Sprintf.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/PregMatchAllTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/PregMatchTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/PregReplaceTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Reference/Expression/SprintfTest.php
Labels: size: M, core
