Repository flow-php/flow, pull requests merged in 2024-08, with the labels that each got.

#1163 Added missing split function to ScalarFunctionChain
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Function/ScalarFunctionChain.php
  src/core/etl/src/Flow/ETL/Function/Split.php
Labels: size: XS

#1165 Use basenamePrefix instead of suffix when creating temporary file in overwrite save mode
  src/adapter/etl-adapter-json/tests/Flow/ETL/Adapter/JSON/Tests/Integration/JsonTest.php
  src/core/etl/src/Flow/ETL/Filesystem/FilesystemStreams.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Filesystem/FilesystemStreams/NotPartitioned/OverwriteModeTest.php
  src/lib/filesystem/src/Flow/Filesystem/Path.php
  src/lib/filesystem/tests/Flow/Filesystem/Tests/Unit/PathTest.php
Labels: size: S

#1166 XML Loader - writing to XML files
  composer.lock
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/RowsNormalizer.php
  src/adapter/etl-adapter-xml/src/Flow/ETL/Adapter/XML/Abstraction/XMLAttribute.php
  src/adapter/etl-adapter-xml/src/Flow/ETL/Adapter/XML/Abstraction/XMLNode.php
  src/adapter/etl-adapter-xml/src/Flow/ETL/Adapter/XML/Abstraction/XMLNodeType.php
  src/adapter/etl-adapter-xml/src/Flow/ETL/Adapter/XML/Loader/XMLLoader.php
  src/adapter/etl-adapter-xml/src/Flow/ETL/Adapter/XML/RowsNormalizer.php
  src/adapter/etl-adapter-xml/src/Flow/ETL/Adapter/XML/RowsNormalizer/EntryNormalizer.php
  src/adapter/etl-adapter-xml/src/Flow/ETL/Adapter/XML/RowsNormalizer/EntryNormalizer/PHPValueNormalizer.php
  src/adapter/etl-adapter-xml/src/Flow/ETL/Adapter/XML/XMLWriter.php
  src/adapter/etl-adapter-xml/src/Flow/ETL/Adapter/XML/XMLWriter/DOMDocumentWriter.php
  src/adapter/etl-adapter-xml/src/Flow/ETL/Adapter/XML/functions.php
  src/adapter/etl-adapter-xml/tests/Flow/ETL/Adapter/XML/Tests/Fixtures/simple_items.xml
  src/adapter/etl-adapter-xml/tests/Flow/ETL/Adapter/XML/Tests/Integration/Loader/XMLLoaderTest.php
  src/adapter/etl-adapter-xml/tests/Flow/ETL/Adapter/XML/Tests/Unit/RowsNormalizer/EntryNormalizer/PHPValueNormalizer/ListNormalizationTest.php
  src/adapter/etl-adapter-xml/tests/Flow/ETL/Adapter/XML/Tests/Unit/RowsNormalizer/EntryNormalizer/PHPValueNormalizer/MapNormalizationTest.php
  src/adapter/etl-adapter-xml/tests/Flow/ETL/Adapter/XML/Tests/Unit/RowsNormalizer/EntryNormalizer/PHPValueNormalizer/StructureNormalizationTest.php
  src/adapter/etl-adapter-xml/tests/Flow/ETL/Adapter/XML/Tests/Unit/RowsNormalizer/EntryNormalizer/PHPValueNormalizerTest.php
  src/adapter/etl-adapter-xml/tests/Flow/ETL/Adapter/XML/Tests/Unit/RowsNormalizer/EntryNormalizerTest.php
  src/adapter/etl-adapter-xml/tests/Flow/ETL/Adapter/XML/Tests/Unit/RowsNormalizerTest.php
  src/adapter/etl-adapter-xml/tests/Flow/ETL/Adapter/XML/Tests/Unit/XMLWriter/DOMDocumentWriterTest.php
  src/core/etl/composer.json
  src/core/etl/src/Flow/ETL/Row/Entry/XMLEntry.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/DisplayTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Entry/XMLEntryTest.php
  tools/cs-fixer/composer.lock
  tools/phpunit/composer.lock
Labels: size: XL

#1167 Improved reading XML's DX
  src/adapter/etl-adapter-xml/src/Flow/ETL/Adapter/XML/XMLReaderExtractor.php
  src/adapter/etl-adapter-xml/tests/Flow/ETL/Adapter/XML/Tests/Integration/XMLReaderExtractorTest.php
  src/adapter/etl-adapter-xml/tests/Flow/ETL/Adapter/XML/Tests/Integration/XMLTest.php
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Function/DOMElementAttributeValue.php
  src/core/etl/src/Flow/ETL/Function/DOMElementAttributesCount.php
  src/core/etl/src/Flow/ETL/Function/ScalarFunctionChain.php
  src/core/etl/src/Flow/ETL/Function/XPath.php
  src/core/etl/src/Flow/ETL/PHP/Type/Caster.php
  src/core/etl/src/Flow/ETL/PHP/Type/Caster/BooleanCastingHandler.php
  src/core/etl/src/Flow/ETL/PHP/Type/Caster/DateTimeCastingHandler.php
  src/core/etl/src/Flow/ETL/PHP/Type/Caster/FloatCastingHandler.php
  src/core/etl/src/Flow/ETL/PHP/Type/Caster/IntegerCastingHandler.php
  src/core/etl/src/Flow/ETL/PHP/Type/Caster/StringCastingHandler.php
  src/core/etl/src/Flow/ETL/PHP/Type/Caster/UuidCastingHandler.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/DOMElementAttributeValueTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/DOMElementAttributesCountTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/Caster/BooleanCastingHandlerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/Caster/DateTimeCastingHandlerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/Caster/FloatCastingHandlerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/Caster/IntegerCastingHandlerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/Caster/StringCastingHandlerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/Caster/UuidCastingHandlerTest.php
Labels: size: M

#1168 Added onEach scalar function
  src/core/etl/src/Flow/ETL/Function/OnEach.php
  src/core/etl/src/Flow/ETL/Function/ScalarFunctionChain.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/OnEachTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/OnEachTest.php
Labels: size: S

#1172 Improve parquet.md
  docs/components/libs/parquet.md
Labels: size: XS

#1171 Fix a typos in FlowVersion
  src/core/etl/src/Flow/ETL/FlowVersion.php
Labels: size: XS

#1173 Added new page with list of latests blog posts to landing page
  web/landing/assets/images/icons/pencil.svg
  web/landing/composer.json
  web/landing/composer.lock
  web/landing/src/Flow/Website/Controller/BlogController.php
  web/landing/src/Flow/Website/Controller/DefaultController.php
  web/landing/src/Flow/Website/Controller/FlowController.php
  web/landing/src/Flow/Website/Service/Github.php
  web/landing/templates/base.html.twig
  web/landing/templates/blog/posts.html.twig
  web/landing/templates/blog/posts/2024-04-04/building-custom-extractor-google-analytics/accountSummary.json
  web/landing/templates/blog/posts/2024-04-04/building-custom-extractor-google-analytics/extractor-01.php
  web/landing/templates/blog/posts/2024-04-04/building-custom-extractor-google-analytics/extractor-02.php
  web/landing/templates/blog/posts/2024-04-04/building-custom-extractor-google-analytics/extractor-03.php
  web/landing/templates/blog/posts/2024-04-04/building-custom-extractor-google-analytics/extractor-04.php
  web/landing/templates/blog/posts/2024-04-04/building-custom-extractor-google-analytics/from_ga_account_summaries.php
  web/landing/templates/blog/posts/2024-04-04/building-custom-extractor-google-analytics/ga_account_summary_to_row.php
  web/landing/templates/blog/posts/2024-04-04/building-custom-extractor-google-analytics/post.html.twig
  web/landing/templates/blog/posts/2024-04-04/building-custom-extractor-google-analytics/propertySummary.json
  web/landing/templates/blog/posts/2024-04-04/building-custom-extractor-google-analytics/schema.txt
  web/landing/templates/blog/posts/2024-04-04/building-custom-extractor-google-analytics/usage-dsl.php
  web/landing/templates/blog/posts/2024-04-04/building-custom-extractor-google-analytics/usage.php
Labels: size: S

#1174 New blog post - scalar functions
  src/core/etl/src/Flow/ETL/Function/ScalarFunctionChain.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/PowerTest.php
  web/landing/assets/styles/app.css
  web/landing/composer.lock
  web/landing/src/Flow/Website/Blog/Post.php
  web/landing/src/Flow/Website/Blog/Posts.php
  web/landing/src/Flow/Website/Controller/BlogController.php
  web/landing/tailwind.config.js
  web/landing/templates/blog/post.html.twig
  web/landing/templates/blog/posts.html.twig
  web/landing/templates/blog/posts/2024-04-04/building-custom-extractor-google-analytics/post.html.twig
  web/landing/templates/blog/posts/2024-08-08/scalar-functions/post.html.twig
  web/landing/templates/blog/posts/2024-08-08/scalar-functions/power-eval.php
  web/landing/templates/blog/posts/2024-08-08/scalar-functions/power-test.php
  web/landing/templates/blog/posts/2024-08-08/scalar-functions/power.php
  web/landing/templates/blog/posts/2024-08-08/scalar-functions/scalar-function.php
  web/landing/templates/blog/posts/2024-08-08/scalar-functions/when-function.php
Labels: size: L

#1182 Automate normalization of rows in JsonLoader
  src/adapter/etl-adapter-json/src/Flow/ETL/Adapter/JSON/JsonLoader.php
  src/adapter/etl-adapter-json/src/Flow/ETL/Adapter/JSON/RowsNormalizer.php
  src/adapter/etl-adapter-json/src/Flow/ETL/Adapter/JSON/RowsNormalizer/EntryNormalizer.php
  src/adapter/etl-adapter-json/src/Flow/ETL/Adapter/JSON/functions.php
Labels: size: S

#1181 Added CSV RowsNormalizer to automate writing deeply nested data structures to CSV without manual casting
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/CSVLoader.php
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/RowsNormalizer.php
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/RowsNormalizer/EntryNormalizer.php
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/functions.php
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Integration/CSVTest.php
  src/core/etl/src/Flow/ETL/PHP/Type/Caster/JsonCastingHandler.php
Labels: size: S

#1183 Json Loader - allow to write each node in a new line
  src/adapter/etl-adapter-json/src/Flow/ETL/Adapter/JSON/JsonLoader.php
  src/adapter/etl-adapter-json/src/Flow/ETL/Adapter/JSON/functions.php
  src/adapter/etl-adapter-json/tests/Flow/ETL/Adapter/JSON/Tests/Integration/JsonTest.php
Labels: size: S

#1184 Update Homebrew TAP formula: flow-php to version: 0.9.0
  src/tools/homebrew/Formula/flow-php.rb
Labels: size: XS

#1185 Added description to landing page examples
  examples/topics/data_source/array/description.md
  examples/topics/data_source/csv/description.md
  examples/topics/data_source/json/description.md
  examples/topics/data_source/parquet/description.md
  examples/topics/data_source/xml/description.md
  examples/topics/schema/inferring/description.md
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/functions.php
  web/landing/assets/controllers/all_links_external_controller.js
  web/landing/assets/styles/app.css
  web/landing/composer.json
  web/landing/composer.lock
  web/landing/src/Flow/Website/Controller/ExamplesController.php
  web/landing/src/Flow/Website/Controller/HomeController.php
  web/landing/src/Flow/Website/Service/Examples.php
  web/landing/templates/base.html.twig
  web/landing/templates/example/index.html.twig
Labels: size: S

#1186 Fixed parquet reader when reading multiple data pages
  src/lib/parquet/src/Flow/Parquet/ParquetFile/ColumnChunkReader/WholeChunkReader.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/ColumnChunkViewer/WholeChunkViewer.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/Fixtures/multiple_pages.parquet
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/ReaderTest.php
Labels: size: XS

#1187 Update Homebrew TAP formula: flow-php to version: 0.9.1
  src/tools/homebrew/Formula/flow-php.rb
Labels: size: XS

#1190 Add link to github next to each dsl function documentation
  .github/workflows/publish-website.yml
  bin/docs.php
  composer.lock
  src/tools/documentation/src/Flow/Documentation/FunctionsExtractor.php
  src/tools/documentation/src/Flow/Documentation/Models/FunctionModel.php
  web/landing/resources/dsl.json
  web/landing/src/Flow/Website/Model/Documentation/DSLDefinition.php
  web/landing/templates/documentation/dsl.html.twig
Labels: size: S

#1189 Fixed wrong saving multiple rows in `JsonLoader`
  src/adapter/etl-adapter-json/src/Flow/ETL/Adapter/JSON/JsonLoader.php
  src/adapter/etl-adapter-json/tests/Flow/ETL/Adapter/JSON/Tests/Integration/JsonTest.php
Labels: size: XS

#1191 Update Homebrew TAP formula: flow-php to version: 0.9.2
  src/tools/homebrew/Formula/flow-php.rb
Labels: size: XS

#1193 Replaced higlightjs with prism with links to dsl functions docs
  bin/docs.php
  phpunit.xml.dist
  src/adapter/etl-adapter-chartjs/src/Flow/ETL/Adapter/ChartJS/functions.php
  src/adapter/etl-adapter-xml/src/Flow/ETL/Adapter/XML/functions.php
  src/bridge/filesystem/azure/src/Flow/Filesystem/Bridge/Azure/DSL/functions.php
  src/core/etl/src/Flow/ETL/Attribute/Module.php
  src/lib/azure-sdk/src/Flow/Azure/SDK/DSL/functions.php
  src/lib/filesystem/src/Flow/Filesystem/DSL/functions.php
  src/tools/documentation/tests/Flow/Documentation/Tests/Integration/FunctionsExtractorTest.php
  web/landing/assets/controllers/syntax_highlight_controller.js
  web/landing/assets/images/icons/code.svg
  web/landing/assets/prismjs/plugins/autolinker/autolinker.js
  web/landing/assets/prismjs/themes/prism-flow.css
  web/landing/config/services.yaml
  web/landing/importmap.php
  web/landing/resources/dsl.json
  web/landing/src/Flow/Website/Controller/DocumentationController.php
  web/landing/src/Flow/Website/Service/Documentation/DSLDefinitions.php
  web/landing/src/Flow/Website/StaticSourceProvider/DSLProvider.php
  web/landing/src/Flow/Website/Twig/DSLExtension.php
  web/landing/templates/base.html.twig
  web/landing/templates/documentation/dsl.html.twig
  web/landing/templates/documentation/dsl/function.html.twig
  web/landing/templates/example/index.html.twig
  web/landing/templates/main/changelog.html.twig
  web/landing/templates/main/index.html.twig
Labels: size: M

#1194 Added slug to documentation dsl function definitions
  composer.json
  composer.lock
  src/adapter/etl-adapter-chartjs/src/Flow/ETL/Adapter/ChartJS/functions.php
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/functions.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/functions.php
  src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/Adapter/Elasticsearch/functions.php
  src/adapter/etl-adapter-google-sheet/src/Flow/ETL/Adapter/GoogleSheet/functions.php
  src/adapter/etl-adapter-json/src/Flow/ETL/Adapter/JSON/functions.php
  src/adapter/etl-adapter-meilisearch/src/Flow/ETL/Adapter/Meilisearch/functions.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/functions.php
  src/adapter/etl-adapter-text/src/Flow/ETL/Adapter/Text/functions.php
  src/adapter/etl-adapter-xml/src/Flow/ETL/Adapter/XML/functions.php
  src/bridge/filesystem/azure/src/Flow/Filesystem/Bridge/Azure/DSL/functions.php
  src/core/etl/src/Flow/ETL/Attribute/DocumentationDSL.php
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/lib/azure-sdk/src/Flow/Azure/SDK/DSL/functions.php
  src/lib/filesystem/src/Flow/Filesystem/DSL/functions.php
  src/tools/documentation/src/Flow/Documentation/FunctionCollector.php
  src/tools/documentation/src/Flow/Documentation/Models/FunctionModel.php
  src/tools/documentation/tests/Flow/Documentation/Tests/Integration/FunctionsExtractorTest.php
  web/landing/assets/prismjs/plugins/autolinker/autolinker.js
  web/landing/resources/dsl.json
  web/landing/src/Flow/Website/Model/Documentation/DSLDefinition.php
  web/landing/src/Flow/Website/Service/Documentation/DSLDefinitions.php
  web/landing/src/Flow/Website/StaticSourceProvider/DSLProvider.php
  web/landing/templates/base.html.twig
  web/landing/templates/documentation/dsl.html.twig
Labels: size: L

#1195 Landing page functional tests
  web/landing/.env.test
  web/landing/assets/controllers/syntax_highlight_controller.js
  web/landing/composer.json
  web/landing/composer.lock
  web/landing/importmap.php
  web/landing/phpunit.xml
  web/landing/src/Flow/Website/Model/Documentation/DSLDefinition.php
  web/landing/src/Flow/Website/Service/Github.php
  web/landing/templates/documentation/dsl.html.twig
  web/landing/templates/documentation/dsl/function.html.twig
  web/landing/templates/example/index.html.twig
  web/landing/tests/Flow/Website/Tests/Fixtures/Valid/topics/topic_1/example_1/code.php
  web/landing/tests/Flow/Website/Tests/Fixtures/Valid/topics/topic_1/example_2/code.php
  web/landing/tests/Flow/Website/Tests/Fixtures/Valid/topics/topic_2/example_1/code.php
  web/landing/tests/Flow/Website/Tests/Fixtures/Valid/topics/topic_2/example_2/code.php
  web/landing/tests/Flow/Website/Tests/Fixtures/Valid/topics/topic_3/example_1/code.php
  web/landing/tests/Flow/Website/Tests/Functional/DocumentationTest.php
  web/landing/tests/Flow/Website/Tests/Integration/ExamplesTest.php
  web/landing/tests/autoload.php
Labels: size: S

#1196 Duplicate Module/Type enums in website to avoid dependencies and keep boundaries clean
  src/adapter/etl-adapter-chartjs/src/Flow/ETL/Adapter/ChartJS/functions.php
  src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/Adapter/Elasticsearch/functions.php
  src/core/etl/src/Flow/ETL/Attribute/Module.php
  src/core/etl/src/Flow/ETL/Attribute/Type.php
  web/landing/resources/dsl.json
  web/landing/src/Flow/Website/Controller/DocumentationController.php
  web/landing/src/Flow/Website/Model/Documentation/DSLDefinition.php
  web/landing/src/Flow/Website/Model/Documentation/Module.php
  web/landing/src/Flow/Website/Model/Documentation/Type.php
  web/landing/src/Flow/Website/Service/Documentation/DSLDefinitions.php
  web/landing/src/Flow/Website/StaticSourceProvider/DSLProvider.php
  web/landing/templates/documentation/dsl.html.twig
  web/landing/templates/documentation/dsl/function.html.twig
Labels: size: XL

#1203 Allow to rename XML nested structure elements on a loader level
  src/adapter/etl-adapter-xml/src/Flow/ETL/Adapter/XML/Loader/XMLLoader.php
  src/adapter/etl-adapter-xml/src/Flow/ETL/Adapter/XML/RowsNormalizer/EntryNormalizer.php
  src/adapter/etl-adapter-xml/src/Flow/ETL/Adapter/XML/RowsNormalizer/EntryNormalizer/PHPValueNormalizer.php
  src/adapter/etl-adapter-xml/src/Flow/ETL/Adapter/XML/functions.php
Labels: size: S
