Repository flow-php/flow, pull requests merged in 2024-07, with the labels that each got.

#1102 chore: Replace `uniqid` with guarantee uniqueness
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Integration/CSVTest.php
  src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Integration/ElasticsearchPHP/ElasticsearchLoaderTest.php
  src/adapter/etl-adapter-filesystem/tests/Flow/ETL/Adapter/Filesystem/Tests/Integration/FlysystemFSTest.php
  src/adapter/etl-adapter-json/tests/Flow/ETL/Adapter/JSON/Tests/Integration/JsonTest.php
  src/adapter/etl-adapter-meilisearch/tests/Flow/ETL/Adapter/Meilisearch/Tests/Integration/MeilisearchPHP/MeilisearchLoaderTest.php
  src/adapter/etl-adapter-text/tests/Flow/ETL/Adapter/Text/Tests/Integration/TextTest.php
  src/core/etl/src/Flow/ETL/ConfigBuilder.php
  src/core/etl/src/Flow/ETL/Filesystem/Path.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Cache/PSRSimpleCacheTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/PartitioningTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Filesystem/LocalFilesystemTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/CompressionTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/ListsWritingTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/MapsWritingTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/SimpleTypesWritingTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/StructsWritingTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/WriterTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/WriterValidatorTest.php
Labels: size: S, core, adapter-csv, adapter-elasticsearch, adapter-json, adapter-text, lib-parquet, adapter-meilisearch, adapter-filesystem

#1105 Add support for ZSTD compression
  .github/workflows/test-extensions.yml
  composer.json
  src/lib/parquet/composer.json
  src/lib/parquet/src/Flow/Parquet/Option.php
  src/lib/parquet/src/Flow/Parquet/Options.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Codec.php
  src/lib/parquet/src/Flow/Parquet/Writer.php
  src/lib/parquet/src/stubs.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/CompressionTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Unit/ParquetFile/CodecTest.php
Labels: size: S, ci/cd, lib-parquet

#1107 Add support for LZ4 compression
  .github/workflows/test-extensions.yml
  src/lib/parquet/src/Flow/Parquet/Option.php
  src/lib/parquet/src/Flow/Parquet/Options.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Codec.php
  src/lib/parquet/src/Flow/Parquet/Writer.php
  src/lib/parquet/src/stubs.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/CompressionTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Unit/ParquetFile/CodecTest.php
Labels: size: S, ci/cd, lib-parquet

#1106 Add support for BROTLI compression
  .github/workflows/test-extensions.yml
  docs/components/libs/parquet.md
  src/lib/parquet/src/Flow/Parquet/Option.php
  src/lib/parquet/src/Flow/Parquet/Options.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Codec.php
  src/lib/parquet/src/Flow/Parquet/Writer.php
  src/lib/parquet/src/stubs.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/CompressionTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Unit/ParquetFile/CodecTest.php
Labels: size: S, ci/cd, docs, lib-parquet

#1108 Add snappy tests based on extension and polyfill
  .github/workflows/test-extensions.yml
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/CompressionTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Unit/ParquetFile/CodecTest.php
Labels: size: S, ci/cd, lib-parquet

#1110 Simplify making schema definitions nullable
  src/core/etl/src/Flow/ETL/Pipeline/HashJoinPipeline.php
  src/core/etl/src/Flow/ETL/Row/Schema.php
  src/core/etl/src/Flow/ETL/Row/Schema/Definition.php
  src/core/etl/src/Flow/ETL/Rows.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/SchemaTest.php
Labels: size: S, core

#1112 Unified result of comparing values with nulls
  src/core/etl/src/Flow/ETL/Function/GreaterThan.php
  src/core/etl/src/Flow/ETL/Function/GreaterThanEqual.php
  src/core/etl/src/Flow/ETL/Function/LessThan.php
  src/core/etl/src/Flow/ETL/Function/LessThanEqual.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/BinaryComparisonsTest.php
Labels: size: S, core

#1117 Bug/parquet empty nested structures
  src/bridge/filesystem/azure/tests/Flow/Filesystem/Bridge/Azure/Tests/Integration/AzureBlobFilesystemTest.php
  src/functions.php
  src/lib/dremel/src/Flow/Dremel/Dremel.php
  src/lib/dremel/src/Flow/Dremel/ListNode.php
  src/lib/dremel/tests/Flow/Dremel/Tests/Integration/DremelTest.php
  src/lib/dremel/tests/Flow/Dremel/Tests/Unit/DremelAssembleTest.php
  src/lib/dremel/tests/Flow/Dremel/Tests/Unit/DremelShredTest.php
  src/lib/parquet/src/Flow/Parquet/Data/Converter/BytesStringConverter.php
  src/lib/parquet/src/Flow/Parquet/Data/DataConverter.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/ColumnChunkReader/WholeChunkReader.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/ColumnChunkViewer/WholeChunkViewer.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Data/DataBuilder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Data/PlainValueUnpacker.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Data/RLEBitPackedHybrid.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/DataCoder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Metadata.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Page/Header/DataPageHeaderV2.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Page/PageHeader.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/PageReader.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroup.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroup/ColumnChunk.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroup/StatisticsReader.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/ColumnChunkBuilder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/Flattener.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/PageBuilder/DataPageBuilder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/PageBuilder/RLEBitPackedPacker.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroups.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Schema/Column.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Schema/FlatColumn.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Schema/NestedColumn.php
  src/lib/parquet/src/Flow/Parquet/Reader.php
  src/lib/parquet/src/Flow/Parquet/functions.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/EdgeCasesReadingTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/ListsWritingTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/MapsWritingTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/ParquetFile/Data/RLEBitPackedHybridTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/ParquetFile/RowGroupBuilder/PageBuilder/RLEBitPackedTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Unit/ParquetFile/RowGroupBuilder/Flattener/FlattenListsTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Unit/ParquetFile/RowGroupBuilder/Flattener/FlattenMapsTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Unit/ParquetFile/RowGroupBuilder/Flattener/FlattenStructuresTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Unit/ParquetFile/RowGroupBuilder/Flattener/FlattenerTest.php
Labels: size: XL, lib-parquet, lib-dremel

#1118 Fixed calculating column chunk statistics for empty array values
  composer.lock
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/ColumnChunkStatistics.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/ParquetFile/RowGroupBuilder/ColumnChunkStatisticsTest.php
  tools/blackfire/composer.lock
  tools/box/composer.lock
  tools/cs-fixer/composer.lock
  tools/infection/composer.lock
  tools/phpbench/composer.lock
  tools/phpunit/composer.lock
Labels: size: XS, lib-parquet

#1119 Fixed Cache ExternalSort algorithm implementation
  src/core/etl/src/Flow/ETL/ExternalSort/RowsMinHeap.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/ExternalSort/CacheExternalSortTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/ExternalSort/MemorySortTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/ExternalSort/RowsMinHeapTest.php
Labels: size: S, core

#1123 chore: Rework `References` to do fewer loops
  src/core/etl/src/Flow/ETL/Row/References.php
Labels: size: S, core

#1125 Replaced github discussions with discord server link at landing page
  web/landing/assets/images/icons/discord.svg
  web/landing/composer.lock
  web/landing/templates/base.html.twig
Labels: size: XS

#1122 Use generic hash algorithm
  src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/Adapter/Elasticsearch/EntryIdFactory/HashIdFactory.php
  src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Unit/EntryIdFactory/HashIdFactoryTest.php
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Function/Hash.php
  src/core/etl/src/Flow/ETL/Function/ScalarFunctionChain.php
  src/core/etl/src/Flow/ETL/GroupBy.php
  src/core/etl/src/Flow/ETL/Hash/NativePHPHash.php
  src/core/etl/src/Flow/ETL/Pipeline/PartitioningPipeline.php
  src/core/etl/src/Flow/ETL/Row.php
  src/core/etl/src/Flow/ETL/Rows.php
  src/core/etl/src/Flow/ETL/Transformer/DropDuplicatesTransformer.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/HashTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/HashTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Hash/NativePHPHashTest.php
Labels: size: S, core, adapter-elasticsearch

#1126 doc: fix typo on “Discrod”
  README.md
Labels: size: XS, docs

#1127 doc: explain the “ETL” acronym
  README.md
Labels: size: XS, docs

#1129 Fixed Monolog http bridge http-message dependency range
  composer.json
  composer.lock
  src/bridge/monolog/http/composer.json
Labels: size: XS

#1130 Added typed functions to array-dot library
  src/lib/array-dot/src/Flow/ArrayDot/array_dot.php
  src/lib/array-dot/tests/Flow/ArrayDot/Tests/Unit/ArrayDotGetTest.php
  src/lib/array-dot/tests/Flow/ArrayDot/Tests/Unit/Fixtures/Letters.php
  src/lib/array-dot/tests/Flow/ArrayDot/Tests/Unit/Fixtures/Numbers.php
Labels: size: S, lib-array-dot

#1137 Deprecate Schema::entries in favor to Schema::references
  src/core/etl/src/Flow/ETL/Row/References.php
  src/core/etl/src/Flow/ETL/Row/Schema.php
  src/core/etl/src/Flow/ETL/Row/Schema/SelectiveValidator.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/ReferencesTest.php
Labels: size: XS

#1144 Filesystem - added getSystemTmpDir() method
  src/bridge/filesystem/azure/src/Flow/Filesystem/Bridge/Azure/AzureBlobFilesystem.php
  src/bridge/filesystem/azure/src/Flow/Filesystem/Bridge/Azure/Options.php
  src/bridge/filesystem/azure/tests/Flow/Filesystem/Bridge/Azure/Tests/Integration/AzureBlobFilesystemTest.php
  src/lib/filesystem/src/Flow/Filesystem/Filesystem.php
  src/lib/filesystem/src/Flow/Filesystem/Local/NativeLocalFilesystem.php
  src/lib/filesystem/src/Flow/Filesystem/Path.php
  src/lib/filesystem/tests/Flow/Filesystem/Tests/Integration/NativeLocalFilesystemTest.php
  src/lib/filesystem/tests/Flow/Filesystem/Tests/Unit/PathTest.php
Labels: size: M

#1152 Make "jawira/case-converter" a hard dependency
  composer.json
  composer.lock
  src/core/etl/src/Flow/ETL/Function/ArrayKeysStyleConvert.php
Labels: size: XS

#1149 Add `array_to_row` helper function
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/RowsTest.php
Labels: size: S

#1128 Add UniqueFactory for creating random string or int from given range
  docs/components/libs/snappy.md
  src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Integration/ElasticsearchPHP/ElasticsearchExtractorTest.php
  src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Integration/ElasticsearchPHP/ElasticsearchLoaderTest.php
  src/adapter/etl-adapter-meilisearch/tests/Flow/ETL/Adapter/Meilisearch/Tests/Integration/MeilisearchPHP/MeilisearchExtractorTest.php
  src/adapter/etl-adapter-meilisearch/tests/Flow/ETL/Adapter/Meilisearch/Tests/Integration/MeilisearchPHP/MeilisearchLoaderTest.php
  src/adapter/etl-adapter-text/tests/Flow/ETL/Adapter/Text/Tests/Integration/TextTest.php
  src/bridge/filesystem/azure/tests/Flow/Filesystem/Bridge/Azure/Tests/Unit/AzureBlobDestinationStreamTest.php
  src/core/etl/src/Flow/ETL/Config/ConfigBuilder.php
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Function/RandomString.php
  src/core/etl/src/Flow/ETL/NativePHPRandomValueGenerator.php
  src/core/etl/src/Flow/ETL/RandomValueGenerator.php
  src/core/etl/tests/Flow/ETL/Tests/Double/FakeExtractor.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/PartitioningTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Hash/NativePHPHashTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/NativePHPRandomValueGeneratorTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/RowTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/OrderEntriesTransformerTest.php
  src/core/etl/tests/Flow/Serializer/Tests/Unit/Base64SerializerTest.php
  src/core/etl/tests/Flow/Serializer/Tests/Unit/CompressingSerializerTest.php
  src/core/etl/tests/Flow/Serializer/Tests/Unit/NativePHPSerializerTest.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Integration/MySqlBulkInsertTest.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Integration/PostgreSqlBulkInsertTest.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Integration/SqliteBulkInsertTest.php
  src/lib/filesystem/src/Flow/Filesystem/Path.php
  src/lib/filesystem/src/Flow/Filesystem/Stream/Block/NativeLocalFileBlocksFactory.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/CompressionTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/ListsWritingTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/MapsWritingTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/PaginationTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/SimpleTypesWritingTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/StructsWritingTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/WriterTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/WriterValidatorTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/ParquetFile/Data/RLEBitPackedHybridTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/ParquetFile/RowGroupBuilder/PagesBuilderTest.php
  src/lib/snappy/tests/Flow/Snappy/Tests/Integration/SnappyTest.php
Labels: size: L

#1160 Unified regex based scalar functions and their behaviors
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Function/PregMatch.php
  src/core/etl/src/Flow/ETL/Function/PregMatchAll.php
  src/core/etl/src/Flow/ETL/Function/Regex.php
  src/core/etl/src/Flow/ETL/Function/RegexAll.php
  src/core/etl/src/Flow/ETL/Function/RegexMatch.php
  src/core/etl/src/Flow/ETL/Function/RegexMatchAll.php
  src/core/etl/src/Flow/ETL/Function/RegexReplace.php
  src/core/etl/src/Flow/ETL/Function/ScalarFunctionChain.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/RegexAllTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/RegexMatchAllTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/RegexMatchTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/RegexReplaceTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/RegexTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/RegexAllTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/RegexMatchAllTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/RegexMatchTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/RegexTest.php
Labels: size: L
