Repository flow-php/flow, pull requests merged in 2024-09, with the labels that each got.

#1207 Unify passing options to Loaders/Extractors
  examples/topics/data_source/csv/description.md
  examples/topics/data_source/json/description.md
  examples/topics/data_source/xml/description.md
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/functions.php
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Integration/CSVExtractorTest.php
  src/adapter/etl-adapter-json/src/Flow/ETL/Adapter/JSON/functions.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/functions.php
  src/adapter/etl-adapter-text/src/Flow/ETL/Adapter/Text/functions.php
  src/adapter/etl-adapter-text/tests/Flow/ETL/Adapter/Text/Tests/Integration/TextExtractorTest.php
  src/adapter/etl-adapter-xml/src/Flow/ETL/Adapter/XML/functions.php
Labels: size: S

#1208 Unify passing options to loaders/extractors through fluent interface
  UPGRADE.md
  examples/topics/data_source/csv/code.php
  src/adapter/etl-adapter-chartjs/src/Flow/ETL/Adapter/ChartJS/ChartJSLoader.php
  src/adapter/etl-adapter-chartjs/src/Flow/ETL/Adapter/ChartJS/functions.php
  src/adapter/etl-adapter-chartjs/tests/Flow/ETL/Adapter/ChartJS/Tests/Integration/ChartJSLoaderTest.php
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/CSVExtractor.php
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/CSVLoader.php
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/functions.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/DbalLimitOffsetExtractor.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/DbalLoader.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/DbalQueryExtractor.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/functions.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Integration/DbalDataFrameFactoryTest.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Integration/DbalLoaderTest.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Integration/DbalQueryExtractorTest.php
  src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/Adapter/Elasticsearch/ElasticsearchPHP/ElasticsearchExtractor.php
  src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/Adapter/Elasticsearch/ElasticsearchPHP/ElasticsearchLoader.php
  src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/Adapter/Elasticsearch/functions.php
  src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Integration/ElasticsearchPHP/ElasticsearchLoaderTest.php
  src/adapter/etl-adapter-google-sheet/src/Flow/ETL/Adapter/GoogleSheet/GoogleSheetExtractor.php
  src/adapter/etl-adapter-google-sheet/src/Flow/ETL/Adapter/GoogleSheet/functions.php
  src/adapter/etl-adapter-http/src/Flow/ETL/Adapter/Http/PsrHttpClientDynamicExtractor.php
  src/adapter/etl-adapter-http/src/Flow/ETL/Adapter/Http/PsrHttpClientStaticExtractor.php
  src/adapter/etl-adapter-json/src/Flow/ETL/Adapter/JSON/JSONMachine/JsonExtractor.php
  src/adapter/etl-adapter-json/src/Flow/ETL/Adapter/JSON/JsonLoader.php
  src/adapter/etl-adapter-json/src/Flow/ETL/Adapter/JSON/functions.php
  src/adapter/etl-adapter-json/tests/Flow/ETL/Adapter/JSON/Tests/Integration/JSONMachine/JsonExtractorTest.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/ParquetExtractor.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/ParquetLoader.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/functions.php
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Integration/PaginationTest.php
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Integration/ParquetExtractorTest.php
  src/adapter/etl-adapter-text/src/Flow/ETL/Adapter/Text/TextLoader.php
  src/adapter/etl-adapter-text/src/Flow/ETL/Adapter/Text/functions.php
  src/adapter/etl-adapter-text/tests/Flow/ETL/Adapter/Text/Tests/Integration/TextTest.php
  src/adapter/etl-adapter-xml/src/Flow/ETL/Adapter/XML/XMLParserExtractor.php
  src/adapter/etl-adapter-xml/src/Flow/ETL/Adapter/XML/functions.php
  src/adapter/etl-adapter-xml/tests/Flow/ETL/Adapter/XML/Tests/Integration/XMLParserExtractorTest.php
  src/adapter/etl-adapter-xml/tests/Flow/ETL/Adapter/XML/Tests/Integration/XMLTest.php
Labels: size: XL

#1211 Fixed Json extractor when pointer is used to extract flat arrays
  src/adapter/etl-adapter-json/src/Flow/ETL/Adapter/JSON/JSONMachine/JsonExtractor.php
  src/adapter/etl-adapter-json/tests/Flow/ETL/Adapter/JSON/Tests/Integration/JSONMachine/JsonExtractorTest.php
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/ArrayToRowTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Rows/ArrayToRowsTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/RowsTest.php
Labels: size: L

#1216 Added auto generated sitemap to website
  web/landing/.gitignore
  web/landing/composer.json
  web/landing/composer.lock
  web/landing/config/bundles.php
  web/landing/config/packages/presta_sitemap.yaml
  web/landing/config/routes.yaml
  web/landing/public/robots.txt
  web/landing/src/Flow/Website/Controller/BlogController.php
  web/landing/src/Flow/Website/Controller/DocumentationController.php
  web/landing/src/Flow/Website/Controller/ExamplesController.php
  web/landing/src/Flow/Website/Controller/FlowController.php
  web/landing/src/Flow/Website/Controller/HomeController.php
  web/landing/src/Flow/Website/EventListener/SitemapSubscriber.php
Labels: size: S

#1220 Restored original behavior of DOMElementValue function combined with XPath
  examples/topics/data_source/xml/output.txt
  src/core/etl/src/Flow/ETL/Function/DOMElementAttributeValue.php
  src/core/etl/src/Flow/ETL/Function/DOMElementValue.php
  src/core/etl/src/Flow/ETL/Function/Parameter.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/DOMElementAttributeValueTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/DOMElementValueTest.php
Labels: size: S

#1221 Performance optimizations
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/Function/XPath.php
  src/core/etl/src/Flow/ETL/Transformer/ScalarFunctionTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/WindowFunctionTransformer.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/FilterTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/PartitioningTest.php
Labels: size: S

#1222 Return DOMDocument instead of DOMElement from XMLParserExtractor
  src/adapter/etl-adapter-xml/src/Flow/ETL/Adapter/XML/XMLParserExtractor.php
Labels: size: XS

#1223 Improved performance of Scalar Function Parameter
  src/core/etl/src/Flow/ETL/Function/DOMElementAttributeValue.php
  src/core/etl/src/Flow/ETL/Function/DOMElementAttributesCount.php
  src/core/etl/src/Flow/ETL/Function/DOMElementValue.php
  src/core/etl/src/Flow/ETL/Function/Parameter.php
  src/core/etl/src/Flow/ETL/Function/StrReplace.php
  src/core/etl/src/Flow/ETL/Function/ToTimeZone.php
  src/core/etl/src/Flow/ETL/Function/Uuid.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/ParameterTest.php
Labels: size: S

#1224 Added comments to website blog/documentation
  web/landing/assets/styles/app.css
  web/landing/templates/blog/post.html.twig
  web/landing/templates/documentation/dsl/function.html.twig
Labels: size: XS

#1225 Added breadcrumbs to blog posts
  examples/topics/data_sink/parquet/code.php
  examples/topics/data_sink/parquet/description.md
  examples/topics/data_sink/parquet/output.parquet
  examples/topics/data_sink/parquet/priority.txt
  examples/topics/data_sink/priority.txt
  examples/topics/data_source/parquet/description.md
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/functions.php
  web/landing/assets/styles/app.css
  web/landing/resources/dsl.json
  web/landing/templates/blog/post.html.twig
  web/landing/templates/example/index.html.twig
Labels: size: S

#1226 Added ArrayLoader with usage example
  composer.lock
  examples/topics/data_sink/array/code.php
  examples/topics/data_sink/array/description.md
  examples/topics/data_sink/array/output.txt
  examples/topics/data_sink/array/priority.txt
  examples/topics/data_sink/parquet/priority.txt
  psalm.xml
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Loader/ArrayLoader.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Loader/ArrayLoaderTest.php
  tools/box/composer.lock
  tools/cs-fixer/composer.lock
  tools/infection/composer.lock
  tools/phpbench/composer.lock
  tools/phpunit/composer.lock
  web/landing/resources/dsl.json
Labels: size: M

#1227 Turned EntryReference into Reference and removed redundant interface
  src/adapter/etl-adapter-chartjs/src/Flow/ETL/Adapter/ChartJS/Chart.php
  src/adapter/etl-adapter-chartjs/src/Flow/ETL/Adapter/ChartJS/functions.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/Parameter.php
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Function/ListSelect.php
  src/core/etl/src/Flow/ETL/Function/StructureSelect.php
  src/core/etl/src/Flow/ETL/Join/Comparison/Equal.php
  src/core/etl/src/Flow/ETL/Join/Comparison/Identical.php
  src/core/etl/src/Flow/ETL/Row/Entry/EntryRef.php
  src/core/etl/src/Flow/ETL/Row/EntryReference.php
  src/core/etl/src/Flow/ETL/Row/Reference.php
  src/core/etl/src/Flow/ETL/Row/References.php
  src/core/etl/src/Flow/ETL/Row/Schema.php
  src/core/etl/src/Flow/ETL/Row/Schema/Definition.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/SchemaTest.php
  src/lib/filesystem/src/Flow/Filesystem/Partition.php
Labels: size: M

#1233 Added StdOut Filesystem with stdout protocol
  src/adapter/etl-adapter-chartjs/src/Flow/ETL/Adapter/ChartJS/ChartJSLoader.php
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/CSVExtractor.php
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/CSVLoader.php
  src/adapter/etl-adapter-json/src/Flow/ETL/Adapter/JSON/JSONMachine/JsonExtractor.php
  src/adapter/etl-adapter-json/src/Flow/ETL/Adapter/JSON/JsonLoader.php
  src/adapter/etl-adapter-json/src/Flow/ETL/Adapter/JSON/functions.php
  src/adapter/etl-adapter-json/tests/Flow/ETL/Adapter/JSON/Tests/Integration/JsonTest.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/ParquetExtractor.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/ParquetLoader.php
  src/adapter/etl-adapter-text/src/Flow/ETL/Adapter/Text/TextExtractor.php
  src/adapter/etl-adapter-text/src/Flow/ETL/Adapter/Text/TextLoader.php
  src/adapter/etl-adapter-xml/src/Flow/ETL/Adapter/XML/Loader/XMLLoader.php
  src/adapter/etl-adapter-xml/src/Flow/ETL/Adapter/XML/XMLParserExtractor.php
  src/adapter/etl-adapter-xml/src/Flow/ETL/Adapter/XML/XMLReaderExtractor.php
  src/adapter/etl-adapter-xml/tests/Flow/ETL/Adapter/XML/Tests/Integration/Loader/XMLLoaderTest.php
  src/core/etl/src/Flow/ETL/Extractor/PathPartitionsExtractor.php
  src/core/etl/src/Flow/ETL/Filesystem/FilesystemStreams.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Filesystem/FilesystemStreams/FilesystemStreamsTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Filesystem/FilesystemStreams/NotPartitioned/AppendModeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Filesystem/FilesystemStreams/NotPartitioned/ExceptionIfExistsModeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Filesystem/FilesystemStreams/NotPartitioned/IgnoreModeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Filesystem/FilesystemStreams/NotPartitioned/OverwriteModeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Filesystem/FilesystemStreams/Partitioned/AppendModeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Filesystem/FilesystemStreams/Partitioned/ExceptionIfExistsModeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Filesystem/FilesystemStreams/Partitioned/IgnoreModeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Filesystem/FilesystemStreams/Partitioned/OverwriteModeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/IntegrationTestCase.php
  src/lib/filesystem/src/Flow/Filesystem/DSL/functions.php
  src/lib/filesystem/src/Flow/Filesystem/Local/StdOut/Filter/Intercept.php
  src/lib/filesystem/src/Flow/Filesystem/Local/StdOut/StdOutDestinationStream.php
  src/lib/filesystem/src/Flow/Filesystem/Local/StdOutFilesystem.php
  src/lib/filesystem/tests/Flow/Filesystem/Tests/Integration/StdOutFilesystemTest.php
  web/landing/resources/dsl.json
Labels: size: M

#1235 Improved DX on adding path filter to file extractors
  src/adapter/etl-adapter-avro/src/Flow/ETL/Adapter/Avro/FlixTech/AvroExtractor.php
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/CSVExtractor.php
  src/adapter/etl-adapter-json/src/Flow/ETL/Adapter/JSON/JSONMachine/JsonExtractor.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/ParquetExtractor.php
  src/adapter/etl-adapter-text/src/Flow/ETL/Adapter/Text/TextExtractor.php
  src/adapter/etl-adapter-xml/src/Flow/ETL/Adapter/XML/XMLParserExtractor.php
  src/adapter/etl-adapter-xml/src/Flow/ETL/Adapter/XML/XMLReaderExtractor.php
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/Extractor/FileExtractor.php
  src/core/etl/src/Flow/ETL/Extractor/PartitionExtractor.php
  src/core/etl/src/Flow/ETL/Extractor/PathFiltering.php
  src/core/etl/src/Flow/ETL/Extractor/PathPartitionsExtractor.php
Labels: size: S

#1234 symfony http foundation bridge - flow streamed response
  .github/workflows/monorepo-split.yml
  .github/workflows/test-suite.yml
  composer.json
  composer.lock
  docs/components/bridges/symfony-http-foundation-bridge.md
  phpunit.xml.dist
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/functions.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/functions.php
  src/bridge/filesystem/azure/tests/Flow/Filesystem/Bridge/Azure/Tests/Integration/AzureBlobServiceTestCase.php
  src/bridge/symfony/http-foundation/.gitattributes
  src/bridge/symfony/http-foundation/.github/workflows/readonly.yaml
  src/bridge/symfony/http-foundation/CONTRIBUTING.md
  src/bridge/symfony/http-foundation/LICENSE
  src/bridge/symfony/http-foundation/README.md
  src/bridge/symfony/http-foundation/composer.json
  src/bridge/symfony/http-foundation/src/Flow/Bridge/Symfony/HttpFoundation/FlowStreamedResponse.php
  src/bridge/symfony/http-foundation/src/Flow/Bridge/Symfony/HttpFoundation/Output.php
  src/bridge/symfony/http-foundation/src/Flow/Bridge/Symfony/HttpFoundation/Output/CSVOutput.php
  src/bridge/symfony/http-foundation/src/Flow/Bridge/Symfony/HttpFoundation/Output/JsonOutput.php
  src/bridge/symfony/http-foundation/src/Flow/Bridge/Symfony/HttpFoundation/Output/ParquetOutput.php
  src/bridge/symfony/http-foundation/src/Flow/Bridge/Symfony/HttpFoundation/Output/Type.php
  src/bridge/symfony/http-foundation/src/Flow/Bridge/Symfony/HttpFoundation/Output/XMLOutput.php
  src/bridge/symfony/http-foundation/src/Flow/Bridge/Symfony/HttpFoundation/Transformation/MaskColumns.php
  src/bridge/symfony/http-foundation/src/Flow/Bridge/Symfony/HttpFoundation/Transformation/Transformations.php
  src/bridge/symfony/http-foundation/tests/Flow/Bridge/Symfony/HttpFoundation/Tests/Integration/FlowStreamedResponseTest.php
  src/bridge/symfony/http-foundation/tests/Flow/Bridge/Symfony/HttpFoundation/Tests/Unit/Transformation/MaskColumnTransformationTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Filesystem/FilesystemStreams/FilesystemStreamsTest.php
  src/lib/azure-sdk/src/Flow/Azure/SDK/Exception/AzureException.php
  src/lib/filesystem/src/Flow/Filesystem/DSL/functions.php
  src/lib/filesystem/src/Flow/Filesystem/Local/StdOut/StdOutDestinationStream.php
  src/lib/filesystem/src/Flow/Filesystem/Path.php
  src/lib/filesystem/src/Flow/Filesystem/Path/Options.php
  src/lib/filesystem/src/Flow/Filesystem/Stream/ResourceContext.php
  src/lib/filesystem/tests/Flow/Filesystem/Tests/Integration/StdOutFilesystemTest.php
  src/lib/filesystem/tests/Flow/Filesystem/Tests/Unit/PathTest.php
  tools/blackfire/composer.lock
  tools/box/composer.lock
  tools/cs-fixer/composer.lock
  tools/infection/composer.lock
  tools/phpbench/composer.lock
  tools/phpstan/composer.lock
  tools/phpunit/composer.lock
Labels: size: XL

#1236 FlowStreamedResponse - drop partitions to avoid opening multiple streams
  src/bridge/symfony/http-foundation/src/Flow/Bridge/Symfony/HttpFoundation/FlowStreamedResponse.php
  src/bridge/symfony/http-foundation/tests/Flow/Bridge/Symfony/HttpFoundation/Tests/Integration/Fixtures/partitioned/size=large/color=green/products.json
  src/bridge/symfony/http-foundation/tests/Flow/Bridge/Symfony/HttpFoundation/Tests/Integration/Fixtures/partitioned/size=large/color=white/products.json
  src/bridge/symfony/http-foundation/tests/Flow/Bridge/Symfony/HttpFoundation/Tests/Integration/Fixtures/partitioned/size=medium/color=black/products.json
  src/bridge/symfony/http-foundation/tests/Flow/Bridge/Symfony/HttpFoundation/Tests/Integration/Fixtures/partitioned/size=medium/color=blue/products.json
  src/bridge/symfony/http-foundation/tests/Flow/Bridge/Symfony/HttpFoundation/Tests/Integration/Fixtures/partitioned/size=small/color=red/products.json
  src/bridge/symfony/http-foundation/tests/Flow/Bridge/Symfony/HttpFoundation/Tests/Integration/Fixtures/partitioned/size=small/color=yellow/products.json
  src/bridge/symfony/http-foundation/tests/Flow/Bridge/Symfony/HttpFoundation/Tests/Integration/FlowStreamedResponseTest.php
  web/landing/composer.lock
Labels: size: L

#1237 Fixed bug in detecting array value type when first element was null
  src/adapter/etl-adapter-json/tests/Flow/ETL/Adapter/JSON/Tests/Integration/JsonTest.php
  src/core/etl/src/Flow/ETL/PHP/Type/ArrayContentDetector.php
  src/core/etl/src/Flow/ETL/PHP/Type/TypeDetector.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/TypeDetector/Fixtures/github_user_event.json
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/TypeDetector/StructuresTypeDetectorTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/TypeDetectorTest.php
Labels: size: S

#1238 Added more output styles for to_output() loader
  src/core/etl/src/Flow/ETL/Loader/StreamLoader.php
  src/core/etl/src/Flow/ETL/Loader/StreamLoader/Output.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Loader/StreamLoaderTest.php
Labels: size: S

#1239 Simplified caching pipeline batch size configuration
  src/core/etl/src/Flow/ETL/Config/Cache/CacheConfig.php
  src/core/etl/src/Flow/ETL/Config/Cache/CacheConfigBuilder.php
  src/core/etl/src/Flow/ETL/Config/ConfigBuilder.php
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/Pipeline/PipelineMessage.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/CacheTest.php
Labels: size: S
