Repository flow-php/flow, pull requests merged in 2024-04, with the labels that each got.

#1034 Added possibility to set cache batch size
  phpstan.neon
  psalm.xml
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/CSVDetector.php
  src/adapter/etl-adapter-google-sheet/src/Flow/ETL/Adapter/GoogleSheet/GoogleSheetExtractor.php
  src/core/etl/src/Flow/ETL/Config.php
  src/core/etl/src/Flow/ETL/ConfigBuilder.php
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/Join/Expression.php
  src/core/etl/src/Flow/ETL/Monitoring/Memory/Unit.php
  src/core/etl/src/Flow/ETL/Pipeline/BatchingPipeline.php
  src/core/etl/src/Flow/ETL/Rows.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/SortTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Window/WindowFunctionsTest.php
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/BulkData.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/ColumnChunkReader/WholeChunkReader.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/ColumnChunkViewer/WholeChunkViewer.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Page/Header/DataPageHeaderV2.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Page/PageHeader.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroup/ColumnChunk.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Schema/LogicalType.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Schema/NestedColumn.php
  src/lib/parquet/src/Flow/Parquet/Reader.php
  src/lib/parquet/src/Flow/Parquet/Writer.php
Labels: size: S, core, lib-doctrine-dbal-bulk, adapter-csv, adapter-google-sheet, lib-parquet

#1036 Improve performance of sorting operation by reducing number of writes to cache
  src/core/etl/src/Flow/ETL/Cache/PSRSimpleCache.php
  src/core/etl/src/Flow/ETL/ExternalSort/CacheExternalSort.php
  src/core/etl/src/Flow/ETL/ExternalSort/CachedParts.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/SortTest.php
Labels: size: S, core

#1037 Added Base64 serializer
  src/core/etl/src/Flow/ETL/ConfigBuilder.php
  src/core/etl/src/Flow/Serializer/Base64Serializer.php
  src/core/etl/src/Flow/Serializer/CompressingSerializer.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Cache/LocalFilesystemCacheTest.php
  src/core/etl/tests/Flow/Serializer/Tests/Unit/Base64SerializerTest.php
Labels: size: S, core

#1038 How to write a custom data extractor - blog post
  web/landing/assets/controllers/syntax_highlight_controller.js
  web/landing/assets/styles/app.css
  web/landing/importmap.php
  web/landing/src/Flow/Website/Controller/BlogController.php
  web/landing/src/Flow/Website/StaticSourceProvider/BlogPostsProvider.php
  web/landing/templates/blog/2024-04-04/building-custom-extractor-google-analytics/accountSummary.json
  web/landing/templates/blog/2024-04-04/building-custom-extractor-google-analytics/extractor-01.php
  web/landing/templates/blog/2024-04-04/building-custom-extractor-google-analytics/extractor-02.php
  web/landing/templates/blog/2024-04-04/building-custom-extractor-google-analytics/extractor-03.php
  web/landing/templates/blog/2024-04-04/building-custom-extractor-google-analytics/extractor-04.php
  web/landing/templates/blog/2024-04-04/building-custom-extractor-google-analytics/from_ga_account_summaries.php
  web/landing/templates/blog/2024-04-04/building-custom-extractor-google-analytics/ga_account_summary_to_row.php
  web/landing/templates/blog/2024-04-04/building-custom-extractor-google-analytics/post.html.twig
  web/landing/templates/blog/2024-04-04/building-custom-extractor-google-analytics/propertySummary.json
  web/landing/templates/blog/2024-04-04/building-custom-extractor-google-analytics/schema.txt
  web/landing/templates/blog/2024-04-04/building-custom-extractor-google-analytics/usage-dsl.php
  web/landing/templates/blog/2024-04-04/building-custom-extractor-google-analytics/usage.php
Labels: size: M

#1039 Added join expressions to dsl
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Join/Expression.php
Labels: size: S, core

#1041 Improved filesystem related exceptions
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Integration/CSVExtractorTest.php
  src/adapter/etl-adapter-filesystem/src/Flow/ETL/Adapter/Filesystem/FlysystemFS.php
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Exception/FileNotFoundException.php
  src/core/etl/src/Flow/ETL/Filesystem/LocalFilesystem.php
Labels: size: S, core, adapter-csv, adapter-filesystem

#1046 Improve performance of merching rows into given batch size
  src/core/etl/src/Flow/ETL/Extractor/ChunkExtractor.php
  src/core/etl/src/Flow/ETL/Filesystem/Path.php
  src/core/etl/src/Flow/ETL/Rows.php
Labels: size: S, core

#1049 Fixed reading required columns from parquet files
  composer.json
  composer.lock
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Integration/CSVDetectorTest.php
  src/adapter/etl-adapter-filesystem/src/Flow/ETL/Adapter/Filesystem/FlysystemFS.php
  src/lib/parquet-viewer/composer.json
  src/lib/parquet/src/Flow/Parquet/ParquetFile/DataCoder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Schema/NestedColumn.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/EdgeCasesReadingTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/Fixtures/columns.required.parquet
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/ReaderTest.php
  tools/box/composer.lock
  tools/cs-fixer/composer.lock
  tools/infection/composer.lock
  tools/phpbench/composer.lock
  tools/phpstan/composer.lock
  tools/phpunit/composer.lock
Labels: size: S, adapter-csv, lib-parquet, adapter-filesystem

#1050 Added support for parquet multifile pagination
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/ParquetExtractor.php
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Integration/Fixtures/Pagination/01_1000.parquet
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Integration/Fixtures/Pagination/02_500.parquet
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Integration/Fixtures/Pagination/03_350.parquet
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Integration/Fixtures/Pagination/04_2000.parquet
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Integration/Fixtures/Pagination/05_15.parquet
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Integration/Fixtures/Pagination/partitioned/date=2024-01-01/01_1000.parquet
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Integration/Fixtures/Pagination/partitioned/date=2024-02-01/02_500.parquet
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Integration/Fixtures/Pagination/partitioned/date=2024-02-01/03_350.parquet
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Integration/Fixtures/Pagination/partitioned/date=2024-12-01/04_2000.parquet
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Integration/Fixtures/Pagination/partitioned/date=2025-01-01/05_15.parquet
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Integration/PaginationTest.php
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Unit/ParquetExtractorTest.php
Labels: size: S, adapter-parquet

#1051 Make sure that filesystem scans are returning files in proper order
  src/adapter/etl-adapter-filesystem/tests/Flow/ETL/Adapter/Filesystem/Tests/Integration/FlysystemFSTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Filesystem/LocalFilesystemTest.php
Labels: size: S, core, adapter-filesystem

#1052 Overwrite mode on partitions
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/Fixtures/Partitioning/overwrite/.gitignore
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/Fixtures/Partitioning/overwrite/date=2024-04-01/file.txt
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/Fixtures/Partitioning/overwrite/date=2024-04-02/file.txt
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/PartitioningTest.php
Labels: size: S, core

#1053 Update Homebrew TAP formula: flow-php to version: 0.7.4
  src/tools/homebrew/Formula/flow-php.rb
Labels: size: XS, tools-homebrew

#1054 Added missing tests for parquet rows normalizer
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Unit/RowsNormalizerTest.php
Labels: size: XS, adapter-parquet

#1055 Replaced nested loop join with hash join algorithm
  UPGRADE.md
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/Exception/DuplicatedEntriesException.php
  src/core/etl/src/Flow/ETL/Exception/JoinException.php
  src/core/etl/src/Flow/ETL/Hash/Algorithm.php
  src/core/etl/src/Flow/ETL/Hash/NativePHPHash.php
  src/core/etl/src/Flow/ETL/Hash/PlainText.php
  src/core/etl/src/Flow/ETL/Join/Comparison/GreaterThan.php
  src/core/etl/src/Flow/ETL/Join/Comparison/GreaterThanEqual.php
  src/core/etl/src/Flow/ETL/Join/Comparison/LessThan.php
  src/core/etl/src/Flow/ETL/Join/Comparison/LessThanEqual.php
  src/core/etl/src/Flow/ETL/Join/Expression.php
  src/core/etl/src/Flow/ETL/Pipeline/BatchingPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/HashJoin/Bucket.php
  src/core/etl/src/Flow/ETL/Pipeline/HashJoin/HashTable.php
  src/core/etl/src/Flow/ETL/Pipeline/HashJoinPipeline.php
  src/core/etl/src/Flow/ETL/Row/Entries.php
  src/core/etl/src/Flow/ETL/Row/EntryFactory.php
  src/core/etl/src/Flow/ETL/Row/Factory/NativeEntryFactory.php
  src/core/etl/src/Flow/ETL/Rows.php
  src/core/etl/src/Flow/ETL/Transformer/JoinRowsTransformer.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/JoinCrossTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/JoinEachTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/JoinTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Join/Comparison/GreaterTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Join/Comparison/GreaterThanEqualTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Join/Comparison/LessTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Join/Comparison/LessThanEqualTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Join/Comparison/NotTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Pipeline/HashJoin/HashTableTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/RowsJoinTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/JoinEachRowsTransformerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/JoinRowsTransformerTest.php
Labels: size: XL, docs, core

#1056 Pipelines refactoring
  UPGRADE.md
  examples/topics/aggregations/group_by/code.php
  examples/topics/aggregations/group_by/output.txt
  examples/topics/data_source/http_dynamic/output.txt
  examples/topics/data_source/sequence_date/code.php
  examples/topics/data_source/sequence_date/output.txt
  examples/topics/partitioning/partition_pruning/output.txt
  examples/topics/partitioning/reading/output.txt
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/DataFrame/GroupedDataFrame.php
  src/core/etl/src/Flow/ETL/DataFrame/PartitionedDataFrame.php
  src/core/etl/src/Flow/ETL/Flow.php
  src/core/etl/src/Flow/ETL/Pipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/BatchingPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/CachingPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/CollectingPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/GroupByPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/HashJoinPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/LinkedPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/Optimizer/BatchSizeOptimization.php
  src/core/etl/src/Flow/ETL/Pipeline/Optimizer/LimitOptimization.php
  src/core/etl/src/Flow/ETL/Pipeline/PartitioningPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/SynchronousPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/VoidPipeline.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/GroupByTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/JoinTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/PartitioningTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Pipeline/BatchingPipelineTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Pipeline/CollectingPipelineTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Extractor/PipelineExtractorTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Pipeline/LinkedPipelineTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Pipeline/Optimizer/BatchSizeOptimizationTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Pipeline/Optimizer/LimitOptimizationTest.php
Labels: size: L, docs, core, examples

#1057 Fixed replacing instance of dataframe when using aggregate method
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/DataFrame/GroupedDataFrame.php
  src/core/etl/src/Flow/ETL/Pipeline/LinkedPipeline.php
Labels: size: XS, core

#1058 Replaced reflection with bind closure approach to set dataframe pipeline
  src/core/etl/src/Flow/ETL/DataFrame/GroupedDataFrame.php
  src/core/etl/src/Flow/ETL/Join/Comparison/Not.php
Labels: size: S, core

#1059 reorder entries
  examples/topics/data_frame/cache/output.txt
  examples/topics/data_frame/reorder_entries/code.php
  examples/topics/data_frame/reorder_entries/output.txt
  examples/topics/data_source/http_dynamic/output.txt
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/Pipeline/Optimizer/LimitOptimization.php
  src/core/etl/src/Flow/ETL/Transformer/DropEntriesTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/KeepEntriesTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/OrderEntries/CombinedComparator.php
  src/core/etl/src/Flow/ETL/Transformer/OrderEntries/Comparator.php
  src/core/etl/src/Flow/ETL/Transformer/OrderEntries/NameComparator.php
  src/core/etl/src/Flow/ETL/Transformer/OrderEntries/Order.php
  src/core/etl/src/Flow/ETL/Transformer/OrderEntries/TypeComparator.php
  src/core/etl/src/Flow/ETL/Transformer/OrderEntries/TypePriorities.php
  src/core/etl/src/Flow/ETL/Transformer/OrderEntriesTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/SelectEntriesTransformer.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Pipeline/OptimizerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/DataFrameTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Pipeline/Optimizer/LimitOptimizationTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/DropEntriesTransformerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/KeepEntriesTransformerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/OrderEntriesTransformerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/RemoveEntriesTransformerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/SelectEntriesTransformerTest.php
Labels: size: XL, core, examples

#1061 fixes #1060 : check on Ramsey UUID concrete class
  src/core/etl/src/Flow/ETL/Row/Entry/Type/Uuid.php
Labels: size: XS, core

#1065 Added cloud storage examples to homepage
  examples/.env.dist
  examples/topics/cloud_storage/.gitignore
  examples/topics/cloud_storage/aws_s3/.env.dist
  examples/topics/cloud_storage/aws_s3/code.php
  examples/topics/cloud_storage/azure/.env.dist
  examples/topics/cloud_storage/azure/code.php
  examples/topics/data_frame/reorder_entries/code.php
  examples/topics/data_frame/reorder_entries/output.txt
  web/landing/composer.json
  web/landing/composer.lock
  web/landing/src/Flow/Website/Service/Examples.php
  web/landing/tools/phpunit/composer.lock
Labels: size: S, examples
