Repository flow-php/flow, pull requests merged in 2024-02, with the labels that each got.

#945 Added html for a landing page
  src/web/landing/assets/images/banner.png
  src/web/landing/assets/images/elephant.svg
  src/web/landing/assets/images/favicons/apple-touch-icon.png
  src/web/landing/assets/images/favicons/favicon-16x16.png
  src/web/landing/assets/images/favicons/favicon-32x32.png
  src/web/landing/assets/images/favicons/favicon.ico
  src/web/landing/assets/images/icons/arrow-right.svg
  src/web/landing/assets/images/icons/close.svg
  src/web/landing/assets/images/icons/external.svg
  src/web/landing/assets/images/icons/extract.svg
  src/web/landing/assets/images/icons/load.svg
  src/web/landing/assets/images/icons/menu.svg
  src/web/landing/assets/images/icons/transform.svg
  src/web/landing/assets/images/logo.svg
  src/web/landing/assets/styles/app.css
  src/web/landing/config/bundles.php
  src/web/landing/config/preload.php
  src/web/landing/public/index.php
  src/web/landing/tailwind.config.js
  src/web/landing/templates/base.html.twig
  src/web/landing/templates/main/example.txt.twig
  src/web/landing/templates/main/index.html.twig
Labels: size: M

#946 Added contributors section in a landing page
  src/web/landing/src/Flow/Website/Controller/DefaultController.php
  src/web/landing/templates/main/index.html.twig
Labels: size: S

#948 Updated dependencies
  composer.lock
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/DbalLimitOffsetExtractor.php
  src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/Adapter/Elasticsearch/ElasticsearchPHP/ElasticsearchLoader.php
  src/core/etl/src/Flow/ETL/Cache/PSRSimpleCache.php
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/Formatter/ASCII/ASCIIValue.php
  src/core/etl/src/Flow/ETL/Function/DOMNodeAttribute.php
  src/core/etl/src/Flow/ETL/Function/XPath.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/ColumnChunkStatistics.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/PageBuilder/DataPageV2Statistics.php
  tools/box/composer.lock
  tools/cs-fixer/composer.lock
  tools/infection/composer.lock
  tools/phpbench/composer.lock
  tools/phpunit/composer.lock
Labels: size: XS, core, adapter-doctrine, adapter-elasticsearch, lib-parquet

#950 Fetch latest contributors using FlowPHP itself
  src/web/landing/.env
  src/web/landing/composer.json
  src/web/landing/composer.lock
  src/web/landing/config/services.yaml
  src/web/landing/src/Flow/Website/Controller/DefaultController.php
  src/web/landing/src/Flow/Website/Factory/Github/ContributorsUrlFactory.php
  src/web/landing/templates/main/index.html.twig
Labels: size: S

#952 Hide data in `ArrayMemory` by default
  src/core/etl/src/Flow/ETL/Memory/ArrayMemory.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/AddDynamicEntriesTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/AddJsonTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/AllTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/AnyTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/ArrayExistsTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/ArrayExpandTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/ArrayGetCollectionTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/ArrayGetTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/ArrayKeyRenameTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/ArrayKeysStyleConvertTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/ArrayMergeCollectionTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/ArrayMergeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/ArrayReverseTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/ArraySortTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/ArrayUnpackTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/BetweenTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/BinaryComparisonsTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/CapitalizeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/CastTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/CombineTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/ConcatTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/ContainsTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/CountTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/EndsWithTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/HashTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/JsonDecodeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/JsonEncodeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/NotTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/PregMatchAllTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/PregMatchTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/PregReplaceTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/SanitizeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/SizeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/SplitTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/SprintfTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/StartsWithTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/StrPadTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/StrReplaceTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/ToLowerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/ToUpperTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/TrimTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/WhenTest.php
Labels: size: S, core

#951 Add shortcut for building static content for landing page
  src/web/landing/.gitignore
  src/web/landing/build/.gitkeep
  src/web/landing/composer.json
  src/web/landing/config/packages/static_content_generator.yaml
Labels: size: XS

#954 Added stimulus & controllers to a landing page
  src/web/landing/assets/app.js
  src/web/landing/assets/bootstrap.js
  src/web/landing/assets/controllers.json
  src/web/landing/assets/controllers/syntax_highlight_controller.js
  src/web/landing/assets/styles/app.css
  src/web/landing/composer.json
  src/web/landing/composer.lock
  src/web/landing/config/bundles.php
  src/web/landing/importmap.php
  src/web/landing/templates/base.html.twig
  src/web/landing/templates/main/index.html.twig
Labels: size: S

#956 Added popover polyfill for a landing page
  src/web/landing/assets/app.js
  src/web/landing/importmap.php
  src/web/landing/templates/base.html.twig
Labels: size: XS

#957 Added possibility to get a hash from an entire row or all rows
  src/core/etl/src/Flow/ETL/Row.php
  src/core/etl/src/Flow/ETL/Rows.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/RowTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/RowsTest.php
Labels: size: M, core

#958 Fixed Caching Pipeline & Build
  .github/workflows/build.yml
  examples/topics/cache/reading/code.php
  examples/topics/cache/reading/output/.gitignore
  examples/topics/phar/data_frame/code.php
  src/core/etl/src/Flow/ETL/Cache/PSRSimpleCache.php
  src/core/etl/src/Flow/ETL/Pipeline/CachingPipeline.php
  src/core/etl/tests/Flow/ETL/Tests/Double/CacheSpy.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/CacheTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/SortTest.php
Labels: size: S, ci/cd, core, examples

#959 Extracted fetching contributors logic to standalone service
  src/web/landing/config/services.yaml
  src/web/landing/src/Flow/Website/Controller/DefaultController.php
  src/web/landing/src/Flow/Website/Factory/Github/ContributorsRequestFactory.php
  src/web/landing/src/Flow/Website/Service/Github.php
Labels: size: S

#961 Separated main repo composer file from web
  composer.json
Labels: size: XS

#962 Setup CI/CD for website
  .github/workflows/publish-website.yml
  .github/workflows/test-suite.yml
  web/landing/.php-version
  web/landing/.symfony.local.yaml
  web/landing/README.md
  web/landing/composer.json
  web/landing/composer.lock
  web/landing/config/bundles.php
  web/landing/config/packages/monolog.yaml
  web/landing/config/services.yaml
  web/landing/src/Flow/Website/StaticSourceProvider/ExamplesSourceProvider.php
  web/landing/tests/Flow/Website/Service/Tests/Integration/ExamplesTest.php
Labels: size: M, ci/cd, docs

#964 Added google analytics tag
  .github/workflows/publish-website.yml
  .github/workflows/test-website.yml
  web/landing/.env
  web/landing/config/packages/twig.yaml
  web/landing/templates/base.html.twig
Labels: size: XS, ci/cd

#965 Added HTMX for smoother examples reloading
  web/landing/assets/app.js
  web/landing/importmap.php
  web/landing/templates/main/index.html.twig
Labels: size: XS

#966 Added schema inferring example
  examples/topics/phar/data_frame/code.php
  examples/topics/schema/inferring/code.php
  examples/topics/schema/inferring/input/dataset.csv
  examples/topics/schema/inferring/output/.gitignore
  examples/topics/schema/validate/code.php
  examples/topics/window_functions/dens_rank/code.php
Labels: size: S, examples

#967 Adjusted landing page mobile view + some minor fixes
  web/landing/README.md
  web/landing/composer.json
  web/landing/src/Flow/Website/Service/Github.php
  web/landing/templates/base.html.twig
  web/landing/templates/main/index.html.twig
Labels: size: XS, docs

#968 Added more examples
  examples/topics/aggregations/average/code.php
  examples/topics/aggregations/first/code.php
  examples/topics/aggregations/group_by/code.php
  examples/topics/aggregations/group_by_sum/code.php
  examples/topics/aggregations/last/code.php
  examples/topics/aggregations/max/code.php
  examples/topics/aggregations/min/code.php
  examples/topics/data_source/array/code.php
  examples/topics/data_source/csv/code.php
  examples/topics/data_source/csv/input/dataset.csv
  examples/topics/data_source/data_frame/code.php
  examples/topics/data_source/json/code.php
  examples/topics/data_source/json/output/dataset.json
  examples/topics/data_source/parquet/code.php
  examples/topics/data_source/parquet/output/dataset.parquet
  examples/topics/data_source/sequence_date/code.php
  examples/topics/data_source/sequence_date_recurrences/code.php
  examples/topics/data_source/sequence_number/code.php
  examples/topics/data_source/xml/code.php
  examples/topics/data_source/xml/input/dataset.xml
  examples/topics/schema/inferring/code.php
  web/landing/templates/main/index.html.twig
Labels: size: M, examples

#969 Added trailing slash to landing urls to avoid github pages redirections
  web/landing/src/Flow/Website/Controller/DefaultController.php
Labels: size: XS

#970 Added possibility to copy code from landing page examples
  web/landing/assets/app.js
  web/landing/assets/controllers/clipboard_controller.js
  web/landing/assets/images/icons/copy.svg
  web/landing/importmap.php
  web/landing/templates/main/index.html.twig
Labels: size: S

#971 Added key features to the landing page
  web/landing/assets/app.js
  web/landing/assets/controllers/clipboard_controller.js
  web/landing/assets/controllers/syntax_highlight_controller.js
  web/landing/assets/images/icons/flow.svg
  web/landing/assets/images/icons/tools.svg
  web/landing/assets/styles/app.css
  web/landing/src/Flow/Website/Controller/DefaultController.php
  web/landing/templates/base.html.twig
  web/landing/templates/example/index.html.twig
  web/landing/templates/main/index.html.twig
Labels: size: M

#972 Improved landing page mobile
  web/landing/assets/app.js
  web/landing/templates/base.html.twig
Labels: size: XS

#973 landing page cs fix
  web/landing/src/Flow/Website/Controller/DefaultController.php
Labels: size: XS

#974 Support Doctrine DBAL 4
  .github/workflows/test-suite.yml
  composer.json
  composer.lock
  phpunit.xml
  src/adapter/etl-adapter-doctrine/composer.json
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/DbalDataFrameFactory.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/DbalLimitOffsetExtractor.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/DbalQueryExtractor.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/LiteralParameter.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/Parameter.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/QueryParameter.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/functions.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/DSL/Dbal.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Context/DatabaseContext.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Context/InsertQueryCounter.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/IntegrationTestCase.php
  src/lib/doctrine-dbal-bulk/composer.json
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/BulkData.php
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/DbalPlatform.php
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/TableDefinition.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Context/DatabaseContext.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Integration/MySqlBulkInsertTest.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Integration/PostgreSqlBulkInsertTest.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Integration/PostgreSqlBulkUpdateTest.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Integration/SqliteBulkInsertTest.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/MysqlIntegrationTestCase.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/PostgreSqlIntegrationTestCase.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/SqliteIntegrationTestCase.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Unit/BulkDataTest.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Unit/DbalPlatformTest.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Unit/TableDefinitionTest.php
Labels: size: S, ci/cd, lib-doctrine-dbal-bulk, adapter-doctrine

#976 Extracted static analyze to standalone workflow in order to run it always for website/code changes
  .github/workflows/publish-website.yml
  .github/workflows/static-analyze.yml
  .github/workflows/test-suite.yml
Labels: size: S, ci/cd

#977 Added homepage SEO copy
  web/landing/assets/images/icons/api.svg
  web/landing/assets/images/icons/chart-bar.svg
  web/landing/assets/images/icons/data-flow.svg
  web/landing/assets/images/icons/date.svg
  web/landing/assets/images/icons/users-group.svg
  web/landing/src/Flow/Website/Controller/DefaultController.php
  web/landing/templates/base.html.twig
  web/landing/templates/main/index.html.twig
Labels: size: S

#978 Changed mobile layout in a landing page
  web/landing/templates/base.html.twig
  web/landing/templates/main/index.html.twig
Labels: size: XS

#979 Added open graph related tags to a landing page
  web/landing/assets/images/banner.png
  web/landing/assets/images/banner.svg
  web/landing/templates/base.html.twig
  web/landing/templates/example/index.html.twig
  web/landing/templates/main/index.html.twig
Labels: size: S

#980 Added base asset url to a landing page
  .github/workflows/publish-website.yml
  web/landing/.env
  web/landing/config/packages/framework.yaml
  web/landing/config/services.yaml
Labels: size: XS, ci/cd

#981 Fixed generating urls in landing page
  .github/dependabot.yml
  web/landing/composer.lock
  web/landing/config/services.yaml
Labels: size: XS, ci/cd

#982 Added partitioning examples
  examples/topics/partitioning/partition_pruning/code.php
  examples/topics/partitioning/partition_pruning/input/color=blue/sku=PRODUCT01/65c7e9bc4460a568233195.csv
  examples/topics/partitioning/partition_pruning/input/color=blue/sku=PRODUCT02/65c7e9bc446c2326068326.csv
  examples/topics/partitioning/partition_pruning/input/color=green/sku=PRODUCT01/65c7e9bc44305321518126.csv
  examples/topics/partitioning/partition_pruning/input/color=green/sku=PRODUCT02/65c7e9bc44421020940545.csv
  examples/topics/partitioning/partition_pruning/input/color=green/sku=PRODUCT03/65c7e9bc44515031584752.csv
  examples/topics/partitioning/partition_pruning/input/color=red/sku=PRODUCT01/65c7e9bc4386f958078278.csv
  examples/topics/partitioning/partition_pruning/input/color=red/sku=PRODUCT02/65c7e9bc440fa083889144.csv
  examples/topics/partitioning/partition_pruning/input/color=red/sku=PRODUCT03/65c7e9bc44209401416287.csv
  examples/topics/partitioning/partitioning/code.php
  examples/topics/partitioning/partitioning/output/.gitignore
  examples/topics/partitioning/reading/code.php
  examples/topics/partitioning/reading/input/color=blue/sku=PRODUCT01/65c7e9bc4460a568233195.csv
  examples/topics/partitioning/reading/input/color=blue/sku=PRODUCT02/65c7e9bc446c2326068326.csv
  examples/topics/partitioning/reading/input/color=green/sku=PRODUCT01/65c7e9bc44305321518126.csv
  examples/topics/partitioning/reading/input/color=green/sku=PRODUCT02/65c7e9bc44421020940545.csv
  examples/topics/partitioning/reading/input/color=green/sku=PRODUCT03/65c7e9bc44515031584752.csv
  examples/topics/partitioning/reading/input/color=red/sku=PRODUCT01/65c7e9bc4386f958078278.csv
  examples/topics/partitioning/reading/input/color=red/sku=PRODUCT02/65c7e9bc440fa083889144.csv
  examples/topics/partitioning/reading/input/color=red/sku=PRODUCT03/65c7e9bc44209401416287.csv
  web/landing/src/Flow/Website/Service/Github.php
Labels: size: S, examples

#983 Added missing rdsl dependency
  composer.lock
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/DbalLimitOffsetExtractor.php
  src/core/etl/composer.json
  src/core/etl/src/Flow/ETL/DataFrame.php
  tools/box/composer.lock
  tools/cs-fixer/composer.lock
  tools/infection/composer.lock
  tools/phpbench/composer.lock
  tools/phpunit/composer.lock
Labels: size: XS, core, adapter-doctrine

#985 Update Homebrew TAP formula: flow-php to version: 0.6.1
  src/tools/homebrew/Formula/flow-php.rb
Labels: size: XS, tools-homebrew

#987 Drop partition columns
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/Rows.php
  src/core/etl/src/Flow/ETL/Transformer/DropPartitionsTransformer.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/DropPartitionsTransformerTest.php
Labels: size: S, core

#988 Respect additional/missing schema fields when creating rows
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Exception/InvalidArgumentException.php
  src/core/etl/src/Flow/ETL/Exception/SchemaDefinitionNotFoundException.php
  src/core/etl/src/Flow/ETL/Row/EntryFactory.php
  src/core/etl/src/Flow/ETL/Row/Factory/NativeEntryFactory.php
  src/core/etl/src/Flow/ETL/Row/Schema.php
  src/core/etl/src/Flow/ETL/Transformer/AutoCastTransformer.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Factory/NativeEntryFactoryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/RowsTest.php
Labels: size: S, core

#989 Fixed writing parquet to remote locations
  src/adapter/etl-adapter-filesystem/src/Flow/ETL/Adapter/Filesystem/FlysystemWrapper.php
  src/core/etl/src/Flow/ETL/Filesystem/LocalBuffer.php
  src/core/etl/src/Flow/ETL/Filesystem/Stream/StreamWrapper.php
  src/core/etl/src/Flow/ETL/Filesystem/Stream/VoidStreamWrapper.php
  src/core/etl/src/Flow/ETL/Filesystem/TmpfileBuffer.php
  src/lib/parquet/src/Flow/Parquet/Writer.php
Labels: size: S, core, lib-parquet, adapter-filesystem

#991 Improved schema manipulation
  src/core/etl/src/Flow/ETL/Exception/SchemaDefinitionNotUniqueException.php
  src/core/etl/src/Flow/ETL/Row/Schema.php
  src/core/etl/src/Flow/ETL/Row/Schema/Definition.php
  src/core/etl/src/Flow/ETL/Rows.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/SchemaTest.php
Labels: size: M, core

#994 Remove deprecated code
  .github/workflows/build-release.yml
  .github/workflows/build.yml
  UPGRADE.md
  src/adapter/etl-adapter-avro/src/Flow/ETL/DSL/Avro.php
  src/adapter/etl-adapter-chartjs/src/Flow/ETL/DSL/ChartJS.php
  src/adapter/etl-adapter-csv/src/Flow/ETL/DSL/CSV.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/DSL/Dbal.php
  src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/Adapter/Elasticsearch/EntryIdFactory/EntryIdFactory.php
  src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/DSL/Elasticsearch.php
  src/adapter/etl-adapter-google-sheet/src/Flow/ETL/DSL/GoogleSheet.php
  src/adapter/etl-adapter-json/src/Flow/ETL/DSL/Json.php
  src/adapter/etl-adapter-meilisearch/src/Flow/ETL/DSL/Meilisearch.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/DSL/Parquet.php
  src/adapter/etl-adapter-text/src/Flow/ETL/DSL/Text.php
  src/adapter/etl-adapter-xml/src/Flow/ETL/DSL/XML.php
  src/core/etl/src/Flow/ETL/DSL/Entry.php
  src/core/etl/src/Flow/ETL/DSL/From.php
  src/core/etl/src/Flow/ETL/DSL/Handler.php
  src/core/etl/src/Flow/ETL/DSL/Partitions.php
  src/core/etl/src/Flow/ETL/DSL/To.php
  src/core/etl/src/Flow/ETL/DSL/Transform.php
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/DataFrame/GroupedDataFrame.php
  src/core/etl/src/Flow/ETL/Partition/CallableFilter.php
  src/core/etl/src/Flow/ETL/Pipeline/Optimizer/BatchSizeOptimization.php
  src/core/etl/src/Flow/ETL/Pipeline/Optimizer/LimitOptimization.php
  src/core/etl/src/Flow/ETL/Pipeline/ParallelizingPipeline.php
  src/core/etl/src/Flow/ETL/Row/Schema.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/GroupByTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Pipeline/ParallelizingPipelineTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Pipeline/NestedPipelineTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Pipeline/Optimizer/BatchSizeOptimizationTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/SchemaTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/KeepEntriesTransformerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/RemoveEntriesTransformerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/RenameEntryTransformerTest.php
Labels: size: XL, ci/cd, docs, core, adapter-ampavrohp, adapter-csv, adapter-doctrine, adapter-elasticsearch, adapter-json, adapter-parquet, adapter-text, adapter-xml, adapter-google-sheet, adapter-chartjs, adapter-meilisearch

#998 Allow to group by uuid/datetime objects without casting them to scalar first
  src/core/etl/src/Flow/ETL/GroupBy.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/GroupByTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/GroupByTest.php
Labels: size: S, core

#1002 Added changelog page to landing
  .github/workflows/test-website.yml
  web/landing/assets/styles/app.css
  web/landing/assets/styles/changelog.css
  web/landing/composer.json
  web/landing/composer.lock
  web/landing/config/bundles.php
  web/landing/config/services.yaml
  web/landing/src/Flow/Website/Controller/DefaultController.php
  web/landing/src/Flow/Website/Controller/FlowController.php
  web/landing/src/Flow/Website/Controller/LayoutController.php
  web/landing/src/Flow/Website/Factory/Github/ContributorsRequestFactory.php
  web/landing/src/Flow/Website/Service/Github.php
  web/landing/templates/base.html.twig
  web/landing/templates/main/_contributors.html.twig
  web/landing/templates/main/_hero.html.twig
  web/landing/templates/main/changelog.html.twig
  web/landing/templates/main/index.html.twig
Labels: size: M, ci/cd
