Repository flow-php/flow, pull requests merged in 2024-06, with the labels that each got.

#1087 Prepare for PHPUnit 11
  src/adapter/etl-adapter-google-sheet/tests/Flow/ETL/Adapter/GoogleSheet/Tests/Unit/ColumnsTest.php
  src/adapter/etl-adapter-google-sheet/tests/Flow/ETL/Adapter/GoogleSheet/Tests/Unit/SheetRangeTest.php
  src/adapter/etl-adapter-http/tests/Flow/ETL/Adapter/HTTP/Tests/Unit/RequestEntriesFactoryTest.php
  src/core/etl/tests/Flow/ArrayComparison/Tests/Unit/ArrayComparisonTest.php
  src/core/etl/tests/Flow/ArrayComparison/Tests/Unit/ArraySortByKeyTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Filesystem/RealpathTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/HashTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Formatter/ASCII/ASCIIValueTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/CastTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PartitionTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Entry/ArrayEntryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Entry/BooleanEntryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Entry/DateTimeEntryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Entry/FloatEntryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Entry/IntegerEntryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Entry/JsonEntryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Entry/JsonObjectEntryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Entry/ObjectEntryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Entry/StringEntryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Entry/StructureEntryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Entry/UuidEntryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Entry/XMLEntryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/RowTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/RowsTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Stream/PathTest.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Unit/DbalPlatformTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/Binary/BinaryReaderWriterTest.php
  src/lib/rdsl/tests/Flow/RDSL/Tests/Unit/NamespaceTest.php
Labels: size: S, core, lib-doctrine-dbal-bulk, adapter-http, adapter-google-sheet, lib-parquet, lib-rdsl

#1085 Fix fragile test comparing console output
  src/lib/parquet-viewer/tests/Flow/ParquetViewer/Tests/Integration/ReadMetadataTest.php
Labels: size: XS

#1091 Avoid type casting when it's necessary
  composer.lock
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Row/Factory/NativeEntryFactory.php
  tools/box/composer.lock
  tools/cs-fixer/composer.lock
  tools/infection/composer.lock
  tools/phpstan/composer.lock
Labels: size: S, core

#1086 Fix deprecated dynamic property usage
  src/adapter/etl-adapter-filesystem/src/Flow/ETL/Adapter/Filesystem/AwsS3Stream.php
  src/adapter/etl-adapter-filesystem/src/Flow/ETL/Adapter/Filesystem/AzureBlobStream.php
  src/core/etl/src/Flow/ETL/Filesystem/Stream/StreamWrapper.php
  src/core/etl/src/Flow/ETL/Filesystem/Stream/VoidStreamWrapper.php
Labels: size: XS, core, adapter-filesystem

#1094 Recognize INT32 with deprecated ConvertedType as DateTimeImmutable object
  src/core/etl/src/Flow/ETL/Filesystem/TmpfileBuffer.php
  src/lib/parquet/src/Flow/Parquet/Data/Converter/Int32DateConverter.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Unit/Data/Converter/Int32DateConverterTest.php
Labels: size: XS, core, lib-parquet

#1096 Fixed handling negative numbers in parquet binary reader/writer
  src/lib/parquet/src/Flow/Parquet/BinaryReader.php
  src/lib/parquet/src/Flow/Parquet/BinaryReader/BinaryBufferReader.php
  src/lib/parquet/src/Flow/Parquet/BinaryWriter.php
  src/lib/parquet/src/Flow/Parquet/BinaryWriter/BinaryBufferWriter.php
  src/lib/parquet/src/Flow/Parquet/Data/DataConverter.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Data/PlainValueUnpacker.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/Binary/BinaryReaderWriterTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/EdgeCasesReadingTest.php
Labels: size: S, lib-parquet

#1101 Temporarily drop support for Avro file format
  composer.json
  composer.lock
  docs/components/adapters/avro.md
  phpstan.neon
  psalm.xml
  src/adapter/etl-adapter-avro/README.md
  src/adapter/etl-adapter-avro/src/Flow/ETL/Adapter/Avro/FlixTech/AvroExtractor.php
  src/adapter/etl-adapter-avro/src/Flow/ETL/Adapter/Avro/FlixTech/AvroLoader.php
  src/adapter/etl-adapter-avro/src/Flow/ETL/Adapter/Avro/FlixTech/AvroResource.php
  src/adapter/etl-adapter-avro/src/Flow/ETL/Adapter/Avro/FlixTech/SchemaConverter.php
  src/adapter/etl-adapter-avro/src/Flow/ETL/Adapter/Avro/FlixTech/ValueConverter.php
  src/adapter/etl-adapter-avro/tests/Flow/ETL/Adapter/Avro/Tests/Benchmark/AvroExtractorBench.php
  src/adapter/etl-adapter-avro/tests/Flow/ETL/Adapter/Avro/Tests/Benchmark/AvroLoaderBench.php
  src/adapter/etl-adapter-avro/tests/Flow/ETL/Adapter/Avro/Tests/Integration/AvroTest.php
  src/adapter/etl-adapter-avro/tests/Flow/ETL/Adapter/Avro/Tests/Unit/SchemaConverterTest.php
  src/adapter/etl-adapter-avro/tests/Flow/ETL/Adapter/Avro/Tests/Unit/ValueConverterTest.php
  src/lib/snappy/src/Flow/Snappy/SnappyDecompressor.php
  tools/box/composer.lock
  tools/cs-fixer/composer.lock
  tools/infection/composer.lock
  tools/phpbench/composer.lock
  tools/phpunit/composer.lock
  tools/psalm/composer.lock
Labels: size: L, docs, adapter-ampavrohp, lib-snappy
