Repository flow-php/flow, pull requests merged in 2024-12, with the labels that each got.

#1262 Updated dependencies
  composer.lock
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Extractor/ChunkExtractor.php
  src/lib/parquet/src/Flow/Parquet/Thrift/ColumnMetaData.php
  src/lib/parquet/src/Flow/Parquet/Thrift/FileMetaData.php
  src/lib/parquet/src/Flow/Parquet/Thrift/OffsetIndex.php
  src/lib/parquet/src/Flow/Parquet/Thrift/RowGroup.php
  tools/blackfire/composer.lock
  tools/box/composer.lock
  tools/cs-fixer/composer.lock
  tools/infection/composer.lock
  tools/phpbench/composer.lock
  tools/phpstan/composer.lock
  web/landing/composer.lock
Labels: size: L

#1263 Fixed scenario where list is optional column but list element is required and value is empty list
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/DremelShredder.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Unit/ParquetFile/RowGroupBuilder/Dremel/DremelListsTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Unit/ParquetFile/RowGroupBuilder/Dremel/DremelMapsTest.php
Labels: size: S

#1268 Added coalesce scalar function
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Function/Coalesce.php
  src/core/etl/src/Flow/ETL/Function/ScalarFunctionChain.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/CoalesceTest.php
Labels: size: S

#1269 Fixed pivot edge case when pivot column is null
  src/core/etl/src/Flow/ETL/GroupBy.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/GroupByTest.php
Labels: size: S

#1271 Allow to pass schema to doctrine dbal extractors
  examples/run.php
  examples/topics/data_sink/database/code.php
  examples/topics/data_sink/database/generate_orders.php
  examples/topics/data_sink/database/output/.gitignore
  examples/topics/data_source/database/code.php
  examples/topics/data_source/database/description.md
  examples/topics/data_source/database/input/orders.db
  examples/topics/data_source/database/output.txt
  examples/topics/data_source/database/priority.txt
  examples/topics/data_source/http_dynamic/output.txt
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/DbalDataFrameFactory.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/DbalLimitOffsetExtractor.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/DbalQueryExtractor.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/functions.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Integration/DbalDataFrameFactoryTest.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Integration/DbalLimitOffsetExtractorTest.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Integration/DbalQueryExtractorTest.php
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/BulkData.php
  web/landing/resources/dsl.json
Labels: size: L

#1273 Added more filesystems related examples
  examples/topics/cloud_storage/priority.txt
  examples/topics/filesystem/.gitignore
  examples/topics/filesystem/azure/.env.dist
  examples/topics/filesystem/azure/code.php
  examples/topics/filesystem/azure/priority.txt
  examples/topics/filesystem/local/code.php
  examples/topics/filesystem/local/description.md
  examples/topics/filesystem/local/output.txt
  examples/topics/filesystem/local/priority.txt
  examples/topics/filesystem/priority.txt
  examples/topics/filesystem/s3/code.php
  examples/topics/filesystem/s3/description.md
  examples/topics/filesystem/s3/priority.txt
  examples/topics/filesystem/stdout/code.php
  examples/topics/filesystem/stdout/description.md
  examples/topics/filesystem/stdout/priority.txt
  examples/topics/join/priority.txt
  src/lib/filesystem/src/Flow/Filesystem/Stream/NativeLocalDestinationStream.php
  src/lib/filesystem/src/Flow/Filesystem/Stream/VoidStream.php
Labels: size: S

#1277 Removed .md suffix from documentation urls
  web/landing/src/Flow/Website/Service/Documentation/Pages.php
  web/landing/src/Flow/Website/Service/Markdown/FlowLinkRenderer.php
  web/landing/src/Flow/Website/Service/Markdown/LeagueCommonMarkConverterFactory.php
Labels: size: XS

#1278 Added examples to documentation
  documentation/components/core/aggregations.md
  documentation/components/core/building-blocks.md
  documentation/components/core/caching.md
  documentation/components/core/error-handling.md
  documentation/components/core/schema.md
  documentation/components/core/window-functions.md
  documentation/components/libs/doctrine-dbal-bulk.md
  documentation/installation.md
  documentation/introduction.md
  web/landing/assets/app.js
  web/landing/assets/styles/app.css
  web/landing/importmap.php
  web/landing/src/Flow/Website/Controller/DocumentationController.php
  web/landing/src/Flow/Website/Controller/ExamplesController.php
  web/landing/src/Flow/Website/Model/Documentation/Page.php
  web/landing/src/Flow/Website/Service/Markdown/FlowLinkRenderer.php
  web/landing/src/Flow/Website/Service/Markdown/LeagueCommonMarkConverterFactory.php
  web/landing/tailwind.config.js
  web/landing/templates/documentation/dsl.html.twig
  web/landing/templates/documentation/dsl/function.html.twig
  web/landing/templates/documentation/example.html.twig
  web/landing/templates/documentation/examples.html.twig
  web/landing/templates/documentation/navigation.html.twig
  web/landing/templates/documentation/page.html.twig
Labels: size: L

#1279 Improved user experience on mobile version of the documentation
  web/landing/assets/styles/app.css
  web/landing/templates/documentation/dsl.html.twig
  web/landing/templates/documentation/dsl/function.html.twig
  web/landing/templates/documentation/example.html.twig
  web/landing/templates/documentation/examples.html.twig
  web/landing/templates/documentation/navigation.html.twig
  web/landing/templates/documentation/page.html.twig
Labels: size: L

#1280 Added cookies fallback page
  web/landing/assets/controllers/cookie_consent_controller.js
  web/landing/assets/controllers/cookie_fallback_controller.js
  web/landing/src/Flow/Website/Controller/HomeController.php
  web/landing/templates/base.html.twig
  web/landing/templates/main/cookies.html.twig
Labels: size: S

#1287 Split test suite into independent jobs
  .github/workflows/test-extensions.yml
  .github/workflows/test-suite.yml
  composer.json
  composer.lock
  phpunit.xml.dist
  src/adapter/etl-adapter-meilisearch/composer.json
  src/lib/azure-sdk/tests/Flow/Azure/SDK/Tests/Unit/BlobService/URLFactory/URLFactoryTest.php
  tools/box/composer.lock
  tools/cs-fixer/composer.lock
  tools/infection/composer.lock
  tools/phpbench/composer.lock
  tools/phpstan/composer.lock
  tools/phpunit/composer.lock
Labels: size: M

#1288 Drop support for PHP 8.1
  .github/workflows/benchmark-baseline.yml
  .github/workflows/build-release.yml
  .github/workflows/build.yml
  .github/workflows/publish-website.yml
  .github/workflows/static-analyze.yml
  .github/workflows/test-benchmark.yml
  .github/workflows/test-extensions.yml
  .github/workflows/test-mutations.yml
  .github/workflows/test-suite.yml
  .github/workflows/test-website.yml
  composer.json
  composer.lock
  src/adapter/etl-adapter-avro/composer.json
  src/adapter/etl-adapter-chartjs/composer.json
  src/adapter/etl-adapter-csv/composer.json
  src/adapter/etl-adapter-doctrine/composer.json
  src/adapter/etl-adapter-elasticsearch/composer.json
  src/adapter/etl-adapter-google-sheet/composer.json
  src/adapter/etl-adapter-http/composer.json
  src/adapter/etl-adapter-json/composer.json
  src/adapter/etl-adapter-logger/composer.json
  src/adapter/etl-adapter-meilisearch/composer.json
  src/adapter/etl-adapter-parquet/composer.json
  src/adapter/etl-adapter-text/composer.json
  src/adapter/etl-adapter-xml/composer.json
  src/bridge/filesystem/azure/composer.json
  src/bridge/monolog/http/composer.json
  src/bridge/symfony/http-foundation/composer.json
  src/cli/composer.json
  src/core/etl/composer.json
  src/lib/array-dot/composer.json
  src/lib/azure-sdk/composer.json
  src/lib/doctrine-dbal-bulk/composer.json
  src/lib/dremel/composer.json
  src/lib/filesystem/composer.json
  src/lib/parquet-viewer/composer.json
  src/lib/parquet/composer.json
  src/lib/rdsl/composer.json
  src/lib/snappy/composer.json
  tools/box/composer.lock
  tools/cs-fixer/composer.lock
  tools/infection/composer.lock
  tools/phpbench/composer.lock
  web/landing/composer.lock
Labels: size: XL

#1289 Adjust Meilisearch adapter to newer library code
  .github/workflows/test-suite.yml
  composer.json
  composer.lock
  src/adapter/etl-adapter-meilisearch/composer.json
  src/adapter/etl-adapter-meilisearch/src/Flow/ETL/Adapter/Meilisearch/MeilisearchPHP/SearchResults.php
Labels: bug, size: XS

#1292 Update & adjust Infection configuration
  .github/workflows/test-mutations.yml
  composer.json
  composer.lock
  infection.json
  tools/infection/composer.json
  tools/infection/composer.lock
Labels: size: L

#1293 Increase minimal MSI for Infection
  .github/workflows/test-mutations.yml
  infection.json
Labels: size: XS

#1294 Fixed broken documentation building script
  .github/workflows/docs.yml
  src/tools/documentation/src/Flow/Documentation/FunctionsExtractor.php
Labels: bug, size: XS

#1295 Improved remote filesystem code samples
  documentation/_navigation.md
  documentation/components/bridges/filesystem-async-aws-bridge.md
  documentation/components/bridges/filesystem-azure-bridge.md
  examples/topics/data_reading/http_dynamic/output.txt
  examples/topics/filesystem/azure/code.php
  examples/topics/filesystem/azure/output.txt
  examples/topics/filesystem/s3/code.php
  examples/topics/filesystem/s3/description.md
  examples/topics/filesystem/s3/output.txt
  examples/topics/filesystem/stdout/description.md
  src/bridge/filesystem/async-aws/src/Flow/Filesystem/Bridge/AsyncAWS/AsyncAWSS3Filesystem.php
Labels: size: S

#1296 Added codecov integration
  .github/workflows/test-suite.yml
  phpunit.xml.dist
Labels: size: XS

#1297 Fixed website navigation
  documentation/_navigation.md
  documentation/components/bridges/filesystem-async-aws-bridge.md
  web/landing/src/Flow/Website/Controller/DocumentationController.php
  web/landing/templates/documentation/navigation.html.twig
Labels: size: S

#1299 Fixed typo in AWS filesystem docs
  documentation/components/bridges/filesystem-async-aws-bridge.md
Labels: size: XS

#1300 Moved coverage and phpunit logs to standalone files and upload to codecov only from one php and deps version
  .github/workflows/test-suite.yml
  composer.json
Labels: size: S

#1291 Extractor test helper
  src/adapter/etl-adapter-xml/tests/Flow/ETL/Adapter/XML/Tests/Integration/Loader/XMLLoaderTest.php
  src/adapter/etl-adapter-xml/tests/Flow/ETL/Adapter/XML/Tests/Integration/XMLParserExtractorTest.php
  src/adapter/etl-adapter-xml/tests/Flow/ETL/Adapter/XML/Tests/Integration/XMLReaderExtractorTest.php
  src/adapter/etl-adapter-xml/tests/Flow/ETL/Adapter/XML/Tests/Integration/XMLTest.php
  src/bridge/filesystem/async-aws/tests/Flow/Filesystem/Bridge/AsyncAWS/Tests/Integration/AsyncAWSS3TestCase.php
  src/core/etl/tests/Flow/ETL/Tests/FlowTestCase.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Cache/CacheBaseTestSuite.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/AnalyzeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/BranchingTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/CacheTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/ConfigBuilderTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/DataFrameJsonTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/DisplayTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/FilterTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/GroupByTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/JoinTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/LimitTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/MapTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/PartitioningTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/RenameTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/SchemaTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/SortTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Extractor/CacheExtractorTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Extractor/PathPartitionsExtractorTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Filesystem/FilesystemStreams/FilesystemStreamsTestCase.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/FlowIntegrationTestCase.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Monitoring/Memory/ConfigurationTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Pipeline/SynchronousPipelineTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Sort/ExternalSort/ExternalSortTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Extractor/ChainExtractorTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Extractor/ChunkExtractorTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Extractor/DataFrameExtractorTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Extractor/FilesExtractorTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Extractor/MemoryExtractorTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Extractor/PipelineExtractorTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Extractor/RowsExtractorTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Extractor/SequenceExtractorTest.php
Labels: size: M

#1302 Updated infection configuration to focus it at core only
  infection.json
  phpunit.xml.dist
  src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Unit/HashIdFactoryTest.php
Labels: size: XS

#1304 Set commit parent for codecov coverage/test report comparison
  .codecov.yaml
  .github/workflows/test-suite.yml
Labels: size: S

#1305 Moved FlowIntegrationTestCase to the same namespace as FlowTestCase
  .github/workflows/test-suite.yml
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Integration/CSVDetectorTest.php
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Integration/CSVExtractorTest.php
  src/adapter/etl-adapter-xml/tests/Flow/ETL/Adapter/XML/Tests/Integration/Loader/XMLLoaderTest.php
  src/adapter/etl-adapter-xml/tests/Flow/ETL/Adapter/XML/Tests/Integration/XMLParserExtractorTest.php
  src/adapter/etl-adapter-xml/tests/Flow/ETL/Adapter/XML/Tests/Integration/XMLReaderExtractorTest.php
  src/adapter/etl-adapter-xml/tests/Flow/ETL/Adapter/XML/Tests/Integration/XMLTest.php
  src/bridge/filesystem/async-aws/tests/Flow/Filesystem/Bridge/AsyncAWS/Tests/Integration/AsyncAWSS3TestCase.php
  src/core/etl/tests/Flow/ETL/Tests/FlowIntegrationTestCase.php
  src/core/etl/tests/Flow/ETL/Tests/FlowTestCase.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Cache/CacheBaseTestSuite.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/AnalyzeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/BranchingTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/CacheTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/ConfigBuilderTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/DataFrameJsonTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/DisplayTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/FilterTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/GroupByTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/JoinTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/LimitTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/MapTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/PartitioningTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/RenameTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/SchemaTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/SortTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Extractor/CacheExtractorTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Extractor/PathPartitionsExtractorTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Filesystem/FilesystemStreams/FilesystemStreamsTestCase.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Monitoring/Memory/ConfigurationTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Pipeline/SynchronousPipelineTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Sort/ExternalSort/ExternalSortTest.php
Labels: size: S

#1306 Use the FlowTestCase in all the Adapters tests
  src/adapter/etl-adapter-chartjs/tests/Flow/ETL/Adapter/ChartJS/Tests/Integration/ChartJSLoaderTest.php
  src/adapter/etl-adapter-chartjs/tests/Flow/ETL/Adapter/ChartJS/Tests/Unit/Chart/BarChartTest.php
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Integration/CSVTest.php
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Unit/Detector/OptionTest.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/IntegrationTestCase.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Unit/PagesTest.php
  src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Integration/ElasticsearchIntegrationTest.php
  src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Integration/ElasticsearchPHP/ElasticsearchExtractorTest.php
  src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Integration/ElasticsearchPHP/ElasticsearchLoaderTest.php
  src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Integration/ElasticsearchTest.php
  src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Integration/ElasticsearchTestCase.php
  src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Unit/HashIdFactoryTest.php
  src/adapter/etl-adapter-google-sheet/tests/Flow/ETL/Adapter/GoogleSheet/Tests/Unit/ColumnsTest.php
  src/adapter/etl-adapter-google-sheet/tests/Flow/ETL/Adapter/GoogleSheet/Tests/Unit/GoogleSheetExtractorTest.php
  src/adapter/etl-adapter-google-sheet/tests/Flow/ETL/Adapter/GoogleSheet/Tests/Unit/SheetRangeTest.php
  src/adapter/etl-adapter-http/tests/Flow/ETL/Adapter/HTTP/Tests/Integration/PsrHttpClientDynamicExtractorTest.php
  src/adapter/etl-adapter-http/tests/Flow/ETL/Adapter/HTTP/Tests/Integration/PsrHttpClientStaticExtractorTest.php
  src/adapter/etl-adapter-http/tests/Flow/ETL/Adapter/HTTP/Tests/Unit/RequestEntriesFactoryTest.php
  src/adapter/etl-adapter-json/tests/Flow/ETL/Adapter/JSON/Tests/Integration/JSONMachine/JsonExtractorTest.php
  src/adapter/etl-adapter-json/tests/Flow/ETL/Adapter/JSON/Tests/Integration/JsonTest.php
  src/adapter/etl-adapter-logger/tests/Flow/ETL/Adapter/Logger/Tests/Unit/Logger/DumpLoggerTest.php
  src/adapter/etl-adapter-logger/tests/Flow/ETL/Adapter/Logger/Tests/Unit/PsrLoggerLoaderTest.php
  src/adapter/etl-adapter-meilisearch/tests/Flow/ETL/Adapter/Meilisearch/Tests/Integration/MeilisearchPHP/MailiSearchTest.php
  src/adapter/etl-adapter-meilisearch/tests/Flow/ETL/Adapter/Meilisearch/Tests/Integration/MeilisearchPHP/MeilisearchExtractorTest.php
  src/adapter/etl-adapter-meilisearch/tests/Flow/ETL/Adapter/Meilisearch/Tests/Integration/MeilisearchPHP/MeilisearchLoaderTest.php
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Integration/PaginationTest.php
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Integration/ParquetExtractorTest.php
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Integration/ParquetTest.php
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Unit/FlowToParquetSchemaTest.php
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Unit/ParquetToFlowSchemaTest.php
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Unit/RowsNormalizerTest.php
  src/adapter/etl-adapter-text/tests/Flow/ETL/Adapter/Text/Tests/Integration/TextExtractorTest.php
  src/adapter/etl-adapter-text/tests/Flow/ETL/Adapter/Text/Tests/Integration/TextTest.php
  src/adapter/etl-adapter-xml/tests/Flow/ETL/Adapter/XML/Tests/Unit/RowsNormalizer/EntryNormalizer/PHPValueNormalizer/ListNormalizationTest.php
  src/adapter/etl-adapter-xml/tests/Flow/ETL/Adapter/XML/Tests/Unit/RowsNormalizer/EntryNormalizer/PHPValueNormalizer/MapNormalizationTest.php
  src/adapter/etl-adapter-xml/tests/Flow/ETL/Adapter/XML/Tests/Unit/RowsNormalizer/EntryNormalizer/PHPValueNormalizer/StructureNormalizationTest.php
  src/adapter/etl-adapter-xml/tests/Flow/ETL/Adapter/XML/Tests/Unit/RowsNormalizer/EntryNormalizer/PHPValueNormalizerTest.php
  src/adapter/etl-adapter-xml/tests/Flow/ETL/Adapter/XML/Tests/Unit/RowsNormalizer/EntryNormalizerTest.php
  src/adapter/etl-adapter-xml/tests/Flow/ETL/Adapter/XML/Tests/Unit/RowsNormalizerTest.php
  src/adapter/etl-adapter-xml/tests/Flow/ETL/Adapter/XML/Tests/Unit/XMLWriter/DOMDocumentWriterTest.php
  src/cli/tests/Flow/CLI/Tests/Integration/Options/ConfigOptionTest.php
  src/cli/tests/Flow/CLI/Tests/Unit/Options/FileFormatOptionTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Unit/Data/Converter/TimeConverterTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Unit/ParquetFile/SchemaTest.php
Labels: size: S

#1307 Use the new FlowTestCase in all Bridges tests
  src/bridge/filesystem/azure/tests/Flow/Filesystem/Bridge/Azure/Tests/Integration/AzureBlobServiceTestCase.php
  src/bridge/filesystem/azure/tests/Flow/Filesystem/Bridge/Azure/Tests/Unit/AzureBlobDestinationStreamTest.php
  src/bridge/monolog/http/tests/Flow/Bridge/Monolog/Http/Tests/Unit/PSR7ProcessorTest.php
  src/bridge/symfony/http-foundation/tests/Flow/Bridge/Symfony/HttpFoundation/Tests/Integration/FlowStreamedResponseTest.php
  src/bridge/symfony/http-foundation/tests/Flow/Bridge/Symfony/HttpFoundation/Tests/Unit/Transformation/MaskColumnTransformationTest.php
Labels: size: XS

#1308 Replaced flags with components
  .codecov.yaml
  .github/workflows/test-suite.yml
  composer.json
  infection.json
  phpunit.xml.dist
Labels: size: S
