Repository flow-php/flow, pull requests merged in 2024-01, with the labels that each got.

#898 Fixed parquet bug when writing nullable list of structs
  src/lib/parquet/resources/python/generators/lists.py
  src/lib/parquet/src/Flow/Parquet/ParquetFile.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroupBuilder/Flattener.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Fixtures/lists.parquet
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/ListsReadingTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/ListsWritingTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/SchemaReadingTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/WriterValidatorTest.php
Labels: size: S, lib-parquet

#899 Revert removal of compressing serializer
  src/core/etl/src/Flow/ETL/Cache/LocalFilesystemCache.php
  src/core/etl/src/Flow/ETL/Config.php
  src/core/etl/src/Flow/ETL/ConfigBuilder.php
  src/core/etl/src/Flow/ETL/Row/Entry/JsonEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/StringEntry.php
  src/core/etl/src/Flow/Serializer/CompressingSerializer.php
  src/core/etl/src/Flow/Serializer/Serializable.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Cache/LocalFilesystemCacheTest.php
  src/core/etl/tests/Flow/Serializer/Tests/Unit/CompressingSerializerTest.php
Labels: size: S, core

#900 Fixed converting list of structures to parquet schema
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/SchemaConverter.php
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Unit/SchemaConverterTest.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/List/ListElement.php
Labels: size: XS, core, adapter-parquet

#901 Fixed writing uuid entries to parquet files
  examples/topics/dataframe/partition_by.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/ParquetLoader.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/RowsNormalizer.php
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Integration/ParquetTest.php
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/DataFrame/PartitionedDataFrame.php
Labels: size: S, core, adapter-parquet, examples

#902 Make sure that partitions order is not changed during partitioning
  src/core/etl/src/Flow/ETL/DataFrame/PartitionedDataFrame.php
  src/core/etl/src/Flow/ETL/Partitions.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/PartitioningTest.php
Labels: size: S, core

#905 Added base skeleton for a landing page
  .github/dependabot.yml
  .php-cs-fixer.php
  src/web/landing/.env
  src/web/landing/.gitignore
  src/web/landing/README.md
  src/web/landing/assets/images/banner.png
  src/web/landing/assets/styles/app.css
  src/web/landing/bin/console
  src/web/landing/composer.json
  src/web/landing/composer.lock
  src/web/landing/config/bundles.php
  src/web/landing/config/packages/asset_mapper.yaml
  src/web/landing/config/packages/framework.yaml
  src/web/landing/config/packages/routing.yaml
  src/web/landing/config/packages/twig.yaml
  src/web/landing/config/packages/web_profiler.yaml
  src/web/landing/config/preload.php
  src/web/landing/config/routes.yaml
  src/web/landing/config/routes/framework.yaml
  src/web/landing/config/routes/web_profiler.yaml
  src/web/landing/config/services.yaml
  src/web/landing/public/index.php
  src/web/landing/src/Flow/Website/Controller/DefaultController.php
  src/web/landing/src/Flow/Website/Kernel.php
  src/web/landing/tailwind.config.js
  src/web/landing/templates/base.html.twig
  src/web/landing/templates/main/index.html.twig
Labels: size: M, ci/cd, docs

#909 fix unit testing csv load overwrite mode
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Integration/CSVLoaderTest.php
Labels: size: XS, adapter-csv

#907 Make sure that entries are "stringable"
  src/core/etl/src/Flow/ETL/Row/Entry.php
  src/core/etl/src/Flow/ETL/Row/Entry/ArrayEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/BooleanEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/DateTimeEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/FloatEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/IntegerEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/JsonEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/NullEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/ObjectEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/StringEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/StructureEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/UuidEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/XMLEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/XMLNodeEntry.php
Labels: size: XS, core

#919 Tiny performance improvement on Path::partitions
  bin/flow.php
  composer.lock
  examples/data/orders_flow.php
  examples/run_examples.php
  examples/topics/dataframe/partition_by.php
  psalm.xml
  src/adapter/etl-adapter-avro/src/Flow/ETL/Adapter/Avro/FlixTech/SchemaConverter.php
  src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/Adapter/Elasticsearch/EntryIdFactory/HashIdFactory.php
  src/adapter/etl-adapter-http/src/Flow/ETL/Adapter/Http/RequestEntriesFactory.php
  src/adapter/etl-adapter-http/src/Flow/ETL/Adapter/Http/ResponseEntriesFactory.php
  src/adapter/etl-adapter-meilisearch/src/Flow/ETL/Adapter/Meilisearch/functions.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/SchemaConverter.php
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/ExternalSort/CacheExternalSort.php
  src/core/etl/src/Flow/ETL/Filesystem/Path.php
  src/core/etl/src/Flow/ETL/Function/ScalarFunctionChain.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/ListType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/MapType.php
  src/core/etl/src/Flow/ETL/Row/Factory/NativeEntryFactory.php
  src/core/etl/src/Flow/ETL/Row/Schema/Definition.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Factory/NativeEntryFactoryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/CallbackRowTransformerTest.php
  tools/box/composer.lock
  tools/cs-fixer/composer.lock
  tools/phpunit/composer.lock
  tools/psalm/composer.lock
Labels: size: S, core, adapter-ampavrohp, adapter-elasticsearch, adapter-http, adapter-parquet, examples, adapter-meilisearch

#922 Added DataFrame::dropPartitions() transformation
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/Rows.php
  src/core/etl/src/Flow/ETL/Transformer/DropPartitionsTransformer.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/PartitioningTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/DropPartitionsTransformerTest.php
Labels: size: S, core

#923 Added DataFrame::autoCast()
  examples/topics/types/csv/csv_read_with_autocast.php
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/Row/Factory/NativeEntryFactory.php
  src/core/etl/src/Flow/ETL/Row/Factory/StringTypeChecker.php
  src/core/etl/src/Flow/ETL/Transformer/AutoCastTransformer.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Factory/StringTypeCheckerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/AutoCastTransformerTest.php
Labels: size: M, core, examples

#925 Added DataFrame::schema method to just read schema from dataset
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/Row/Schema.php
  src/core/etl/src/Flow/ETL/Row/Schema/Definition.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/SchemaTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Schema/DefinitionTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Unit/ParquetFile/SchemaTest.php
Labels: size: S, core, lib-parquet

#926 Added missing logical types
  src/adapter/etl-adapter-avro/src/Flow/ETL/Adapter/Avro/FlixTech/AvroLoader.php
  src/adapter/etl-adapter-avro/src/Flow/ETL/Adapter/Avro/FlixTech/SchemaConverter.php
  src/adapter/etl-adapter-avro/tests/Flow/ETL/Adapter/Avro/Tests/Integration/AvroTest.php
  src/adapter/etl-adapter-avro/tests/Flow/ETL/Adapter/Avro/Tests/SchemaConverterTest.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/SchemaConverter.php
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Integration/ParquetTest.php
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Unit/SchemaConverterTest.php
  src/core/etl/src/Flow/ETL/DSL/Entry.php
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/DateTimeType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/JsonType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/List/ListElement.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/ListType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/Map/MapKey.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/Map/MapValue.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/MapType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/StructureType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/UuidType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/XMLNodeType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/XMLType.php
  src/core/etl/src/Flow/ETL/PHP/Type/TypeDetector.php
  src/core/etl/src/Flow/ETL/Row/Entry/DateTimeEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/JsonEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/UuidEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/XMLEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/XMLNodeEntry.php
  src/core/etl/src/Flow/ETL/Row/Factory/NativeEntryFactory.php
  src/core/etl/src/Flow/ETL/Row/Schema/Formatter/ASCIISchemaFormatter.php
  src/core/etl/tests/Flow/ETL/Tests/Double/AllRowTypesFakeExtractor.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/DisplayTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/ListSelectTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/StructureSelectTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/ArrayContentDetectorTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/Logical/DateTimeTypeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/Logical/JsonTypeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/Logical/StructureTypeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/Logical/UuidTypeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/Logical/XMLNodeTypeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/Logical/XMLTypeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/TypeDetectorTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Comparator/NativeComparatorTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Comparator/WeakObjectComparatorTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/EntriesTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Entry/ListEntryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Entry/MapEntryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Entry/StructureEntryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Factory/NativeEntryFactoryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Schema/Constraint/NotEmptyTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Schema/DefinitionTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Schema/Formatter/ASCIISchemaFormatterTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/RowTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/ScalarFunctionTransformerTest.php
  src/core/etl/tests/Flow/Serializer/Tests/Unit/CompressingSerializerTest.php
  src/core/etl/tests/Flow/Serializer/Tests/Unit/NativePHPSerializerTest.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Schema/ListElement.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Schema/MapKey.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/Schema/MapValue.php
Labels: size: XL, core, adapter-ampavrohp, adapter-parquet, lib-parquet

#928 Entry factory schema
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/CSVExtractor.php
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/functions.php
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Integration/CSVExtractorTest.php
  src/adapter/etl-adapter-json/src/Flow/ETL/Adapter/JSON/JSONMachine/JsonExtractor.php
  src/adapter/etl-adapter-json/src/Flow/ETL/Adapter/JSON/functions.php
  src/adapter/etl-adapter-json/tests/Flow/ETL/Adapter/JSON/Tests/Integration/JSONMachine/JsonExtractorTest.php
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/Exception/CastingException.php
  src/core/etl/src/Flow/ETL/Function/Cast.php
  src/core/etl/src/Flow/ETL/Function/ScalarFunctionChain.php
  src/core/etl/src/Flow/ETL/PHP/Type/ArrayContentDetector.php
  src/core/etl/src/Flow/ETL/PHP/Type/AutoCaster.php
  src/core/etl/src/Flow/ETL/PHP/Type/Caster.php
  src/core/etl/src/Flow/ETL/PHP/Type/Caster/ArrayCastingHandler.php
  src/core/etl/src/Flow/ETL/PHP/Type/Caster/BooleanCastingHandler.php
  src/core/etl/src/Flow/ETL/PHP/Type/Caster/CastingContext.php
  src/core/etl/src/Flow/ETL/PHP/Type/Caster/CastingHandler.php
  src/core/etl/src/Flow/ETL/PHP/Type/Caster/DateTimeCastingHandler.php
  src/core/etl/src/Flow/ETL/PHP/Type/Caster/EnumCastingHandler.php
  src/core/etl/src/Flow/ETL/PHP/Type/Caster/FloatCastingHandler.php
  src/core/etl/src/Flow/ETL/PHP/Type/Caster/IntegerCastingHandler.php
  src/core/etl/src/Flow/ETL/PHP/Type/Caster/JsonCastingHandler.php
  src/core/etl/src/Flow/ETL/PHP/Type/Caster/ListCastingHandler.php
  src/core/etl/src/Flow/ETL/PHP/Type/Caster/MapCastingHandler.php
  src/core/etl/src/Flow/ETL/PHP/Type/Caster/NullCastingHandler.php
  src/core/etl/src/Flow/ETL/PHP/Type/Caster/ObjectCastingHandler.php
  src/core/etl/src/Flow/ETL/PHP/Type/Caster/StringCastingHandler.php
  src/core/etl/src/Flow/ETL/PHP/Type/Caster/StringCastingHandler/StringTypeChecker.php
  src/core/etl/src/Flow/ETL/PHP/Type/Caster/StructureCastingHandler.php
  src/core/etl/src/Flow/ETL/PHP/Type/Caster/UuidCastingHandler.php
  src/core/etl/src/Flow/ETL/PHP/Type/Caster/XML/XMLConverter.php
  src/core/etl/src/Flow/ETL/PHP/Type/Caster/XMLCastingHandler.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/JsonType.php
  src/core/etl/src/Flow/ETL/Row/Factory/NativeEntryFactory.php
  src/core/etl/src/Flow/ETL/Row/Schema/Definition.php
  src/core/etl/src/Flow/ETL/Transformer/AutoCastTransformer.php
  src/core/etl/tests/Flow/ETL/Tests/Benchmark/TypeDetectorBench.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/PHP/Type/CasterTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/AutoCasterTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/Caster/ArrayCastingHandlerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/Caster/BooleanCastingHandlerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/Caster/DateTimeCastingHandlerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/Caster/EnumCastingHandlerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/Caster/Fixtures/ColorsEnum.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/Caster/FloatCastingHandlerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/Caster/IntegerCastingHandlerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/Caster/JsonCastingHandlerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/Caster/ListCastingHandlerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/Caster/MapCastingHandlerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/Caster/ObjectCastingHandlerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/Caster/StringCastingHandler/StringTypeCheckerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/Caster/StringCastingHandlerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/Caster/StructureCastingHandlerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/Caster/UuidCastingHandlerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/Caster/XMLCastingHandlerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Factory/NativeEntryFactoryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Schema/DefinitionTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/AutoCastTransformerTest.php
Labels: size: XL, core, adapter-csv, adapter-json

#931 Make parquet rows normalizer to respect given schema
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/ParquetLoader.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/RowsNormalizer.php
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Integration/ParquetTest.php
  src/core/etl/src/Flow/ETL/Partition.php
  src/core/etl/src/Flow/ETL/Row/Factory/NativeEntryFactory.php
Labels: size: S, core, adapter-parquet

#935 Feature/schema to from array
  docs/components/core/schema.md
  src/core/etl/docs/new_type.md
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/DateTimeType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/JsonType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/List/ListElement.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/ListType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/Map/MapKey.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/Map/MapValue.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/MapType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/Structure/StructureElement.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/StructureType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/UuidType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/XMLNodeType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/XMLType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/ArrayType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/CallableType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/EnumType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/NullType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/ObjectType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/ResourceType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/ScalarType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Type.php
  src/core/etl/src/Flow/ETL/PHP/Type/TypeFactory.php
  src/core/etl/src/Flow/ETL/Row/Schema.php
  src/core/etl/src/Flow/ETL/Row/Schema/Constraint.php
  src/core/etl/src/Flow/ETL/Row/Schema/Constraint/All.php
  src/core/etl/src/Flow/ETL/Row/Schema/Constraint/Any.php
  src/core/etl/src/Flow/ETL/Row/Schema/Constraint/IsInstanceOf.php
  src/core/etl/src/Flow/ETL/Row/Schema/Constraint/ListType.php
  src/core/etl/src/Flow/ETL/Row/Schema/Constraint/NotEmpty.php
  src/core/etl/src/Flow/ETL/Row/Schema/Constraint/SameAs.php
  src/core/etl/src/Flow/ETL/Row/Schema/Constraint/VoidConstraint.php
  src/core/etl/src/Flow/ETL/Row/Schema/Definition.php
  src/core/etl/src/Flow/ETL/Row/Schema/Metadata.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/Fixtures/SomeEnum.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/TypeFactoryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Schema/Constraint/AnyTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Schema/Constraint/IsInstanceOfTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Schema/Constraint/NotEmptyTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Schema/Constraint/SameAsTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Schema/DefinitionTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Schema/MetadataTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/SchemaTest.php
Labels: size: XL, docs, core

#936 DataFrame::run method can now return execution report with Schema and Statistics
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/Dataset/Report.php
  src/core/etl/src/Flow/ETL/Dataset/Statistics.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/AnalyzeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/Fixtures/Analyze/goldstock.csv
Labels: size: XL, core

#937 Added to_branch loader
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Loader/BranchingLoader.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/BranchingTest.php
Labels: size: S, core

#938 Added pagination to reader
  src/lib/parquet/src/Flow/Parquet/Option.php
  src/lib/parquet/src/Flow/Parquet/Options.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/ColumnChunkReader.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/ColumnChunkReader/WholeChunkReader.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile/RowGroup/FlowColumnChunk.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/EdgeCasesReadingTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/Fixtures/EdgeCases/datapage_v2.snappy.parquet
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/Fixtures/EdgeCases/nonnullable.impala.parquet
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/Fixtures/EdgeCases/null_list.parquet
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/Fixtures/lists.parquet
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/Fixtures/maps.parquet
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/Fixtures/pagination_row_group_1kb_5k_rows.snappy.parquet
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/Fixtures/primitives.parquet
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/Fixtures/structs.parquet
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/ListsReadingTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/MapsReadingTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/PaginationTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/SchemaReadingTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/SimpleTypesReadingTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/StructsReadingTest.php
Labels: size: M, lib-parquet

#939 Added parquet documentation
  docs/components/libs/parquet.md
  src/lib/parquet/README.md
  src/lib/parquet/src/Flow/Parquet/Option.php
Labels: size: M, docs, lib-parquet

#940 Added offset option to parquet extractor
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/ParquetExtractor.php
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Integration/ParquetExtractorTest.php
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Unit/ParquetExtractorTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/ParquetFile/RowGroupBuilder/ColumnChunkStatisticsTest.php
Labels: size: S, adapter-parquet, lib-parquet

#942 Fixed handling empty headers
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/CSVExtractor.php
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Fixtures/file_with_empty_headers.csv
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Integration/CSVExtractorTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/PartitioningTest.php
Labels: size: XS, core, adapter-csv
