Repository flow-php/flow, pull requests merged in 2025-01, with the labels that each got.

#1318 Edit on GitHub - Website Button
  documentation/quick-start.md
  web/landing/assets/styles/app.css
  web/landing/src/Flow/Website/Controller/BlogController.php
  web/landing/src/Flow/Website/Model/Documentation/Page.php
  web/landing/templates/blog/post.html.twig
  web/landing/templates/documentation/dsl.html.twig
  web/landing/templates/documentation/dsl/function.html.twig
  web/landing/templates/documentation/example.html.twig
  web/landing/templates/documentation/page.html.twig
Labels: size: S

#1320 Add greatest and least scalar functions
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Function/Comparison/Comparable.php
  src/core/etl/src/Flow/ETL/Function/Greatest.php
  src/core/etl/src/Flow/ETL/Function/Least.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/GreatestTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/LeastTest.php
  web/landing/resources/dsl.json
Labels: size: S

#1326 Added template to Types that defines underlying data type
  src/core/etl/src/Flow/ETL/PHP/Type/Caster/ArrayCastingHandler.php
  src/core/etl/src/Flow/ETL/PHP/Type/Caster/BooleanCastingHandler.php
  src/core/etl/src/Flow/ETL/PHP/Type/Caster/CastingHandler.php
  src/core/etl/src/Flow/ETL/PHP/Type/Caster/DateCastingHandler.php
  src/core/etl/src/Flow/ETL/PHP/Type/Caster/DateTimeCastingHandler.php
  src/core/etl/src/Flow/ETL/PHP/Type/Caster/EnumCastingHandler.php
  src/core/etl/src/Flow/ETL/PHP/Type/Caster/FloatCastingHandler.php
  src/core/etl/src/Flow/ETL/PHP/Type/Caster/IntegerCastingHandler.php
  src/core/etl/src/Flow/ETL/PHP/Type/Caster/ListCastingHandler.php
  src/core/etl/src/Flow/ETL/PHP/Type/Caster/MapCastingHandler.php
  src/core/etl/src/Flow/ETL/PHP/Type/Caster/NullCastingHandler.php
  src/core/etl/src/Flow/ETL/PHP/Type/Caster/ObjectCastingHandler.php
  src/core/etl/src/Flow/ETL/PHP/Type/Caster/StringCastingHandler.php
  src/core/etl/src/Flow/ETL/PHP/Type/Caster/StructureCastingHandler.php
  src/core/etl/src/Flow/ETL/PHP/Type/Caster/TimeCastingHandler.php
  src/core/etl/src/Flow/ETL/PHP/Type/Caster/UuidCastingHandler.php
  src/core/etl/src/Flow/ETL/PHP/Type/Caster/XMLCastingHandler.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/DateTimeType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/DateType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/JsonType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/ListType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/LogicalType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/MapType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/StructureType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/TimeType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/UuidType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/XMLElementType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/XMLType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/ArrayType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/BooleanType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/CallableType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/EnumType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/FloatType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/IntegerType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/NativeType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/NullType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/ObjectType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/ResourceType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/StringType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Type.php
  src/core/etl/src/Flow/ETL/Row/Schema/Metadata.php
Labels: size: S

#1336 Replaced jawira/case-converter with symfony/string
  composer.json
  composer.lock
  src/core/etl/composer.json
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/Function/ArrayKeysStyleConvert.php
  src/core/etl/src/Flow/ETL/Function/StyleConverter/StringStyles.php
  src/core/etl/src/Flow/ETL/Transformer/EntryNameStyleConverterTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/StyleConverter/StringStyles.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/RenameTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/ArrayKeysStyleConvertTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/CaseConverter/ArrayKeyConverterTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/EntryNameStyleConverterTransformerTest.php
  tools/box/composer.lock
  tools/cs-fixer/composer.lock
  tools/infection/composer.lock
  tools/phpbench/composer.lock
  tools/phpstan/composer.lock
Labels: size: L

#1343 Remove of MapKe/MapValue/ListElement/StructureElement objects
  UPGRADE.md
  examples/topics/data_frame/reorder_columns/code.php
  rector.tests.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Integration/DbalDataFrameFactoryTest.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Integration/DbalLimitOffsetExtractorTest.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Integration/DbalQueryExtractorTest.php
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/SchemaConverter.php
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Unit/FlowToParquetSchemaTest.php
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Unit/ParquetToFlowSchemaTest.php
  src/adapter/etl-adapter-xml/src/Flow/ETL/Adapter/XML/RowsNormalizer/EntryNormalizer.php
  src/adapter/etl-adapter-xml/src/Flow/ETL/Adapter/XML/RowsNormalizer/EntryNormalizer/PHPValueNormalizer.php
  src/adapter/etl-adapter-xml/tests/Flow/ETL/Adapter/XML/Tests/Unit/RowsNormalizer/EntryNormalizer/PHPValueNormalizer/ListNormalizationTest.php
  src/adapter/etl-adapter-xml/tests/Flow/ETL/Adapter/XML/Tests/Unit/RowsNormalizer/EntryNormalizer/PHPValueNormalizer/StructureNormalizationTest.php
  src/adapter/etl-adapter-xml/tests/Flow/ETL/Adapter/XML/Tests/Unit/RowsNormalizer/EntryNormalizerTest.php
  src/adapter/etl-adapter-xml/tests/Flow/ETL/Adapter/XML/Tests/Unit/RowsNormalizerTest.php
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/PHP/Type/Caster/ListCastingHandler.php
  src/core/etl/src/Flow/ETL/PHP/Type/Caster/MapCastingHandler.php
  src/core/etl/src/Flow/ETL/PHP/Type/Caster/StructureCastingHandler.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/List/ListElement.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/ListType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/Map/MapKey.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/Map/MapValue.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/MapType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/Structure/StructureElement.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/StructureType.php
  src/core/etl/src/Flow/ETL/PHP/Type/TypeDetector.php
  src/core/etl/src/Flow/ETL/Row/Schema/Definition.php
  src/core/etl/src/Flow/ETL/Row/Schema/Formatter/ASCIISchemaFormatter.php
  src/core/etl/tests/Flow/ETL/Tests/Double/FakeExtractor.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/DisplayTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/LimitTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/ListSelectTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/StructureSelectTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/ArrayContentDetectorTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/Caster/StructureCastingHandlerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/Logical/MapTypeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/Logical/StructureTypeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/TypeDetector/StructuresTypeDetectorTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/TypeFactoryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/ArrayToRowTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/EntriesTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Entry/StructureEntryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Factory/NativeEntryFactoryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Schema/DefinitionTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Schema/Formatter/ASCIISchemaFormatterTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/SchemaTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/RowTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/OrderEntriesTransformerTest.php
  src/core/etl/tests/Flow/Serializer/Tests/Unit/Base64SerializerTest.php
  src/core/etl/tests/Flow/Serializer/Tests/Unit/CompressingSerializerTest.php
  src/core/etl/tests/Flow/Serializer/Tests/Unit/NativePHPSerializerTest.php
  web/landing/resources/dsl.json
  web/landing/templates/blog/posts/2024-04-04/building-custom-extractor-google-analytics/ga_account_summary_to_row.php
Labels: size: XL

#1329 Run PHPStan for the test suite
  phpstan.neon
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Context/InsertQueryCounter.php
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Integration/ParquetExtractorTest.php
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Integration/ParquetTest.php
  src/adapter/etl-adapter-xml/tests/Flow/ETL/Adapter/XML/Tests/Unit/RowsNormalizer/EntryNormalizer/PHPValueNormalizerTest.php
  src/bridge/filesystem/async-aws/tests/Flow/Filesystem/Bridge/AsyncAWS/Tests/Integration/AsyncAWSS3DestinationStreamTest.php
  src/bridge/filesystem/async-aws/tests/Flow/Filesystem/Bridge/AsyncAWS/Tests/Integration/AsyncAWSS3FilesystemTest.php
  src/bridge/filesystem/azure/tests/Flow/Filesystem/Bridge/Azure/Tests/Integration/AzureBlobDestinationStreamTest.php
  src/bridge/filesystem/azure/tests/Flow/Filesystem/Bridge/Azure/Tests/Integration/AzureBlobFilesystemTest.php
  src/bridge/filesystem/azure/tests/Flow/Filesystem/Bridge/Azure/Tests/Integration/AzureBlobServiceTestCase.php
  src/bridge/symfony/http-foundation/tests/Flow/Bridge/Symfony/HttpFoundation/Tests/Integration/FlowStreamedResponseTest.php
  src/cli/tests/Flow/CLI/Tests/Unit/Options/TypedOptionTest.php
  src/core/etl/tests/Flow/ETL/Tests/Double/FakeExtractor.php
  src/core/etl/tests/Flow/ETL/Tests/Fixtures/Example.php
  src/core/etl/tests/Flow/ETL/Tests/FlowIntegrationTestCase.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/AnalyzeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/PHP/Type/CasterTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/DOMElementAttributeValueTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/DOMElementAttributesCountTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/DOMElementValueTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/XPathTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/TypeDetectorTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Pipeline/Optimizer/BatchSizeOptimizationTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Pipeline/Optimizer/LimitOptimizationTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Entry/UuidEntryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Schema/MetadataTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/ScalarFunctionTransformerTest.php
Labels: size: S

#1345 Introduce ADR's to the project
  documentation/adrs.md
  documentation/adrs/extension-points.md
  documentation/adrs/static-analysis-baseline.md
  documentation/adrs/template.md
  documentation/contributing.md
  web/landing/assets/styles/app.css
  web/landing/src/Flow/Website/Service/Markdown/LeagueCommonMarkConverterFactory.php
  web/landing/templates/documentation/navigation.html.twig
Labels: size: S, AD

#1355 Added a manifest.json to flow monorepo
  manifest.json
  src/core/etl/src/Flow/ETL/Row/Entry/StringEntry.php
  src/core/etl/tests/Flow/ETL/Tests/FlowTestCase.php
  src/tools/documentation/src/Flow/Documentation/Manifest.php
  src/tools/documentation/src/Flow/Documentation/Manifest/Package.php
  src/tools/documentation/src/Flow/Documentation/Manifest/Type.php
  src/tools/documentation/tests/Flow/Documentation/Tests/Integration/ManifestTest.php
Labels: size: S

#1356 Added list of all packages to the installation page
  documentation/components/adapters/filesystem.md
  documentation/installation.md
Labels: size: S

#1357 Make Type implementations nullable
  src/core/etl/src/Flow/ETL/Function/Count.php
  src/core/etl/src/Flow/ETL/Function/Max.php
  src/core/etl/src/Flow/ETL/Function/Min.php
  src/core/etl/src/Flow/ETL/Function/Sum.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/DateTimeType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/DateType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/JsonType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/ListType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/MapType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/StructureType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/TimeType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/UuidType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/XMLElementType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/XMLType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/ArrayType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/BooleanType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/CallableType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/EnumType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/FloatType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/IntegerType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/ObjectType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/ResourceType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/StringType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Type.php
  src/core/etl/src/Flow/ETL/Row/Entry/BooleanEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/DateEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/DateTimeEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/EnumEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/FloatEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/IntegerEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/JsonEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/ListEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/MapEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/StringEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/StructureEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/TimeEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/UuidEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/XMLElementEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/XMLEntry.php
Labels: size: S

#1358 Added transformers to serialize/unserialize entire row into/from entry
  src/core/etl/src/Flow/ETL/Transformer/SerializeTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/UnserializeTransformer.php
  src/core/etl/src/Flow/Serializer/Base64Serializer.php
  src/core/etl/src/Flow/Serializer/Exception/SerializationException.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/SerializeTransformerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/UnserializeTransformerTest.php
Labels: size: M

#1368 Return integers from Round func when precision is set to 0
  src/core/etl/src/Flow/ETL/Function/Round.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/GroupByTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/RoundTest.php
Labels: size: XS

#1369 Fixed bug with handling float entries with value 0
  src/core/etl/src/Flow/ETL/Row/Entry/FloatEntry.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Entry/FloatEntryTest.php
  web/landing/composer.json
  web/landing/composer.lock
Labels: size: M

#1370 Allow to group by more than one column on pivot
  src/core/etl/src/Flow/ETL/GroupBy.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/GroupByTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/GroupByTest.php
Labels: size: S

#1371 Added database upsert example
  examples/topics/data_writing/database_upsert/code.php
  examples/topics/data_writing/database_upsert/generate_static_orders.php
  examples/topics/data_writing/database_upsert/output.txt
  examples/topics/data_writing/database_upsert/output/.gitignore
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/functions.php
  web/landing/resources/dsl.json
Labels: size: S

#1378 Added and/or/andNot/orNot to ScalarFunctionsChain
  src/core/etl/src/Flow/ETL/Function/All.php
  src/core/etl/src/Flow/ETL/Function/Any.php
  src/core/etl/src/Flow/ETL/Function/CompositeScalarFunction.php
  src/core/etl/src/Flow/ETL/Function/ScalarFunctionChain.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/AllTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/AnyTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/LogicalFunctionsTest.php
Labels: size: S

#1380 Added execution time to pipeline report
  composer.json
  composer.lock
  src/core/etl/composer.json
  src/core/etl/src/Flow/Clock/FakeClock.php
  src/core/etl/src/Flow/Clock/SystemClock.php
  src/core/etl/src/Flow/ETL/Config.php
  src/core/etl/src/Flow/ETL/Config/ConfigBuilder.php
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/Dataset/Statistics.php
  src/core/etl/src/Flow/ETL/Dataset/Statistics/ExecutionTime.php
  src/core/etl/tests/Flow/Clock/SystemClockTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/AnalyzeTest.php
  tools/blackfire/composer.lock
  tools/box/composer.lock
  tools/cs-fixer/composer.lock
  tools/phpunit/composer.lock
Labels: size: S

#1377 Bump phpunit/phpunit from 10.5.40 to 11.5.3 in /tools/phpunit
  phpunit.xml.dist
  src/core/etl/tests/Flow/ArrayComparison/Tests/Unit/ArrayComparisonTest.php
  src/core/etl/tests/Flow/ArrayComparison/Tests/Unit/ArraySortByKeyTest.php
  src/core/etl/tests/Flow/ETL/Tests/FlowIntegrationTestCase.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/ConfigBuilderTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Pipeline/SynchronousPipelineTest.php
  tools/phpunit/composer.json
  tools/phpunit/composer.lock
Labels: size: L

#1387 Expanded Contains to support also arrays
  examples/topics/transformations/when/code.php
  examples/topics/transformations/when/output.txt
  src/core/etl/src/Flow/ETL/Function/Contains.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/ContainsTest.php
Labels: size: S

#1389 Added String Agg function
  documentation/components/core/aggregations.md
  documentation/components/core/building-blocks.md
  documentation/components/core/caching.md
  documentation/components/core/core.md
  documentation/components/core/display.md
  documentation/components/core/error-handling.md
  documentation/components/core/filter.md
  documentation/components/core/group-by.md
  documentation/components/core/join.md
  documentation/components/core/limit.md
  documentation/components/core/map.md
  documentation/components/core/rename.md
  documentation/components/core/schema.md
  documentation/components/core/select-drop.md
  documentation/components/core/sort.md
  documentation/components/core/until.md
  documentation/components/core/window-functions.md
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Function/StringAggregate.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/StringAggregateTest.php
  web/landing/resources/dsl.json
  web/landing/templates/documentation/dsl.html.twig
  web/landing/templates/documentation/example.html.twig
  web/landing/templates/documentation/page.html.twig
Labels: size: S

#1391 Added array related functions
  src/core/etl/src/Flow/ETL/Function/ArrayFilter.php
  src/core/etl/src/Flow/ETL/Function/ArrayKeep.php
  src/core/etl/src/Flow/ETL/Function/ArrayKeys.php
  src/core/etl/src/Flow/ETL/Function/ArrayValues.php
  src/core/etl/src/Flow/ETL/Function/ScalarFunctionChain.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/ArrayFilterTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/ArrayKeepTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/ArrayKeysTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/ArrayValuesTest.php
Labels: size: M, scalar function

#1392 Added DataFrame with function
  examples/topics/data_reading/elasticsearch/code.php
  examples/topics/data_writing/elasticsearch/code.php
  src/adapter/etl-adapter-elasticsearch/tests/Flow/ETL/Adapter/Elasticsearch/Tests/Integration/ElasticsearchPHP/ElasticsearchExtractorTest.php
  src/adapter/etl-adapter-meilisearch/tests/Flow/ETL/Adapter/Meilisearch/Tests/Integration/MeilisearchPHP/MeilisearchExtractorTest.php
  src/bridge/symfony/http-foundation/src/Flow/Bridge/Symfony/HttpFoundation/FlowStreamedResponse.php
  src/bridge/symfony/http-foundation/tests/Flow/Bridge/Symfony/HttpFoundation/Tests/Unit/Transformation/MaskColumnTransformationTest.php
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/DataFrameTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/ETLErrorHandlingTest.php
Labels: size: S, core, developer experience

#1393 Simplify concat functions internals
  src/core/etl/src/Flow/ETL/Function/Concat.php
  src/core/etl/src/Flow/ETL/Function/ConcatWithSeparator.php
Labels: size: XS

#1395 Fix entry factory loosing schema metadata/type nullability
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Row/Entry/BooleanEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/DateEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/DateTimeEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/EnumEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/FloatEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/IntegerEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/JsonEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/ListEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/MapEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/StringEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/StructureEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/TimeEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/UuidEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/XMLElementEntry.php
  src/core/etl/src/Flow/ETL/Row/Entry/XMLEntry.php
  src/core/etl/src/Flow/ETL/Row/Factory/NativeEntryFactory.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Factory/NativeEntryFactoryTest.php
  web/landing/resources/dsl.json
Labels: size: M

#1402 Remove EntryFactory Interface, rename NativeEntryFactory to EntryFactory
  documentation/components/core/building-blocks.md
  src/core/etl/src/Flow/ETL/Config/ConfigBuilder.php
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Row/EntryFactory.php
  src/core/etl/src/Flow/ETL/Row/Factory/NativeEntryFactory.php
  src/core/etl/src/Flow/ETL/Rows.php
  src/core/etl/tests/Flow/ETL/Tests/Benchmark/EntryFactory/EntryFactoryBench.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/CastTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/DOMElementAttributeValueTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/DOMElementAttributesCountTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/DOMElementValueTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/XPathTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/EntryFactoryTest.php
  src/lib/filesystem/tests/Flow/Filesystem/Tests/Integration/NativeLocalFilesystemTest.php
  web/landing/resources/dsl.json
Labels: size: L

#1404 Updated dependencies
  composer.json
  composer.lock
  web/landing/composer.lock
Labels: size: S

#1405 Unified joins behavior
  examples/topics/schema/apply/output.txt
  phpunit.xml.dist
  src/core/etl/src/Flow/ETL/Join/Expression.php
  src/core/etl/src/Flow/ETL/Pipeline/HashJoinPipeline.php
  src/core/etl/src/Flow/ETL/Rows.php
  src/core/etl/src/Flow/ETL/Transformer/JoinEachRowsTransformer.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/JoinEachTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/JoinTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/RowsJoinTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/JoinEachRowsTransformerTest.php
Labels: size: M

#1406 Improve `Expression::dropDuplicate*Entries` methods
  src/core/etl/src/Flow/ETL/Join/Expression.php
Labels: size: S

#1407 Remove usage of `References::init` in `Row` class
  src/core/etl/src/Flow/ETL/Row.php
Labels: size: XS

#1408 Allow to apply custom transformations before writing to a final destination
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Loader/BranchingLoader.php
  src/core/etl/src/Flow/ETL/Loader/TransformerLoader.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/BranchingTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/NotTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Loader/TransformerLoaderTest.php
  web/landing/resources/dsl.json
Labels: size: S

#1410 Added high resolution time to pipeline report execution time
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/Dataset/Statistics.php
  src/core/etl/src/Flow/ETL/Dataset/Statistics/ExecutionTime.php
  src/core/etl/src/Flow/ETL/Dataset/Statistics/HighResolutionTime.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/AnalyzeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Dataset/Statistics/HighResolutionTimeTest.php
Labels: size: S

#1413 Blog post - data processing in php
  web/landing/assets/styles/app.css
  web/landing/src/Flow/Website/Blog/Posts.php
  web/landing/templates/blog/posts/2025-01-25/data-processing-in-php/address.json
  web/landing/templates/blog/posts/2025-01-25/data-processing-in-php/batch-size.php
  web/landing/templates/blog/posts/2025-01-25/data-processing-in-php/code.php
  web/landing/templates/blog/posts/2025-01-25/data-processing-in-php/data.txt
  web/landing/templates/blog/posts/2025-01-25/data-processing-in-php/dbal-bulk-upsert.php
  web/landing/templates/blog/posts/2025-01-25/data-processing-in-php/full-validation.php
  web/landing/templates/blog/posts/2025-01-25/data-processing-in-php/join-each.php
  web/landing/templates/blog/posts/2025-01-25/data-processing-in-php/post.html.twig
  web/landing/templates/blog/posts/2025-01-25/data-processing-in-php/single-column-validation.php
  web/landing/templates/blog/posts/2025-01-25/data-processing-in-php/string-length-validation.php
  web/landing/templates/blog/posts/2025-01-25/data-processing-in-php/user-id-join-data-frame-factory.php
  web/landing/templates/blog/posts/2025-01-25/data-processing-in-php/validation-transformation.php
  web/landing/templates/blog/posts/2025-01-25/data-processing-in-php/write-to-branch.php
Labels: size: L, blog post

#1417 Remove redundant transformer function eval
  .github/dependabot.yml
  src/core/etl/src/Flow/ETL/Transformer/ScalarFunctionTransformer.php
  tools/cs-fixer/composer.json
  tools/cs-fixer/composer.lock
Labels: size: XS

#1429 Flow to Dbal schema converter
  README.md
  documentation/components/adapters/doctrine.md
  documentation/upgrading.md
  src/adapter/etl-adapter-avro/README.md
  src/adapter/etl-adapter-chartjs/README.md
  src/adapter/etl-adapter-csv/README.md
  src/adapter/etl-adapter-doctrine/README.md
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/DbalMetadata.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/SchemaConverter.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/functions.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Unit/SchemaConverterTest.php
  src/adapter/etl-adapter-elasticsearch/README.md
  src/adapter/etl-adapter-google-sheet/README.md
  src/adapter/etl-adapter-http/README.md
  src/adapter/etl-adapter-json/README.md
  src/adapter/etl-adapter-logger/README.md
  src/adapter/etl-adapter-meilisearch/README.md
  src/adapter/etl-adapter-parquet/README.md
  src/adapter/etl-adapter-text/README.md
  src/adapter/etl-adapter-xml/README.md
  src/bridge/filesystem/async-aws/README.md
  src/bridge/filesystem/azure/README.md
  src/bridge/monolog/http/README.md
  src/bridge/symfony/http-foundation/README.md
  src/cli/README.md
  src/core/etl/README.md
  src/lib/array-dot/README.md
  src/lib/azure-sdk/README.md
  src/lib/doctrine-dbal-bulk/README.md
  src/lib/filesystem/README.md
  src/lib/parquet-viewer/README.md
  src/lib/parquet/README.md
  src/lib/rdsl/README.md
  src/lib/snappy/README.md
  web/landing/resources/dsl.json
Labels: size: L

#1435 Read scale from float type in Dbal Schema Converter
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/SchemaConverter.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Unit/SchemaConverterTest.php
Labels: size: XS

#1436 Corrected typo
  examples/topics/partitioning/partitioning/description.md
Labels: size: XS
