Repository flow-php/flow, pull requests merged in 2025-07, with the labels that each got.

#1752 Partitioning should not overwrite schema
  src/core/etl/src/Flow/ETL/Filesystem/FilesystemStreams.php
  src/core/etl/tests/Flow/ETL/Tests/Double/FakeNativeLocalFilesystem.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Filesystem/FilesystemStreams/Partitioned/OverwriteModeTest.php
Labels: size: XS, size: S

#1758 Update Homebrew TAP formula: flow-php to version: 0.20.0
  src/tools/homebrew/Formula/flow-php.rb
Labels: size: XS

#1760 OpenAPI Specification Bridge
  .codecov.yaml
  .github/workflows/monorepo-split.yml
  .github/workflows/test-suite.yml
  composer.json
  documentation/components/bridges/openapi-specification-bridge.md
  phpdoc/bridge.openapi.specification.xml
  phpstan.neon
  phpunit.xml.dist
  src/bridge/openapi/specification/.github/workflows/readonly.yaml
  src/bridge/openapi/specification/CONTRIBUTING.md
  src/bridge/openapi/specification/LICENSE
  src/bridge/openapi/specification/README.md
  src/bridge/openapi/specification/composer.json
  src/bridge/openapi/specification/src/Flow/Bridge/OpenAPI/Specification/DSL/functions.php
  src/bridge/openapi/specification/src/Flow/Bridge/OpenAPI/Specification/Exception/Exception.php
  src/bridge/openapi/specification/src/Flow/Bridge/OpenAPI/Specification/Exception/InvalidArgumentException.php
  src/bridge/openapi/specification/src/Flow/Bridge/OpenAPI/Specification/Exception/RuntimeException.php
  src/bridge/openapi/specification/src/Flow/Bridge/OpenAPI/Specification/OpenAPIConverter.php
  src/bridge/openapi/specification/tests/Flow/Bridge/OpenAPI/Specification/Tests/Unit/FlowToOpenAPIConverterTest.php
  src/bridge/openapi/specification/tests/Flow/Bridge/OpenAPI/Specification/Tests/Unit/OpenAPIConverterTest.php
  src/bridge/openapi/specification/tests/Flow/Bridge/OpenAPI/Specification/Tests/Unit/OpenAPIToFlowConverterTest.php
  web/landing/templates/documentation/navigation_right.html.twig
Labels: size: XL

#1769 Allow to set custom compression algorithm for columns
  documentation/components/libs/parquet.md
  src/lib/parquet/src/Flow/Parquet/Option.php
  src/lib/parquet/src/Flow/Parquet/Options.php
  src/lib/parquet/src/Flow/Parquet/Options/ColumnsEncodings.php
  src/lib/parquet/src/Flow/Parquet/Writer/ColumnChunkBuilderFactory.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/OptionsTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Unit/Options/ColumnsEncodingsTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Unit/Writer/ColumnChunkBuilderFactoryTest.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Unit/Writer/ColumnChunkBuildersTest.php
Labels: size: L, size: XL

#1774 Adjusted parquet default values for page/row group size
  src/lib/parquet/src/Flow/Parquet/Option.php
  src/lib/parquet/src/Flow/Parquet/Options.php
  src/lib/parquet/src/Flow/Parquet/Writer/ColumnChunkBuilder/DeltaBinaryPackedColumnChunkBuilder.php
  src/lib/parquet/src/Flow/Parquet/Writer/ColumnChunkBuilder/PlainFlatColumnChunkBuilder.php
  src/lib/parquet/src/Flow/Parquet/Writer/ColumnChunkBuilder/RLEDictionaryChunkBuilder.php
Labels: size: XS

#1776 Dbal bulk data optimization
  composer.lock
  documentation/components/adapters/doctrine.md
  documentation/components/libs/doctrine-dbal-bulk.md
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/DbalLoader.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/DbalTypesDetector.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/RowsNormalizer.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/TypesMap.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Integration/DbalLoaderTest.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Unit/DbalTypesDetectorTest.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Unit/RowsNormalizerTest.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Unit/TypesMapTest.php
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/Bulk.php
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/BulkData.php
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/Dialect/PostgreSQLInsertOptions.php
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/TableDefinition.php
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/TableDefinitions.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Integration/MySqlBulkInsertTest.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Integration/PostgreSqlBulkInsertTest.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Integration/SqliteBulkInsertTest.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Unit/BulkDataTest.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Unit/TableDefinitionTest.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Unit/TableDefinitionsTest.php
  tools/box/composer.lock
  tools/cs-fixer/composer.lock
  tools/infection/composer.lock
  tools/phpstan/composer.lock
  tools/phpunit/composer.lock
  tools/rector/composer.lock
Labels: size: XL

#1778 Fixed handling comparison between entries that are unknonw type (created from null)
  src/core/etl/src/Flow/ETL/Function/Parameter.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/ParameterTest.php
Labels: size: M

#1784 Added missing CLI dependency
  composer.json
  composer.lock
  documentation/examples.md
  documentation/quick-start.md
  src/bridge/monolog/http/tests/Flow/Bridge/Monolog/Http/Tests/Unit/PSR7ProcessorSanitizationTest.php
  src/cli/composer.json
  src/core/etl/src/Flow/ETL/Row/Entry/XMLElementEntry.php
  src/core/etl/tests/Flow/ETL/Tests/Double/FakeRandomOrdersExtractor.php
  tools/infection/composer.lock
  tools/phpdocumentor/composer.lock
  tools/phpstan/composer.lock
  tools/rector/composer.lock
Labels: size: M

#1785 Unified behavior of file analyze and file schema CLI Commands
  src/cli/src/Flow/CLI/Command/FileAnalyzeCommand.php
  src/cli/tests/Flow/CLI/Tests/Integration/FileAnalyzeCommandTest.php
Labels: size: XS

#1787 Allow to read only specific columns through CLI read command
  src/cli/src/Flow/CLI/Command/FileReadCommand.php
  src/cli/tests/Flow/CLI/Tests/Integration/FileReadCommandTest.php
Labels: size: S

#1790 1789 proposal add offset method to Data Frame
  src/cli/src/Flow/CLI/Command/FileAnalyzeCommand.php
  src/cli/src/Flow/CLI/Command/FileConvertCommand.php
  src/cli/src/Flow/CLI/Command/FileReadCommand.php
  src/cli/src/Flow/CLI/Command/FileRowsCountCommand.php
  src/cli/src/Flow/CLI/Command/FileSchemaCommand.php
  src/cli/tests/Flow/CLI/Tests/Integration/FileAnalyzeCommandTest.php
  src/cli/tests/Flow/CLI/Tests/Integration/FileConvertCommandTest.php
  src/cli/tests/Flow/CLI/Tests/Integration/FileReadCommandTest.php
  src/cli/tests/Flow/CLI/Tests/Integration/FileRowsCountCommandTest.php
  src/cli/tests/Flow/CLI/Tests/Integration/FileSchemaCommandTest.php
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/Exception/OffsetReachedException.php
  src/core/etl/src/Flow/ETL/Pipeline/OffsetPipeline.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/OffsetTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Pipeline/OffsetPipelineTest.php
Labels: size: XL

#1792 Added head/tail/last method to Rows
  src/core/etl/src/Flow/ETL/Rows.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/RowsTest.php
Labels: size: M

#1793 Updated DataFrame documentation
  documentation/components/core/batch-processing.md
  documentation/components/core/building-blocks.md
  documentation/components/core/constraints.md
  documentation/components/core/core.md
  documentation/components/core/data-manipulation.md
  documentation/components/core/data-retrieval.md
  documentation/components/core/error-handling.md
  documentation/components/core/filter.md
  documentation/components/core/join.md
  documentation/components/core/offset.md
  documentation/components/core/partitioning.md
  documentation/components/core/pivot.md
  documentation/components/core/rename.md
  documentation/components/core/schema.md
  documentation/examples.md
  documentation/quick-start.md
  web/landing/templates/documentation/navigation_left.html.twig
Labels: size: L

#1797 Removed cookies page and changed the way google analytics script is initialized
  web/landing/assets/controllers/cookie_consent_controller.js
  web/landing/src/Flow/Website/Controller/HomeController.php
  web/landing/templates/base.html.twig
  web/landing/templates/main/cookies.html.twig
Labels: size: S
