Repository flow-php/flow, pull requests merged in 2025-02, with the labels that each got.

#1437 simplify primary key metadata
  examples/topics/data_reading/elasticsearch/output.raw.txt
  examples/topics/data_reading/http_dynamic/output.txt
  examples/topics/filesystem/azure/code.php
  examples/topics/filesystem/s3/code.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/DbalMetadata.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Unit/SchemaConverterTest.php
  src/lib/parquet/src/Flow/Parquet/ParquetFile.php
Labels: size: XS

#1438 Added file analyze command to CLI
  documentation/components/cli/docs.md
  src/cli/flow
  src/cli/src/Flow/CLI/Command/FileAnalyzeCommand.php
  src/cli/src/Flow/CLI/Style/FlowStyle.php
  src/cli/tests/Flow/CLI/Tests/Integration/FileAnalyzeCommandTest.php
  src/core/etl/src/Flow/ETL/Dataset/Statistics/HighResolutionTime.php
Labels: size: M

#1441 Added missing lock files to examples
  examples/topics/aggregations/average/composer.lock
  examples/topics/aggregations/first/composer.lock
  examples/topics/aggregations/group_by/composer.lock
  examples/topics/aggregations/group_by_sum/composer.lock
  examples/topics/aggregations/last/composer.lock
  examples/topics/aggregations/max/composer.lock
  examples/topics/aggregations/min/composer.lock
  examples/topics/aggregations/sum/composer.lock
  examples/topics/data_frame/batch_size/composer.lock
  examples/topics/data_frame/cache/composer.lock
  examples/topics/data_frame/collect/composer.lock
  examples/topics/data_frame/create_columns/composer.lock
  examples/topics/data_frame/data_frame/composer.lock
  examples/topics/data_frame/overwrite/composer.lock
  examples/topics/data_frame/rename_columns/composer.lock
  examples/topics/data_frame/reorder_columns/composer.lock
  examples/topics/data_reading/array/composer.lock
  examples/topics/data_reading/csv/composer.lock
  examples/topics/data_reading/data_frame/composer.lock
  examples/topics/data_reading/database/composer.lock
  examples/topics/data_reading/elasticsearch/composer.lock
  examples/topics/data_reading/http_dynamic/composer.lock
  examples/topics/data_reading/json/composer.lock
  examples/topics/data_reading/parquet/composer.lock
  examples/topics/data_reading/sequence_date/composer.lock
  examples/topics/data_reading/sequence_date_recurrences/composer.lock
  examples/topics/data_reading/sequence_number/composer.lock
  examples/topics/data_reading/xml/composer.lock
  examples/topics/data_writing/array/composer.lock
  examples/topics/data_writing/database/composer.lock
  examples/topics/data_writing/database_upsert/composer.lock
  examples/topics/data_writing/elasticsearch/composer.lock
  examples/topics/data_writing/parquet/composer.lock
  examples/topics/filesystem/azure/composer.lock
  examples/topics/filesystem/local/composer.lock
  examples/topics/filesystem/s3/composer.lock
  examples/topics/filesystem/stdout/composer.lock
  examples/topics/join/join/composer.lock
  examples/topics/join/join_each/composer.lock
  examples/topics/partitioning/partition_pruning/composer.lock
  examples/topics/partitioning/partitioning/composer.lock
  examples/topics/partitioning/path_partitions/composer.lock
  examples/topics/partitioning/reading/composer.lock
  examples/topics/schema/apply/composer.lock
  examples/topics/schema/display/composer.lock
  examples/topics/schema/inferring/composer.lock
  examples/topics/schema/validate/composer.lock
  examples/topics/transformations/array_expand/composer.lock
  examples/topics/transformations/array_unpack/composer.lock
  examples/topics/transformations/filter_divide/composer.lock
  examples/topics/transformations/filter_mod/composer.lock
  examples/topics/transformations/literals/composer.lock
  examples/topics/transformations/math/composer.lock
  examples/topics/transformations/size/composer.lock
  examples/topics/transformations/sort/composer.lock
  examples/topics/transformations/when/composer.lock
  examples/topics/transformations/when_null/composer.lock
  examples/topics/transformations/when_odd/composer.lock
  examples/topics/window_functions/dens_rank/composer.lock
  web/landing/src/Flow/Website/Service/Examples.php
Labels: size: XL

#1442 Add JSONL write support
  documentation/components/adapters/json.md
  src/adapter/etl-adapter-json/src/Flow/ETL/Adapter/JSON/JsonLoader.php
  src/adapter/etl-adapter-json/tests/Flow/ETL/Adapter/JSON/Tests/Integration/JsonTest.php
Labels: size: S

#1448 [Bug] Make ParquetOutput implement missing Output interface (#1446)
  src/bridge/symfony/http-foundation/src/Flow/Bridge/Symfony/HttpFoundation/Output/ParquetOutput.php
Labels: size: XS

#1454 Api References
  .github/workflows/baseline.yml
  composer.json
  documentation/components/adapters/chartjs.md
  documentation/components/adapters/csv.md
  documentation/components/adapters/doctrine.md
  documentation/components/adapters/elasticsearch.md
  documentation/components/adapters/google-sheet.md
  documentation/components/adapters/http.md
  documentation/components/adapters/json.md
  documentation/components/adapters/logger.md
  documentation/components/adapters/meilisearch.md
  documentation/components/adapters/parquet.md
  documentation/components/adapters/text.md
  documentation/components/adapters/xml.md
  documentation/components/bridges/filesystem-async-aws-bridge.md
  documentation/components/bridges/filesystem-azure-bridge.md
  documentation/components/bridges/monolog-http-bridge.md
  documentation/components/bridges/symfony-http-foundation-bridge.md
  documentation/components/cli/docs.md
  documentation/components/core/core.md
  documentation/components/libs/array-dot.md
  documentation/components/libs/azure-sdk.md
  documentation/components/libs/doctrine-dbal-bulk.md
  documentation/components/libs/filesystem.md
  documentation/components/libs/parquet-viewer.md
  documentation/components/libs/parquet.md
  documentation/components/libs/rdsl.md
  documentation/components/libs/snappy.md
  phpdoc/.phpdoc/template/base.html.twig
  phpdoc/.phpdoc/template/components/header.html.twig
  phpdoc/.phpdoc/template/components/sidebar.html.twig
  phpdoc/.phpdoc/template/components/table-of-contents.html.twig
  phpdoc/.phpdoc/template/css/custom.css.twig
  phpdoc/.phpdoc/template/css/custom.html.twig
  phpdoc/.phpdoc/template/css/macros/colours.macro.twig
  phpdoc/.phpdoc/template/index.html.twig
  phpdoc/.phpdoc/template/namespace.html.twig
  phpdoc/cli.xml
  phpdoc/core.xml
  src/core/etl/docs/complex_transformers.md
  src/core/etl/docs/img/join.png
  src/core/etl/docs/img/processing_modes.png
  src/core/etl/docs/new_type.md
  tools/phpdocumentor/.gitignore
  tools/phpdocumentor/composer.json
  tools/phpdocumentor/composer.lock
  web/landing/composer.json
  web/landing/composer.lock
  web/landing/src/Flow/Website/Controller/DocumentationController.php
Labels: size: XL

#1455 Allow to use different than mapped type to allow for usage of bigint on int entries
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/DbalMetadata.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/SchemaConverter.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Unit/SchemaConverterTest.php
Labels: size: XS

#1456 Allow to aggregate count without passing a reference
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Function/Count.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/CountTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/SizeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/CountTest.php
  web/landing/resources/dsl.json
Labels: size: S

#1453 Add StringStyle ScalarFunction
  src/core/etl/src/Flow/ETL/Function/ScalarFunctionChain.php
  src/core/etl/src/Flow/ETL/Function/StringStyle.php
  src/core/etl/src/Flow/ETL/Function/StyleConverter/StringStyles.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/StringStyleTest.php
Labels: size: S

#1457 Added missing types to JSON/CSV entry normalizers
  composer.json
  phpunit.xml.dist
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/RowsNormalizer/EntryNormalizer.php
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Unit/EntryNormalizerTest.php
  src/adapter/etl-adapter-json/src/Flow/ETL/Adapter/JSON/RowsNormalizer/EntryNormalizer.php
  src/adapter/etl-adapter-json/tests/Flow/ETL/Adapter/JSON/Tests/Unit/EntryNormalizerTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/CountTest.php
Labels: size: S

#1462 Improve error message when schema definition is duplicated
  src/core/etl/src/Flow/ETL/Row/Schema.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/SchemaTest.php
Labels: size: XS

#1465 Added more examples
  .github/workflows/test-suite.yml
  composer.json
  documentation/contributing.md
  examples/run.php
  examples/topics/data_writing/array/flow_php_example.zip
  examples/topics/data_writing/csv/code.php
  examples/topics/data_writing/csv/composer.json
  examples/topics/data_writing/csv/composer.lock
  examples/topics/data_writing/csv/description.md
  examples/topics/data_writing/csv/flow_php_example.zip
  examples/topics/data_writing/csv/input/dataset.jsonl
  examples/topics/data_writing/csv/output.csv
  examples/topics/data_writing/csv/priority.txt
  examples/topics/data_writing/database/flow_php_example.zip
  examples/topics/data_writing/database_upsert/flow_php_example.zip
  examples/topics/data_writing/elasticsearch/flow_php_example.zip
  examples/topics/data_writing/jsonl/code.php
  examples/topics/data_writing/jsonl/composer.json
  examples/topics/data_writing/jsonl/composer.lock
  examples/topics/data_writing/jsonl/description.md
  examples/topics/data_writing/jsonl/flow_php_example.zip
  examples/topics/data_writing/jsonl/input/dataset.jsonl
  examples/topics/data_writing/jsonl/output.json
  examples/topics/data_writing/jsonl/priority.txt
  examples/topics/data_writing/parquet/flow_php_example.zip
  examples/topics/data_writing/text/code.php
  examples/topics/data_writing/text/composer.json
  examples/topics/data_writing/text/composer.lock
  examples/topics/data_writing/text/description.md
  examples/topics/data_writing/text/flow_php_example.zip
  examples/topics/data_writing/text/input/dataset.jsonl
  examples/topics/data_writing/text/output.txt
  examples/topics/data_writing/text/priority.txt
  examples/topics/data_writing/xml/code.php
  examples/topics/data_writing/xml/composer.json
  examples/topics/data_writing/xml/composer.lock
  examples/topics/data_writing/xml/description.md
  examples/topics/data_writing/xml/flow_php_example.zip
  examples/topics/data_writing/xml/input/dataset.jsonl
  examples/topics/data_writing/xml/output.xml
  examples/topics/data_writing/xml/priority.txt
  src/core/etl/src/Flow/ETL/DSL/functions.php
  web/landing/assets/controllers/syntax_highlight_controller.js
  web/landing/importmap.php
  web/landing/resources/dsl.json
  web/landing/src/Flow/Website/Service/Example/Output.php
  web/landing/src/Flow/Website/Service/Examples.php
  web/landing/templates/documentation/example.html.twig
  web/landing/templates/example/index.html.twig
Labels: size: XL

#1469 Don't track write count in the JSONLinesLoader
  src/adapter/etl-adapter-json/src/Flow/ETL/Adapter/JSON/JsonLinesLoader.php
Labels: size: XS

#1473 Integration/symfony indexof
  src/core/etl/src/Flow/ETL/Function/IndexOf.php
  src/core/etl/src/Flow/ETL/Function/ScalarFunctionChain.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/IndexOfTest.php
Labels: size: S

#1475 Casting XML to string
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Integration/DbalLoaderTest.php
  src/adapter/etl-adapter-json/tests/Flow/ETL/Adapter/JSON/Tests/Integration/JsonTest.php
  src/core/etl/src/Flow/ETL/PHP/Type/Caster/StringCastingHandler.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/DOMElementValueTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/CastTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/Caster/StringCastingHandlerTest.php
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/BulkData.php
Labels: size: S

#1476 Allow using concat ws on collections
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Function/ConcatWithSeparator.php
  src/core/etl/src/Flow/ETL/Function/ScalarFunctionChain.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/ConcatWithSeparatorTest.php
  web/landing/resources/dsl.json
Labels: size: S

#1477 Add Title function with allWords parameter set default to false.
  src/core/etl/src/Flow/ETL/Function/ScalarFunctionChain.php
  src/core/etl/src/Flow/ETL/Function/StringTitle.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/StringTitleTest.php
Labels: size: S

#1483 Fix typo in README
  README.md
Labels: size: XS

#1482 Fix double encoding of json
  src/adapter/etl-adapter-json/src/Flow/ETL/Adapter/JSON/RowsNormalizer/EntryNormalizer.php
  src/adapter/etl-adapter-json/tests/Flow/ETL/Adapter/JSON/Tests/Integration/JsonTest.php
Labels: size: XS

#1485 Add StringAfter function with test
  src/core/etl/src/Flow/ETL/Function/ScalarFunctionChain.php
  src/core/etl/src/Flow/ETL/Function/StringAfter.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/StringAfterTest.php
Labels: size: S

#1484 Add StringBefore function with test
  src/core/etl/src/Flow/ETL/Function/ScalarFunctionChain.php
  src/core/etl/src/Flow/ETL/Function/StringBefore.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/StringBeforeTest.php
Labels: size: S

#1488 Added DataStream builder to symfony http foundation bridge
  documentation/components/bridges/symfony-http-foundation-bridge.md
  src/bridge/symfony/http-foundation/src/Flow/Bridge/Symfony/HttpFoundation/DataStream.php
  src/bridge/symfony/http-foundation/src/Flow/Bridge/Symfony/HttpFoundation/FlowStreamedResponse.php
  src/bridge/symfony/http-foundation/src/Flow/Bridge/Symfony/HttpFoundation/Transformation/AddRowIndex.php
  src/bridge/symfony/http-foundation/src/Flow/Bridge/Symfony/HttpFoundation/Transformation/AddRowIndex/StartFrom.php
  src/bridge/symfony/http-foundation/src/Flow/Bridge/Symfony/HttpFoundation/Transformation/BatchSize.php
  src/bridge/symfony/http-foundation/src/Flow/Bridge/Symfony/HttpFoundation/Transformation/MaskColumns.php
  src/bridge/symfony/http-foundation/tests/Flow/Bridge/Symfony/HttpFoundation/Tests/Integration/FlowStreamedResponseTest.php
  src/bridge/symfony/http-foundation/tests/Flow/Bridge/Symfony/HttpFoundation/Tests/Unit/Transformation/AddRowIndexTest.php
  src/bridge/symfony/http-foundation/tests/Flow/Bridge/Symfony/HttpFoundation/Tests/Unit/Transformation/BatchSizeTest.php
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/Transformations.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/TransformationsTest.php
Labels: size: M

#1491 Fix/add missing tests string functions
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/IndexOfTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/IsUtf8Test.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/StringAfterTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/StringFoldTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/StringStyleTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/StringTitleTest.php
Labels: size: S

#1493 Improve DX of dbal adapter loaders
  documentation/components/bridges/symfony-http-foundation-bridge.md
  documentation/upgrading.md
  examples/topics/data_writing/database_upsert/code.php
  examples/topics/data_writing/database_upsert/description.md
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/DbalLoader.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/functions.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Integration/DbalLoaderTest.php
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/Bulk.php
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/Dialect/Dialect.php
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/Dialect/MySQLDialect.php
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/Dialect/MySQLInsertOptions.php
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/Dialect/MySQLUpdateOptions.php
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/Dialect/PostgreSQLDialect.php
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/Dialect/PostgreSQLInsertOptions.php
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/Dialect/PostgreSQLUpdateOptions.php
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/Dialect/SqliteDialect.php
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/Dialect/SqliteInsertOptions.php
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/Dialect/SqliteUpdateOptions.php
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/InsertOptions.php
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/QueryFactory.php
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/QueryFactory/DbalQueryFactory.php
  src/lib/doctrine-dbal-bulk/src/Flow/Doctrine/Bulk/UpdateOptions.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Integration/MySqlBulkInsertTest.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Integration/PostgreSqlBulkInsertTest.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Integration/PostgreSqlBulkUpdateTest.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Integration/SqliteBulkInsertTest.php
  web/landing/resources/dsl.json
Labels: BC Break, size: L

#1468 Added nix flake for local development
  .nix/php/lib/.gitignore
  .nix/php/lib/blackfire.ini.dist
  .nix/php/lib/pcov.ini.dist
  .nix/php/lib/php.ini.dist
  .nix/php/lib/xdebug.ini.dist
  .nix/pkgs/flow-php/package.nix
  .nix/pkgs/php-brotli/package.nix
  .nix/pkgs/php-lz4/package.nix
  .nix/pkgs/php-snappy/package.nix
  .nix/pkgs/php-zstd/package.nix
  .nix/shell/.gitignore
  .nix/shell/starship.sh
  .nix/shell/starship.toml.dist
  documentation/contributing.md
  documentation/contributing/nix.md
  shell.nix
Labels: size: M

#1495 Adds a closure method to TransformerLoader
  src/core/etl/src/Flow/ETL/Loader/TransformerLoader.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Loader/TransformerLoaderTest.php
Labels: size: S

#1496 Added helper methods on Schema/Definition to manipulate metadata
  src/adapter/etl-adapter-parquet/src/Flow/ETL/Adapter/Parquet/RowsNormalizer.php
  src/core/etl/src/Flow/ETL/Row/EntryFactory.php
  src/core/etl/src/Flow/ETL/Row/Schema.php
  src/core/etl/src/Flow/ETL/Row/Schema/Definition.php
  src/core/etl/src/Flow/ETL/Row/Schema/SelectiveValidator.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Schema/DefinitionTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/SchemaTest.php
Labels: size: S, developer experience

#1497 Flow Http Stream DX improvements
  composer.json
  documentation/components/bridges/symfony-http-foundation-bridge.md
  src/adapter/etl-adapter-parquet/tests/Flow/ETL/Adapter/Parquet/Tests/Integration/ParquetTest.php
  src/bridge/symfony/http-foundation/composer.json
  src/bridge/symfony/http-foundation/src/Flow/Bridge/Symfony/HttpFoundation/DataStream.php
  src/bridge/symfony/http-foundation/src/Flow/Bridge/Symfony/HttpFoundation/Output.php
  src/bridge/symfony/http-foundation/src/Flow/Bridge/Symfony/HttpFoundation/Output/CSVOutput.php
  src/bridge/symfony/http-foundation/src/Flow/Bridge/Symfony/HttpFoundation/Output/JsonOutput.php
  src/bridge/symfony/http-foundation/src/Flow/Bridge/Symfony/HttpFoundation/Output/ParquetOutput.php
  src/bridge/symfony/http-foundation/src/Flow/Bridge/Symfony/HttpFoundation/Output/XMLOutput.php
  src/bridge/symfony/http-foundation/src/Flow/Bridge/Symfony/HttpFoundation/Response/FlowBufferedResponse.php
  src/bridge/symfony/http-foundation/src/Flow/Bridge/Symfony/HttpFoundation/Response/FlowStreamedResponse.php
  src/bridge/symfony/http-foundation/src/Flow/Bridge/Symfony/HttpFoundation/functions.php
  src/bridge/symfony/http-foundation/tests/Flow/Bridge/Symfony/HttpFoundation/Tests/Integration/FlowBufferedResponseTest.php
  src/bridge/symfony/http-foundation/tests/Flow/Bridge/Symfony/HttpFoundation/Tests/Integration/FlowStreamedResponseTest.php
  src/bridge/symfony/http-foundation/tests/Flow/Bridge/Symfony/HttpFoundation/Tests/Unit/Output/CSVOutputTest.php
  src/bridge/symfony/http-foundation/tests/Flow/Bridge/Symfony/HttpFoundation/Tests/Unit/Output/JsonOutputTest.php
  src/bridge/symfony/http-foundation/tests/Flow/Bridge/Symfony/HttpFoundation/Tests/Unit/Output/ParquetOutputTest.php
  src/bridge/symfony/http-foundation/tests/Flow/Bridge/Symfony/HttpFoundation/Tests/Unit/Output/XMLOutputTest.php
  src/core/etl/src/Flow/ETL/AddRowIndex/StartFrom.php
  src/core/etl/src/Flow/ETL/Transformation/AddRowIndex.php
  src/core/etl/src/Flow/ETL/Transformation/BatchSize.php
  src/core/etl/src/Flow/ETL/Transformation/Limit.php
  src/core/etl/src/Flow/ETL/Transformation/MaskColumns.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformation/AddRowIndexTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformation/BatchSizeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformation/LimitTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformation/MaskColumnTest.php
  src/lib/filesystem/src/Flow/Filesystem/DSL/functions.php
  src/lib/filesystem/src/Flow/Filesystem/Local/Memory/Memory.php
  src/lib/filesystem/src/Flow/Filesystem/Local/Memory/MemoryStream.php
  src/lib/filesystem/src/Flow/Filesystem/Local/MemoryFilesystem.php
  src/lib/filesystem/src/Flow/Filesystem/Local/StdOut/StdOutDestinationStream.php
  src/lib/filesystem/src/Flow/Filesystem/Local/StreamFilter/Intercept.php
  src/lib/filesystem/tests/Flow/Filesystem/Tests/Integration/Local/MemoryFilesystemTest.php
  src/lib/filesystem/tests/Flow/Filesystem/Tests/Integration/Local/StdOutFilesystemTest.php
  src/lib/filesystem/tests/Flow/Filesystem/Tests/Integration/NativeLocalFilesystemTest.php
  web/landing/resources/dsl.json
Labels: size: XL

#1498 Allow to pass limit as null to not break the pipeline
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/Transformation/Limit.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/LimitTest.php
Labels: size: XS, developer experience

#1499 Prevent double etl evaluation in buffered response
  src/bridge/symfony/http-foundation/src/Flow/Bridge/Symfony/HttpFoundation/Response/FlowBufferedResponse.php
  src/bridge/symfony/http-foundation/tests/Flow/Bridge/Symfony/HttpFoundation/Tests/Unit/Response/FlowBufferedResponseTest.php
  src/bridge/symfony/http-foundation/tests/Flow/Bridge/Symfony/HttpFoundation/Tests/Unit/Response/FlowStreamedResponseTest.php
Labels: size: S

#1494 Add After Last function with Tests
  src/core/etl/src/Flow/ETL/Function/ScalarFunctionChain.php
  src/core/etl/src/Flow/ETL/Function/StringAfterLast.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/StringAfterLastTest.php
  src/lib/doctrine-dbal-bulk/tests/Flow/Doctrine/Bulk/Tests/Unit/DbalPlatformTest.php
Labels: size: S
