Repository flow-php/flow, pull requests merged in 2025-09, with the labels that each got.

#1834 Update Homebrew TAP formula: flow-php to version: 0.23.0
  src/tools/homebrew/Formula/flow-php.rb
Labels: size: XS

#1843 Doctrine Dbal Transactional Loader
  composer.lock
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/DbalKeySetExtractor.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/TransactionalDbalLoader.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/functions.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Integration/Dialects/MySQLTransactionalDbalLoaderTest.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Integration/Dialects/PostgreSQLTransactionalDbalLoaderTest.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Integration/Dialects/SqliteTransactionalDbalLoaderTest.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Unit/TransactionalDbalLoaderTest.php
  src/adapter/etl-adapter-elasticsearch/src/Flow/ETL/Adapter/Elasticsearch/ElasticsearchPHP/ElasticsearchExtractor.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Entry/ListEntryTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Entry/MapEntryTest.php
  src/lib/azure-sdk/src/Flow/Azure/SDK/AuthorizationFactory/SharedKeyFactory.php
  src/lib/parquet/src/Flow/Parquet/functions.php
  tools/box/composer.lock
  tools/cs-fixer/composer.lock
  tools/infection/composer.lock
  tools/phpstan/composer.lock
  tools/phpunit/composer.lock
  tools/rector/composer.lock
  web/landing/composer.json
  web/landing/composer.lock
  web/landing/resources/dsl.json
Labels: size: L, size: XL

#1850 Added Select / Drop reusable transformations
  documentation/components/core/core.md
  documentation/components/core/transformations.md
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Transformation/Drop.php
  src/core/etl/src/Flow/ETL/Transformation/Select.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Transformation/DropTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Transformation/SelectTest.php
  web/landing/resources/dsl.json
Labels: size: M

#1855 Feature/filesystem windows support
  .github/workflows/test-suite-windows.yml
  README.md
  composer.lock
  shell.nix
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Integration/CSVExtractorTest.php
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Integration/CSVLineReaderTest.php
  src/adapter/etl-adapter-text/tests/Flow/ETL/Adapter/Text/Tests/Integration/TextTest.php
  src/cli/tests/Flow/CLI/Tests/Integration/DatabaseTableListCommandTest.php
  src/cli/tests/Flow/CLI/Tests/Integration/DatabaseTableSchemaCommandTest.php
  src/cli/tests/Flow/CLI/Tests/Integration/FileAnalyzeCommandTest.php
  src/cli/tests/Flow/CLI/Tests/Integration/FileReadCommandTest.php
  src/cli/tests/Flow/CLI/Tests/Integration/FileSchemaCommandTest.php
  src/cli/tests/Flow/CLI/Tests/Integration/PipelineRunCommandTest.php
  src/cli/tests/Flow/CLI/Tests/Integration/SchemaFormatCommandTest.php
  src/core/etl/tests/Flow/ETL/Tests/CommandOutputNormalizer.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/ConfigBuilderTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/DisplayTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/PartitioningTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Extractor/PathPartitionsExtractorTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/UnicodeLengthTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Formatter/ASCII/ASCIIBodyTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Formatter/ASCII/ASCIIHeadersTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Formatter/ASCIITableTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/XPathTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Loader/StreamLoaderTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Schema/Formatter/ASCIISchemaFormatterTest.php
  src/lib/filesystem/src/Flow/Filesystem/Path.php
  src/lib/filesystem/src/Flow/Filesystem/Path/UnixPath.php
  src/lib/filesystem/src/Flow/Filesystem/Path/WindowsPath.php
  src/lib/filesystem/tests/Flow/Filesystem/Tests/Integration/NativeLocalFilesystemTest.php
  src/lib/filesystem/tests/Flow/Filesystem/Tests/Integration/OS/Unix/NativeLocalFilesystemTest.php
  src/lib/filesystem/tests/Flow/Filesystem/Tests/Integration/OS/Unix/PathTest.php
  src/lib/filesystem/tests/Flow/Filesystem/Tests/Integration/OS/Unix/RealpathTest.php
  src/lib/filesystem/tests/Flow/Filesystem/Tests/Integration/OS/Unix/Stream/BlocksUnixSpecificTest.php
  src/lib/filesystem/tests/Flow/Filesystem/Tests/Integration/OS/Unix/Stream/BlocksUnixTest.php
  src/lib/filesystem/tests/Flow/Filesystem/Tests/Integration/OS/Windows/NativeLocalFilesystemTest.php
  src/lib/filesystem/tests/Flow/Filesystem/Tests/Integration/OS/Windows/PathTest.php
  src/lib/filesystem/tests/Flow/Filesystem/Tests/Integration/OS/Windows/RealpathTest.php
  src/lib/filesystem/tests/Flow/Filesystem/Tests/Integration/OS/Windows/Stream/BlocksWindowsSpecificTest.php
  src/lib/filesystem/tests/Flow/Filesystem/Tests/Integration/OS/Windows/Stream/BlocksWindowsTest.php
  src/lib/filesystem/tests/Flow/Filesystem/Tests/Integration/Stream/BlocksTest.php
  src/lib/filesystem/tests/Flow/Filesystem/Tests/OperatingSystem.php
  src/lib/filesystem/tests/Flow/Filesystem/Tests/Unit/Path/UnixPathTest.php
  src/lib/filesystem/tests/Flow/Filesystem/Tests/Unit/Path/WindowsPathTest.php
  src/lib/filesystem/tests/Flow/Filesystem/Tests/Unit/PathTestCase.php
  src/lib/parquet-viewer/tests/Flow/ParquetViewer/Tests/Integration/ReadDDLCommandTest.php
  src/lib/parquet-viewer/tests/Flow/ParquetViewer/Tests/Integration/ReadDataCommandTest.php
  src/lib/parquet-viewer/tests/Flow/ParquetViewer/Tests/Integration/ReadMetadataTest.php
  tools/phpstan/composer.lock
  tools/rector/composer.lock
Labels: size: XL

#1862 [GoogleSheetExtractor] Add support for `Schema`
  src/adapter/etl-adapter-google-sheet/src/Flow/ETL/Adapter/GoogleSheet/GoogleSheetExtractor.php
  src/adapter/etl-adapter-google-sheet/tests/Flow/ETL/Adapter/GoogleSheet/Tests/Integration/GoogleSheetExtractorTest.php
Labels: size: S

#1866 [XMLParserExtractor] Add support for `Schema`
  src/adapter/etl-adapter-xml/src/Flow/ETL/Adapter/XML/XMLParserExtractor.php
  src/adapter/etl-adapter-xml/tests/Flow/ETL/Adapter/XML/Tests/Integration/XMLParserExtractorTest.php
Labels: size: S, size: M

#1880 Updated dependencies before next release
  .github/workflows/test-suite.yml
  compose.yml.dist
  composer.lock
  tools/box/composer.lock
  tools/cs-fixer/composer.lock
  tools/infection/composer.lock
  tools/phpbench/composer.lock
  tools/phpstan/composer.lock
  tools/phpunit/composer.lock
  tools/rector/composer.lock
Labels: size: M

#1881 Update Homebrew TAP formula: flow-php to version: 0.25.0
  src/tools/homebrew/Formula/flow-php.rb
Labels: size: XS
