Repository flow-php/flow, pull requests merged in 2025-05, with the labels that each got.

#1613 Fixed key set pagination when key column was ambiguous
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/DbalKeySetExtractor.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Integration/DbalKeySetExtractorTest.php
Labels: size: S

#1614 Update Homebrew TAP formula: flow-php to version: 0.15.1
  src/tools/homebrew/Formula/flow-php.rb
Labels: size: XS

#1617 Rework `rename_transliterate` to use Symfony String
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Transformer/Rename/RenameCaseEntryStrategy.php
  src/core/etl/src/Flow/ETL/Transformer/Rename/RenameTransliterateEntryStrategy.php
  src/core/etl/src/Flow/ETL/Transformer/Rename/Style.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/RenameTest.php
  web/landing/resources/dsl.json
Labels: size: S

#1632 fix: error message when to_parquet is not available
  src/bridge/symfony/http-foundation/src/Flow/Bridge/Symfony/HttpFoundation/Output/ParquetOutput.php
Labels: size: XS

#1633 Rework `RenameReplaceEntryStrategy` to allow multiple strings
  examples/topics/data_frame/cache/code.php
  examples/topics/data_frame/cache/composer.lock
  examples/topics/data_frame/cache/flow_php_example.zip
  examples/topics/data_frame/cache/output.txt
  examples/topics/data_frame/rename_columns/code.php
  examples/topics/data_frame/rename_columns/composer.lock
  examples/topics/data_frame/rename_columns/flow_php_example.zip
  examples/topics/data_reading/http_dynamic/code.php
  examples/topics/data_reading/http_dynamic/composer.lock
  examples/topics/data_reading/http_dynamic/flow_php_example.zip
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Row/Formatter/ASCIISchemaFormatter.php
  src/core/etl/src/Flow/ETL/Transformer/Rename/RenameReplaceEntryStrategy.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/RenameTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/ArrayUnpackTest.php
  web/landing/composer.lock
  web/landing/resources/dsl.json
  web/landing/src/Flow/Website/Service/Github.php
Labels: size: L

#1639 Dont truncate ascii table output schema
  src/core/etl/src/Flow/ETL/Row/Formatter/ASCIISchemaFormatter.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Schema/Formatter/ASCIISchemaFormatterTest.php
Labels: size: S

#1635 Merge `Rename\Style` with `StringStyles`
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/Function/ArrayKeysStyleConvert.php
  src/core/etl/src/Flow/ETL/Function/ScalarFunctionChain.php
  src/core/etl/src/Flow/ETL/Function/StringStyle.php
  src/core/etl/src/Flow/ETL/Function/StyleConverter/StringStyles.php
  src/core/etl/src/Flow/ETL/String/StringStyles.php
  src/core/etl/src/Flow/ETL/Transformer/EntryNameStyleConverterTransformer.php
  src/core/etl/src/Flow/ETL/Transformer/Rename/RenameCaseEntryStrategy.php
  src/core/etl/src/Flow/ETL/Transformer/Rename/Style.php
  src/core/etl/src/Flow/ETL/Transformer/RenameAllCaseTransformer.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/RenameTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/StringStyleTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/EntryNameStyleConverterTransformerTest.php
  web/landing/resources/dsl.json
Labels: size: L

#1640 Fixed batch size optimization for deeply nested pipelines
  src/adapter/etl-adapter-xml/src/Flow/ETL/Adapter/XML/RowsNormalizer/EntryNormalizer.php
  src/core/etl/src/Flow/ETL/Pipeline/BatchingPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/CachingPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/CollectingPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/ConstrainedPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/GroupByPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/HashJoinPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/LinkedPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/Optimizer/BatchSizeOptimization.php
  src/core/etl/src/Flow/ETL/Pipeline/PartitioningPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/RecursivePipelineIterator.php
  src/core/etl/src/Flow/ETL/Pipeline/SortingPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/VoidPipeline.php
  src/core/etl/tests/Flow/ETL/Tests/Double/FakeExtractor.php
  src/core/etl/tests/Flow/ETL/Tests/Double/SpyLoader.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/BatchSizeOptimizationTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Pipeline/LinkedPipelineTest.php
  web/landing/config/services.yaml
Labels: size: M

#1641 Removed redundant creation of cache folder
  src/core/etl/src/Flow/ETL/Config/Cache/CacheConfigBuilder.php
  web/landing/composer.json
  web/landing/src/Flow/Website/Command/FlowCache.php
Labels: size: XS

#1642 Add a new `RenameEachEntryTransformerBench` benchmark
  src/core/etl/tests/Flow/ETL/Tests/Benchmark/Transformer/RenameEachEntryTransformerBench.php
Labels: size: XS

#1644 Update Homebrew TAP formula: flow-php to version: 0.16.0
  src/tools/homebrew/Formula/flow-php.rb
Labels: size: XS

#1647 Fixed date conversion to parquet
  .nix/shell/starship.sh
  shell.nix
  src/lib/parquet/src/Flow/Parquet/Data/Converter/Int32DateConverter.php
  src/lib/parquet/tests/Flow/Parquet/Tests/Integration/IO/SimpleTypesWritingTest.php
Labels: size: S

#1648 Update Homebrew TAP formula: flow-php to version: 0.16.1
  src/tools/homebrew/Formula/flow-php.rb
Labels: size: XS

#1652 Fixed pipelines optimization that was traversing through collection of pipelines
  src/core/etl/src/Flow/ETL/Pipeline/BatchingPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/CachingPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/CollectingPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/ConstrainedPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/GroupByPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/HashJoinPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/LinkedPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/Optimizer/BatchSizeOptimization.php
  src/core/etl/src/Flow/ETL/Pipeline/PartitioningPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/RecursivePipelineIterator.php
  src/core/etl/src/Flow/ETL/Pipeline/SortingPipeline.php
  src/core/etl/src/Flow/ETL/Pipeline/VoidPipeline.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Pipeline/LinkedPipelineTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Pipeline/Optimizer/BatchSizeOptimizationTest.php
Labels: size: S

#1651 Rework `RenameEachEntryTransformer` to a single instance on multiple strategies
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/Transformer/RenameEachEntryTransformer.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformer/RenameEachEntryTransformerTest.php
Labels: size: S

#1653 Update Homebrew TAP formula: flow-php to version: 0.16.2
  src/tools/homebrew/Formula/flow-php.rb
Labels: size: XS

#1655 Covered schema validation with DSL
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/Loader/SchemaValidationLoader.php
  src/core/etl/src/Flow/ETL/Schema/Validator/EvolvingValidator.php
  src/core/etl/src/Flow/ETL/Schema/Validator/SelectiveValidator.php
  src/core/etl/src/Flow/ETL/Schema/Validator/StrictValidator.php
  src/core/etl/src/Flow/ETL/SchemaValidator.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Schema/EvolvingValidatorTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Schema/SelectiveValidatorTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Schema/StrictValidatorTest.php
  web/landing/resources/dsl.json
Labels: size: M

#1656 Update Excel reading example
  examples/topics/data_reading/excel/composer.json
  examples/topics/data_reading/excel/composer.lock
  examples/topics/data_reading/excel/flow_php_example.zip
Labels: size: M

#1660 Renamed is_nullable into type_is_nullable
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/lib/types/src/Flow/Types/DSL/functions.php
  src/lib/types/tests/Flow/Types/Tests/Unit/Type/IsNullableTest.php
  web/landing/resources/dsl.json
Labels: size: XS

#1661 Simplify Excel & GoogleSheet extractor cell expanding
  src/adapter/etl-adapter-excel/src/Flow/ETL/Adapter/Excel/ExcelExtractor.php
  src/adapter/etl-adapter-excel/tests/Flow/ETL/Adapter/Excel/Tests/Fixtures/nullable_fixture.ods
  src/adapter/etl-adapter-excel/tests/Flow/ETL/Adapter/Excel/Tests/Fixtures/nullable_fixture.xlsx
  src/adapter/etl-adapter-excel/tests/Flow/ETL/Adapter/Excel/Tests/Integration/ExcelExtractorTest.php
  src/adapter/etl-adapter-google-sheet/src/Flow/ETL/Adapter/GoogleSheet/GoogleSheetExtractor.php
Labels: size: S

#1659 Close Excel extractor when limit is reached
  src/adapter/etl-adapter-excel/src/Flow/ETL/Adapter/Excel/ExcelExtractor.php
  src/adapter/etl-adapter-excel/tests/Flow/ETL/Adapter/Excel/Tests/Fixtures/partitioned/group=1/file_01.xlsx
  src/adapter/etl-adapter-excel/tests/Flow/ETL/Adapter/Excel/Tests/Fixtures/partitioned/group=1/file_02.xlsx
  src/adapter/etl-adapter-excel/tests/Flow/ETL/Adapter/Excel/Tests/Fixtures/partitioned/group=2/file_03.xlsx
  src/adapter/etl-adapter-excel/tests/Flow/ETL/Adapter/Excel/Tests/Fixtures/partitioned/group=2/file_04.xlsx
  src/adapter/etl-adapter-excel/tests/Flow/ETL/Adapter/Excel/Tests/Integration/ExcelExtractorTest.php
Labels: size: S

#1665 Improve the `CSVExtractor` by removing duplicated operations
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/CSVExtractor.php
Labels: size: XS, performance

#1670 Added memory consumption to dataset report
  src/core/etl/src/Flow/ETL/Config/ConfigBuilder.php
  src/core/etl/src/Flow/ETL/Config/Sort/SortConfig.php
  src/core/etl/src/Flow/ETL/Config/Sort/SortConfigBuilder.php
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/Dataset/Memory/Configuration.php
  src/core/etl/src/Flow/ETL/Dataset/Memory/Consumption.php
  src/core/etl/src/Flow/ETL/Dataset/Memory/Unit.php
  src/core/etl/src/Flow/ETL/Dataset/Statistics.php
  src/core/etl/src/Flow/ETL/Pipeline/SortingPipeline.php
  src/core/etl/src/Flow/ETL/Sort/MemorySort.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/AnalyzeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/SortTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Monitoring/Memory/ConfigurationTest.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Sort/MemorySort/MemorySortTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Dataset/Memory/ConsumptionTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Dataset/Memory/UnitTest.php
Labels: size: S

#1674 Removed labeler action from pr-check workflow
  .github/labeler.yml
  .github/workflows/pr-check.yml
Labels: size: S

#1678 Added mixed type
  src/lib/types/src/Flow/Types/DSL/functions.php
  src/lib/types/src/Flow/Types/Exception/InvalidTypeException.php
  src/lib/types/src/Flow/Types/Type/Logical/OptionalType.php
  src/lib/types/src/Flow/Types/Type/Native/MixedType.php
  src/lib/types/src/Flow/Types/Type/Native/UnionType.php
  src/lib/types/src/Flow/Types/Type/TypeFactory.php
  src/lib/types/tests/Flow/Types/Tests/Unit/Type/Logical/OptionalTypeTest.php
  src/lib/types/tests/Flow/Types/Tests/Unit/Type/Native/MixedTypeTest.php
  src/lib/types/tests/Flow/Types/Tests/Unit/Type/Native/UnionTypeTest.php
  web/landing/resources/dsl.json
Labels: size: S

#1681 Update Homebrew TAP formula: flow-php to version: 0.17.0
  src/tools/homebrew/Formula/flow-php.rb
Labels: size: XS

#1685 feat: add bom removal in CSV extractor
  src/adapter/etl-adapter-csv/src/Flow/ETL/Adapter/CSV/CSVExtractor.php
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Fixtures/with_utf16be_bom.csv
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Fixtures/with_utf16le_bom.csv
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Fixtures/with_utf32be_bom.csv
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Fixtures/with_utf32le_bom.csv
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Fixtures/with_utf8_bom.csv
  src/adapter/etl-adapter-csv/tests/Flow/ETL/Adapter/CSV/Tests/Integration/CSVExtractorTest.php
Labels: size: S
