Repository flow-php/flow, pull requests merged in 2025-03, with the labels that each got.

#1511 Added a way to generate a Flow schema from Database in php
  .github/workflows/test-suite.yml
  .php-cs-fixer.php
  composer.lock
  documentation/components/cli/docs.md
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/DbalMetadata.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/SchemaConverter.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/TypesMap.php
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/functions.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Unit/SchemaConverterTest.php
  src/cli/composer.json
  src/cli/flow
  src/cli/src/Flow/CLI/Command/DatabaseTableListCommand.php
  src/cli/src/Flow/CLI/Command/DatabaseTableSchemaCommand.php
  src/cli/src/Flow/CLI/Command/FileSchemaCommand.php
  src/cli/src/Flow/CLI/Command/SchemaFormatCommand.php
  src/cli/src/Flow/CLI/Command/Traits/DBOptions.php
  src/cli/src/Flow/CLI/DSL/functions.php
  src/cli/src/Flow/CLI/Options/FilePathOption.php
  src/cli/src/Flow/CLI/Options/IncludeFileOption.php
  src/cli/tests/Flow/CLI/Tests/Context/DatabaseContext.php
  src/cli/tests/Flow/CLI/Tests/Integration/DatabaseTableListCommandTest.php
  src/cli/tests/Flow/CLI/Tests/Integration/DatabaseTableSchemaCommandTest.php
  src/cli/tests/Flow/CLI/Tests/Integration/FileAnalyzeCommandTest.php
  src/cli/tests/Flow/CLI/Tests/Integration/FileSchemaCommandTest.php
  src/cli/tests/Flow/CLI/Tests/Integration/Fixtures/connection.php
  src/cli/tests/Flow/CLI/Tests/Integration/Fixtures/schema.json
  src/cli/tests/Flow/CLI/Tests/Integration/SchemaFormatCommandTest.php
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/JsonType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/XMLElementType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/XMLType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/ArrayType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/StringType.php
  src/core/etl/src/Flow/ETL/Row/Schema/Formatter/ASCIISchemaFormatter.php
  src/core/etl/src/Flow/ETL/Row/Schema/Formatter/JsonSchemaFormatter.php
  src/core/etl/src/Flow/ETL/Row/Schema/Formatter/PHPFormatter/TypeFormatter.php
  src/core/etl/src/Flow/ETL/Row/Schema/Formatter/PHPFormatter/ValueFormatter.php
  src/core/etl/src/Flow/ETL/Row/Schema/Formatter/PHPSchemaFormatter.php
  src/core/etl/src/Flow/ETL/Row/Schema/Metadata.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/Native/ResourceTypeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Schema/Formatter/Fixtures/StringEnum.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Schema/Formatter/JsonSchemaFormatterTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Schema/Formatter/PHPFormatter/FlowTypeFormatterTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Schema/Formatter/PHPFormatter/ValueFormatterTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Schema/Formatter/PHPSchemaFormatterTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Schema/MetadataTest.php
  tools/box/composer.lock
  tools/cs-fixer/composer.lock
  tools/infection/composer.lock
  tools/phpbench/composer.lock
  tools/phpdocumentor/composer.lock
  tools/phpstan/composer.lock
  tools/phpunit/composer.lock
  tools/rector/composer.lock
  web/landing/resources/dsl.json
Labels: size: XL

#1512 Add missing db drivers to docker image
  Dockerfile
Labels: size: XS

#1513 Added missing library
  Dockerfile
Labels: size: XS

#1518 Fixed pagination for queries with group by in dbal extractor
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/DbalLimitOffsetExtractor.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Integration/DbalDataFrameFactoryTest.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Integration/DbalLimitOffsetExtractorTest.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Integration/DbalLoaderTest.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/IntegrationTestCase.php
Labels: size: S

#1519 Allow to select specific column in db:table:schema
  .github/workflows/test-suite.yml
  composer.lock
  phpstan.neon
  src/cli/src/Flow/CLI/Command/DatabaseTableSchemaCommand.php
  src/cli/tests/Flow/CLI/Tests/Integration/DatabaseTableSchemaCommandTest.php
  tools/blackfire/composer.lock
  tools/cs-fixer/composer.lock
  tools/infection/composer.lock
  tools/phpstan/composer.lock
  tools/phpunit/composer.lock
  tools/rector/composer.lock
Labels: size: S

#1520 Remove RDSL library
  .codecov.yaml
  .github/labeler.yml
  .github/workflows/monorepo-split.yml
  .github/workflows/test-suite.yml
  composer.json
  documentation/components/libs/rdsl.md
  documentation/installation.md
  infection.json
  manifest.json
  phpstan.neon
  phpunit.xml.dist
  src/cli/src/Flow/CLI/Command/PipelineRunCommand.php
  src/cli/src/Flow/CLI/PipelineFactory.php
  src/core/etl/composer.json
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/DataFrameJsonTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PipelineFactoryTest.php
  src/lib/rdsl/.gitattributes
  src/lib/rdsl/CONTRIBUTING.md
  src/lib/rdsl/LICENSE
  src/lib/rdsl/README.md
  src/lib/rdsl/composer.json
  src/lib/rdsl/src/Flow/RDSL/AccessControl.php
  src/lib/rdsl/src/Flow/RDSL/AccessControl/AllowAll.php
  src/lib/rdsl/src/Flow/RDSL/AccessControl/AllowList.php
  src/lib/rdsl/src/Flow/RDSL/AccessControl/DenyAll.php
  src/lib/rdsl/src/Flow/RDSL/AccessControl/DenyList.php
  src/lib/rdsl/src/Flow/RDSL/AccessControl/Except.php
  src/lib/rdsl/src/Flow/RDSL/Arguments.php
  src/lib/rdsl/src/Flow/RDSL/Attribute/DSL.php
  src/lib/rdsl/src/Flow/RDSL/Attribute/DSLMethod.php
  src/lib/rdsl/src/Flow/RDSL/Builder.php
  src/lib/rdsl/src/Flow/RDSL/DSLFunction.php
  src/lib/rdsl/src/Flow/RDSL/DSLNamespace.php
  src/lib/rdsl/src/Flow/RDSL/Exception/InvalidArgumentException.php
  src/lib/rdsl/src/Flow/RDSL/Executable.php
  src/lib/rdsl/src/Flow/RDSL/Executables.php
  src/lib/rdsl/src/Flow/RDSL/Executor.php
  src/lib/rdsl/src/Flow/RDSL/Finder.php
  src/lib/rdsl/src/Flow/RDSL/Method.php
  src/lib/rdsl/tests/Flow/RDSL/Tests/Fixtures/IntObject.php
  src/lib/rdsl/tests/Flow/RDSL/Tests/Fixtures/Literal.php
  src/lib/rdsl/tests/Flow/RDSL/Tests/Fixtures/functions.php
  src/lib/rdsl/tests/Flow/RDSL/Tests/Fixtures/pipeline.json
  src/lib/rdsl/tests/Flow/RDSL/Tests/Integration/ExecutorTest.php
  src/lib/rdsl/tests/Flow/RDSL/Tests/Unit/AccessControl/AllowAllTest.php
  src/lib/rdsl/tests/Flow/RDSL/Tests/Unit/AccessControl/DenyAllTest.php
  src/lib/rdsl/tests/Flow/RDSL/Tests/Unit/AccessControl/ExceptTest.php
  src/lib/rdsl/tests/Flow/RDSL/Tests/Unit/BuilderTest.php
  src/lib/rdsl/tests/Flow/RDSL/Tests/Unit/DSLFinderTest.php
  src/lib/rdsl/tests/Flow/RDSL/Tests/Unit/NamespaceTest.php
Labels: size: XL

#1521 Update Homebrew TAP formula: flow-php to version: 0.11.0
  src/tools/homebrew/Formula/flow-php.rb
Labels: size: XS

#1526 Documentation wording changes
  documentation/components/core/core.md
  documentation/quick-start.md
  examples/topics/data_reading/database/description.md
Labels: size: XS

#1527 Added column statistics to pipeline execution report
  documentation/components/cli/docs.md
  src/cli/src/Flow/CLI/Command/FileAnalyzeCommand.php
  src/cli/src/Flow/CLI/Command/PipelineRunCommand.php
  src/cli/src/Flow/CLI/Command/Traits/StatisticsOptions.php
  src/cli/src/Flow/CLI/Formatter/PipelineReportFormatter.php
  src/cli/src/Flow/CLI/Formatter/ValueFormatter.php
  src/cli/tests/Flow/CLI/Tests/Integration/FileAnalyzeCommandTest.php
  src/cli/tests/Flow/CLI/Tests/Integration/PipelineRunCommandTest.php
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/Dataset/Statistics.php
  src/core/etl/src/Flow/ETL/Dataset/Statistics/Column.php
  src/core/etl/src/Flow/ETL/Dataset/Statistics/Columns.php
  src/core/etl/src/Flow/ETL/Dataset/Statistics/DistinctCounter.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Dataset/Statistics/ColumnTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Dataset/Statistics/ColumnsTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Dataset/Statistics/DistinctCounterTest.php
Labels: size: L

#1529 Improve readability of schema validation exception
  .php-cs-fixer.php
  src/core/etl/src/Flow/ETL/Exception/SchemaValidationException.php
  src/core/etl/src/Flow/ETL/Loader/SchemaValidationLoader.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/DateTimeType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/DateType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/JsonType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/ListType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/MapType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/StructureType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/TimeType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/UuidType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/XMLElementType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/XMLType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/ArrayType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/BooleanType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/CallableType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/EnumType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/FloatType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/IntegerType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/NullType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/ObjectType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/ResourceType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Native/StringType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Type.php
  src/core/etl/src/Flow/ETL/Row/Schema/Definition.php
  src/core/etl/src/Flow/ETL/Row/Schema/SelectiveValidator.php
  src/core/etl/src/Flow/ETL/Row/Schema/StrictValidator.php
  src/core/etl/src/Flow/ETL/SchemaValidator.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Loader/SchemaValidationLoaderTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/TypesCompatibilityTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Schema/DefinitionTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Schema/Matcher/StrictSchemaMatcherTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Schema/SelectiveValidatorTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Schema/StrictValidatorTest.php
Labels: size: L

#1531 Fixed schema validation error message
  .php-cs-fixer.php
  src/core/etl/src/Flow/ETL/Exception/SchemaValidationException.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Exception/SchemaValidationExceptionTest.php
Labels: size: XS

#1533 Improved readability of entry factory value casting exception
  .github/workflows/test-suite.yml
  src/cli/tests/Flow/CLI/Tests/Integration/PipelineRunCommandTest.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/UuidType.php
  src/core/etl/src/Flow/ETL/Row/EntryFactory.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/Logical/UuidTypeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/EntryFactoryTest.php
Labels: size: S

#1534 Blog Post - new release cycle
  .github/workflows/test-website.yml
  documentation/components/adapters/chartjs.md
  documentation/components/adapters/json.md
  documentation/installation.md
  web/landing/assets/styles/app.css
  web/landing/composer.json
  web/landing/composer.lock
  web/landing/config/services.yaml
  web/landing/src/Flow/Website/Blog/Posts.php
  web/landing/src/Flow/Website/Command/FlowCache.php
  web/landing/src/Flow/Website/Service/Github.php
  web/landing/src/Flow/Website/Service/Markdown/FlowVersionReplacer.php
  web/landing/src/Flow/Website/Service/Markdown/LeagueCommonMarkConverterFactory.php
  web/landing/templates/blog/posts/2025-03-16/flow-php-release-cycle/post.html.twig
  web/landing/templates/main/_hero.html.twig
Labels: size: M

#1535 Get latest version
  .github/workflows/baseline.yml
  .github/workflows/test-website.yml
  documentation/components/adapters/chartjs.md
  documentation/components/adapters/csv.md
  documentation/components/adapters/doctrine.md
  documentation/components/adapters/elasticsearch.md
  documentation/components/adapters/google-sheet.md
  documentation/components/adapters/http.md
  documentation/components/adapters/json.md
  documentation/components/adapters/logger.md
  documentation/components/adapters/meilisearch.md
  documentation/components/adapters/parquet.md
  documentation/components/adapters/text.md
  documentation/components/adapters/xml.md
  documentation/components/bridges/filesystem-async-aws-bridge.md
  documentation/components/bridges/filesystem-azure-bridge.md
  documentation/components/bridges/monolog-http-bridge.md
  documentation/components/bridges/symfony-http-foundation-bridge.md
  documentation/components/cli/docs.md
  documentation/components/libs/array-dot.md
  documentation/components/libs/azure-sdk.md
  documentation/components/libs/doctrine-dbal-bulk.md
  documentation/components/libs/dremel.md
  documentation/components/libs/filesystem.md
  documentation/components/libs/parquet-viewer.md
  documentation/components/libs/parquet.md
  documentation/components/libs/snappy.md
  documentation/installation.md
  web/landing/.env
  web/landing/.env.test
  web/landing/config/packages/twig.yaml
  web/landing/config/services.yaml
  web/landing/src/Flow/Website/Controller/LayoutController.php
  web/landing/src/Flow/Website/Service/Github.php
  web/landing/src/Flow/Website/Service/Markdown/FlowVersionReplacer.php
  web/landing/src/Flow/Website/Service/Markdown/LeagueCommonMarkConverterFactory.php
  web/landing/templates/main/_hero.html.twig
Labels: size: S

#1536 Update Homebrew TAP formula: flow-php to version: 0.12.0
  src/tools/homebrew/Formula/flow-php.rb
Labels: size: XS

#1538 Removed Google ads and improved cookies banner
  .github/workflows/baseline.yml
  web/landing/.env
  web/landing/.env.test
  web/landing/assets/controllers/cookie_consent_controller.js
  web/landing/assets/styles/app.css
  web/landing/config/packages/twig.yaml
  web/landing/public/ads.txt
  web/landing/templates/base.html.twig
  web/landing/templates/blog/posts/2024-04-04/building-custom-extractor-google-analytics/post.html.twig
  web/landing/templates/blog/posts/2024-08-08/scalar-functions/post.html.twig
  web/landing/templates/blog/posts/2025-01-25/data-processing-in-php/post.html.twig
  web/landing/templates/documentation/dsl.html.twig
  web/landing/templates/documentation/example.html.twig
  web/landing/templates/documentation/page.html.twig
  web/landing/templates/main/cookies.html.twig
Labels: size: S

#1543 Added modifyDateTime scalar function
  src/core/etl/src/Flow/ETL/Function/ModifyDateTime.php
  src/core/etl/src/Flow/ETL/Function/ScalarFunctionChain.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/Function/ModifyDateTimeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Function/ModifyDateTimeTest.php
Labels: size: S

#1545 Make Date and DateTime comparable
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/DateTimeType.php
  src/core/etl/src/Flow/ETL/PHP/Type/Logical/DateType.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/Logical/DateTimeTypeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/PHP/Type/Logical/DateTypeTest.php
Labels: size: S

#1547 Introduced constraints on DataFrame
  src/core/etl/src/Flow/ETL/Constraint.php
  src/core/etl/src/Flow/ETL/Constraint/UniqueConstraint.php
  src/core/etl/src/Flow/ETL/Constraint/UniqueConstraint/InMemoryStorage.php
  src/core/etl/src/Flow/ETL/Constraint/UniqueConstraint/Storage.php
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/Exception/ConstraintViolationException.php
  src/core/etl/src/Flow/ETL/Pipeline/ConstrainedPipeline.php
  src/core/etl/src/Flow/ETL/Transformation/AddRowIndex.php
  src/core/etl/src/Flow/ETL/Transformation/AddRowIndex/StartFrom.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/ConstraintTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Constraint/UniqueConstraintTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Transformation/AddRowIndexTest.php
  web/landing/resources/dsl.json
Labels: size: M

#1557 Added release cycle link to website
  web/landing/templates/main/_hero.html.twig
Labels: size: XS

#1556 Collecting pipeline statistics
  src/cli/src/Flow/CLI/Command/FileAnalyzeCommand.php
  src/cli/src/Flow/CLI/Command/PipelineRunCommand.php
  src/cli/src/Flow/CLI/Formatter/PipelineReportFormatter.php
  src/core/etl/src/Flow/ETL/Analyze.php
  src/core/etl/src/Flow/ETL/DSL/functions.php
  src/core/etl/src/Flow/ETL/DataFrame.php
  src/core/etl/src/Flow/ETL/Dataset/Report.php
  src/core/etl/src/Flow/ETL/Dataset/Statistics.php
  src/core/etl/src/Flow/ETL/Dataset/Statistics/Column.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/AnalyzeTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Dataset/Statistics/ColumnTest.php
  web/landing/resources/dsl.json
Labels: size: M

#1559 Fixed merging two definitions created from null
  src/cli/tests/Flow/CLI/Tests/Integration/FileSchemaCommandTest.php
  src/core/etl/src/Flow/ETL/Row/Schema/Definition.php
  src/core/etl/tests/Flow/ETL/Tests/Integration/DataFrame/SchemaTest.php
  src/core/etl/tests/Flow/ETL/Tests/Unit/Row/Schema/DefinitionTest.php
Labels: size: XS

#1561 Remove entry object from column statistics
  .github/CODEOWNERS
  .github/PULL_REQUEST_TEMPLATE.md
  src/cli/src/Flow/CLI/Formatter/PipelineReportFormatter.php
  src/cli/tests/Flow/CLI/Tests/Integration/FileAnalyzeCommandTest.php
  src/core/etl/src/Flow/ETL/Dataset/Statistics/Column.php
Labels: size: S

#1562 Add a Recommendation Badge from libs.tech
  README.md
Labels: size: XS

#1572 Update Homebrew TAP formula: flow-php to version: 0.13.0
  src/tools/homebrew/Formula/flow-php.rb
Labels: size: XS
