Repository flow-php/flow, pull requests merged in 2025-08, with the labels that each got.

#1811 Added support for extra metadata reflected in the OpenApiSpecification
  documentation/components/bridges/openapi-specification-bridge.md
  src/bridge/openapi/specification/src/Flow/Bridge/OpenAPI/Specification/OpenAPIConverter.php
  src/bridge/openapi/specification/src/Flow/Bridge/OpenAPI/Specification/OpenAPIMetadata.php
  src/bridge/openapi/specification/tests/Flow/Bridge/OpenAPI/Specification/Tests/Unit/OpenAPIMetadataIntegrationTest.php
  src/bridge/openapi/specification/tests/Flow/Bridge/OpenAPI/Specification/Tests/Unit/OpenAPIMetadataTest.php
Labels: size: L

#1818 Fix ordering by multiple columns in DbalLimitOffsetExtractor
  src/adapter/etl-adapter-doctrine/src/Flow/ETL/Adapter/Doctrine/DbalLimitOffsetExtractor.php
  src/adapter/etl-adapter-doctrine/tests/Flow/ETL/Adapter/Doctrine/Tests/Integration/DbalLimitOffsetExtractorTest.php
Labels: size: XS, size: S

#1829 [GoogleSheet] Skip empty rows at the beginning of a sheet
  src/adapter/etl-adapter-google-sheet/src/Flow/ETL/Adapter/GoogleSheet/GoogleSheetExtractor.php
  src/adapter/etl-adapter-google-sheet/tests/Flow/ETL/Adapter/GoogleSheet/Tests/Fixtures/extra-empty-rows.json
  src/adapter/etl-adapter-google-sheet/tests/Flow/ETL/Adapter/GoogleSheet/Tests/Integration/GoogleSheetExtractorTest.php
Labels: size: S
